[2018-06-27 18:21] nanr commented on #2259
I am getting the same behavior (changing wallclock results in Batch configuration error and case.setup --reset) in the cesm2.0.0 release tag.  (cime_cesm2_0_rel_04)

[2018-06-27 19:09] jedwards4b commented on #2259
@nanr lets walk through this together, I cannot reproduce.

[2018-06-28 18:46] jedwards4b opened #2695 "baseline compare and generate should use config_archive.xml"
Currently the parsing for history files used by component_compare_* is independent of the parsing used in config_archive.xml - they should use the same parsing so that modifications need only be made in one place.

[2018-06-29 17:14] jedwards4b commented on #2459
I think that it is consistent and there are rules, the problem is that the rules are not documented or enforced.

[2018-06-29 20:13] jedwards4b commented on #2459
The component name in cime/config/config_files.xml should match the COMP_XXX name defined in the components config_component.xml file, otherwise cime should throw an error when creating a case.   I think this will take care of the problem.

[2018-06-29 20:34] rljacob commented on #2459
I don't think it will take care of flagging 2 different compset names in the config_compsets.xml file.

[2018-06-29 22:12] jedwards4b commented on #2682
I haven't had a chance to look into this - but refactoring print statements is not very likely any time soon - perhaps you should check with CISL.

[2018-07-02 21:42] jedwards4b opened #2698 "move DOUT_S from config_component.xml to model specific files"
http://www.cesm.ucar.edu/models/cesm2/component_settings/drv_input.html
​indicates that the default value of DOUT_S is FALSE when it's actually TRUE for cesm.

Moving the definition from the common file to the model specific file will fix this.

[2018-07-02 21:51] ekluzek commented on #2698
@jedwards4b are you saying that component models will add it's definition and default setting to their cime_config/config_component.xml files? So different component models could define it differently?

[2018-07-02 21:53] jedwards4b commented on #2698
No - I'm just saying that it's currently defined in config_components.xml and there is a hard code in case.py to define it differently for cesm, I am removing the hard code and the config_component.xml setting and adding it to config_component_cesm.xml and config_component_e3sm.xml

[2018-07-03 18:09] ndkeen opened #2699 "Issue downloading data (wildcards not supported in HTTP)"
I was wanting to have a case download all of the data it needs. First create an empty tmp inputdata directory, set the DIN env vars.  However, I got error below which seems like a problem with wget and wildcards?

[code]

The test I was using: `SMS_Ld2.ne30_oECv3_ICG.A_WCYCL1850S_CMIP6.cori-knl_intel.allactive-v1cmip6`

[2018-07-03 18:43] jedwards4b commented on #2699
The wget interface should recognize the path ends with a wildcard and use -r instead.

[2018-07-03 18:58] jedwards4b commented on #2699
@ndkeen - can you test this from my branch:
git@github.com:jedwards4b/cime.git
 * [new branch]      wget_fix -> wget_fix

[2018-07-03 21:03] ndkeen commented on #2699
I can get your branch, but not sure how best to make the reqd changes in my cime.

[2018-07-03 21:09] jedwards4b commented on #2699
You shouldn't have to - if my branch works for you I'll open a PR and it'll get there.

[2018-07-03 21:14] ndkeen commented on #2699
Well if I try to launch test from within that cime, I get
[code]

[2018-07-03 21:17] jedwards4b commented on #2699
put it in a subdirectory parallel to the cime you wish to replace - that is under the top level e3sm directory

[2018-07-03 21:19] ndkeen commented on #2699
It looks like that might have done something (copying over wget.py). Many files are not downloading due to others reasons on the server, not wget.

[2018-07-03 21:47] ndkeen commented on #2699
I also tried to copy this cime branch to be a parallel subdirectory and try from there.

[code]

[2018-07-03 21:57] jedwards4b commented on #2699
are you satisfied that it solves the issue?

[2018-07-03 22:03] ndkeen commented on #2699
I suppose I can't say for sure yet as it hasn't run cleanly, but certainly the wget problem I was seeing previously seems to no longer be there.

[2018-07-03 22:36] ndkeen commented on #2699
It might have been failing because the inputdata directory had some directories there (e3sm_init).  Removing that and trying again I see different behavior.  However, now it appears to be wgetting more than we want.

[code]

[2018-07-06 22:34] billsacks opened #2705 "hobart pgi fails to link netcdf"
Running test `SMS_D.f19_g17.X.hobart_pgi` from `cime5.6.9` fails at link time with:

[code]

[2018-07-06 22:34] billsacks commented on #2705
cc @jedwards4b @fischer-ncar

[2018-07-07 13:11] billsacks opened #2706 "Failure in _st_archive_case_test reported as RUN FAIL"
At least for some types of failures in the `_st_archive_case_test` that is now run as part of every system test, the failure is incorrectly reported as `FAIL... RUN` rather than `FAIL... SHORT_TERM_ARCHIVER`, and the `SHORT_TERM_ARCHIVER` phase does not even appear in the TestStatus file. This is confusing when trying to understand why a test has failed.

You can reproduce this by:

1. checking ou

[2018-07-09 18:40] kdraeder opened #2707 "CESM2.0.0 -> CIME create_test documentation is out of date"
This is a follow-on to #2647.
http://www.cesm.ucar.edu/models/cesm2/
has a pointer to
http://esmci.github.io/cime/users_guide/testing.html
which has not been updated since the release of CESM2.
So the extensive changes made to
cime/doc/source/users_guide/testing.rst
(and possibly many others) are not easily available to users.
Is there a schedule for rebuilding and updating the online CIME documen

[2018-07-09 20:48] mnlevy1981 opened #2708 "Hobart module clean-up broke cprnc"
Given all the module clean-up being done on hobart, building `cprnc` without loading any modules causes a build failure and building `cprnc` with (for example) intel but running it with the nag module loaded causes a run-time linking error. I think the easiest work-around is to just keep multiple `cprnc` executables around and point to the correct one in `env_test.xml`. To that end, I've built

[c

[2018-07-10 17:02] fischer-ncar commented on #2708
Closed via #2709

[2018-07-10 17:02] #2708 closed

[2018-07-11 01:22] billsacks commented on #2707
I just rebuilt the documentation based on the head of the maint-5.6 branch. Do you want to see if it looks good now?

[2018-07-11 01:56] kdraeder commented on #2707
Thanks!  It looks right from my (limited) perspective.
If that's enough, I'll close it.

[2018-07-11 04:40] ndkeen commented on #2699
What to do next here?

[2018-07-11 10:16] rljacob commented on #2699
Jim is on vacation so probably have to wait for him to get back.

[2018-07-12 02:11] billsacks commented on #2707
Okay, great. I'll close this issue.

[2018-07-12 02:11] #2707 closed

[2018-07-12 21:52] ekluzek opened #2713 "Change DIN_LOC_ROOT_CLMFORC on cheyenne"
We need to change DIN_LOC_ROOT_CLMFORC on cheyenne to /glade/p/cgd/tss/CTSM_datm_forcing_data

[2018-07-13 04:38] ekluzek opened #2716 "Problems compiling/linking with PGI compiler with mpi-serial on cheyenne"
This might be a WONTFIX. Using cime5.6.9 with PGI and mpi-serial on cheyenne I can't get it to build/link. The first problem is that only netcdf/4.4.1.1 is enabled for mpi. So the following in env_mach_specific.xml needs to be changed

[code]
Using the right netcdf library, it then fails linking due to missing blas, linpack. I added " -llapack -lbla" to LDFLAGS and it gets a bit further, but still

[2018-07-13 17:15] kdraeder commented on #1798
@mvertens
This request has a new motivation.
It will be highly desirable to use this high resolution SST set
in the long reanalysis we are planning (with Yaga Richter and
Joe Tribbia) for the coming year.  It will generate CAM6 ensemble
forcing files for use by other CESM2 components, especially those
doing data assimilation with DART.

I'm hoping that my implementation in CESM2_0_beta05 will eith

[2018-07-13 18:51] rljacob opened #2717 "Where to put shared parameterization code"
Consider the following scenario:  Both MOM6 and POP2 are full ocean components in CESM.  They both use the CVMIX param which has its own repo.  Where should that repo live in the source code of a CIME-enabled model?

[2018-07-15 20:54] jedwards4b commented on #2717
We have solved that with the manage_externals program in cesm which allows us to point to a single cvmix which can be used by both mom and pop.

[2018-07-15 21:12] jedwards4b commented on #2699
@ndkeen what is the outstanding issue here?   It seems to be doing what it's intended to do - downloading the contents of the directory.

[2018-07-16 04:07] rljacob commented on #2717
Yes but where does manage_externals check out the code to?

[2018-07-16 11:54] jedwards4b commented on #2717
I created a top level directory in cesm - so it's outside cime:
cesm/libraries/CVmix
cesm/libraries/FMS

[2018-07-16 18:04] rljacob commented on #2717
That makes sense.  I was thinking of putting them under e3sm/components but do we have a rule that things in "components" must be top level models that talk to the coupler?

[2018-07-16 18:23] jedwards4b commented on #2717
I think that's a convention that we should stick to.

[2018-07-17 16:30] jedwards4b opened #2719 "Warning message about config_compilers.xml version < 2.0 should be more clear"
The current message is:
ERROR: No longer supported
it should be more verbose
ERROR: config_compilers.xml version < 2.0 is no longer supported

[2018-07-17 16:45] jgfouca commented on #2719
Who is still trying to use 1.0?

[2018-07-17 16:47] jedwards4b commented on #2719
The point is that the message was unnecessarily difficult to track down.

[2018-07-17 17:16] #2719 closed

[2018-07-19 13:44] #2713 closed

[2018-07-23 22:33] ekluzek opened #2725 "MODEL_VERSION isn't updated like it should be after case.build is called again"
MODEL_VERSION is figured out in the build phase, and is being properly set the first time that's done. But, it isn't being redone each time case.build is called after that.

[2018-07-23 22:43] ekluzek opened #2726 "Add REQUIRED_MODEL_VERSION option so that build/run will abort if it's set and MODEL_VERSION doesn't equal it"
I'd like to add this as an optional feature. The idea is to add a new field REQUIRED_MODEL_VERSION that would by default be set to None. If set to None, nothing different happens. However, if the user does set it to anything else, at the build/and or run phase REQUIRED_MODEL_VERSION will be compared to MODEL_VERSION, and if the strings are different the phase would abort.

Since, provenance is don

[2018-07-24 16:01] jedwards4b commented on #2725
I don't think that it should be updated after the case is created.   Information about changes to model tags are recorded at each build in the CaseStatus file.

[2018-07-25 17:41] ekluzek commented on #2725
Well, it's equally wrong in the CaseStatus file. So you can't tell that you committed changes between builds. MODEL_VERSION also shows up on the history file and it would be nice to have it correct there as well. I think the CaseStatus file is probably correct for the externals, but must use MODEL_VERSION for the top level version and hence is wrong.

So I still say it's a bug. I'm happy to be the

[2018-07-25 18:16] jedwards4b commented on #2725
I don't understand your statement:
`it's equally wrong in the CaseStatus file'  I'm looking at a CaseStatus file.  Here is the initial build:
[code]

[2018-07-25 18:19] jedwards4b commented on #2725
[code]
I then switched the cam to cam6_0_003 and built again - I now see
[code]
Which is what I expect.  So please give a detailed explanation of what you think that the problem is and enough information to reproduce it.

[2018-07-25 19:14] ekluzek commented on #2725
@jedwards4b as I said I thought the tag information for externals -- as you have demonstrated -- would be correct. But, the CaseStatus also writes a line on the CESM Version. That wasn't being updated at least for a case that @wwieder was doing. In your example what does it write out to CaseStatus for CESM version in each of the above builds?

[2018-07-25 19:55] billsacks commented on #2725
I think the confusion here is that @jedwards4b is thinking about a use case with CESM (in which case the version of the externals is pretty much all you care about), whereas @ekluzek is thinking about a use case with standalone CTSM – in which case you're generally most interested in the CTSM hash, which is reflected in MODEL_VERSION.

Maybe we should get together briefly to try to work this out?

[2018-07-25 20:19] ekluzek commented on #2725
@billsacks yes, that's accurate. @wwieder case looks like this...

git describe from his source code shows the following...

[code]

Which means he's done four commits since ctsm1.0.dev004 and the last one starts with 855e39.

What we'd like to be able to see is those commits to show up in the CaseStatus. What we do see in the case status is...

[code]

What I expect to see is that there would be

[2018-07-25 20:22] billsacks commented on #2725
@ekluzek - I just talked with @jedwards4b . As long as your proposed changes wouldn't change behavior for his CESM use case (which I don't think it would), and wouldn't negatively impact E3SM (which I'm unclear on), then he seemed fine with your suggestion of updating `MODEL_VERSION` to reflect the current hash at build time. (@jedwards4b I hope I'm summarizing this correctly.)

I guess there is s

[2018-07-28 16:40] gold2718 opened #2729 "ESMF builds do not respect the setting of ESMF_LOGFILE_KIND"
Given this setting:
[code]
a run should produce no ESMF files. However, runs build with ESMF are producing per-PE log files as if the setting was `ESMF_LOGKIND_NONE`.

Reported by a user who just upgraded to CESM 2.0

[2018-07-28 16:48] gold2718 opened #2730 "Need a way to configure a maximum job name length"
Some machines limit the maximum length of a job name and submissions will fail if a longer name is used.
Currently, there is one supported CESM machine (Pleiades) that has this requirement and the job name length is enforced in the code using a hard-coded name match (editorial note, WTF?).
The suggested fix is to add a new, optional attribute in config_machines.

Reported by a CESM 2.0 user who do

[2018-07-28 17:32] gold2718 opened #2731 "Comment at the top of env_batch.xml is wrong"
The comment at the top of env_batch.xml (imported from config/config_headers.xml) is:

However, if I submit a job and then try:
[code]
My job is killed (if it is in the queue when I make the change) or resubmit fails and I see the following message in my output file:
[code]
The CIME documentation does not seem to mention this ability to change (cf http://esmci.github.io/cime/users_guide/running-a-

[2018-07-28 18:33] gold2718 opened #2732 "Request for short-term archiving of CAM initial data files"
A query from a CESM 2.0 user:

Is this intentional? Is this a weird case because CAM initial data files are different from restart files? Is there a solution we can implement?

[2018-07-30 20:51] brhillman opened #2734 "No checks for python version and unhelpful error messages"
CIME implicitly requires Python 2, but there do not appear to be any checks for Python version in use. This seems to lead to some pretty misleading and unhelpful error messages when the wrong version of Python (i.e., 3.x) is accidentally used. In my case, I need to explicitly load the proper Python module before trying to use any of the CIME build and run scripts, or I run into some misleading err

[2018-07-30 20:59] billsacks opened #2735 "cpl avg hist and aux hist files not archived?"
I haven't confirmed this is an issue, but from looking at https://github.com/ESMCI/cime/blob/4f41034b08cf9922224bb412b0e9ad0b9f5e675a/src/drivers/mct/cime_config/config_archive.xml#L4

it looks like we currently aren't archiving cpl avg hist (.ha) or aux hist files.

(With the changes in #2728 , this means those also wouldn't be picked up in system test comparisons, if we had any system tests that

[2018-07-30 21:26] jedwards4b commented on #2734
Actually cime itself is python 3 compliant and should be independent of python version.  The error you have encountered is a bug in the python 3 implementation.    Having said that most of the python code in components external to cime have not been ported to python 3.

[2018-07-30 21:32] jedwards4b commented on #2734
Actually generate_cice_decomp.pl is called by cice/cime_config_buildcpp and is outside the domain of cime - this issue should be reported to the cice developers.  https://github.com/ESCOMP/CESM_CICE5/issues

[2018-07-30 22:04] brhillman commented on #2734
Okay cool, thanks @jedwards4b. I will copy this over there.

[2018-07-30 22:04] #2734 closed

[2018-07-30 22:46] klindsay28 commented on #2735
Cecile turned on cpl aux hist files for a stretch in
b.e20.B1850.f09_g17.pi_control.all.297
and they were picked up by the short-term archiver.

An example st_archive logfile of this working is
$CASEROOT/b.e20.B1850.f09_g17.pi_control.all.297.st_archive.o8613120, where
CASEROOT=/glade/p/cesm/cseg/runs/cesm2_0/b.e20.B1850.
f09_g17.pi_control.all.297_yrs1-139

The settings that were used to generate

[2018-07-30 23:14] billsacks commented on #2735
Thanks, @klindsay28 . Now that I look closely at the regex, it looks like the`?` and `*` mean that it might as well be `h.*\.nc$`, so I see why things are working as is.

[2018-07-30 23:14] #2735 closed

[2018-08-01 17:28] #2729 closed

[2018-08-01 18:50] jedwards4b commented on #2732
The problem is that as currently written in cam/cime_config/config_archive.xml
[code]
does not distinguish .r. and .i. as distinct extensions.   The solution is to have separate entries:
[code]
this is a cam issue and should be moved there.   @cacraigucar

[2018-08-01 19:55] mfdeakin-sandia commented on #2672
My temporary fix is in; I unfortunately don't think I have time before I move on to make a better one

[2018-08-01 20:27] jedwards4b commented on #2732
I ran test IRT_Ld11.f19_f19.FHIST.cheyenne_intel with
inithist='DAILY'
in user_nl_cam and note that even with the cam change suggested above I do not archive cam.i. files except at restart times.   I will reopen and investigate.

[2018-08-01 21:41] jedwards4b commented on #2732
The fix still is in cams config_archive.xml file
replace
[code]
with
[code]
and remove line
[code]

[2018-08-01 21:41] #2732 closed

[2018-08-01 21:46] gold2718 commented on #2732
Does this put the initial files with the history files or with the restart files?

[2018-08-01 21:47] jedwards4b commented on #2732
With history files, which I think is the correct location since they are not needed for restart.

[2018-08-01 21:58] gold2718 commented on #2732
They are used for post data-assimilation restart.

[2018-08-01 22:06] jedwards4b commented on #2732
in that case are they concurent with the restart cycle?  Perhaps adding
[code]
in addition to the above would solve the problem?

[2018-08-01 22:39] gold2718 commented on #2732
No, it is more like a CAPT situation where you do a run, manipulate the .i. files, and then restart from different modified .i. files.

[2018-08-01 22:52] jedwards4b commented on #2732
So when they do the run they don't write restart files?   If not then they could look in the archive hist directory for the cam.i files.  Otherwise case_st_archive.py will need some major reworking to account for this use case that wasn't considered during the original construction of that file.

[2018-08-01 23:00] gold2718 commented on #2732
Thanks for the info.

[2018-08-02 09:30] lvankampenhout opened #2737 "remove Buildconf/refcase.input_data_list automatically when setting GET_REFCASE to false"
When changing GET_REFCASE (env_run.xml) from "TRUE" to "FALSE", the file `Buildconf/refcase.input_data_list` is left intact. In my case this led to submit failures, because the referenced case was not found. The workaround is to remove `Buildconf/refcase.input_data_list` manually.

[2018-08-02 13:11] jedwards4b commented on #2737
This has already been addressed in PR #2648

[2018-08-02 13:11] #2737 closed

[2018-08-02 21:10] lvankampenhout commented on #2737
OK great, sorry for the bother Jim.

[2018-08-02 22:31] alperaltuntas opened #2738 "floating point mpiprocs when running ./case.setup with python3"
I noticed that when running with python3, mpiprocs is set to be a float, i.e.,

$ python3 ./case.setup # will create the following in .case.run:
#PBS  -l select=5:ncpus=36:mpiprocs=36.0:ompthreads=1

$ python2 ./case.setup # will create the following .case.run:
#PBS  -l select=5:ncpus=36:mpiprocs=36:ompthreads=1

NOTE: You'll need to rm .case.run, in between ./case.setup executions to see the diff

[2018-08-03 16:47] gold2718 commented on #2731
I ran a new case (in /scratch/cluster/goldy/FKESSLER_f19_f19_mg17) and while the first run was running tried:
[code]
However, when the next run started up, it crashed with the following output:

[2018-08-03 19:59] kdraeder commented on #1798
@mvertens
Can you recommend a path forward for this?
Should I contact someone else?

[2018-08-04 01:15] jedwards4b commented on #1798
@kdraeder Do you have something that you could submit as a PR or does this require code development on our part?

[2018-08-04 01:57] kdraeder commented on #1798
@jedwards4b
In CESM2_0_beta05 it was mostly (all?) xml file changes.
It all worked there, but probably not in the most standardized way.
I'll review what I did and try to work up a PR for it.
Thanks for following up on this!

[2018-08-06 05:33] gold2718 opened #2739 "Components should enter 'pause' filename as resume entry"
Currently, the data ESP component (and future active ESP components) must get their information on a component's pause file(s) from that component's rpointer file. However, the data assimilation 'pause' file currently under design by CAM will not be a restart file but a special file containing only state fields needed by ESP components such as DART.
Components need an easy way to pass the name of

[2018-08-06 13:09] jedwards4b commented on #2739
It might be easier to agree on a syntax for the filename than to implement a mechanism to share names.

[2018-08-06 15:41] fischer-ncar commented on #2649
Closed via PR #2650

[2018-08-06 15:41] #2649 closed

[2018-08-06 15:44] fischer-ncar commented on #2651
Closed via PR #2648

[2018-08-06 15:44] #2651 closed

[2018-08-06 16:37] gold2718 commented on #2739
There already is a mechanism -- the `<comp>_resume` field.
While this field is easy to use, its current incarnation has gotten really clunky due to the implementation of multi_driver. I would like to refactor the resume signaling mechanism to be clear and extensible. The only downside of the new approach is that it will require a small code adjustment in CLM and CAM. I think this is a worthwhile t

[2018-08-06 22:00] jedwards4b commented on #2731
You must run case.setup --reset when changing the JOB_QUEUE.  The issue here is that the number of mpi tasks must be specified in the PBS (or other scheduler) code at the top of the run script and changing the queue may change the allowed number of tasks.

[2018-08-07 00:16] gold2718 commented on #2731
This does not work during a run. The resubmit notices the reset and reports:
[code]
However, note that if instead of `./case.setup --reset`, I change the queue and then hit `./case.submit`, I get the following:
[code]
Then the job is changed and resubmitted to the requested queue. Can something like that be done on resubmit?

[2018-08-07 17:00] kdraeder commented on #1798
@jedwards4b

One question to answer before anyone does significant work
is how much of the development that I did when implementing
this as a 'user-defined grid' would transfer to making it
a standard grid.  Is there a well-established procedure
for installing a new standard grid, which starts from scratch,
or is it ad hoc and my pieces will be a good starting point?
Assuming that it's the latter

[2018-08-07 19:34] #2695 closed

[2018-08-08 14:22] timhoar opened #2741 "DATM_MODE of 'CPLHIST' resulting in datamode 'COPYALL'"
Section 6.3 of http://esmci.github.io/cime/data_models/data-atm.html indicates that
a DATM_MODE of CPLHIST is supposed to result in a datamode of CPLHIST, but that is not happening.
I am getting a datamode of 'COPYALL'

&shr_strdata_nml
datamode = "COPYALL"
domainfile = "null"
dtlimit = 3.0, 3.0, 3.0, 3.0, 1.5, 1.5
fillalgo = "nn", "nn", "nn", "nn", "nn", "nn"
fillmask = "nomask", "nomask", "nomas

[2018-08-08 16:11] jedwards4b commented on #2741
@mvertens I've had a look at this and the documentation is not aligned with the code - which should it be?

[2018-08-08 20:06] jgfouca commented on #2562
I think --use-existing pretty much already provides this.

[2018-08-08 20:06] #2562 closed

[2018-08-08 22:46] #1543 closed

[2018-08-08 22:54] jgfouca commented on #2457
Incorrect closing due to automatic github detection of something from e3sm.

[2018-08-09 16:20] dqwu opened #2746 "PR #2743 has caused some cime_developer tests to fail on anlworkstation during phase SHAREDLIB_BUILD"
The errors can be reproduced on anlworkstation by running a single cime_developer test:
`./create_test ERP.f45_g37_rx1.A --machine=anlworkstation --test-root=****`

csm_share.bldlog shows:
[code]

This build error seems to be introduced by commit be0aae3f7ea8aa7798795af2b7afb749852fe540
(Vectorize loops in coupler attr-vector multiplications) which
modified src/share/util/shr_const_mod.F90

A simi

[2018-08-09 21:42] kdraeder commented on #1798
@jedwards4b
I'm trying to use my hi-res SST pieces in CESM2_0_0
by telling it to use a user defined grid:
create_newcase ....
   --user-grid \
   --gridfile $my_config_grid.xml \
   --res      a%0.9x1.25_l%0.9x1.25_oi%d.25x.25_r%r05_m%d.25x.25_g%null_%null

It complains that
   "No variable GRIDS_SPEC_FILE found in case"

I see that GRIDS_SPEC_FILE is defined in
   config/cesm/config_files.xml
and

[2018-08-09 23:46] jedwards4b commented on #1798
At first glance this looks like a bug in the --user-grid feature of create_newcase
If you provide the full path to your gridfile I should be able to reproduce and address this problem.

[2018-08-10 02:10] kdraeder commented on #1798
The one I'm trying to use is
/glade/work/raeder/Models/CAM_init/SST/config_grids+fv1+2deg_oi0.25_gland20.xml
It's a merge of the one I developed for beta05 and the one in CESM2_0.
There are parts I'm uncertain about; the grid for the stub GLC
and the mask for the 0.25 degree ocean.

[2018-08-10 13:01] jedwards4b commented on #1798
@kdraeder I don't have permission to read that file.

[2018-08-10 14:06] timhoar commented on #2741
Even after you align the two ... I have a question about using a
user-derived  DATM at a resolution other than one for the active component.

I set

./xmlchange
DATM_CPLHIST_DOMAIN_FILE=/glade/p_old/image/thoar/CAM_DATM/4xdaily/CAM_DATM.cpl_0001.ha2x1dx6h.
2001.nc

and the resulting datm_in_0001  has a valid domainfile,

&shr_strdata_nml

  datamode = "COPYALL"

  domainfile = "/glade/p_old/image/

[2018-08-10 14:33] kdraeder commented on #1798
I changed the permissions on that path to 744.

[2018-08-10 15:39] jedwards4b commented on #1798
No you didn't
[code]

[2018-08-10 15:48] gold2718 commented on #1798
He did what he said but it is the wrong action. For directories and executable files, the permissions should be 755. Plain files can be 744.

[2018-08-10 17:01] kdraeder commented on #1798
Doh!  Sorry about that.  The path seems to be 755 now.

[2018-08-10 17:18] jedwards4b commented on #1798
First you have several syntax errors in your config_grids file - use the xmllint program to find and fix them:
[code]

[2018-08-10 17:28] jedwards4b commented on #1798
@kdraeder I don't have read permission for any of your gridmaps.

[2018-08-10 17:44] kdraeder commented on #1798
The config file passes xmllint now,
I updated path names to use the new /glade,
and I changed the permissions on the gridmaps paths to 755

[2018-08-10 18:57] jedwards4b commented on #1798
ls -ltr /glade/p/work/raeder/Exp/GWD_TMS_CLUBB/mapping/gridmaps/map_d.25x.25_TO_fv0.9x1.25_blin.160303.nc
ls: cannot access /glade/p/work/raeder/Exp/GWD_TMS_CLUBB/mapping/gridmaps/map_d.25x.25_TO_fv0.9x1.25_blin.160303.nc: No such file or directory

[2018-08-10 19:28] kdraeder commented on #1798
This morning I changed all of the paths in my config_grids file
from the old /glade/p/work to /glade/work, which is where the
files live now.  Are you using a copy of the config_grids from
ealier?

[2018-08-10 20:13] brian-eaton commented on #2732
In addition to the suggested fix it was also necessary to:
change
      <tfile disposition="copy">casename.cam.i.1976-01-01-00000.nc</tfile>
to
      <tfile disposition="move">casename.cam.i.1976-01-01-00000.nc</tfile>

This was committed to cam6_0_011.

[2018-08-10 20:19] jedwards4b commented on #2732
@brian-eaton Thanks.

[2018-08-10 21:26] brian-eaton commented on #2732
Sorry, I didn't notice that the xml got stripped out of what I pasted.  The difference is that the disposition attribute value changed from "copy" to "move" in the tfile elements.  Just for practice I'm going to try that again using the 'insert code' button:

`change
      <tfile disposition="copy">casename.cam.i.1976-01-01-00000.nc</tfile>
  to
      <tfile disposition="move">casename.cam.i.1976-

[2018-08-10 21:27] brian-eaton commented on #2732
Hmmm.  Not sure why the code option isn't respecting the whitespace...

[2018-08-10 21:38] gold2718 commented on #2732
You can use preview to check what will happen. I fixed your entry, see the raw entry where I used triple backquotes on a separate line to make a code block. The code button only gives you a code formatting without making it verbatim.

[2018-08-10 21:53] #2706 closed

[2018-08-11 03:02] billsacks opened #2747 "Thoughts on making _compare_hists more unit testable"
I'm not sure if this is necessary, but I wanted to record my thoughts somewhere: I was thinking about how we might make `_compare_hists` (in hist_utils.py) more unit testable, to address @jgfouca 's comment (https://github.com/ESMCI/cime/pull/2744#issuecomment-412218501) along with some additional complexity I'm thinking of adding to that function to give robust bfail reporting. I find it easier t

[2018-08-13 19:40] billsacks opened #2749 "Should we support one or more scripts for quickly parsing output from large test suites?"
We're trying to get more CTSM developers to run the full aux_clm test suite. One aspect of making this easier is providing a robust, easy-to-use mechanism for parsing the results of a large test suite to determine what has failed.

I wrote a simple script a few years ago that I use all the time for this purpose (https://github.com/billsacks/bin/blob/master/filter_cs_status). My workflow is (1) Run

[2018-08-13 19:40] billsacks commented on #2749
By the way, here's some example output from `filter_cs_status`:

[code]

[2018-08-13 19:50] ekluzek commented on #2749
There's also this script in ctsm that sounds like it does essentially the same thing:

https://github.com/ESCOMP/ctsm/blob/master/parse_cime.cs.status

It's in perl, but's small enough it could be changed.
And here's some sample output that it creates for summary mode (which is how I normally use it):

[code]

[2018-08-13 21:07] ekluzek commented on #2688
Mike Mills is running the simulation needed for this. It was started August/10/2018 and is expected to finish approximately Sep 6th.

[2018-08-13 21:47] #789 closed

[2018-08-13 21:53] jgfouca commented on #2749
Don't forgot CIME's wait_for_tests script/library.

[2018-08-13 22:14] billsacks commented on #2749
Okay, as I should have realized, we all have different workflows and scripts that work well for our workflow and the way we want to see test results summarized. Do people have any feelings as to whether I move my `filter_cs_status` script into cime/scripts/Tools, or maintain it outside of cime? (My preference would be to move it into cime, and I would add some documentation of this as one option f

[2018-08-14 17:58] ekluzek commented on #2688
These are the three simulations being run. Mike wants to average all three together to get the forcing datasets:

b.e21.BWHIST.f09_g17.CMIP6-historical-WACCM.001
b.e21.BWHIST.f09_g17.CMIP6-historical-WACCM.002
b.e21.BWHIST.f09_g17.CMIP6-historical-WACCM.003

[2018-08-14 19:08] billsacks commented on #2749
I've given this more thought, and also looked at tools used by @ekluzek and @mnlevy1981 , and I'd like to propose the following requirements:

1. **This parsing / filtering ability should be built in to cs.status.** We've been having trouble getting CTSM scientists to adopt the test suite, so I want to make this as easy as possible. Since cs.status already appears in the test directory, and alread

[2018-08-14 19:09] billsacks commented on #2749
@jgfouca and others: If you're okay with my proposal in the comment I just made, I'm happy to take this on myself (I'm not asking you or anyone else to do this).

[2018-08-14 20:12] jgfouca commented on #2749
@billsacks , I think that looks like a good idea.

[2018-08-14 21:04] billsacks commented on #2749
@jgfouca thanks. I'll take a stab at this soon.

[2018-08-15 21:19] ekluzek opened #2752 "Build issues with PGI on cheyenne"
This is with the following test cases using ctsm1.0.dev008 which uses cime5.6.10. I also tried them with cime master on this date with cime5.7.0-126-g4f41034.

SMS_D_P1x1_Mmpi-serial.1x1_numaIA.I2000Clm50BgcCropGs.cheyenne_pgi
SMS_D.f10_f10_musgs.I2000Clm50SpGs.cheyenne_pgi.clm-default

On master I get the following error:

[code]

with cime5.6.10 I got the following where LINPACK isn't included i

[2018-08-16 14:10] kdraeder opened #2754 "Correct the multi-driver coupler history file names"
I'm running a multi-driver CAM6 and asking for coupler history files.
The files are being generated with the instance number in the wrong
place in the file names:
CAM6_resource80.cpl.ha2x3h_0001.2010-07-01.nc
instead of
CAM6_resource80.cpl_0001.ha2x3h.2010-07-01.nc

I've found where this is happening
(seq_hist_writeaux in cime_comp_mod.F90 and seq_hist_mod.F90)
so I can fix this and issue a PR aft

[2018-08-16 14:15] jedwards4b commented on #2754
If your changes are appropriate for cesm2.0.x or cesm2.1.x the changes should go in the maint-5.6 branch otherwise they should go in master.

[2018-08-17 21:45] kdraeder commented on #2754
I've installed a fix into cesm2_2_alpha01a + maint-5.6:
src/drivers/mct/main/cime_comp_mod.F90
src/drivers/mct/main/seq_hist_mod.F90
to attach the instance number to 'cpl' instead of aname.
It works in my test case.

I ran scripts_regression_tests.py and see some failures:
FAIL: test_save_timings (__main__.L_TestSaveTimings)
FAIL: test_save_timings_manual (__main__.L_TestSaveTimings)
FAIL: test_b_

[2018-08-17 21:50] jedwards4b commented on #2754
All of these tests are expected to pass. But If your changes are intended for cesm2.2 you should put them on master not the maint-5.6 branch.  Please reread my comment above.

[2018-08-18 03:11] kdraeder commented on #2754
I didn't intend them for 2.2, partly because I wasn't aware of its existence.
I thought that 2.1 was the latest, since the next CESM release is expected
to be 2.1.  So it seemed appropriate to get the CESM default and plug in
maint-5.6, which I thought would be following your comment.  When I was
done fixing and testing I learned that it was 2.2.

I don't have an intended version number.
I want to

[2018-08-18 18:14] jedwards4b commented on #2754
Okay, maint-5.6 is where they belong then.  SInce the scripts_regression_tests.py test only cime and do not depend on the cesm tag I would still expect all of those tests to pass.

[2018-08-18 19:30] bishtgautam opened #2756 "CPL water budget incorrect for I-compset"
For `--res 1x1_brazil --comp I1850CLM45`, coupler reported an incosistent rain budget between land and atmosphere components.

[code]

In `cime_run()`, the call sequence for land, atm, and budget diagnositics are:
1. `component_run(..., lnd_run)`
2. `call seq_diag_lnd_mct()`
3. `component_run(..., atm_run)`
4. `call seq_diag_atm_mct()`

The incosnstinecy in rain budget between land and atmosphere

[2018-08-19 20:13] gold2718 opened #2757 "DAE test needs improvement"
Currently, the DAE test works by testing post-assimilation detection in the DWAV model via the ADWAV compset. The DAE test should be expanded to be able to test other components' ability to properly detect the post-assimilation condition.
In addition, while the DAE test detects post-assimilation behavior, it does not also look for post-assimilation _non_-detection during the initial run. This coul

[2018-08-20 15:35] billsacks opened #2760 "Copy TestStatus file to the baseline directory"
I often find myself wanting to know if a given test passed or failed (entirely or some specific phase) in a previous run of the test suite, for which we have baselines. For example, this would be a quick way of seeing if a test failed the last time around, or it can help indicate if / why there might be problems with the baselines for a given test.

So it would be helpful if the TestStatus file we

[2018-08-20 15:38] billsacks commented on #2760
I realized that if a test doesn't even make it to the run phase, my proposed solution won't work. I don't feel a need for something that _guarantees_ the TestStatus file appears, so I might still go with my proposal, but if others have thoughts on how to ensure that the TestStatus file appears in the baseline directory regardless of whether / when the test failed, I'd be happy to hear it.

[2018-08-20 15:39] billsacks commented on #2760
(And I'm un-assigning myself for the moment, because if someone else has a good idea for how this could be done and would rather just do it than explain it, that's fine, too.)

[2018-08-20 15:57] ekluzek commented on #2760
I'd like to see this as well!

[2018-08-20 18:33] jgfouca commented on #2760
@billsacks , this sounds like an idea that makes more sense in the context of the CESM workflow. I'm fine with putting this is in, but we should probably disable it for E3SM.

You've accurately identified the reasons this will be a little bit tricky. I could put some post-processing into create_test to handle the cases where the test didn't make it to the RUN phase. I could put a bit of extra code

[2018-08-20 18:43] rljacob commented on #2760
I don't think this would negatively impact our workflow so think its ok to include the TestStatus in our baselines.   I'd rather do that then add more if switches.

[2018-08-20 18:52] rljacob commented on #2756
I think you're right and those calls to the diags need to be together.  It shouldn't matter if there's a data model or fully coupled.  Asking @mvertens and @billsacks for confirmation.

[2018-08-20 18:55] billsacks commented on #2756
I don't know enough about this to weigh in. My impression was that you generally can't expect budget values to match exactly because of lags in the system, but I'm not sure what design (if any) underlies the placement of the various diag calls relative to the run calls.

[2018-08-20 19:34] kdraeder commented on #2754
I restored the original versions of cime_comp_mod.F90
and seq_hist_mod.F90, and reran scripts_regression_test.py,
still with cesm2_2_alpha01a.  I got the same error messages.
So I should try again with a different CESM.  If you can recommend
one, I'll use that.  Otherwise I'll guess and hope for the best.

[2018-08-20 19:40] jedwards4b commented on #2754
The cesm version has nothing to do with the test failures you are seeing.  If you would like to stop by I can try to help you debug.

[2018-08-20 20:49] ekluzek opened #2762 "Add r8th as an option for MOSART grids"
We need to add r8th as an option for MOSART grids. This would add the grid to config_grid, as well as start adding some mapping files. We've created working mapping files for ne120np4.

Here's changes that should go into the config_grids file

[code]

[2018-08-20 20:58] bishtgautam commented on #2756
The order of `call component_run()` is:

1. ice
2. lnd
3. rof
4. wav
5. ocn
6. atm
7. glc
8. esp

If the call to atmosphere component was the last one, calling diags before running the atmosphere model should fix the inconsistency of diag budgets being computed by the coupler as all componets would have run with using the same atmospheric forcing. But, since glc and esp components run after the at

[2018-08-21 00:41] rljacob commented on #2756
@billsacks is right that the total budget will not add up on a given coupler step because of the lagging with the ocean.  In your example above, the ocean hasn't reported yet.

@bishtgautam  the I-case uses a different sequencing from the fully coupled case (in E3SM) which can also affect what we decide here.

[2018-08-21 12:08] #2760 closed

[2018-08-21 12:09] #2739 closed

[2018-08-21 18:10] gold2718 commented on #2757
This issue should have been closed by PR #2759

[2018-08-21 18:10] #2757 closed

[2018-08-21 18:12] gold2718 opened #2764 "PR #2751 breaks DWAV"
PR #2751 introduced a new method for detecting a post-data-assimilation run, however, DWAV still uses the old method and no longer compiles.

[2018-08-21 18:15] gold2718 commented on #2764
@jedwards4b, I thought we were going to hold off on merging #2751 until we had branch tags for CAM and CLM. I created #2759 so I could test these branches but did not expect the #2751 merge. What is the best approach here? Just do a quick fix for DWAV? I can test DWAV on Hobart, do I also have to wait until Cheyenne is back up to run scripts_regression_tests?

[2018-08-21 18:56] jedwards4b commented on #2764
My understanding from yesterdays cseg meeting was that those tags were imminent.   This PR indicates that scripts_regression_tests.py was run, since that includes tests with DWAV I would have expected that failure to be reported.

[2018-08-21 19:08] gold2718 commented on #2764
Summary from phone call: There is no DWAV test in scripts_regression_tests.

[2018-08-21 20:05] ekluzek commented on #2764
@jedwards4b in cseg we talked about the fact that we created an alpha tag to put tags for this in. But, literally right now, there are no tags listed in that alpha tag. I envisioned that we would start with branches for cime, cam, and clm, and eventually those branches would become tags on master. But, since there were no tags listed, I'm not sure how that became "those tags were imminent". In any

[2018-08-21 21:27] gold2718 commented on #2764
The branch for CAM is started. It was trying to test it that caused me to rewrite the DAE test (#2759) so I could test the code. I should have that done in a day or so (need to fix this issue first).

[2018-08-21 22:17] #2764 closed

[2018-08-21 22:24] gold2718 opened #2766 "Program crash with NAG debug"
Nag in debug mode shows a runtime error. For instance, the test:
[code]
will generate the error.

I am not sure of exactly why this error occurs but it is only found with Nag in debug mode (Intel debug seems content to run this code). The error message in this case is:
[code]

[2018-08-21 23:56] jedwards4b commented on #2766
After looking carefully at this code I do not understand the error the compiler is reporting.  I don't see anything in this subroutine with extent -1.   At the time of the error kfldin has size 24 and av%rattr has a first dimension size 34.   I've also noted that this error is reported on cime master but not on maint-5.6 even though both are using the same compiler.

[2018-08-22 02:08] billsacks commented on #2766
Regardless of whether this is actually a coding error or a compiler bug, I find the offending lines hard to decipher, with the where statement operating on an array with indirect indexing based on another array:

https://github.com/ESMCI/cime/blob/aa3c8db14bf8ed0627d1d79e73ceb706eb1f4032/src/share/util/mct_mod.F90#L1034-L1038

I would find this code clearer if there were an explicit loop from 1..n

[2018-08-22 03:36] gold2718 commented on #2766
I agree with @billsacks but only if it is not too slow as it is called from component run.

[2018-08-22 03:44] gold2718 commented on #2766
For grins, I defined an integer p and rewrote the code as:
[code]
and it passes with Nag debug. I do not know if this still vectorizes in a SIMD fashion or if the compiler created a temporary array (`av%Attr(kfldin(:),n)`) and vectorized that.

[2018-08-22 15:48] sarich commented on #2676
The --project command line argument will now set both PROJECT and CHARGE_ACCOUNT to the given value.

[2018-08-22 15:48] #2676 closed

[2018-08-22 15:48] jedwards4b commented on #2766
@gold2718 for grins you should submit your change as a PR.

[2018-08-22 16:23] sarich opened #2767 "accidentally setting NTASKS=0 is allowed, unrecoverable"
I accidentaly set NTASKS=0 instead of ROOTPE=0, now I can't do anything with my case

./create_newcase --case C1 --compset X --res ne4_ne4
./xmlchange NTASKS=0
./xmlchange NTASKS=1
ERROR: totaltasks > 0 expected, totaltasks = 0
./xmlquery NTASKS
ERROR: totaltasks > 0 expected, totaltasks = 0
./case.setup
ERROR: totaltasks > 0 expected, totaltasks = 0

[2018-08-22 16:57] ekluzek commented on #2766
Just a note, I did run into this problem in testing the CTSM branch for the new pause-resume (I see it both on @gold2718 cime branch as well as cime master). So with cheyenne down I can't do any more testing on it, until we get past this. I thought about moving just the pause-resume changes in cime to a branch based off the same version that CTSM is using, but would prefer if I could use an update

[2018-08-22 17:46] gold2718 commented on #2766
Only if someone tells me how to make sure it does not affect performance.

Also, after thinking more about this, I do not see how it can be a coding error. Even if a temporary array was being used and there were no members in the `where` statement, I could imagine an array of extent zero, not -1. However, I put in some print statements in my code and the failing test never even hits that condition

[2018-08-22 18:18] jedwards4b commented on #2766
intel compiler prints a vectorization report - you could compare those.   I suspect it's not vectorized in either case.

[2018-08-23 17:41] #2752 closed

[2018-08-23 17:41] #2767 closed

[2018-08-23 19:19] billsacks opened #2770 "Should we remove the cimeteststatus script?"
As far as I can tell, scripts/Tools/cimeteststatus has been broken for a long time (maybe ever since the move to cime5). It used to be a very nice script, and it may still serve some purpose as a reference for some features we may want to bring back at some point, but it looks like it would need an overhaul to work with the much improved test_status design of cime5.

Does anyone object to its remo

[2018-08-23 19:29] jgfouca commented on #2770
I don't think we (e3sm) were ever aware of or users of this script.

[2018-08-23 19:45] billsacks commented on #2770
@fischer-ncar do you know of (or use) this script?

[2018-08-23 19:58] fischer-ncar commented on #2770
I do know of this script, and have no objections to it's removal.  I believe if was a effort by Jay to combine
cs.status and testreporter into one script.

[2018-08-23 19:59] dqwu opened #2771 "PR #2759 has caused DAE.f19_f19.A to fail during phase RUN"
The errors can be reproduced on anlworkstation by running the following cime_developer test:
`./create_test DAE.f19_f19.A --machine=anlworkstation --test-root=****`

Errors were:
[code]
Do we need some settings on anlworkstation to make it work?

[2018-08-23 20:00] billsacks commented on #2770
Okay, I'll remove it.

[2018-08-23 20:00] #2770 closed

[2018-08-23 21:22] ekluzek opened #2772 "Some extra unused fields in datm"
It looks like the integers sco2p and sco2d in src/components/data_comps/datm/datm_comp_mod.F90 isn't actually used so should be removed.

[code]

[2018-08-23 21:32] billsacks opened #2773 "Inconsistent naming and documentation of histaux_r2x"
As pointed out by @kdraeder in https://github.com/ESCOMP/cesm/issues/71 - the documentation for histaux_r2x says, "turns on coupler history stream for instantaneous runoff to coupler fields." This is consistent with the name of this variable: in general, histaux flags without a time period in their name give instantaneous values. However, I think that both the documentation and the name are incons

[2018-08-23 22:14] billsacks commented on #2773
My inclination is to at least fix the documentation. It would be nice to make the variable name consistent (by adding '24hr' at the end), but that might break people's scripts, so we could hold off on that change. But before making any change, I'd like confirmation that the code is right and the documentation is wrong.

[2018-08-23 22:15] klindsay28 commented on #2773
I have previously verified that the daily averages of r2x fields from drof
reading histaux_r2x generated output are the same (to single precision
roundofff) as daily averages of r2x fields from the coupled model that
generated the histaux_r2x fields. I'm inferring that the fields must be
averages, not instantaneous.

On Thu, Aug 23, 2018 at 3:32 PM, Bill Sacks <notifications@github.com>
wrote:

[2018-08-23 22:31] klindsay28 commented on #2773
I think there's more to it than "people's scripts".
I suspect that changing the variable names would break cplhist mode for
drof.
The drof scripts create stream files that are expecting the existing
variable names in cplhist output.
You could change drof too, but then drof in cplhist mode in the new version
of cime
wouldn't out of the box read previously generated cplhist output.

On Thu, Aug 23,

[2018-08-23 22:37] billsacks commented on #2773
@klindsay28 thanks for your reply. The variable name that I'm proposing changing is just the namelist variable that turns on this cpl hist output, and some related internal Fortran variables. I don't think this would change anything about the operation of drof, but since I could imagine it breaking scripts that you and others are running for CESM2/CMIP6 spinup, I'm inclined to hold off on that ren

[2018-08-23 23:02] klindsay28 commented on #2773
Sorry for the confusion, I misinterpreted what variable name you were
proposing to change.
I think I'm with you now.

We have been informing people that using this namelist variable is an
ingredient to generating cplhist output for forcing surface components. I
think it would be disruptive to have those instructions fail to work. So I
fully support holding off on a rename.

On Thu, Aug 23, 2018 at

[2018-08-24 02:04] billsacks opened #2776 "DAE tests failing on master"
According to CDash, the DAE tests are failing on master, causing a failure in Z_FullSystemTest.

[2018-08-24 02:31] gold2718 commented on #2776
Duplicate of #2771.

[2018-08-24 03:04] billsacks commented on #2776
Closing this duplicate - sorry.

[2018-08-24 03:04] #2776 closed

[2018-08-24 03:05] billsacks commented on #2771
Changing the title to reflect the fact that this problem is not just on anlworkstation

[2018-08-24 18:41] #2771 closed

[2018-08-24 20:33] kdraeder commented on #2754
@jedwards4b
Thanks for pointing out that I was confusing myself by
using this branch for too many developments and commenting
out the lines in case_run.py that run the model.

I believe that I finally figured out a way
to import maint-5.6 into cesm2_2_alpha01a.
It's in /gpfs/fs1/work/raeder/Models/cesm2_2_maint-5.6.
That combination does pass scripts_regression_tests.py.

When I install modified c

[2018-08-24 20:45] swensosc opened #2778 "negative longitude in domain file gives incorrect time offset"
Using domain file and surface data file in CLM5 in which both used negative longitudes (i.e. -180 to 180), the model ran without problem, but the history was incorrect.  Specifically, it looks like the time offset isn't correct, such that solar forcing doesn't occur at the right time relative to local noon, and much of it is reflected b/c the model thinks that it is night.  It seems like either da

[2018-08-24 20:47] jedwards4b commented on #2754
So I think you are ready to submit a pull request for review.

[2018-08-24 20:53] #2749 closed

[2018-08-24 20:54] jedwards4b commented on #2778
@swensosc please provide a description adequate to reproduce the problem.

[2018-08-24 21:12] swensosc commented on #2778
It requires a domain file (and surface data file) with negative longitudes.  I've created some here:
/glade/scratch/swensosc/sfcdata/surfdata_0.9x1.25_78pfts_CMIP6_simyr1850_c170824.negative.longitude.nc
/glade/scratch/swensosc/sfcdata/domain.lnd.fv0.9x1.25_gx1v6.090309.negative.longitude.nc
An out of the box f09_g16 clm I case run for 1 month would show the affect.

[2018-08-24 21:22] dqwu opened #2779 "DAE.f19_f19.ADWAV fails during phase SETUP on anlworkstation"
PR #2777 has changed DAE.f19_f19.A in cime_developer list to DAE.f19_f19.ADWAV

However, DAE.f19_f19.ADWAV fails on anlworkstation:
[code]
Could you please check if WAV_GRID needs to be set for DAE.f19_f19.ADWAV on anlworkstation (not sure if other machines have this issue)?

[2018-08-24 21:29] kdraeder commented on #2754
@jedwards4b Should it include the 'fixes' for the MEMLEAKFAIL test?

[2018-08-24 21:32] gold2718 commented on #2779
This is why I asked @jgfouca to review the PR. When I run this test using cesm as the model, README.case shows:
[code]
I am not sure how that happens because the cesm version of the f19_f19 grid alias does not mention a wav grid. I note that we have a grid alias:
[code]
I do not know how e3sm wants to deal with this.

[2018-08-24 21:54] jgfouca commented on #2779
@gold2718 , thanks for the info. Whatever trick cesm is doing to pick up a wav grid "ww3a" for f19_f19 is not happening for e3sm. I tried adding the grid XML you pasted and it did not work. @jedwards4b , any ideas?

[2018-08-24 21:55] jgfouca commented on #2779
Note, if I set "wav" to "ww3a" in the f19_f19 definition, things do work. I'm not sure we want to do that though.

[2018-08-24 21:56] jgfouca commented on #2779
Oh, I think it's just a matter of default grids.

[2018-08-24 21:58] jgfouca commented on #2779
Both models appear to have similar defaults, but your f19_f19 definition:

[code]

... is different from ours:

[code]

We explicitly set wav to null. I wonder if this is just a bug in the grid converter (v1 to v2) I used?

[2018-08-24 22:02] jgfouca commented on #2779
This is our V1 definition for f19_f19:

[code]

It looks like wav is explicitly set to null there to. @rljacob , please advise.

[2018-08-24 22:04] jgfouca commented on #2779
As a short term solution, I think we just need a different grid for this test.

[2018-08-24 22:38] billsacks opened #2781 "Should we be using sys.path.insert rather than sys.path.append?"
For some python work outside of cime, I was looking into different options for getting some things into the python path. In doing so, I was looking at how cime does it. This led me to wonder: Why do we use `sys.path.append(path)` rather than something like `sys.path.insert(1, path)`? To me, the `insert` form seems safer. Consider, for example, that someone might have their own environment set up w

[2018-08-25 00:10] #2779 closed

[2018-08-25 16:37] kdraeder commented on #2754
I resolved the MEMLEAKFAIL test failure without the fixes,
so my PR does not include them.

[2018-08-26 11:54] Chakosai commented on #2334
Edi

[2018-08-27 17:46] jedwards4b commented on #2778
@ekluzek I did the following test:  SMS_Ld1.f19_g17.I2000Clm50BgcCruGs.cheyenne_intel.clm-default and compared to the cesm2.0.1-beta baseline.   I then replaced the ATM_DOMAIN_FILE with a file which specifies lat from -180 to 180.   I got an immediate runtime error "(seq_domain_check_grid) ERROR: incompatible domain grid coordinates".    I think that this issue is a ctsm and not a cime problem.

[2018-08-27 20:48] jedwards4b commented on #2778
If I also replace both the LND_DOMAIN_FILE and the clm fsurdat file I do reproduce the original problem.

[2018-08-27 21:07] mvertens commented on #2778
@jedwards4b - does this point to a data model problem?

On Mon, Aug 27, 2018 at 2:48 PM jedwards4b <notifications@github.com> wrote:

[2018-08-27 21:27] jedwards4b commented on #2778
So the problem seems to be that if the longitudes are specified consistently but from -180 to 180 instead of from 0 to 360 then the computation for local noon is incorrect - but I think that the computation for local noon happens in ctsm - @ekluzek ?

[2018-08-27 22:06] ekluzek commented on #2778
@jedwards4b there is a computation for local noon that would just apply to ctsm. But, the original description is that solar is handled incorrectly so that the solar data read in by datm doesn't align with the models solar cycle. That's because the solar is using a solar zenith angle scaling mechanism that's part of cime/datm, and the forcing data for solar is 0 to 360. I think we either need a me

[2018-08-28 19:19] gold2718 commented on #2766
After more examination of the code, I agree with @jedwards4b that this is not a code bug (which implies that it is a NAG run time bug). Still planning on posting a PR to make NAG happy.

[2018-08-28 19:23] billsacks opened #2783 "create_test in cesm with xml arguments aborts"
My typical create_test command looks like this:

[code]

This is failing on master with:

[code]

Indeed, when I add

[code]

before that line in create_test, test_utils doesn't appear to be a member of the CIME package - even though it was in cime5.6.10 (the last version I have used extensively).

I can't figure out why this is causing a problem, but this diff fixes the problem:

[code]

PR incom

[2018-08-28 20:27] #2766 closed

[2018-08-28 20:28] #2783 closed

[2018-08-28 21:25] cacraigucar opened #2786 "DOUT_S_SAVE_INTERIM_RESTART_FILES needs to be documented"
The behavior of DOUT_S_SAVE_INTERIM_RESTART_FILES being set to false and removing interim restart files at the end of the run needs to be documented.  Two locations have been proposed (and it might be good to have it documented in both places):
1) In the env_run.xml, one of the REST_XX variables could put in a caution that DOUT_S_SAVE_INTERIM_RESTART_FILES=TRUE needs to be set if a user wishes int

[2018-08-29 15:12] billsacks opened #2787 "create_test: Allow different baselineroot for compare vs. generate"
It would be helpful if create_test allowed a separate baselineroot to be provided for compare vs. generate. This would be useful for when you're comparing against baselines in the official baseline directory, but either (1) you're generating temporary baselines that you don't want cluttering up the official directory, or (2) you don't have write permission to the official directory. My current wor

[2018-08-29 15:57] billsacks opened #2788 "BFAIL incorrectly generated if a test is missing files"
If a test has both (a) a missing file in the baseline that is present in the test, and (b) a missing file in the test that is present in the baseline, this is currently reported as a BFAIL rather than a true failure.

I have a fix incoming.

[2018-08-29 16:02] jgfouca commented on #2787
Tagging as cesm-only. This wouldn't make a much sense for e3sm.

[2018-08-29 16:07] #2788 closed

[2018-08-29 16:39] billsacks opened #2790 "ERI test failure with cime master branch"
I'm not 100% sure this is a cime issue, but I suspect it is: In a version of CTSM where I have updated cime from cime5.6.10 to something close to master (bc8166bce023af36beeaaee64a3cd4187644f2eb), I am getting failures in ERI tests that produce daily history files. For example:

[code]

The failure comes from:

[code]

This is from branch `update_cime` on https://github.com/billsacks/ctsm. Compare

[2018-08-29 16:47] billsacks commented on #2790
This does look like it's due to a cime change: With the new version of cime, the main ERI run directory contains these clm hist files:

[code]

whereas the previous version contained these:

[code]

Note the presence of 'ref2' in the new file name, which was not in the old one. I'm guessing this is due to some change in a regular expression match. Now I need to track down where....

[2018-08-29 17:57] billsacks opened #2791 "r2l isotope volr fields should probably be added to r2x_fluxes, not r2x_states"
@swensosc noticed this issue: currently, the water isotope volr fields are added to r2x_states:

https://github.com/ESMCI/cime/blob/442c6a60f763b197645fbd7a2130f851b42daeca/src/drivers/mct/shr/seq_flds_mod.F90#L2998-L3016

The main volr field is in r2x_fluxes, so we're thinking that the isotope ones should be there, too. Currently, r2x_states doesn't seem to be mapped at all, but in some work @swe

[2018-08-29 18:30] cacraigucar commented on #2791
Unfortunately, I was an integrator with the isotope code  and not the developer.  Those changes were in code I inherited when I took over the project.  The developers whose names are attached to the original changes in the svn repo are @ekluzek and jesse.nusbaumer@nasa.gov.

[2018-08-29 18:45] billsacks opened #2792 "Too little output from fortran unit tests"
The level of output from fortran unit tests was recently decreased, I think in @jgfouca 's commit, fb03f1b5b. I'm fine with the decreased level of output for the initial cmake stage and the make stage (that's nice in fact – thanks!), but I'd like a way to show the final test results – ideally by default, but at least via an option:

[code]

I can't find a way to show that now.

Also, this change i

[2018-08-29 18:56] ekluzek commented on #2791
I agree that the isotope fields should mirror the bulk fields. Had I noticed this, I would've pointed it out as a problem as well. It could also be in the history, if it was consistent in the beginning and then the bulk was changed, but the isotopes weren't. We could search the history and look into that. But, it's just pretty clear that isotopes should be handled the same as bulk, so I don't know

[2018-08-29 20:01] billsacks commented on #2790
Okay, I think I see the problem: It seems due to modifying a list when iterating over that list, in hist_utils.py:_get_all_hist_files.

From testing this code in isolation, this change seems to fix it; I'll test to see if this fixes the ERI case:

[code]

[2018-08-29 21:53] mnlevy1981 opened #2793 "Problem with ./check_input_data --download on hobart?"
I emailed ISG because I think it might be an issue with how globus is configured on hobart, but I'm also posting here so that others are aware of the issue (and to give you guys some heads-up if it turns out to be a CIME problem).

A trunk tag at the beginning of the month changed some POP forcing files, and I'm just now trying to test a case with these new forcings on hobart. `case.submit` is han

[2018-08-30 02:13] billsacks commented on #2790
With this change in place, I reran `ERI_D_Ld9.f10_f10_musgs.I2000Clm50BgcCruGs.cheyenne_gnu.clm-default` and it now passes the in-test comparisons and the baseline comparisons; I checked points 1, 2, 3, 4 and 6 from https://github.com/ESMCI/cime/issues/2790#issuecomment-417033877 and it seems like it is operating the same as in cime5.6.10 (I forgot to use the --generate flag, so didn't check point

[2018-08-30 11:57] #2790 closed

[2018-08-31 15:10] billsacks opened #2795 "Defining a published API for CIME lib"
This may be a topic for a weekly CIME telecon, but I wanted to get some thoughts in writing first.

We've had some discussions about what defines the published/stable API of CIME (e.g., for the sake of semantic versioning), and have struggled to come up with a definition. My impression is that we consider the user interface to the scripts (both in cime/scripts and the ones created in your case dir

[2018-08-31 18:41] billsacks commented on #2795
Notes from a discussion with @jedwards4b @rsdunlapiv and @mvertens

- @jedwards4b feels this may not be too big of an issue - that the interface to public functions in CIME lib may be pretty stable already

- @rsdunlapiv provided some perspective from ESMF: they have special comment annotations that they attach to functions that they consider to be part of the published API. Their documentation to

[2018-08-31 19:56] ekluzek commented on #2778
In reviewing code in cime, I do see some code in place that allows either form to exist. shr_orb has a check that changes longitude (in order to calculate local time) to be between -pi and pi for example. seq_domain_mct has something similar as well. shr_map_mapSet_dest also has such a shift. Some grids in cesm are on -180-180 (cism greenland grids, and mosart for example).

So I'm going to verify

[2018-09-01 23:14] ekluzek commented on #2778
OK, I did more testing and had output every time step. The pattern for solar looks correct, and matches within roundoff of a case with non-negative longitudes. So I think cime is correct and there are just issues with ctsm. So closing for now...

[2018-09-01 23:14] #2778 closed

[2018-09-01 23:37] mvertens commented on #2778
@Erik Kluzek <erik@ucar.edu> thanks so much for your careful work on this.

On Sat, Sep 1, 2018 at 5:14 PM Erik Kluzek <notifications@github.com> wrote:

[2018-09-03 00:13] jedwards4b commented on #2778
@ekluzek Thank you for confirming.

[2018-09-04 21:47] billsacks opened #2796 "T_TestRunRestart failing on hobart"
With cime master on hobart, I'm getting:

[code]

[2018-09-05 18:45] thiagoveloso opened #2798 "How to change atm forcing data from within cime"
I am running the `I2000Clm50BgcCruGs` CLM5 case with Data Atmosphere (DATM). Specifically, I am attempting to run a control case with default settings and two experiment cases with 10% and 20% less precipitation respectively.

Rather than changing the forcing data itself, I am trying to temporarily change the code excerpt responsible for reading the atmospheric data.

My first approach was changin

[2018-09-05 18:52] jedwards4b commented on #2798
@thiagoveloso this science question would be more appropriate to post at the cesm forum http://forum.cgd.ucar.edu/

[2018-09-05 18:52] #2798 closed

[2018-09-05 19:57] thiagoveloso commented on #2798
Thanks @jedwards4b, I have just posted it there: https://bb.cgd.ucar.edu/decrease-precipitation-10-clm5-datm

[2018-09-06 17:51] mnlevy1981 commented on #2793
Just to follow up on this, using `--debug` I was able to pinpoint the command that was hanging. At the time,

[code]

was fine, but

[code]

did not work. Mark worked some magic, though, and now the above command is fine and I assume `check_input_data` behaves as expected.

[2018-09-06 17:51] #2793 closed

[2018-09-08 18:38] singhbalwinder opened #2799 "Run phase namelist changes do not appear in *_in files in ru directory"
We noticed recently that if we make changes to `user_nl_*` files during `run_phase` in a test script (e.g. *.py scripts in cime/scripts/lib/CIME/SystemTests/), those changes do not appear in *_in (e.g. atm_in, lnd_in etc.) files in the run directory. It use to work in the past. I created a very simple test to demonstrate this:
[code]

In older version of CIME, the change made above in the `run_pha

[2018-09-08 18:38] singhbalwinder commented on #2799
@jedwards4b : Please feel free to re-assign as appropriate. Thanks!

[2018-09-09 17:18] jedwards4b commented on #2799
I think that you just need to add a line
self._skip_pnl = False
to force the rerun of preview_namelists and generation of new namelist files.

[2018-09-10 16:45] singhbalwinder commented on #2799
Thanks again @jedwards4b ! Adding this line solved the problem!

[2018-09-10 16:45] #2799 closed

[2018-09-10 16:46] jgfouca commented on #2799
Glad it was easy!

[2018-09-11 17:34] ekluzek opened #2801 "Problem building with ESMF_LIB"
This is with cime5.7.3

I'm getting a build fail when I build using the ESMF library.

So using the following settings...

./xmlchange --force USE_ESMF_LIB=TRUE,ATM_NCPL=288,CALENDAR=GREGORIAN

WACCM-X now requires building with the ESMF library so this is a requirement for cime now.

[code]

[2018-09-11 17:38] jedwards4b commented on #2801
The EMSF_LOG_MULTI_ON_ERROR is supported in esmf 8.0.0.bs16 and newer - your esmf build is too old.

[2018-09-11 17:42] ekluzek commented on #2801
The only ESMF build available in modules on cheyenne is:

esmf_libs/7.0.0

Are we expected to build our own version of ESMF on cheyenne and use it? That doesn't seem workable to me.

Can we put a check on the version of ESMF being used in the code, so it's only used for newer ESMF builds?

[2018-09-11 17:43] jedwards4b commented on #2801
I think adding a check in the code is a good approach.

[2018-09-11 20:10] ekluzek commented on #2801
I have a fix that so far works. I'll make a little PR with it. I assume this can just go onto cime master.

[code]

[2018-09-12 16:52] kdraeder commented on #2682
Here's another clue.
I ran the following test program interactively on a login node
and on a single processor of a share node.
It did write out everything, but I see that it will only write
1024 chars to a line.  It starts a new line for more characters.
That suggests that something in CESM is tripping the print
statement when it tries to write a new line.
---------
[code]
---------

[2018-09-12 22:40] #2431 closed

[2018-09-20 15:25] kdraeder opened #2808 "CESM2_0:CAM-Chem hanging in mpialltoallint"
Benjamin Gaubert and I are trying to build a CAM-Chem
version from the released CESM2_0
(/gpfs/fs1/work/raeder/Models/cesm2_0).
I'm building a 1 degree model using compset
HIST_CAM60%CCTS_CLM50%SP_CICE%PRES_DOCN%DOM_MOSART_SGLC_SWAV
and giving it 6 nodes (per instance).
CAM stops progressing, although when I logged onto
the compute nodes, 'top' reports that all the CPUs were very busy.

I put in d

[2018-09-20 15:42] jedwards4b commented on #2808
It would be very helpful if you tested a single member to see whether it exhibits the same problem.

[2018-09-20 17:37] kdraeder commented on #2808
I forgot to mention, Benjamin sees essentially the same thing
running it a single instance on 1,2, and 3 nodes.

[2018-09-20 17:42] jedwards4b commented on #2808
If it is also happening in a single instance case then I think that it's a cam issue, not a cime issue.

[2018-09-20 19:44] whlipscomb opened #2809 "Changes in CLM elevation where SMB and Ts are computed"
In JG/BG runs, Marcus Lofverstrom has found spatial and temporal discontinuities in the surface mass balance (SMB) and surface temperature (Ts) downscaled to CISM from CLM elevation classes (ECs).  These discontinuities are related to the different treatment of real (nonzero-area) and virtual (zero-area) glacier columns in CLM.  For real columns in a CLM grid cell, SMB and Ts are computed at the m

[2018-09-20 21:08] whlipscomb commented on #2809
@jedwards4b, The changes are not in ctsm or cism.  They are in the coupler, specifically glc_elevclass_mod.F90 and map_glc2lnd_mod.F90.  I'll modify the text to make this more clear.

[2018-09-20 21:32] jedwards4b commented on #2809
Thanks for clarifying.

[2018-09-21 16:27] serbinsh opened #2810 "Question - Adding modex cluster machine files to cime master"
I just wanted to come back to this issue from much earlier this year.  Presently when I pull cime to build CLM/FATES I am using a custom cime branch (https://github.com/serbinsh/cime/tree/clm4518/n04/cime5.4.0-alpha.03/add_modex) that @billsacks and @ekluzek helped me get working on our cluster.

However, since then I am not certain what branch those changes made it in to and whether those updates

[2018-09-21 16:32] jedwards4b commented on #2810
I believe that that code is already merged to cime master as well as the maint-5.6 branch.  Try switching to cime branch maint-5.6

[2018-09-21 16:39] serbinsh commented on #2810
Indeed....for whatever reason when I pulled everything fresh it wasn't showing up in the machines XML but I just made sure I was on master and check again and found the files.  I will confirm they match the files in the custom branch above but otherwise I apologies for posting this.  I really did look before I posted this!  Not sure how/why I didn't see it the first time.

I am going to close this

[2018-09-21 16:39] #2810 closed

[2018-09-21 19:10] billsacks commented on #2809
I'll bring in the fixes for this. Pinging @lofverstrom .

@jonbob this will change answers for E3SM, too. Do you or anyone else there want to know more about this change? You can also wait to comment until the changes are in a PR, if you prefer.

[2018-09-21 19:12] serbinsh commented on #2810
I realize what I did wrong.  I am working with CTSM branch "fates_next_api" which in Externals.cfg has:

[code]

Older CIME.  As such I need to switch that to to a different branch to include the modex files.  Not sure if the master cime will work or if I need to continue using the special branch until this branch of ctsm catches up.  Will need to investigate this.

[2018-09-21 19:49] jedwards4b commented on #2810
@serbinsh Try the maint-5.6 branch, I think that it will be compatible with your ctsm.

[2018-09-24 18:49] billsacks commented on #2809
The first change (smoothing the transition from virtual to real elevation classes) impacts cases where the land model takes its glacier elevations from the glc component, in locations where the glacier component is active. This is standard for CESM now; you can tell me whether it's standard for E3SM. For those cases, there will changes in the glacier elevation in each elevation class, which will a

[2018-09-25 16:50] ekluzek commented on #2792
I want to second what @billsacks says here. I was running the unit tests and figured they must be broken, because I get no output! The following output is insufficient to know what is going on. the point of unit testing is to make it clear when things pass and when they fail. Here's the current output, which looks like it isn't even working...

[code]

I do agree with Bill that NOT seeing the buil

[2018-09-26 16:04] jedwards4b opened #2813 "improve custom workflow interface"
Currently the workflow is too tightly connected to the DOUT_S variable, we need to figure out a way to generalize this so that users can add custom workflow elements without modifying cime source or config_*.xml files.

[2018-09-26 16:06] jedwards4b opened #2814 "introduce CIME_DEFAULT_DRIVER env/config variable"
User should be able to customize the default cime driver (currently hardcoded to mct).

[2018-09-26 19:17] #2667 closed

[2018-09-26 19:19] jgfouca commented on #2639
Should be addressed in web documentation.

[2018-09-26 19:29] jgfouca commented on #643
preview_run and './xmlchange MPI_RUN_COMMAND=$your_cmd' should provide the functionality needed to support debuggers.

[2018-09-26 19:29] #643 closed

[2018-09-26 19:33] jgfouca commented on #771
Closing. Please reopen if you think addition work is needed.

[2018-09-26 19:33] #771 closed

[2018-09-26 19:35] jgfouca commented on #462
Closing. Would be nice, but would be quite hard.

[2018-09-26 19:35] #462 closed

[2018-09-26 19:40] jgfouca commented on #787
Maybe take the "fake" system test approach used for HOMME?

[2018-09-26 19:54] jgfouca commented on #852
This should be done in the CMake refactor.

[2018-09-26 19:55] jgfouca commented on #854
Check if done.

[2018-09-26 19:56] jgfouca commented on #855
Something for new drivers?

[2018-09-26 19:57] billsacks commented on #855
The original motivation, in a comment from @jedwards4b , was:

[2018-09-26 20:04] jgfouca commented on #873
Depends on fixing restart for cpl hist files.

[2018-09-26 20:27] billsacks commented on #787
Looking back at my original comment: At this point we have introduced a CLM-specific wrapper script for running the CLM system tests, so in principle we could run the unit tests from there, too. However, at the moment I prefer @jgfouca 's idea of using the "fake" system test approach, mainly because it leads to more consistent reporting of the test results.

This amounts to having a "system" test

[2018-09-26 20:32] billsacks opened #2816 "Coupler history files do not restart properly"
The coupler's average (rather than instantaneous) and auxiliary history files do not restart properly. This is a problem for #873 , but is also a more general problem, such as for data assimilation runs that have frequent restarts.

Currently, no attempt is made to save accumulating cpl fields to a restart history file.

[2018-09-26 20:35] billsacks commented on #873
I have opened a new issue for that: #2816 . If we wanted to deal with this issue without fixing #2816 , we'd need to hack the scripts a bit so that these cpl ha files were compared for baseline comparisons but not for in-test comparisons.

[2018-09-26 20:44] billsacks opened #2817 "Document how to run with a debugger"
Since #643 was deemed too difficult, we should at least add to the web-based documentation instructions for how to run cime through a debugger, with a few specific examples.

[2018-09-26 20:45] billsacks commented on #643
Replaced with #2817

[2018-09-26 21:10] billsacks commented on #793
On today's cime telecon, we weren't sure whether to keep this one open. I read back through the discussion in #755. Both @jedwards4b and I requested the change mentioned in this issue, and I still feel it would be helpful, particularly because the signal list includes some very generic things like SIGUSR1 and SIGUSR2:

https://github.com/ESMCI/cime/blob/83ea95c94084c929499895840240b29433dcbe57/scr

[2018-09-26 22:01] billsacks commented on #119
I was assigned this issue to look back and decide if it should still be done. I do still feel this is important, so I'd like to keep it open.

[2018-09-26 22:16] billsacks commented on #2
I skimmed through this, and nothing seems critical from my perspective, so I'm okay with it being closed. It was a bit hard to understand the context, since the google doc referenced initially seems to have disappeared (maybe it was in @quantheory 's NCAR google drive space which is no longer active?).

[2018-09-26 22:27] billsacks commented on #763
On the CESM side, we need to address https://github.com/ESCOMP/ptclm/issues/7

[2018-09-26 22:35] rljacob commented on #763
Just rename those files and everything still works?  Sounds easy enough.

[2018-09-26 22:53] billsacks commented on #763
Exactly.

[2018-09-27 18:45] ekluzek opened #2820 "Streams files with time interpolation do not compare exactly when data is the same, but time off"
Using cime_cesm2_0_rel_05 for an I compset case.

The wrong index is found in streams for the lower bound for multi-year monthly files, when told to just run over a single year and starting at the beginning of the year. I don't see this for files with a single year, or for example the 3-hourly forcing data. It should identify the last index for that year as the lower bound index, but it's finding

[2018-09-27 20:36] ekluzek commented on #2820
The bottom line expectation that I have is that answers should be the same for a multi-year file and a single-year file in streams -- if the data is for the particular year going over is identical between the two. So in this case I have a multi-year ndep file where years 1849 and 1850 are identical to the single year file for 1850. I thought the time-interpolation might be the culprit, but I also

[2018-09-27 21:15] mvertens commented on #2820
Do you need to specify cyclic time boundary conditions if you are trying to
run say over 1850 in a file that is 1849-1851?

On Thu, Sep 27, 2018 at 2:36 PM Erik Kluzek <notifications@github.com>
wrote:

[2018-09-27 21:30] jedwards4b opened #2821 "Gfortran 8.x build issue"
The test SMS_D_Ln9.f19_g16_rx1.A.   is failing on a number of platforms when using gfortran v 8.1 or 8.2.   The issue seems to be related to the gfortran debug flags, the test passes if DEBUG=FALSE.

The compiler is reporting an error in compiling the file piodarray.F90 but the line number indicated by the error doesn't match the source file.   I spent some time trying to reduce the problem to som

[2018-09-27 21:45] ekluzek commented on #2820
@mvertens yes, I am use "cycle". I tried "limit" and it fails because it's before the start of the time period. I didn't do "extend", because that should just use the first time sample.

[2018-09-27 21:50] ekluzek commented on #2820
The two files I expect to give the same answers for are:

/glade/p/cesmdata/cseg/inputdata/lnd/clm2/ndepdata/fndep_clm_WACCM6_CMIP6piControl001_y21-50avg_1850monthly_0.95x1.25_c180802.nc

/glade/p/cesmdata/cseg/inputdata/lnd/clm2/ndepdata/fndep_clm_hist_b.e21.BWHIST.f09_g17.CMIP6-historical-WACCM.ensmean_1849-2015_monthly_0.9x1.25_c180926.nc

Since 1849 and 1850 are just a copy of the data from th

[2018-09-27 22:18] klindsay28 commented on #2820
The variable time in the first file has units "days since 0001-01-01 00:00:00" and values
674899, 674929, 674958, 674989, 675019, 675050, 675080, 675111, 675142, 675172, 675203, 675233

If you subtract 365*1849 from those values you get
14    44    73   104   134   165   195   226   257   287   318   348

The variable time in the second file has units "days since 1849-01-01 00:00:00" and the first

[2018-09-27 22:38] ekluzek commented on #2820
Ok, if that's right I'll need to get Keith Oleson to regenerate the file. Thanks for pointing that out!

[2018-09-27 22:45] klindsay28 commented on #2820
Which file are you suggested being regenerated?

I think the time values in the 1849-2015 file are 'better' in the sense
that they are truly mid-month.

However, the 1850 file is already being used in the CESM 2.1 CMIP6
piControl run.

It seems like you have an implicit requirement that these files generate
identical results.
If so, what is the basis of this requirement?

On Thu, Sep 27, 2018 at 4

[2018-09-27 22:51] ekluzek commented on #2820
@klindsay28 this is coming from David Lawrence and Keith Oleson (and maybe others). He explicitly made the 1850 data the same as the one for the piControl run, so that we could get identical results for any 1850 runs we do. If we truly don't care then I'm fine with moving on. But, that was my understanding of why the 1850 data was overwritten for this file.

[2018-09-27 23:08] ekluzek commented on #2820
I think the new multi-year file should be regenerated with time/date for 1849-1850 that is identical to that for the ndep file for the pi-control. You wouldn't have to change time/date for the data beyond 1850. So the modern data beyond 1850 would have the correct mid-month values, it's just the first 24 month period would be off of that.

[2018-09-28 15:20] olyson commented on #2820
Keith and Dave and I talked this morning about the ndep file.

First of all, we decided the right thing to do is to use the transient file that has the correct mid-month time coordinate. So the tag you are making would use this file.  We'd also point to the existing 1850 file for 1850 runs to ensure we get the same answers for those runs.

Second, can you repeat just the test that was failing usin

[2018-09-28 20:22] singhbalwinder opened #2822 "Automated input data download does not work for multi-instance runs"
I recently found out that scripts to download missing input data do not work for multi-instance runs. In my multi-instance run, I had a different `ncdata` file for each instance. Launching `check_input_data` downloads only the `ncdata` file for the last instance. I looked into the script and it looks like `check_input_data` script download files mentioned in  `*.input_data_list` (e.g. `cam.input_d

[2018-10-03 06:32] ekluzek commented on #2820
OK, I compared the case ERP_Ld5_P48x1.f10_f10_musgs.I1850Clm50Bgc.hobart_nag.clm-default on hobart with an ndep file with the times for 1849 and 1850 that jive with the 1850 pi control ndep file, and answers are identical I'm going to do a little more testing and then close this issue out.

[2018-10-03 19:10] jgfouca commented on #1021
On today's cime telecon, we decided that overrides are a legitimate usecase.

[2018-10-03 19:10] #1021 closed

[2018-10-03 19:19] jgfouca commented on #1156
No one is running unit tests in parallel.

[2018-10-03 19:19] #1156 closed

[2018-10-03 19:21] jgfouca commented on #1250
@asteyer , we assigned to you since you're working on the Cmake stuff. Just something to think about.

[2018-10-03 19:33] jgfouca commented on #1278
The performance of preview_namelists has improved dramatically as scripts have switched to python. This is still something we want to think about longterm; to reduce the tight coupling between namelists and XML files and what the correct usage of CIME is within component nml/build scripts.

[2018-10-03 19:34] jgfouca commented on #2291
We've already agreed to a versioning system.

[2018-10-03 19:34] #2291 closed

[2018-10-03 19:37] jgfouca commented on #2381
@ndkeen closing since we never understood what was needed.

[2018-10-03 19:37] #2381 closed

[2018-10-03 19:40] jgfouca commented on #2388
JimE has fixed the refcase downloading. I think this discussion is complete.

[2018-10-03 19:40] #2388 closed

[2018-10-03 19:41] jgfouca commented on #2394
Jim's recommendation worked and we now have st archive testing built-in to the system.

[2018-10-03 19:41] #2394 closed

[2018-10-03 19:52] jgfouca commented on #2421
The ship has sailed.

[2018-10-03 19:52] #2421 closed

[2018-10-03 19:56] jgfouca commented on #2436
Closing. Not sure if the cost/benefit is worth it. It's not too hard to move files after a run.

[2018-10-03 19:56] #2436 closed

[2018-10-03 19:56] billsacks commented on #2436
@cecilehannay feel free to reopen if you feel this is important.

[2018-10-03 20:03] rljacob commented on #2421
why is this not fixable?

[2018-10-03 20:10] jedwards4b commented on #2421
I think that the feeling on the call was that the convention was too firmly entrenched to back out now.

[2018-10-03 20:53] ekluzek commented on #2820
OK, did a 12 month test and showed exact results. So I'm closing this as it really works the way you'd want it to.

Here are some notes on my testing:

[code]

[2018-10-03 20:53] #2820 closed

[2018-10-03 21:32] jedwards4b commented on #2436
Yes for pbs:
[code]

[2018-10-03 21:36] jedwards4b commented on #2436
@cecilehannay to change this for cheyenne you would add a line to your env_batch.xml
[code]

[2018-10-04 18:52] gold2718 commented on #2808
Is there a case/run directory to look at? Things like compiler / MPI library / dycore can be important here but are not specified in the problem report. At the moment, I agree with @jedwards4b that this is likely a CAM issue (or a machine/compiler issue) but I need more information to transfer the problem there.

[2018-10-04 19:15] kdraeder commented on #2808
I submitted this to DiscussCESM and ExtraView on Sep 20.
There has been no response on DiscussCESM, and the consultants
thought about it a couple weeks later, but did not suggest anything.

I'll try to generate a single member case of this
and provide the software versions and case information.

[2018-10-04 20:02] ekluzek commented on #2687
At the cseg meeting  on Sep/24th, we decided these need to go on the maint-5.6 branch, as they will go into the cesm2.1 release branch. It's currently slated for:  cesm2_1_alpha01c.

The new co2 files are:

atm/datm7/CO2/fco2_datm_global_simyr_1750-2014_CMIP6_c180929.nc

and

atm/datm7/CO2/fco2_datm_lat-bands_simyr_1750-2015_CMIP6_c180929.nc

I'm testing with them now.

[2018-10-04 20:04] ekluzek commented on #2688
At the cseg meeting on Sep/24th, we decided these need to go on the maint-5.6 branch, as they will go into the cesm2.1 release branch. It's currently slated for: cesm2_1_alpha01c.

The new file is:

atm/cam/chem/trop_mozart_aero/aero/aerosoldep_WACCM.ensmean_monthly_hist_1849-2015_0.9x1.25_CMIP6_c180926.nc

I'm testing with it now.

[2018-10-05 13:36] kdraeder commented on #2754
The fixes have been merged into maint-5.6.
Thanks for the guidance.

[2018-10-05 13:36] #2754 closed

[2018-10-06 14:05] kdraeder opened #2831 "Coupler history file hr2x problems for forecasts < 24 hours."
The cpl.hr2x files have averaged fields in them, despite the names
and (previous) documentation (CIME issue #2773, ESCOMP/cesm#71).
They are written out only daily, but that leads to incorrect results
when the forecast is less than a day long, as during data assimilation
runs with, for example, 6 hour forecasts.  Then the files are written
only at hour 24, not hours 6, 12, 18.
And the files contai

[2018-10-08 17:55] #213 closed

[2018-10-08 20:58] #2682 closed

[2018-10-08 20:59] kdraeder commented on #2682
This issue is fixed.

[2018-10-08 22:56] #787 closed

[2018-10-09 15:44] Katetc opened #2836 "Compset/grid mismatch in T case gives unhelpful errors"
This create_newcase command:
./create_newcase --case /gpfs/fs1/work/katec/lndice/cism_cases/TestPy2-mast-T1850G1-01 --mach cheyenne --res f19_g17_gl5 --compset T1850G1 --run-unsupported

It shouldn't work, because that grid is not supported by the available input data. (The correct grid is f09_g17_gl5, so a 1-number typo caused this much confusion.) However, the above create_newcase runs just fine

[2018-10-09 17:19] #2792 closed

[2018-10-09 18:51] jedwards4b commented on #500
I'm closing this issue as resolved.   Please reopen if this is not the case.

[2018-10-09 18:51] #500 closed

[2018-10-09 20:11] #815 closed

[2018-10-09 21:41] #1130 closed

[2018-10-09 21:52] kdraeder opened #2841 "Branch a single instance case from a multi-instance case"
When a multi-instance CAM forecast fails, I want to use one of the failed instances
as an exact restart in a single instance case, to speed debugging.
Building it as hybrid or startup won't work because for CAM
those are not exact restarts; they use the CAM initial file
I first tried building a single instance branch run with the multi-instance
as the refcase.   That branched the entire multi-inst

[2018-10-10 17:52] kdraeder commented on #2841
Hold on.  I may have figured it out.  More testing, then I'll report.

[2018-10-10 18:19] jedwards4b commented on #1470
As far as I can tell these issues have been addressed.  Please reopen if this is not the case.

[2018-10-10 19:45] rljacob commented on #2574
Telecon:  closing because not being asked for.

[2018-10-10 19:45] #2574 closed

[2018-10-10 19:47] rljacob commented on #2642
That file should be deleted.

[2018-10-10 19:48] billsacks commented on #2645
From the cime telecon: We could imagine this being something that the python scripts (maybe in the PFS test code) determine and output somewhere (though maybe not to the timing files, because I'm not sure if the python has easy access to that?): This seems easier than having the Fortran code determine this file size and output it to the timing files.

[2018-10-10 19:51] rljacob commented on #2535
Telecon Q:   Is this grid supposed to be supported?   Or is the error showing up late or not clear?

[2018-10-10 19:51] billsacks commented on #2535
If the problem is that the error should be more clear and earlier in the process, then this is connected to https://github.com/ESMCI/cime/issues/2836

[2018-10-10 19:53] billsacks commented on #2836
I think this is similar to #2535

[2018-10-10 19:59] rljacob commented on #2686
Telecon:  create_newcase --machine name  should give an error if the machine entry is missing those sections.

[2018-10-10 20:00] rljacob commented on #2705
Telecon:  this has been fixed.

[2018-10-10 20:00] #2705 closed

[2018-10-10 20:06] rljacob commented on #2717
Other scenario:   What if MOM and POP need different versions of CVmix?   Or CAM and MOM need different versions of FMS?

Telecon:  we won't support that.  Component model developers have to settle on one version.

[2018-10-10 20:06] #2717 closed

[2018-10-10 21:35] kdraeder commented on #2841
The following code contains what I believe are differences
from building a plain branch run, which enable building
a single instance branch run from a multi-instance reference case.
There may be extraneous bits in it, but I don't have time to trim it right now.
[code]
See attached for a (messy) script which successfully built such a case.
[debug_single_sst.25.txt](https://github.com/ESMCI/cime/fil

[2018-10-11 16:59] #2773 closed

[2018-10-11 16:59] #785 closed

[2018-10-11 16:59] #2822 closed

[2018-10-11 16:59] #827 closed

[2018-10-12 17:53] #2841 closed

[2018-10-12 20:26] jgfouca opened #2850 "XML Caching needs to be more robust"
User should never have to disable caching. Propose adding sha1 to FILEMAP to check that file was not changed. Maybe need addition class-level data in GenericXML to ensure that we never have multiple writable GenericXML objects open to the same file at the same time.

[2018-10-12 20:43] gold2718 commented on #2850
Doesn't computing the sha1 take time and slow performance?

[2018-10-12 21:56] kdraeder commented on #1798
@jedwards4b @gold2718 @jgfouca

It looks like the only change in CIME is to providenew entries into

`$cimeroot/config/cesm/config_grids.xml.`

These refer to new domain and mapping files,
which are currently in my /glade directories.
The supported versions of these files are in places like
[code]
I don't know the exact locations where my new files should go.

I'm wondering which of 2 strategies i

[2018-10-12 22:01] kdraeder commented on #1798
One more piece; the SST data files.
The supported files (climatological, monthly means)
also live in the CESM data repository.
Should the 1/4 degree AVHRR SST files also live there?
They're ~ 3 Gb/year, uncompressed.
Or should a single year be there for testing purposes?

[2018-10-13 00:51] jgfouca commented on #2850
@gold2718 , it should be much faster than a full XML tree parse.

[2018-10-13 11:11] billsacks commented on #1470
It may be that the latter comments from @bertinia were addressed, but I don't believe that the original comments in this issue were addressed.

Note that addressing this could partly address @Katetc 's recent issue, #2836 .

[2018-10-13 11:12] billsacks commented on #2587
I know I volunteered for this on the telecon, but as I look at my task list, I can't see how I'll possibly get to this in the near future, so I'm unassigning myself.

[2018-10-13 11:19] billsacks opened #2851 "Unused --user-grid argument to create_newcase"
#2840 from @jedwards4b removed some code related to the `--user-grid` argument to `create_newcase`. It now looks like `--user-grid` isn't used anywhere, but the argument still exists. Should this argument be removed (along with the help text referencing it attached to the `--gridfile` argument)?

[2018-10-13 12:03] billsacks opened #2852 "Further fixes needed to run_tests.py --clean"
@jedwards4b fixed some aspects of #1146 with #2844 but that broke some other aspects of the clean function. See the comments I just made on that PR.

[2018-10-13 12:42] billsacks commented on #2850
I'm curious: Are there current issues with the caching that prompted you to open this issue, or is this just a future precaution?

[2018-10-13 13:35] billsacks commented on #2850
Okay, just skimmed Slack and see the question is answered there.

[2018-10-13 19:27] jhkennedy commented on #2686
@rljacob do you want an error only if the `--machine` option is given, or anytime a machine is instantiated that doesn't have those values?

[2018-10-13 20:01] jedwards4b commented on #2686
@jhkennedy It should be anytime those values are not provided.

[2018-10-16 17:13] jedwards4b opened #2855 "pelayout script should have a --file option"
The PFS test saves the env_mach_pes.xml file for each pelayout, but the pelayout tool has no option to be able to review these files.   To be consistent with other tools such as xmlquery, this option should be called --file

[2018-10-16 18:05] kdraeder opened #2856 "MPILIBS missing from query_config --machines"
`create_newcase --help `
says that

The 2nd "-mpilib MPILIB" looks redundant.  Is it supposed to give an alternate form?

./query_config --machines yields:

which doesn't include mpilibs.
I tried to add a print of mpilibs in query_config,
but my CIME Python is not up to the job.  I don't know how to
extract the MPILIBS for just one (or even all) of the compiler options.

[2018-10-16 18:42] #2856 closed

[2018-10-16 21:34] #2738 closed

[2018-10-17 16:28] jgfouca opened #2861 "E3SM config files do not take driver into account"
Now that multiple drivers/couples are available, E3SM config files need to take the driver of the current case into account instead of assuming mct. The file that needs to be modified is:

[code]

As an example, for CESM, the value of CONFIG_CPL_FILE is:

[code]

and for E3SM the value is:

[code]

Looking at the two values, you can see that E3SM is hardcoded to mct while CESM is flexible. There a

[2018-10-17 16:30] jgfouca commented on #2861
@rljacob , I assigned to you so you can assign to one of our newer CIME developers, this is a good first issue.

This is fairly high priority since it's causing test failures. If no one will be able to get to it soon, then assign to me.

[2018-10-17 16:40] ekluzek commented on #1774
@JustinPerket can you comment on the priority for this? What CMIP6 simulations need this in place?

[2018-10-17 16:41] ekluzek commented on #1624
@gold2718 can you comment on if this is needed by Friday?

[2018-10-17 16:43] ekluzek commented on #2595
There was a commit that addressed this, and I think this is working now. So I'm closing.

[2018-10-17 16:43] #2595 closed

[2018-10-17 16:44] ekluzek commented on #2467
This was already put in place and is working now.

[2018-10-17 16:44] #2467 closed

[2018-10-17 16:48] gold2718 commented on #1624
CAM-SE is still unsupported in CESM2.1 (same status as CESM2.0) so this issue should be moved to CESM2.2.

[2018-10-17 16:48] dlawrenncar commented on #1774
I believe that this is mostly a SnowMIP issue, most of which will be done after the CMIP6 rush.  My understanding is that, if we even have anyone to work on this, that it could be completed for CESM2.1.1 or later.

[2018-10-17 20:28] sarich commented on #2861
@jgfouca I think I have the config file fixed in branch sarich/update-e3sm-config-driver, it passes for moab anyway.
It's not passing for --driver nuopc. It needs a file src/drivers/nuopc/cime_config/config_component_e3sm.xml

I tried copying the file from mct, but I'm still getting errors and I'm not sure where to go from here:
[code]

[2018-10-17 20:29] jgfouca commented on #2861
@jedwards4b , any thoughts on this?

[2018-10-17 21:06] jedwards4b commented on #2861
start_type is in the namelist_definition file not the config_component file - I'll need to look at this a little more.

[2018-10-17 22:01] kdraeder commented on #2808
@jedwards4b @gold2718
I inserted a call to mpi_barrier before the call to mpialltoallint,
and it hung in the barrier call.  That tells me that there's 1 or more
tasks that haven't caught up to the rest of them.
I rebuilt with DEBUG=true in env_build.xml, and added
--assume nobuffered_stdout
to the FFLAGS in the intel:DEBUG section of  in Macros.make
to get all of the output  from the write(*,*) st

[2018-10-18 06:13] JustinPerket commented on #1774
Hi Erik and Dave,
Yes, it is soley for point simulations for snowmip, which gives
phase-separated precip forcing. I'm currently traveling in China sans
laptop, so can't take a good look at code changes, but if there is interest
after 2.1.1, I may be able to conduct these point simulations.

Best,
Justin

On Thu, Oct 18, 2018, 12:48 AM David Lawrence <notifications@github.com>
wrote:

[2018-10-18 17:09] billsacks opened #2863 "Should there be another element of compset name that allows specifying a usermods directory?"
In CESM, we're needing to add usermods directories for particular configurations that are being used for CMIP6. The decision has been to do this similar to how we add REFCASEs for specific compsets and resolutions - e.g.:

[code]

Some people have asked if we can have separate compsets that point to these usermods directories, and I am beginning to feel that that would be a cleaner way to do this,

[2018-10-18 19:47] rljacob commented on #2863
If there's a set of component modifications you're always using, isn't that what the "%" modification is for?  So you should have CAM6%CMIP6, etc. and make the B1850_CMIP6 compset out of that.

[2018-10-18 21:52] billsacks commented on #2863
@rljacob good point, I guess that's a different way we could have organized this, which I didn't consider. So, in this case, we'd have CMIP6 modifiers for CAM, CLM and CICE, and each of them would have logic in their config_component.xml that sets their respective COMP_USER_MODS directory... interesting... I like it. It's not quite as flexible / easy to modify as the solutions I proposed, but it a

[2018-10-18 22:11] billsacks commented on #2863
I'm going to prototype this to see if I can get it working in time for CESM2.1. Thanks again for the suggestion.

[2018-10-18 22:11] #2863 closed

[2018-10-19 02:44] gold2718 commented on #2808
This is a bug in the CESM 2.0.0 release, fixed in CESM 2.0.1.
Does using CESM 2.0.1 resolve your issue?

[2018-10-19 19:17] dqwu commented on #2821
@jedwards4b @jayeshkrishna
This issue is also reproducible on anlworkstation with Gfortran 6.x

PR 2811 modified scripts/Tools/Makefile and added "-DDEBUG" to CPPDEFS
when DEBUG mode is enabled.
[code]
Since SMS_D_Ln9.f19_g16_rx1.A is a test using DEBUG mode, the macro DEBUG
will be defined to build PIO's Fortran code:
`CMAKE_Fortran_FLAGS:STRING="... -DDEBUG ..."`

There is an issue in src/extern

[2018-10-19 19:46] dqwu commented on #2821
It seems that @jgfouca has committed a fix to the master branch.

[2018-10-19 19:49] jgfouca commented on #2821
Sorry all, didn't notice this issue. Yes, it has been fixed.

[2018-10-19 19:49] #2821 closed

[2018-10-19 20:37] kdraeder commented on #2808
@gold2718
Would that fix be in 2.2?  I have that set up and ready to use.

[2018-10-19 20:42] gold2718 commented on #2808
@kdraeder, yes, it is in all tags made after CESM 2.0.1
I assume by 2.2, you mean some CESM 2.2 alpha tag?

[2018-10-19 20:44] kdraeder commented on #2808
@gold2718
Right, and I've been using CIME maint-5.6 in it,
which I updated ~ 2 weeks ago.

[2018-10-19 20:46] jedwards4b commented on #2808
maint-5.6 is not necessarily compatible with cesm2.2.x if you really want cesm2.2 you should use cime/master if you really want cime/maint-5.6 you should use cesm2.1.x

[2018-10-20 16:00] kdraeder commented on #2808
Thanks for the guidance!
Since cesm2.1 is what will be released next,
and maint-5.6 was recommended for resolving my CIME issues,
I'll start working with cesm2.1.x.   Should I get this from
https://github.com/ESCOMP/cesm/tree/cesm2.1-alphabranch?

[2018-10-22 15:48] billsacks commented on #119
Yet again, the fragile regular expression matches on compset are causing problems and slowing us down (for example, see the change I needed to make in https://github.com/ESCOMP/CESM_CICE5/pull/11/commits/ac908accf1fe25191d09489ec1fcb77d4903df7e)

[2018-10-22 16:17] dqwu opened #2867 "3 cime_developer tests failed on anlworkstation"
For ERI.f09_g16.X and ERIO.f09_g16.X, the output log has:
[code]

For PET_P4.f19_f19.A, the output log has:
[code]

It looks like a regression, as they passed on anlworksation before 2018-09-25,
with commit 3effd6a824e1a4dc90efba4e068e7de8f4708c44

I looked at recent CDash builds, these tests also failed on melvin:
[code]
Is this a known issue? Is it caused by a recent PR merged to master branch?

[2018-10-22 16:45] jgfouca commented on #2867
Hi @dqwu , these are known to be broken. They were broken by the big nuopc PR a few weeks back. @jedwards4b and I are working on it.

[2018-10-22 16:46] jedwards4b commented on #2867
I know about the X one - what is the A case issue?

[2018-10-22 23:01] osculation opened #2870 "need cross instance communicators for data assimilation"
There is no communicator for  multi_driver mode  case to  collect data from different instance.
I  will submit a pull for the create the  communicators.

[2018-10-23 00:38] jedwards4b commented on #2870
There is actually - it's the esp component.   I suggest that you discuss your intent with @gold2718 and myself, we may be able to guide you to a solution.

[2018-10-23 00:58] gold2718 commented on #2870
@jedwards4b, This is a different application with different communicators needed. I suggested posting this issue so we can clean up Yun's implementation via a related PR. That is why I self-assigned the issue.

[2018-10-23 16:56] #2686 closed

[2018-10-23 20:32] billsacks opened #2871 "strm_datdir not set for datm mode CLM_QIAN_WISO"
@mathewvrothstein ran into an issue trying to run datm with mode CLM_QIAN_WISO: the file path for stream CLM_QIAN_WISO.TPQW remained set to null. I have tracked this down to a typo, which I'll fix in an upcoming PR.

[2018-10-23 20:37] dqwu commented on #2867
@jgfouca
On anlworkstation and melvin, both ERI.f09_g16.X and ERIO.f09_g16.X
are fixed by PR 2869. However, PET_P4.f19_f19.A still fails.

On melvin, we have:
[code]

[2018-10-23 20:51] jgfouca commented on #2867
@dqwu , yes, @jedwards4b and I are working on this last one (PET).

[2018-10-24 21:58] jgfouca commented on #2861
@jedwards4b , @sarich any updates? This is the last unresolved nuopc issue for e3sm (a fairly minor issue since e3sm is not using anything but mct).

[2018-10-24 22:09] jedwards4b commented on #2861
I dropped the ball, looking into it now.

[2018-10-24 22:32] jedwards4b commented on #2861
Okay I can reproduce the problem, that's a start.

[2018-10-24 22:53] kdraeder commented on #2808
I've used shr_mpi_barrier to track the original hanging problem back to
gravity_waves_sources.F90:ghost_array.
The 2 instances are using 216 tasks each (6 nodes each).
Tasks 0-109 and 216-325 do not print a diagnostic message
after the mp_recv3d call of the  'south' section
of the first call to ghost_array. The others do.
Each instance is missing prints from the first 110 tasks, including all 108

[2018-10-24 23:48] jgfouca commented on #2861
Once this goes in, I will retry the CIME update to E3SM.

[2018-10-25 13:03] kdraeder commented on #1798
@jedwards4b @gold2718 @jgfouca
Another piece that needs to be updated to recognize the new ocean resolution:
components/clm/bld/namelist_files/namelist_definition_clm4_5.xml

[2018-10-25 14:45] sarich commented on #2861
I don't have any updates. I think this branch can be put into a PR, with another issue made to  fix the E3SM/nuopc errors.

[2018-10-25 15:53] jedwards4b commented on #2861
@sarich I have an additional fix - can I just push to this branch?

[2018-10-25 15:54] kdraeder commented on #2831
@jedwards4b @rljacob
I believe that my fix is confusing the writing of other coupler aux hist files
having write frequencies higher than daily.
I haven't figured it out entirely, but thought that someone should know
sooner rather than later.  A symptom is that those files (ha2x1h*, ha2x3h)
have 0 times written to them.

[2018-10-25 15:56] sarich commented on #2861
Yes, please do

[2018-10-25 17:02] #2861 closed

[2018-10-25 17:03] #2867 closed

[2018-10-25 17:12] billsacks commented on #2831
@kdraeder remind me: was your fix just https://github.com/ESMCI/cime/pull/2832? I can't see how that one would possibly affect other aux hist files....

[2018-10-25 18:32] kdraeder commented on #2831
I believe that by adding the TOD to the file names
I confused the mechanism for deciding whether
a call is "first_call", how to find an existing file, etc.
I'm still figuring it out.

[2018-10-25 20:48] jgfouca opened #2878 "Still having nuopc problems for e3sm on melvin"
[code]
The file in question is /home/jgfouca/acme/scratch/scripts_regression_test.20181025_144318/TestCreateNewcase/testcreatenewcase.nuopc2/env_case.xml

[2018-10-25 20:57] jedwards4b commented on #2878
I forgot to add a file to that branch -
cp src/drivers/nuopc/cime_config/config_component_cesm.xml  to  src/drivers/nuopc/cime_config/config_component_e3sm.xml

[2018-10-26 02:03] kdraeder commented on #2831
Some progress; I fixed the file names to which the data
should be written to use the end of the forecast,
instead of the current time.  So all the right time slots
are written to the right files.
But all the fields are 0s.
The caseroot is /gpfs/fs1/work/raeder/Exp/Debug_ha_no_times.
There are sourcemods with my file name fix.

[2018-10-26 14:39] kdraeder commented on #2831
The overall problem is that data assimilation uses forecasts
shorter than a day, while the coding in seq_hist_mod.F90
and cime_comp_mod.F90 assumes runs of an integral number of days.
When creating the auxiliary coupler history files,
there's a complicated interplay between the length of the
run and the data frequencies on the files that determine
when the data for the files should be generated
an

[2018-10-26 16:38] billsacks commented on #2831
@kdraeder my understanding is that the problem actually came in with https://github.com/ESMCI/cime/pull/2782 -- is that your understanding, too?

[2018-10-26 16:54] kdraeder commented on #2831
@billsacks #2782 was the first time I dealt with seq_hist_mod.F90
and it did have to do with file names, but it was a separate issue,
in my mind.  If you think they are related enough by the thread
of multi-instance data assimilation, feel free to link them somehow.

[2018-10-26 17:42] billsacks commented on #2831
For the record: At our meeting, we clarified that neither of @kdraeder 's recent PRs broke anything new (as far as we can tell); the problem is just that #2832 was not a complete fix. @kdraeder is going to make some one-off fixes on a branch for his applications. I'm going to close this issue. @kdraeder feel free to open other issues if you feel there are still things that need to be resolved on m

[2018-10-26 17:42] #2831 closed

[2018-10-26 20:19] naromero77 opened #2880 "query_config --components yields multiple warnings"
This is a buglet that can found in the version of CIME that is in E3SM develop. I was told to file a CIME GitHub issue instead of an E3SM GitHub issue.

If I do:
`./query_config --components | grep -i WARNING`

there are several warnings from missing config_file:
[code]

[2018-10-26 20:34] naromero77 opened #2881 "xmlchange MPI_RUN_COMMAND does not properly insert ${EXEROOT}"
This a buglet against the version of CIME that is in E3SM master.

There are times when it is necessary to override the mpirun command on a per case basis. For example, use the Intel VTune profiler to gather performance data on a workload. In such instances, you need to modify the mpirun command with extra long arguments. For example:
[code]
However, this does not properly substitute the value of

[2018-10-26 21:14] jedwards4b commented on #2880
I think that the issue is that the e3sm config_files.xml points to several non-existent xml files. The fix is simply to remove these references from config_files.xml or provide the files.

[2018-10-26 21:56] #2881 closed

[2018-10-26 22:04] #2878 closed

[2018-10-27 17:00] #2871 closed

[2018-10-27 18:33] ekluzek opened #2885 "Non transient compsets wtih _BGC%B?R? set CO2C, but then don't work with DATM"
@Katetc pointed out this problem to me, and I verified it by looking at the lasted code on master.

Driver config_component_cesm.xml has this...

[code]

So when _BGC%B?R? is set CO2C is set, but when DATM is being used and it's not a transient simulations, CO2 isn't sent from it, as follows...

[code]

I think what should happen is that DATM  should react to the CCSM_BGC setting and turn on DATM_

[2018-10-27 18:34] ekluzek commented on #2885
Since, we now have CO2 files with latitude bands, as well as monthly data rather than yearly, there is additional reason to have CO2 1850_control and 2000_control configurations added.

[2018-10-29 15:36] jhkennedy opened #2886 "CHARGE_ACCOUNT no longer allows for sub-projects"
When using the `-p/--project` option in CIME, it is assumed that the account to charge for compute time and project directory are the same. However, on machines like Titan and Summit, time often needs to be charged to a subproject like `cli106ice`, but the project directory doesn't reflect the subproject name (`/lustre/atlas/proj-shared/cli106ice/` is not a valid path, and instead should be `/lust

[2018-10-29 16:08] billsacks commented on #2886
@jhkennedy - I may be remembering/understanding wrong, but I don't think that simply reverting #2763 is the right answer here. According to the `create_newcase` documentation:

[code]

yet without #2763 setting `--project` has no effect on the account code used, at least on some machines. Can you state your suggested user interface for setting both project and charge accounts? I'd argue (fairly st

[2018-10-29 16:33] jhkennedy commented on #2886
@billsacks you're definitely right about the lack of documentation of how these two options interplay -- I'll update that for sure for whatever fix we come up with.

[2018-10-29 17:50] billsacks commented on #2886
@jhkennedy I'm pretty sure that, in my case, I had project set in some way (either in my environment or via a .cesm_proj file), but _not_ CHARGE_ACCOUNT. Prior to #2763 , the logic for CHARGE_ACCOUNT didn't work exactly as it was documented: The actual operation of step (4) in the hierarchy should have been stated (more precisely) as: "default to value given by get_project". Note that `get_project

[2018-10-29 17:53] billsacks commented on #2886
Because a code diff is worth 1000 words, here's what I meant, without the changes that would be needed on the caller end, and without any added documentation:

[code]

[2018-10-29 19:11] jhkennedy commented on #2886
@billsacks Ah, I see the problem! (Note: below is looking at the code after the revert)

So here: https://github.com/ESMCI/cime/blob/e19de7babd0d86824f009ef90839d36869f8d7bf/scripts/lib/CIME/case/case.py#L888-L891

`project` is the project that was set at the command line, and is then set with `self.set_value(...)`. Then the charge account is set like: https://github.com/ESMCI/cime/blob/e19de7babd

[2018-10-29 19:24] jhkennedy commented on #2886
@billsacks if my diff looks good to you, I'll fix the docs and open a PR.

[2018-10-29 19:29] sarich commented on #2886
@jhkennedy

#2763 forces the CHARGE_ACCOUNT to use the command-line --project value **only** if the separate charge account is never set. This is definitely not clear from the PR comments, but should now be correct in terms of the heirarchy.

Are you having an actual problem with the desired CHARGE_ACCOUNT getting overwritten, or just anticipating a problem from the comments?

In any case, I like

[2018-10-29 19:36] sarich commented on #2886
No, you're right, #2763 doesn't do it right.

[2018-10-29 19:40] jhkennedy commented on #2886
@sarich yeah I wasn't able to get a job running on Titan today using a subproject which is how I found the issue. Tricky little problem to get both working!

[2018-10-29 19:54] billsacks commented on #2886
@jhkennedy yes, I agree that your solution is simpler, given the calling order. I'm happy with that - thanks.

[2018-10-29 22:03] billsacks opened #2890 "PR #2804 broke builds with mpi-serial"
#2804 added, among other things, a reference to `MPI_ADDRESS_KIND`. Builds with mpi-serial are now failing (example: `SMS_Mmpi-serial_P1x1.f09_g16.S.cheyenne_gnu`) with:

[code]

I see MPI_ADDRESS_KIND defined in `src/externals/mct/mpi-serial/mpif.F90`, but I'm thinking that the issue is that component_mod has:

[code]

but NOT

[code]

Should this be changed to `use mpi`, or should mpi-serial be

[2018-10-29 22:07] billsacks opened #2891 "Add / change a cime_developer test to use mpi-serial"
As illustrated by #2890 , it would be helpful if the cime_developer suite had at least one test that used the mpi-serial library. This could be done by adding a short smoke test or by changing an existing test to use a single processor with the mpi-serial library. An A compset would give test coverage of the data models, but an X or S (all-stub) compset would be sufficient for testing the build of

[2018-10-29 22:08] jedwards4b commented on #2890
I vote for removing the include and replacing with use.

[2018-10-29 22:14] billsacks commented on #2890
@jedwards4b I just tried that; it didn't work: During the link, it generates:

[code]

[2018-10-29 22:16] jedwards4b commented on #2890
It looks like we have more that one inconsistency between the mpiF.h and mpi.mod -
we could fix them or you could add an only clause to your use mpi statement.

[2018-10-30 02:43] billsacks commented on #2890
@jedwards4b @jhkennedy @rljacob - I'm struggling with how to move forward here. I'd really like to get the latest cime into CTSM, but we rely on mpi-serial pretty heavily in our testing.

One proposal I'd like to make is to temporarily back out #2804 , make a cime tag that we can use in CTSM and CESM, then we can reapply #2804 once we have a fix for mpi-serial. Is that path forward acceptable to a

[2018-10-30 02:55] billsacks commented on #2890
I'll add that the answer, "We should stop supporting mpi-serial" is acceptable to me, personally....

[2018-10-30 11:32] billsacks commented on #2890
@rljacob - mpi_attr_get was just recently added to the driver code in #2804 , which is why we're first finding this issue now.

@ekluzek do you feel it's acceptable for CTSM to stop testing with mpi-serial, or do you feel this is a critical configuration that still needs to be supported?

[2018-10-30 13:43] rljacob commented on #2890
Sorry I misread what happened.

@jhkennedy you want to try adding mpi_attr_get to mpi-serial?  Only the version of that function that you call.  It looks simple enough.

[2018-10-30 13:44] jedwards4b commented on #2890
@billsacks I agree with @rljacob it should be easy to add that function to mpi_serial

[2018-10-30 13:47] jhkennedy commented on #2890
@billsacks one way to get you moving forward quickly would be to take out the check against the max MPI tag -- that only serves to throw an exception if it's exceeded, but MPI itself will do that with a decently descriptive message as well. This exception really just adds a message that contains what the max tag is for that machine, so I don't think removing it would be a big problem as both the M

[2018-10-30 13:56] rljacob commented on #2890
Yes if you don't need that function that's even better.

[2018-10-30 14:39] jedwards4b commented on #2890
@jhkennedy can you also change one of the cime-developer tests to use mpi-serial?
I think this one https://github.com/ESMCI/cime/blob/master/scripts/lib/get_tests.py#L67
would be a good choice - just add _Mmpi-serial

[2018-10-30 15:21] ekluzek commented on #2890
I think mpi-serial is important for a couple of different reasons. First it's the simplest build/run configuration. It's the easiest thing you can setup for a new machine or compiler. For CTSM it's pretty critical because running with a single processor for a single grid-cell is actually an important configuration for us. There's a lot that can be done with running that single-point. Technically y

[2018-10-30 15:22] billsacks commented on #2890
Thanks, @jhkennedy this looks like a good solution. I appreciate your help getting this working!

[2018-10-30 15:33] jhkennedy commented on #2890
@jedwards4b -- that's a good idea -- I'm running the tests now, so a PR should be coming soon.

@ekluzek -- thanks! That's good insight. My fix should keep mpi-serial wroking

@billsacks -- No problem! I broke it, so I should fix it!

[2018-10-30 18:37] #2890 closed

[2018-10-30 19:15] billsacks commented on #2891
@jhkennedy did this in #2892 - thanks, Joe!

[2018-10-30 19:15] #2891 closed

[2018-10-31 04:31] rljacob opened #2893 "shr_spnf_mod.F90 special functions, compilers, performance."
The shr_spfn_mod module in src/share/util defines special functions like erf for F2008 compilers that don't have them  OR compilers where the intrinsic is slower then the coded version.

The comments are from 2015:
[code]

The Intel performance may need to be revisited.

Maybe NAG 6 has the intrinsics?

Experiments by @shz0116 for E3SM show that a routine like ndrop.F90 will vectorize better IF it

[2018-10-31 04:44] rljacob commented on #2893
See https://github.com/E3SM-Project/E3SM/pull/2586 for more discussion.

[2018-10-31 12:15] billsacks opened #2894 "Starting with #2811, lnd2glc_averaged_now driver variable not set properly"
Starting with #2811 (the big nuopc merge), lnd2glc_averaged_now isn't updated properly in the driver loop. This leads to an error like the following for year+ runs with `histaux_l2x1yrg = .true.`:

[code]

I have a fix for this; I'll open a PR once I'm done testing.

[2018-10-31 15:06] #2894 closed

[2018-10-31 15:49] kdraeder commented on #2808
@fvitt  added a fix to dp_coupling.F90 related to the gravity wave drag,
and also identified (along with @brian-eaton ) that a line in cam/cime_config/buildnml
was defining CAM's npr_yz to be (1,1,1,1), which tried to run the whole domain
on one task.  Replacing that line with what was intended to be the default
fixed both this issue and the problem I was having with (s)lon in initial files
being

[2018-10-31 15:49] #2808 closed

[2018-10-31 17:00] billsacks opened #2896 "PR #2811 accidentally reverted a regex change in hist_utils.py"
PR #2811 (the big nuopc merge) accidentally reverted a regex change in hist_utils.py:get_extension that was made in #2728 . This causes failures like this (this just shows up in a single test in the CTSM test suite; I don't expect this is a common problem):

[code]

I am reconciling the changes in #2811 with those in #2728 to come up with new regex logic for this function. I'll submit a PR with a

[2018-10-31 19:36] rljacob commented on #2816
Discussion on telecon:  any averaged file where the restart is in between history writes won't work.  Code to save intermediate average isn't in the mct coupler.

[2018-10-31 21:11] rljacob commented on #2880
We should remove the references.

[2018-10-31 23:41] #2896 closed

[2018-11-01 17:27] billsacks opened #2898 "Rework #2828 to avoid changing answers for E3SM"
#2828 updated datm in a way that likely affected e3sm as well as cesm, but these changes aren't actually wanted in e3sm (yet). @ekluzek will rework this to distinguish between cesm and e3sm.

Initial questions before @ekluzek tackles this:

(1) @jgfouca can you let us know once you have confirmed that that PR was indeed responsible for some of the unexpected diffs you were seeing?

(2) @rljacob an

[2018-11-01 18:15] shz0116 commented on #2893
Which compiler you have in mind ? In file
cime/config/e3sm/machines/config_machines.xml, it looks only intel compiler
is supported on cori-knl.

shan

On Wed, Oct 31, 2018 at 6:45 AM jedwards4b <notifications@github.com> wrote:

[2018-11-01 18:50] jedwards4b commented on #2898
I'm pretty sure that they are only working with master and not maint-5.6

[2018-11-01 19:39] rljacob commented on #2898
Just master.

[2018-11-01 19:49] rljacob commented on #2893
Yes its more the compiler version.  Any machine can that has it can be used.

[2018-11-02 01:50] Sanghoon-Shin opened #2899 "Error in creat_newcase"
I am trying to run CLM for global scale in 0.5 degree (i.e., 720x360 grids).

I tried several compsets using the following command: For example,
“/create_newcase --case ~/ex1 --compset I2000Clm40SpCruGs  --res hcru_hcru --run-unsupported”
“/create_newcase --case ~/ex1 --compset IHistClm40SpCruGs  --res hcru_hcru --run-unsupported”
…. and others .....

I am repeatedly getting the error message as f

[2018-11-02 12:43] jedwards4b commented on #2899
Please use the user forum for this type of question http://forum.cgd.ucar.edu/
Cheyenne requires that you supply a user account.   You can do this on the command line with --project (see https://esmci.github.io/cime/Tools_user/create_newcase.html)
See also
https://esmci.github.io/cime/CIME_api/CIME.html?highlight=project#CIME.utils.get_project
Hierarchy for choosing PROJECT: 0. Command line flag t

[2018-11-02 12:43] #2899 closed

[2018-11-02 18:38] Sanghoon-Shin commented on #2899
The project name (using --project) should be specified even if it is an optional variable.

[2018-11-02 18:47] jedwards4b commented on #2899
That depends on the system and on the user environment.

[2018-11-06 21:49] billsacks opened #2903 "Short-term archiver mis-identifies latest set of restarts when crossing y10k boundary"
(This bug was found with cime_cesm2_0_rel_04, but it looks to me like the same bug would exist on cime master.)

When running a case that crossed the y10k boundary - i.e., going from year 9000-something to year 10000-something, @d80ngv hit an issue with the short-term archiver: It seems to have mis-identified the latest set of restart files, so it threw away the restarts with year 10000-something,

[2018-11-07 14:45] jgfouca commented on #2898
@billsacks , confirmed. The change to namelist_definition_datm.xml causes the DIFF.

[2018-11-07 15:48] billsacks commented on #2898
Thanks, @jgfouca . So, @ekluzek can you please make this change on master when you get a chance in your schedule?

[2018-11-07 17:48] ekluzek commented on #2898
OK

[2018-11-08 17:29] mnlevy1981 opened #2906 "python 3 incompatibility"
@matt-long ran into this issue building a `G1850ECOIAF` compset on cheyenne with `T62_g17` resolution, and I can reproduce this error. Both of us are using `cesm2_1_alpha01d`, which includes CIME tag `cime_cesm2_1_rel_02`. The error comes from `case.submit`:

[code]

But I think it can be detected after `./case.setup`:

[code]

[code]

Notice that python3 writes `mpiprocs` with a decimal point rat

[2018-11-08 17:42] alperaltuntas commented on #2906
PR #2859 solves this issue.

[2018-11-08 17:47] mnlevy1981 commented on #2906
Oops, I missed the closed ticket (and merged pull request) when looking to see if this had been reported. I've verified that the issue is resolved by updating to `cime_cesm2_1_rel_03` so I'll close this ticket.

[2018-11-08 17:47] #2906 closed

[2018-11-09 21:55] ekluzek opened #2907 "DATM_CLMNCEP_YR_END should only go to 2014 for the GSWP3v1 forcing"
[code]

[2018-11-12 18:59] ekluzek commented on #2898
OK, I took a look and it looks correct to me. I made one comment that you can take or reject.

[2018-11-12 20:32] ekluzek commented on #2640
This had already been merged in.

[2018-11-12 20:32] #2640 closed

[2018-11-13 18:58] rljacob opened #2909 "River 2 land interpolation and irrigation"
Here's an issue involving interpolation that maybe can't be solved by a better interpolation method.

(this is for E3SM)
When irrigation is turned on, the demand is calculated in ELM on the land grid (about 1 degree).   Its a field with sharp gradients.  The demand is interpolated to the river model (MOSART) grid (0.5 degree) with a conservative method.  The river model then determines how much is

[2018-11-14 16:54] billsacks commented on #2909
@swensosc and I solved the irrigation remapping problem in CESM by (1) having a custom remapping algorithm for irrigation, which withdraws water from each river cell proportionally to the river volume in that cell (see cime/src/drivers/mct/main/map_lnd2rof_irrig_mod.F90 and related code), and (2) having the capability for CTSM to limit its irrigation rate based on currently-available river volume.

[2018-11-14 20:34] billsacks commented on #2909
@rljacob on the cime call, I said that I can see how our method could lead for a given river cell's volume to be double-drawn-down, if it overlaps with two land cells. But I think I mis-spoke: Looking more carefully at how river volume (volr) is mapped from rof -> lnd, it looks like this is properly accounted for. For example, if a given river cell overlaps equally with two land cells, then (if I

[2018-11-14 21:42] hydrotian commented on #2909
@billsacks Thanks for the input! I'm working on the irrigation algorithm in E3SM. The reason we need to send the water back and forth is because we implemented water supply reservoirs in E3SM, which need to collect the demand information from the downstream grid cells and then decide how to distribute the irrigation water based on that. In another word, the supply in each land grid is not only fro

[2018-11-14 21:47] billsacks commented on #2909
Thanks @hydrotian . I can't say I fully understand it from these slides, but thanks for clarifying that there are some additional factors at play on your end.

[2018-11-14 21:51] hydrotian commented on #2909
@billsacks So if I understand correctly, your irrigation scheme is evaluating the water volume in the river from the land model side and use that to constrain the irrigation. No demand information will be sent from land to river model. Is that right?

[2018-11-14 21:56] billsacks commented on #2909
Right.

[2018-11-15 17:00] fischer-ncar opened #2910 "Zero size inputdata file created when file isn't availble from the data repo."
I've run into a problem where an inputdata file of 0 size is created.  This happens when the file needs to be
downloaded from the data repo, but it isn't available.

Reproduce the problem using cesm2_1_alpha01e.  Change your DIN_LOC_ROOT, then.
./create_test ERS_Ld5.f09_g17.B1PCTcmip6.cheyenne_intel.allactive-defaultio_min

inputdata/atm/waccm/lb/LBC_CMIP6_1pctCO2_y1-165_GlobAnnAvg_0p5degLat_c1809

[2018-11-15 17:58] jgfouca opened #2911 "Need test for configure tool"
The configure tool (scripts/tools/configure) has been broken for a while and we didn't notice it. I've fixed it in E3SM. After the next split, we should add a test for it so we catch problems in the future.

[2018-11-15 17:58] jgfouca commented on #2911
@rljacob , @brhillman

[2018-11-15 18:13] jedwards4b commented on #2911
The configure tool is in tools/configure.   It would help if the issue included details about how it is broken.
[code]
note that this occurs on master but not maint-5.6 (we are planning a new maint-5.6 release soon and so I thought it important to verify this).

[2018-11-15 19:52] jedwards4b commented on #2911
A test in scripts_regression_tests.py could run the configure script and compare the resulting Macros.make and env_mach_specific.xml to those generated in a case.   They should be the same.

[2018-11-15 20:58] jgfouca commented on #2911
@jedwards4b , yes, that would be a good test.

[2018-11-16 17:54] jedwards4b commented on #2910
Ideally an md5 checksum should be performed on the downloaded file.

[2018-11-16 18:41] billsacks opened #2912 "Inclusion of time in cpl aux hist file names requires dlnd update"
In #2782 , @kdraeder changed the format of the cpl aux hist file names to include a 5-digit timestamp in addition to the date. However, this line in dlnd needs to be updated to use files with this format:

https://github.com/ESMCI/cime/blob/a0c20f0892f73e1dcd22701acb29e7146d41238d/src/components/data_comps/dlnd/cime_config/namelist_definition_dlnd.xml#L128

Fixing this should be fairly easy, consi

[2018-11-16 19:00] billsacks opened #2913 "More flexible handling of domain information on cpl aux hist files"
Currently, when writing cpl auxiliary history files, domain information is only written to the first file. I believe this is the logic that implements that behavior:

https://github.com/ESMCI/cime/blob/a0c20f0892f73e1dcd22701acb29e7146d41238d/src/drivers/mct/main/seq_hist_mod.F90#L1223-L1226

This can be problematic when you want to do a later cplhist-forced run with a subset of the forcing data:

[2018-11-16 22:51] billsacks commented on #2912
From an email from @kdraeder

[2018-11-22 12:14] billsacks opened #2916 "PET test does baseline generation and comparison twice"
I noticed that the PET test is doing baseline generation and comparison twice: once before the base vs. single-therad comparison and once after it.

While this doesn't cause any major problems that I can see, it is a bit confusing, especially when looking at the copied cprnc.out files in the test directory from a failed baseline comparison (which contain two copies of the cprnc output concatenated

[2018-11-22 12:26] billsacks opened #2917 "GENERATE and BASELINE phases fail for PFS test"
Running a PFS test without any testmods, I get failures in both the GENERATE and BASELINE phases.

The BASELINE failure looks like this:

[code]

The GENERATE failure is less graceful, involving an uncaught exception:

[code]

The problem is that, unlike most tests, the PFS test deliberately does not generate any history files. Should there be some mechanism for a given test to be able to say: ski

[2018-11-22 12:30] billsacks opened #2918 "PFS test should save timing output to the baseline directory"
It would be very useful if the PFS test saved timing output to the baseline directory. That way, if you have a PFS test in the test suite, you can more easily compare the current timing with the previous timing.

I'm thinking it may be hard to customize baseline generation for a single test type like this; if so, maybe we should just save the timing files for all tests. (Those files are typically

[2018-11-22 14:40] jedwards4b commented on #2917
I have a fix for this on the nuopc branch.

[2018-11-27 16:19] mnlevy1981 opened #2922 "Update hobart PGI compiler"
PGI 18.10 is available on hobart, and it would be great if `config/cesm/machines/config_machines.xml` was updated to use it (we want to remove a PGI bug workaround from MARBL, but can't do that if CESM is still using a buggy version of the compiler).

I'm happy to put together a PR if someone lets me know the target branch / branches.

[2018-11-27 16:22] jedwards4b commented on #2922
maint-5.6 and master

[2018-11-27 22:27] jgfouca opened #2927 "Support multiple queue matches"
On sandia machines, the "short" queue for small jobs generally gives you a shorter wait time and should thus be preferred if your job qualifies for it. However, sandia admins are sometimes seeing long lines for the short queue while the main "batch" queue has lots of free nodes. We want to request the short queue with an optional fallback to the batch queue. This can be done from the command line

[2018-11-27 23:44] rljacob commented on #2927
You want CIME to query the queue system to determine which one to submit to?

[2018-11-27 23:46] jgfouca commented on #2927
@rljacob , it already does that unless the user requests a specific one. What I want is, instead of stopping at the first compatible queue, continue iterating over queues and find all the compatible ones, and then let the batch system know that any of them would be acceptable for the job.

[2018-11-28 00:00] rljacob commented on #2927
You can submit a job with multiple "-q" options and let the system pick?  I didn't know that.

[2018-11-28 00:01] jgfouca commented on #2927
@rljacob , yes, I'm positive that slurm supports that and I wouldn't be surprised if other queue systems do too.

[2018-11-28 22:58] #892 closed

[2018-11-28 22:58] #589 closed

[2018-11-28 22:58] #1146 closed

[2018-11-28 22:58] #1147 closed

[2018-11-28 22:58] #1908 closed

[2018-11-28 22:58] #2851 closed

[2018-11-28 22:58] #2852 closed

[2018-11-28 22:58] #2912 closed

[2018-11-29 21:46] serbinsh opened #2929 "Error in cime_cpl_init while running in singularity container"
I am running into this error when attempting to execute a model after compilation

[code]

I am attempting to run CLM5 based on this testcase
./create_newcase --case testcase20 --compset I2000Clm50BgcCru --mach modex --res f09_f09 --project testing --run-unsupported

I am running in a singularity container with:
netCDF 4.6.2
HDF5 1.10.4
gcc 5.5.0
openMPI/mpirun 2.1.5

As i mentioned, I was able to

[2018-11-29 21:47] serbinsh commented on #2929
Please let me know if this should be posted elsewhere but it seemed like a CIME issue, though could be CTSM?

[2018-11-29 21:50] ekluzek commented on #2929
This looks like an error in reading the namelist in cime_cpl_init. Look at the driver namelist carefully and see what might be wrong with it. The traceback should also give you the traceback so you can figure out which namelist it is. You might also try making some changes in the namelist to get past the problem...

[2018-11-29 22:08] serbinsh commented on #2929
Thanks @ekluzek Real quick, which is the "driver" namelist that cime_cpl_init is trying to access?  Also not sure I know how to run a traceback on the error stack or which log it is in.  I cant seem to find the detailed log in cesm log.  I guess I am not exactly sure which nl it is complaining about

[2018-11-29 22:12] ekluzek commented on #2929
I was hoping it would be in the cesm.log file. It did seem to do a traceback so I expected that it would go there. You can check the driver code for the write statement it does when it dies and see if that helps you figure out the namelist. But, it also might have the same error for more than one namelist. Hence, why I was hoping it would be in the cesm.log file. But, you might also clean the buil

[2018-11-29 22:20] serbinsh commented on #2929
Trying debug now....hope it will provide a bit more.

[2018-11-29 22:35] serbinsh commented on #2929
A little more output

[code]

[2018-11-29 22:44] ekluzek commented on #2929
So look on line 4105 of cime_comp_mod.F90 that's in cime/src/drivers/mct/main.

[2018-11-30 15:46] serbinsh commented on #2929
@ekluzek so here is the block of code containing 4105

[code]

Specifically this is 4105 ' end of file or end of record condition' ) or what we see in the error log.

I am still trying to figure out what namelist it is reading here since perhaps its actually not being generated or in the case dir? Perhaps I am not setting up the case properly?

[2018-11-30 15:52] jedwards4b commented on #2929
It's reading the namelist cime_driver_inst from the file drv_in that namelist has exactly one variable
[code]

[2018-11-30 16:50] serbinsh commented on #2929
Is this the nl its trying to use?

&modelio
  diri = "/root/ctsm_output/CLM5_1543595736/bld/cpl"
  diro = "/root/ctsm_output/CLM5_1543595736/run"
  logfile = "cpl.log.181130-114530"
/
&pio_inparm
  pio_netcdf_format = "64bit_offset"
  pio_numiotasks = -99
  pio_rearranger = 1
  pio_root = 1
  pio_stride = 1
  pio_typename = "netcdf"
/

[2018-11-30 16:51] jedwards4b commented on #2929
@serbinsh The file is drv_in, the namelist is cime_driver_inst.

[2018-11-30 17:20] serbinsh commented on #2929
@jedwards4b thanks.  Indeed I see that list and it is setup as you posted.  not sure why it is complaining about this list then.

[2018-11-30 18:49] serbinsh commented on #2929
@jedwards4b I changed the dir permissions all to 777 and it still crashes.  I will try the same run again on our modex cluster but it seems it runs fine there.  I thought perhaps it had to do with the way the exe was being run with the MPI libs but the run crashes even if I  just run /root/ctsm_output/CLM5_1543597800/bld/cesm.exe

that said I have mostly been testing using --no-batch

[2018-11-30 19:17] jedwards4b commented on #2929
You might try replacing
[code]
in env_mach_specific.xml with
[code]
to see if that sheds any light on the problem.

[2018-11-30 21:49] serbinsh commented on #2929
is there somewhere I can look at details what specific programs or code is used to read namelists in the compiled binary?  Perhaps there is something related to the libs or versions I used?  I can run the same cases on my modex cluster, I just cannot seem to get past this namelist error on my singularity build...but its a pretty basic build and mimics my cluster setup

[2018-11-30 21:50] serbinsh commented on #2929
@jedwards4b sorry for some reason I didnt see your response until after i posted my message, I will give it a try

[2018-11-30 21:57] serbinsh commented on #2929
Here is what the cesm log shows:

[code]

[2018-11-30 22:06] serbinsh commented on #2929
Hang on....I think I found out what was wrong, though I have no idea why this would have caused the problem.

I am still trying to sort my way around using a singularity container for CTSM and presently I am dealing with building a test environment in the shell.  But when you use the shell you are "root" which leads to other challenges. For example you shouldnt really run mpirun as root so a work

[2018-11-30 22:08] serbinsh commented on #2929
...that said, the ultimate solute is to setup the container to run externally and avoid a root user.  I suppose this was an issue from the circumstance of attempting to start a run inside the container

[2018-11-30 22:08] rljacob commented on #2929
I think you are blazing a new trail in trying to get CESM to run in a singularity container.

I would start with just trying to get CIME standalone to run.  Clone it from this repo and build a cime-only case like --compset X --res f19_g16

[2018-11-30 22:13] serbinsh commented on #2929
![screen shot 2018-11-30 at 5 11 04 pm](https://user-images.githubusercontent.com/3067369/49317601-20269680-f4c3-11e8-8f14-780ee62cd32c.png)

so its running, but as ...[clears throat].... as root.  Good thing I have a test cluster for these things.

[2018-12-03 21:14] mnlevy1981 commented on #2911
@jgfouca What is the fix to get the script working? I was about to open an issue because I just ran into the configure error (will switch to `maint-5.6` in the meantime)

[2018-12-03 21:18] jgfouca commented on #2911
@mnlevy1981 , I did the E3SM split, so master should have the fix. It's:

https://github.com/E3SM-Project/E3SM/pull/2626

[2018-12-03 21:18] mnlevy1981 commented on #2911
Apologies for the above, my git remotes were not set up the way I thought they were... latest ESMCI master does indeed work for me

[2018-12-03 22:24] #2917 closed, assigned to jedwards4b

[2018-12-03 22:52] jgfouca commented on #2161
Upon case.__exit__ all XML files call write, even for read-only cases. If we do a timestamp check there, we should at least be able to raise an error if it looks like a file was changed without CIME's knowing about it.

[2018-12-03 23:00] jgfouca commented on #2161
One last comment: the reason this issue has been been painful for us is because we are using CIME's XML files like a database (multiple processes accessing concurrently) without using a proper database. That said, with the additional checks I'm pushing today, I feel like we are robust enough to close this issue for now.

[2018-12-03 23:28] jedwards4b opened #2933 "perf_mod duplicated code"
The recent merge of nuopc-cmeps in PR #2930 caused some code to be duplicated in perf_mod.F90
I'll have a fix soon.

[2018-12-04 18:51] #2933 closed, assigned to jedwards4b

[2018-12-05 23:54] rgknox opened #2935 "generate netcdf input parameter files during testing "on-the-fly"?"
In the FATES project, we maintain the text (i.e. cdl) version of our "default" input parameter file used exclusively for fates parameters.  We like this because it allows us to maintain these defaults in version control and thus have some provenance.

Thus far, whenever we change this default parameter file, I build a new netcdf binary file (i.e. the .nc equivalent), give it a new time-stamp in th

[2018-12-05 23:57] rgknox commented on #2935
We have some discussion on our project page here as well:
https://github.com/NGEET/fates/issues/444

[2018-12-06 01:44] jedwards4b commented on #2935
@rgknox - why doesn't the existing cime infrastructure for dealing with namelists meet your needs?
Look for example at https://github.com/ESMCI/cime/blob/master/src/drivers/mct/cime_config/namelist_definition_drv.xml

[2018-12-06 12:18] billsacks commented on #2935
@rgknox we should talk about this. I may be missing some subtlety that makes your use case differ from the overall CTSM use case, but my initial reaction is to agree with @jedwards4b as far as the storage of defaults goes. What we're planning for CTSM is to have the version-controlled storage of defaults look the same as what @jedwards4b pointed you to (which is roughly similar to what's currently

[2018-12-06 15:09] chance-nelson opened #2936 "ERROR: CIME models require NETCDF in PIO build"
### Details of support request

I am attempting to build a sample case in a Singularity container, but I am receiving errors concerning netcdf in the *case.build* step. I am not sure if I have an incorrect version of netcdf, or if I am simply pointing to the wrong directory. Any help would be appreciated!

### Important details of your setup / configuration so we can better assist you

**Machine I

[2018-12-06 15:36] jedwards4b commented on #2936
You are missing a lot of the expected output in the pio.bldlog.  I suggest that you remove the build directory (case.build --clean-all) and try again.   Look at the first line of the pio.bldlog - it should have NETCDF_PATH and PNETCDF_PATH listed.

[2018-12-06 16:42] chance-nelson commented on #2936
Thanks for the tip! I have ran a clean build, and have attached the entire build log. It seems that both paths are added through `NetCDF_PATH` and `PnetCDF_PATH`, and are what I expect from the `config_compilers.xml` entry. The configure script detects both netcdf and pnetcdf, but throws a warning about netcdf_fortran. Could this be my problem?

[code]

[2018-12-06 16:44] jedwards4b commented on #2936
Yes you need the netcdf fortran library.

[2018-12-06 17:42] briandobbins opened #2937 "create_newcase and trailing '/' on case name"
Hi all,

  This came up during some testing the other day - apparently creating a case with a trailing slash works fine (during create_newcase), but running a ./case.build on the created case will fail with the error:

ERROR: No default value found for case_name.

  Example:
create_newcase --case /home/foo/testcase_fails/ --compset B1850
...
./case.setup
...
./case.build
...
ERROR: No default valu

[2018-12-06 21:18] jedwards4b commented on #2937
@briandobbins thanks - I've pushed a fix to the aws-tutorial branch and also fixed on our main development branch.

[2018-12-07 00:09] rljacob commented on #2935
I think in the meantime you could use testmods for this.  You can put any shell commands in the testmods which could include NCO or similar calls to edit the netcdf file.

[2018-12-07 22:04] amametjanov opened #2942 "Allow CHARGE_ACCOUNT to be set from environment"
On a machine with multiple projects or multiple charge accounts (e.g. Theta), it is convenient to set PROJECT and CHARGE_ACCOUNT from env-vars. CHARGE_ACCOUNT always inherits PROJECT's value. It would be useful for it to be set from CHARGE_ACCOUNT env-var, when this var is defined.

[2018-12-07 22:36] sarich commented on #2942
This was hopefully fixed by ESMCI PR #2888. It looks like it hasn't been merged to E3SM yet.

[2018-12-07 23:08] jgfouca commented on #2942
@amametjanov , can you confirm that CIME (not E3SM) currently does what you want?

[2018-12-07 23:28] #2850 closed, assigned to jgfouca

[2018-12-09 12:13] billsacks commented on #2935
The plan we've discussed is to have scipy.io.netcdf copied into cime: it's just a single file, and that's the only file you need from scipy in order to have netcdf support. Then the dependency is just on numpy, which appears to be available on all supported CESM and E3SM systems (or at least, I think it was when we last evaluated this for different purposes a year or two ago). I agree that your ap

[2018-12-09 19:38] rgknox commented on #2935
that plan sounds effective @billsacks

[2018-12-10 17:49] #2942 closed

[2018-12-12 17:41] jedwards4b opened #2945 "docn_comp_mod illegal use of optional argument"
In docn_comp_mod subroutine docn_comp_run in both the nuopc and mct interfaces the variable case_name is declared as optional to the subroutine but is then used without checking for it's presence.   docn_comp_init calls docn_comp_run without this optional argument.

[2018-12-12 19:13] jgfouca opened #2947 "CIME exception handling needs some improvement"
Problems:
* The bare except pattern ("except:") is used too frequently throughout CIME. It's only safe to use this pattern if the exception is re-raised by the handling block. Incorrect use of this pattern can result in very strange behavior when the user does a keyboard interrupt. We could catch BaseException if we want to satisfy code checkers.
* We rely too heavily on SystemExit. SystemExit is

[2018-12-12 20:15] rljacob commented on #2947
From telecon:

See https://airbrake.io/blog/python-exception-handling/class-hierarchy

Maybe just need to get rid of the few bare "except:".   So don't need a subclass?

Stacktrace from normal errors were confusing to users.   Any error would generate it.

[2018-12-12 23:01] rljacob opened #2949 "data model processor limits"
Do the data models have limits on the number of processors they are run on ?  If so, some checking may need to be added for those limits.

Originally reported by Pat for datm.  He tried to run a DATM using T62 data on a 32000x1 decomposition and got a runtime error:

    20098:  ERROR: (shr_tInterp_getCosz)  ERROR: lon lat cosz sizes disagree

(many times - 11390 on Cori-KNL and 13952 on Titan), w

[2018-12-12 23:07] jedwards4b commented on #2949
I'll wager that the limit is 192*96 = 18432 - are you surprised?

[2018-12-13 22:13] #2947 closed

[2018-12-13 23:28] ekluzek opened #2952 "Add metadata on pole-fix to gen_domain files"
By our process new domain files created with gen_domain (under tools/mapping/gen_domain_files) for the fv grid need to have the pole option set (-p 2). The README in that directory claims it's optional, but it's really not. We also should place it's setting on the output file, so it would more obvious that you need to use it.

Something like

options = "-p 2"

to show what command line option was

[2018-12-14 18:23] fischer-ncar opened #2953 "Locked cice file causing failed build."
With the current cime master, getting the following build error when running
SMS_Ln9.f09_f09_mg17.F2000climo.cheyenne_intel.cam-outfrq9s.

    ...calling cice buildcpp to set build time options
ERROR: locked

[2018-12-14 20:59] jgfouca commented on #2953
I think @jedwards4b already fixed this. Are you on latest master?

[2018-12-14 20:59] jgfouca commented on #2953
Whoops, you said so in your ticket. @jedwards4b , did you push that fix you made?

[2018-12-14 21:03] fischer-ncar commented on #2953
This is using the fix that @jedwards4b.  He fixed the error for cam and pop, but then the cice error
came up.

[2018-12-14 21:07] jgfouca commented on #2953
Ah, my bad. So he just needs to replicate his fix in cice.

[2018-12-14 21:19] jedwards4b commented on #2953
For both pop and cam the values were changed while the file was not locked and then there was a second attempt to change the values (to the same value as the first time) and that failed because the file was locked.   My fix (work around really) was not to worry about the file being locked if you were trying to set the value to the current setting.   I'll need to take a closer look at what is going

[2018-12-18 20:43] jonbob opened #2954 "case_submit.py has an inaccurate test for continuing a run"
The test for making sure continue_run makes sense in case_submit.py is not really valid. There's a line that uses successful completion of a previous run as the test instead of checking for valid pointer files. That section of the script looks like:

    # Check if CONTINUE_RUN value makes sense
    if job != "case.test" and case.get_value("CONTINUE_RUN"):
        rundir = case.get_value("RUNDIR")

[2018-12-18 21:59] jgfouca commented on #2954
@jedwards4b , any thoughts on this?

[2018-12-18 22:11] jedwards4b commented on #2954
I see what he is saying - suppose a job is started to run for 10 years, writing restarts each year but the job fails in year 8.   Without this line the model can restart using the files written at the end of year 7.  With this line the user will need to manually remove  the CaseStatus file before they can submit a new run.

[2018-12-18 22:34] jgfouca commented on #2954
OK, i'll re-think it

[2018-12-18 22:38] jedwards4b commented on #2954
I think maybe if look for rpointer files in the run directory as well as *.nc and combine the two expect statements into one with or logic.

[2018-12-18 22:39] jgfouca commented on #2954
@jedwards4b , if you think you have a good solution, feel free to take this ticket.

[2018-12-19 13:30] billsacks commented on #2954
@jonbob raises a good point here: I agree that we should allow CONTINUE_RUN in this case, even though this wasn't a case that we considered when we were discussing the fix to #213 . Checking for rpointer files is reasonable, but I believe it wouldn't have actually helped with the problems that led us to open #213 : in those cases, I believe users manually prestaged the restart file set from the re

[2018-12-20 20:38] #2937 closed

[2018-12-20 20:46] #2954 closed

[2019-01-03 20:09] fischer-ncar commented on #2953
It's not just the cice locked file that's a problem.    I'm also getting pop and cam locked
file errors when I try generating baselines.

./create_test SMS.f09_f09_mg17.F1850.cheyenne_intel.cam-outfrq9s --generate remove_me
             ...calling cam buildcpp to set build time options
        ERROR: locked'

./create_test SMS.T62_g17.C1850ECO.cheyenne_intel.pop-ecosys --generate remove_me

[2019-01-03 22:45] billsacks opened #2963 "Remove support for building clm4.0"
In CESM, we're removing CLM4.0. This allows cleaning up some of the build logic in cime, since the clm4.0 library is handled differently from the modern clm library (the latter is done using a sharedlibbuild). I'll do this cleanup.

@rljacob @jgfouca @bishtgautam  I think the amount of cleanup I can do depends on whether you still use clm4.0 in e3sm. Can you please let me know if you do? I'm espec

[2019-01-03 22:49] rljacob commented on #2963
We have removed clm40.  @jgfouca had some other reason why we couldn't build the shared clm lib.

[2019-01-03 22:50] jedwards4b commented on #2963
If I remember correctly it was because the e3sm version of clm still has build time dependancies while these have all been removed from ctsm.

[2019-01-03 23:02] billsacks commented on #2963
Thanks, @rljacob . I'll move ahead with the more aggressive removal of all things clm4.0-related.

[2019-01-03 23:05] billsacks commented on #2963
Hmmm, before I move ahead with this, I want to double check: I do see this on e3sm master:

[code]

so I want to confirm: is that still present but unused?

[2019-01-04 15:41] mrnorman opened #2965 "Add compiler modifier for MAX_TASKS_PER_NODE, MAX_MPITASKS_PER_NODE, and mpirun arguments"
On Summit, we have an issue where the PE layout will be different for GPU and CPU runs. CPU runs should use 84 tasks per node while GPU runs should use 36 or fewer. I'd like to use the compiler as the modifier for this, e.g.,

[code]

It seems that CIME is not currently able to use a compiler modifier for these fields when parsing the XML file, but I think this will be necessary for CIME to suppor

[2019-01-04 15:47] jedwards4b commented on #2965
Have you considered defining two different machines?  summit and summit-gpu?  I think that this might be a cleaner solution.

[2019-01-04 15:50] mrnorman commented on #2965
That's what I'm having to do now. But I don't want the user to have to specify -mach "summit" when they're already on summit. It would seem better to allow the compiler to control these things and leave the machine defaulting to "summit". It would avoid duplicating entries in the XML files as well.

[2019-01-04 15:55] jedwards4b commented on #2965
That specification of machine only needs to happen at create_newcase time.  In your proposed change you would have to specify a compiler option in the same location - so what would you gain?   In the case of two machines I would presume summit would be the default and the machine only needs to be specified for summit-gpu.

[2019-01-04 15:57] mrnorman commented on #2965
You avoid large duplications in the XML files...

There's no need to litter things further with duplicate batch, compiler options, modules, and environment variables when most of that will be identical.

[2019-01-04 15:59] jedwards4b commented on #2965
How much duplication is there?  The compiler and compiler options are different, many of the modules will be different and I suspect many of the environment variables will be too.

[2019-01-04 16:03] mrnorman commented on #2965
I've already mentioned what's duplicated, and no the modules and environment variables are not that different. I should also mention a compiler modifier is normal for many other XML entries in the machine file. I don't think I'm requesting something foreign to current practice in the CIME infrastructure.

[2019-01-04 16:04] jedwards4b commented on #2965
We have several machines with similar issues - cori and stampede, pleiades are three I can think of.   The current practice is to have multiple machine definitions.

[2019-01-04 16:07] mrnorman commented on #2965
I think that's a poor practice. If it's simply too much work to add this functionality to CIME, I suppose I can understand that. But that should be the basis of discussion, not duplicating entire machine entries because of a different compiler choice that changes only a few entries in the machine file.

[2019-01-04 16:10] jedwards4b commented on #2965
Not too much work, I am willing to yield but feel a need to argue for the current practice.

[2019-01-04 16:12] jedwards4b commented on #2965
I think that it may work to put the compiler argument in the mpilib statement - have you tried that?
[code]

[2019-01-04 16:14] mrnorman commented on #2965
The code above should be the only things different between the GPU and CPU runs. For modules, we just need to add cuda for GPU runs. Otherwise, they're identical. I feel it will be easier to support and cleaner in the XML files not to duplicate the machine files. That situation may be different for other machines.

I'll give the mpirun modification a try rather than the arguments. Thanks for that

[2019-01-04 18:20] billsacks commented on #2963
Ah, it looks like clm4.0 source code has been removed in E3SM, so I guess the remnants of references to clm4_0 there truly aren't exercised.

[2019-01-04 20:41] jedwards4b commented on #2953
I have a potential fix involving changes in pop, cam and cice - no changes in cime required.  I'm not entirely satisfied with the solution and want to discuss with @jgfouca before committing...

[2019-01-04 20:52] jedwards4b commented on #2953
I still get occasional errors like:
ERROR: File /gpfs/fs1/scratch/jedwards/SMS.f09_f09_mg17.F1850.cheyenne_intel.cam-outfrq9s.G.20190104_133903_bmjcgu/env_build.xml appears to have changed without a corresponding invalidation, modtimes 1546634478.46 != 1546634643.08

[2019-01-07 19:13] jedwards4b commented on #2953
Fixed by https://github.com/ESCOMP/CESM_CICE5/pull/12
and #2966

[2019-01-07 19:48] jgfouca commented on #2965
We also need to consider how to make it more clear which attribute "selectors" are available for which XML entries.

[2019-01-07 20:12] #2953 closed

[2019-01-08 03:15] thiagoveloso commented on #2929
I just wanted to report that I'm also experiencing this error. However, my model conditions are slightly different: I'm running a single-point CLM5 case (https://escomp.github.io/ctsm-docs/doc/build/html/users_guide/running-PTCLM/introduction-to-ptclm.html) on my MacPro machine. I am using the GNU compilers v.8.2.0, NetCDF-C v4.6.1 and NetCDF-fortran v6.4.4.

[code]

After the preparation of all s

[2019-01-08 16:16] jedwards4b commented on #2929
If you want to try to execute the system manually you need to do so from the run directory.

The error that you got seems to indicate that you've somehow confused serial and parallel builds.
You might try creating the case again with the addition of flag ```--mpilib mpi-serial```

Finally this is not the correct forum for this discussion - please use  http://forum.cgd.ucar.edu/
This forum is appro

[2019-01-08 16:16] #2929 closed

[2019-01-09 18:22] mrnorman opened #2969 "Have CIME control "pcols" setting in components/cam/bld/config_files/defaults_se.xml"
Currently the value for "pcols" seems to be hardwired for all machines & compilers to 16 in components/cam/bld/config_files/defaults_se.xml. I would like to be able to set this parameter in CIME for machine files with a default to 16. I would also like to be able to have a compiler modifier to this entry in CIME. 16 is fine for most cases, but for the GPU port, we need to be able to set to 256 or

[2019-01-09 19:21] jedwards4b commented on #2969
You can change the pcols value with xmlchange - it is set in the CAM_CONFIG_OPTS variable as follows:
[code]

[2019-01-09 19:22] billsacks commented on #2969
I'm somewhat naive on this point, but I'd argue that the right way to do this would be for CAM's default file to have different options depending on the machine or compiler, which can be queried by CAM's build-namelist. It seems like we want to avoid having CIME know about component-specific variables like this for (at least) two reasons: (1) to keep cime model-agnostic as much as possible, and (2

[2019-01-09 19:50] #2963 closed

[2019-01-09 21:56] amametjanov opened #2971 "Backup input namelists"
In a continued run, input namelists may change from run to run and not get reflected in corresponding component logs. This may have been brought up before. Can ${comp}_in files backed up to ${comp}_in.${LID} in the RUNDIR or its subdirectory?

[2019-01-09 21:58] jedwards4b commented on #2971
In general namelist values are output to the cooresponding ${comp}.log file at runtime - can you give an example where this is not the case?

[2019-01-09 22:04] amametjanov commented on #2971
For example, `bfbflag` for CPL and `docosp` for ATM. But I just found them in `performance_archive` subdirectories. That should be sufficient.

[2019-01-09 22:04] #2971 closed

[2019-01-10 15:48] jedwards4b commented on #2969
@mrnorman : does my response meet your need?  If so please close.

[2019-01-10 17:00] rljacob commented on #2969
I would also agree with @billsacks, this is something for the CAM/EAM build-namelist machinery to handle.

[2019-01-11 13:30] mrnorman commented on #2969
@jedwards4b , thanks for the response. That seems like a good workaround for the meantime. I'm fine with this being handled in the CAM build-namelist stuff instead of CIME. I'll make this a github issue on the E3SM repo instead (assuming I'm understanding the conversation correctly).

[2019-01-11 13:30] #2969 closed

[2019-01-11 19:04] thiagoveloso commented on #2929
I ended up finding out what was wrong @jedwards4b.

When running this single-point experiment, I was using the same Hdf5 and Netcdf libraries compiled with parallel support that I used to run a regular global/regional experiment.

However, it worked fine when I built Hdf5 and Netcdf **without** the '--enable-parallel' and '--enable-parallel-tests' switches (respectively for Hdf5 and Netcdf). In my

[2019-01-11 19:13] jedwards4b commented on #2929
Requests for changes to ctsm documentation should go to https://github.com/ESCOMP/ctsm

[2019-01-12 15:39] mrnorman commented on #2965
Thanks Jim. Yeah, that would be helpful as well.

[2019-01-14 17:52] ekluzek opened #2978 "Add ability to track index_x2l_Sa_methane"
CTSM has the ability to receive index_x2l_Sa_methane from the coupler and send index_l2x_Fall_methane to the coupler. Right now neither the coupler, nor CAM can send it though. Especially the ability of the coupler to send index_x2l_Sa_methane from the CAM to the coupler to CTSM would be good to do, since otherwise CTSM assumes a fixed modern value.

See the CTSM issue regarding this: https://gith

[2019-01-14 21:06] jedwards4b opened #2981 "--skip-preview-namelists option doesn't work for tests."
I found in an SMS test that this option doesn't work because the tests invoke case_setup.py which calls preview_namelists without consideration for this flag.   An SMS test can run without invoking preview_namelists on the compute nodes but there are other tests which probably cannot.
We should either fix this or error out if a user trys to use the option in a test.

[2019-01-16 00:31] billsacks opened #2982 "Baseline namelists for failed tests are not world-readable"
For most tests, the generated namelists (i.e., in the baseline directory) have permissions `-rw-rw-r--` (at least on cheyenne). However, for at least some tests that fail, the generated namelists have permissions `-rw-rw----`. This leads to incorrect NLCOMP failures when someone tries to do baseline comparisons but isn't in the appropriate group.

This is an issue for tests that are expected to fa

[2019-01-16 17:14] jgfouca commented on #2982
@billsacks , take a look at utils.SharedArea context manager. We could tweak it to allow world read if everyone agreed that was OK.

[2019-01-16 17:16] jgfouca commented on #2982
Hmm, now that I look, 0o002 should already include world read. I'll take a look. Can you list one of the tests you had trouble with?

[2019-01-16 18:04] billsacks commented on #2982
This can be reproduced from standalone cime with something like the following (you'll need to adapt this to whatever machine you test this on, of course):

`./create_test --walltime 0:10 FUNIT_P1x1.f09_g17.X.cheyenne_intel --generate funit_0116a --baseline-root /glade/scratch/sacks/cesm_baselines`

I see:

[code]

That test passed, but my hunch is that a passing FUNIT test (for which most aspects

[2019-01-17 00:12] jgfouca commented on #2161
Reopening this issue since we are still having problems. The key issue is subprocesses accessing XML while CIME is running. There are two failure modes here:
1. The subprocess modifies an XML file and the parent CIME process doesn't "see" the change (failed to call read_xml after the subprocess returned). This error should be caught in current CIME with the timestamp checking that was recently add

[2019-01-17 18:10] #2982 closed

[2019-01-18 21:46] #2911 closed

[2019-01-22 18:44] billsacks commented on #2756
@bishtgautam can this be closed, or do you feel something should still be done about it?

[2019-01-22 18:44] billsacks opened #2986 "Energy and water budgets"
_From @jedwards4b on November 5, 2015 16:58_

There has been a request for a mechanism to record and verify water and energy budgets across the coupled system.   Some ad-hoc methods have been developed in the past but because they are not
a regularly tested part of the system they often get broken.   Development of this mechanism should involve discussions with domain scientists of each of the com

[2019-01-22 18:44] billsacks commented on #2986
Currently the relevant budget information is written to the cpl log file. One first step would be moving (or copying) this information to the cpl history files. Another piece of this is moving some of the diagnostics out of the ocean model diagnostics package into some more general place. We'll consult @jtruesdal for some ideas on how to move forward.

[2019-01-22 18:44] billsacks commented on #2986
We had some discussion about whether the coupler could automatically detect if things are out of balance. However, there are two tricky pieces to this:
1. The coupler doesn't know anything about the change in storage within a component. So you need to compare the net fluxes with the component storage to make sure they agree.
2. Even without storage terms, things won't balance on a timestep-by-time

[2019-01-22 18:44] billsacks commented on #2986
_From @rljacob on May 21, 2016 2:0_

Do these budget output options still work?
http://www.cesm.ucar.edu/models/cesm1.0/cpl7/cpl7_doc/x165.html

[2019-01-22 18:44] billsacks commented on #2986
_From @apcraig on May 25, 2016 1:3_

They did the last time I checked.  Anytime any coupling field is changed or added or deleted, the budget diagnostics have to be updated too.  Generally, that does not happen.  So, in practice, long production runs start, there are problems, people start looking at the budgets, get all confused, and then someone has to go through the painful process or updating

[2019-01-22 18:44] billsacks commented on #2986
_From @jedwards4b on May 25, 2016 1:47_

​It seems like it's time to dig into them again and then to add some tests
to make sure that they stay consistent. ​  How long of a run would a test
for this require?

On Tue, May 24, 2016 at 7:03 PM, apcraig notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2019-01-22 18:44] billsacks commented on #2986
_From @apcraig on May 25, 2016 4:30_

What I would recommend is to start with a 5 day run with a fully coupled B configuration.  Turn on all budget diagnostics (they can be written at each timestep) and write coupler history files, maybe once a day or even every timestep.  And check that all the coupling fields appear to be accounted for and are consistent with the fields in the history files.  Th

[2019-01-22 18:44] billsacks commented on #2986
I know that we're missing budget diagnostics when running with GLC/CISM in two-way-coupled mode (NOT the typical way of running). It's on my to-do list to figure out what needs to be done for this.

[2019-01-22 18:46] bishtgautam commented on #2756
The issue can be closed.

[2019-01-22 18:46] #2756 closed

[2019-01-24 23:28] fischer-ncar opened #2989 "NCR test fails at runtime and has never successfully run on yellowstone / intel"
_From @bertinia on March 2, 2016 17:48_

Here is the email thread between Jim and Tony regarding this issue. Added this information as
a CIME issue for better tracking:
Hi Tony,

I'm looking closely at the NCR test and I don't see how it can ever work, or what it's intended to do.

Tests that do two builds must assure that both builds use the same number of total mpi-tasks or they won't work.   Th

[2019-01-24 23:30] fischer-ncar commented on #2989
I just transferred this from CESM-Development.  This test isn't normally run.  It's current state is it doens't
even build any more.

[2019-01-30 21:19] rljacob commented on #2161
Idea from telecon:  Only allow one instance of CIME active in a case at a time.

Implementation:  upon import of generic xml, lock the file.

Do we have enough exception handling in place?

[2019-02-04 21:04] jedwards4b opened #2991 "CAM_TARGET only defined in e3sm but used in Makefile"
PR incoming - the variable CAM_TARGET is only defined in e3sm xml file looking for it in cesm causes a confusing error message to appear in output logs.

[2019-02-04 23:23] dabail10 opened #2993 "Adding absolute path to ice_ic options, 'none' and 'default'"
I believe this might have come in under #964, but I'm not sure. Basically, the ice_ic option in user_nl_cice either takes a file name with absolute path or the options 'none' or 'default'. This worked in  earlier tags. Not sure what changed here.

[2019-02-04 23:42] jedwards4b commented on #2993
I'm not understanding this - what does it take to produce an error and what is the expected result?

[2019-02-04 23:45] mvertens commented on #2993
Here is my understanding: If you change user_nl_cice to have ice_ic =
'default' or ice_ic = 'none', it is prepending the inputdata root in front
of it in the inputdata list.

On Mon, Feb 4, 2019 at 4:42 PM jedwards4b <notifications@github.com> wrote:

[2019-02-04 23:51] jedwards4b commented on #2993
I tested both ice_ic ='default' and ice_ic = 'none' in maint-5.6 and it works fine.
However it is broken on cime master, I will fix.

[2019-02-04 23:54] mvertens commented on #2993
@jedwards4b - thank you so much for your quick response in helping. I'm
really glad its not broken on cime master.

On Mon, Feb 4, 2019 at 4:51 PM jedwards4b <notifications@github.com> wrote:

[2019-02-05 01:03] jedwards4b commented on #2993
@dabail10  The fix is in the cice trunk buildnml - I cannot reproduce the problem in the release.
I checked out a new copy of the release just to make sure and confirmed that I cannot reproduce on the release.

[2019-02-05 02:19] dabail10 commented on #2993
This is weird. I can reproduce the problem in the release code. I wonder if there is a Python version problem here. I'll test out your fix.

[2019-02-05 15:41] jedwards4b commented on #2993
Can you point me to your release case that is failing?

[2019-02-05 21:44] dabail10 commented on #2993
I have a copy of cesm2_1_0 checked out in:

/glade/work/dbailey/cesm2_1_0

My case is:

/glade/u/home/dbailey/cesm_runs/dtest_cesm2

I just run preview_namelist to see the problem.

Dave

[2019-02-05 21:47] jedwards4b commented on #2993
@dabail10 you checked out cesm2_1_0 but then it appears you updated the cice component to master before you ran the test.  Try again with  cice5_20181109

[2019-02-05 21:48] dabail10 commented on #2993
I took the fix out of this version and it gives the same behaviour.

Dave

[2019-02-05 22:34] jedwards4b commented on #2993
Just to document what we figured out - I was testing a B case and Dave a D case - the D case is always a startup but B is hybrid on the release branch and startup on master - the code in question is in an if startup branch in buildnml.  So this fix does need to be applied to the release as well as master.

[2019-02-05 22:34] #2993 closed

[2019-02-08 19:05] billsacks opened #2994 "cheyenne batch directives incorrect when using an unknown queue"
This came up in the CTSM tutorial this week, in which participants were directed to use a special queue on cheyenne. I imagine it could impact other, future tutorials, as well as other use cases where users use some special queue for their work.

When you set a cheyenne queue to something unknown to cime, using something like:

[code]

you get batch directives that are appropriate for a single-nod

[2019-02-08 20:03] jedwards4b commented on #2994
I would prefer option (1) - do you know if it works in the current cime?

[2019-02-08 20:35] billsacks commented on #2994
@jedwards4b - from a bit of playing around, it looks like (1) does _not_ currently work.

I'll give more details, but first I want to correct what I suggested for (2) in my original comment: it turns out that an unknown queue is getting values from the share queue because the share queue is listed as the default (`default="true"`) here:

https://github.com/ESMCI/cime/blob/a5bea3aab3cf3669fbc2ff4e7

[2019-02-08 20:38] jedwards4b commented on #2994
Isn't the real solution just to provide cime with a definition for the additional queue?
I believe that this could be located in the users $HOME/.cime/config_batch.xml file.

[2019-02-08 20:41] billsacks commented on #2994
@jedwards4b I think that's a complicated solution for people who are not too familiar with cime/cesm, as is the case for most tutorial users. And for the tutorial, there has been a different queue every day, making this even more complex.

That said, I'm open to this issue being closed as a wontfix if you feel it will be too difficult to resolve.

[2019-02-08 20:45] jedwards4b commented on #2994
I guess I think that it's a pretty unique situation that should be resolved in the context of the tutorial rather than in general.

[2019-02-08 22:38] rljacob commented on #2994
I like the idea of default directives that apply if the queue you specify is not defined.

[2019-02-08 22:39] billsacks commented on #2994
I have something that I think is working (see commit referenced above in this issue). I'll open a PR later - I'm on parent duty now.

[2019-02-11 13:08] billsacks commented on #2994
@jedwards4b while part of me agrees with you, part of me disagrees, because it feels like tutorials are a very important use case, where problems like this can cause massive frustrations for both the leaders and the participants, and people can come away feeling like this system is complicated and buggy rather than something they want to use.

The problem here is that the default queue is used for

[2019-02-11 20:37] #870 closed

[2019-02-12 04:30] rljacob commented on #2949
Todo:  Make a more informative error message.

[2019-02-13 22:54] ekluzek opened #2997 "Start using ESMF mesh files in place of SCRIP grid files"
For our mapping we currently using SCRIP grid files to define our grids for components. We then use these files to create mapping files as well as domain files from the mapping files. We are also already using ESMF to create the mapping files. If we upgrade to use ESMF mesh files rather than SCRIP grid files, the mapping files can be created faster. And we can also take advantage of the new ESMF O

[2019-02-13 22:58] rljacob commented on #2997
E3SM may want to do this too.  Can you point me to the ESMF mesh file spec?

[2019-02-13 23:43] ekluzek commented on #2997
Here's a link for a specific ESMF version:

http://www.earthsystemmodeling.org/esmf_releases/public/ESMF_7_1_0r/ESMF_refdoc/node3.html#SECTION03028200000000000000

[2019-02-14 20:20] ekluzek opened #2998 "Add NH3 flux from surface to atmosphere..."
@juliusvira and @wweider are working on the FAN model in CTSM (Flow of Agricultural Nitrogen). It needs to pass NH3 emissions from the land surface to the coupler and then to CAM/Chemistry. So this adds a namelist that can optionally pass those fields, and the fields are then passed if index_x2a_Fall_flxnh3 is set.

Here's a difference of his initial implementation...

https://github.com/ESMCI/cim

[2019-02-20 16:23] fischer-ncar opened #3007 "ERS and ERP tests failing with updated cprnc"
The ERS and ERP tests are failing the restart compare for compsets with active clm and cam.  This
happens with PR #2988.

FAIL ERP_Ln9.f09_f09_mg17.F1850.cheyenne_intel.cam-outfrq9s COMPARE_base_rest

Tail of output for clm history files.

SUMMARY of cprnc:
 A total number of    238 fields were compared
          of which      0 had non-zero differences
               and      0 had differences in

[2019-02-20 16:27] jedwards4b commented on #3007
This would suggest that the restart causes fields to be written to the history that were not written from a cold start - does this make sense?  What fields are they?  @billsacks ?

[2019-02-20 17:08] billsacks commented on #3007
Shoot, sorry that I didn't think of this, or do the active-component testing that would have uncovered it.

CLM outputs a handful of "time-constant" fields to only its first history file, hence this issue. I can think of a few solutions:

1. Back out much of my cprnc PR, at least for now

2. Ignore field list differences for within-test comparisons, only considering them for baseline comparisons.

[2019-02-20 17:10] billsacks commented on #3007
How time-critical is it to get this fix in? One short-term solution would be to back up to the old builds of cprnc while we come up with a long-term solution.

[2019-02-20 17:12] jedwards4b commented on #3007
Would it be possible to ignore field list differences for time constant fields?  I've already updated cprnc on a number of platforms.

[2019-02-20 17:12] fischer-ncar commented on #3007
It'll only be time-critical when I need to start the next round of tests.

[2019-02-20 17:13] jedwards4b commented on #3007
I think we can note these as expected failures until we arrive at a solution.

[2019-02-20 17:14] fischer-ncar commented on #3007
It's easy enough to manually check the cprnc output to verify if the tests truly failed.

[2019-02-20 17:17] rljacob commented on #3007
We don't have an "expected failure" mechanism.   @jgfouca has this new cprnc made it back to E3SM yet?

[2019-02-20 17:18] jedwards4b commented on #3007
No, I'm pretty sure it hasn't and even if it has you also have to build and install it on the system.

[2019-02-20 17:28] billsacks commented on #3007
What do you think about this fix:

5. Allow a field to have a piece of metadata: cprnc_attributes. If this is present and set to a string like "allow_on_only_one_file", then the given variable would not contribute to the FIELDLIST DIFF.

This would require changes in the cprnc fortran (so would require cprnc to be rebuilt) and in CLM and E3SM, but I think the changes would be fairly straightforwar

[2019-02-20 17:38] jedwards4b commented on #3007
I guess I don't really like the idea of modifying history files to accommodate cprnc, what about incorporating some logic regarding variables without an unlimited dim - compare them if they exist in both files, ignore them if they are only present in one?

[2019-02-20 17:44] #2994 closed

[2019-02-20 17:55] ekluzek commented on #3007
I agree with @jedwards4b, that seems like a more robust solution, and would only require messing with cprnc.

[2019-02-20 18:24] billsacks commented on #3007
I'm hesitant to introduce general logic that ignores differences in field lists for time-constant variables, because cprnc is a general-purpose tool and it could be really confusing / misleading if it avoids checking the presence/absence of time-constant variables in general.

However, I could imagine introducing a flag to cprnc like '--allow-fieldlist-diffs-for-vars-with-no-time' (that's a mouthf

[2019-02-20 18:28] jedwards4b commented on #3007
yes --allow-missing-constant-fields?

[2019-02-20 18:30] billsacks commented on #3007
Thanks, @jedwards4b . "constant" could mean a number of things, but maybe "--allow-missing-timeconst-fields"?

[2019-02-20 20:04] billsacks commented on #3007
This is also causing a failure for

[code]

due to these fields:

[code]

I think @jedwards4b 's suggested fix will fix this one, too.

cc @negin513

[2019-02-20 20:23] #2522 closed

[2019-02-20 20:24] #1982 closed

[2019-02-20 20:30] rljacob commented on #457
@jayeshkrishna is this still a feature request?  Can you explain?

[2019-02-20 20:31] rljacob commented on #702
@jayeshkrishna is this feature still needed?

[2019-02-20 20:35] billsacks commented on #884
@klindsay28 how strongly do you feel about this? Personally, while I still see value in this, I've learned to live with the current test reporting, and it might take a fair amount of rework to accommodate this feature. Would you be okay closing this as a wontfix, or do you still feel like it should be changed?

[2019-02-20 20:36] rljacob commented on #1059
TODO:  Check documentation to see if still an issue.

[2019-02-20 20:36] rljacob commented on #1099
Still a good question.

[2019-02-20 20:37] rljacob commented on #1294
Ping @fischer-ncar

[2019-02-20 20:38] rljacob commented on #1329
JIm says this is fixed.

[2019-02-20 20:38] #1329 closed

[2019-02-20 20:39] rljacob commented on #1328
This has been completed.

[2019-02-20 20:39] #1328 closed

[2019-02-20 20:43] rljacob commented on #445
From telecon:  Do we still need to revive this test?

[2019-02-20 20:45] rljacob commented on #1540
Closing.   Not sure we can overcome DOE system policies.

[2019-02-20 20:45] #1540 closed

[2019-02-20 20:49] rljacob commented on #2726
Where would these variables be set?  In a use case?

[2019-02-20 20:51] rljacob commented on #2726
From telecon:   motivation: a scientist was switching between two branches (with git checkout) and running cases with each one.    Want to make sure that cases and branches don't get mixed up.  So check the hash.

[2019-02-20 20:55] rljacob commented on #2726
Also from telecon:  maybe we just store hash used in create_newcase and then compare to what it is when you build/submit.  Issue warning if different.
Add a REQUIRE_SAME_HASH logical.   If its true and hash changes, abort.

[2019-02-20 20:57] rljacob commented on #2730
From telecon:  need to add item to schema for machine about job name length.

[2019-02-20 20:57] ekluzek commented on #2726
I picture this as a new xml variable that would be in env_run.xml. Normally it wouldn't be set and wouldn't matter. The operation that you propose for REQUIRE_SAME_HASH is essentially identical, it just operates on a SHA1 rather than on the contents of the MODEL_VERSION xml variable.

[2019-02-20 22:08] ekluzek commented on #884
I do see where this would be a useful feature. But, I think I agree with @billsacks that I've gotten used to not having it, so can work in the current environment.

[2019-02-21 16:26] klindsay28 commented on #884
​My understanding of #2988 is that it makes cprnc more strict in its file comparison. For instance, it sounds like adding history vars will lead to baseline failures. So I’m expecting to see more baseline failures. In my opinion, that makes it more relevant for CIME to provide details on the failures, easing the job of the developer who is parsing those failures.

That said, it just eases the deve

[2019-02-21 16:50] billsacks commented on #884
Thanks for your thoughts @klindsay28 . I think I'll close this, since I don't think anyone working on cime has the time to make the (possibly large) changes that would be needed for this.

[2019-02-21 16:50] #884 closed

[2019-02-21 17:09] fischer-ncar commented on #1294
Closed via #3012

[2019-02-21 17:09] #1294 closed

[2019-02-21 17:31] billsacks commented on #3007
I realized a problem with my suggestion of adding a flag like `--allow-missing-timeconst-fields`: this won't fix earlier versions of cime. So I think I'll go with @jedwards4b 's suggestion of changing the default behavior so that, by default, it doesn't count absent time-constant fields as a difference if the file has an unlimited/time dimension. (But I'll still plan to report those counts.)

I ma

[2019-02-25 22:54] jedwards4b opened #3017 "use globus-sdk as well as globus-url-copy in cime check_input_data"
Currently we use the globus-url-copy command line tool for anonymous download from the ncar cgd inputdata server.  But some hpc centers (ncar) don't like that tool and want to use the globus-sdk instead.

[2019-03-01 20:38] rljacob commented on #2997
@ekluzek what do you mean by "use parallel ESMF tools for mapping".  The parallelism depends on the input grid type?  For what mapping function?

[2019-03-01 20:52] ekluzek commented on #2997
No. I mean the parallelism that's used in creation of the mapping files. The resulting mapping files should be identical in either case (or nearly identical). The difference is that the ESMF grid files (as opposed to SCRIP grid files) give connectivity information that can help in the creation of the mapping files in parallel. So in most cases using a ESMF grid file rather than a SCRIP grid file w

[2019-03-01 20:59] rljacob commented on #2997
Ok so its faster but you can still run ESMF_Regridder in parallel with SCRIP files?  That's been my understanding.

[2019-03-01 21:09] ekluzek commented on #2997
Yes, you are right. I modified the opening statement -- hopefully it's more clear now.

[2019-03-05 22:56] ekluzek opened #3025 "Start adding support for CMIP6 SSP-RCP into cime"
In order to support the new CMIP6 SSP-RCP scenarios in cime, we need the following updates into datm:

- CO2 for each scenario
- prescribed aerosols for each scenario
- CPLHIST forcing for each scenario

Those are all changes in cime/src/components/data_comps/datm/cime_config/config_component.xml

In addition

cime/src/drivers/mct/cime_config/config_component_cesm.xml needs the following:

Descrip

[2019-03-05 23:00] ekluzek opened #3026 "Remove CMIP5 RCP scenarios"
I think we should remove the CMIP5 RCP scenarios from cime as we start adding in the CMIP6 SSP-RCP scenarios (see #3025). This means the following changes

In  cime/src/components/data_comps/datm/cime_config/config_component.xml

Setting for CO2 removed for each RCP
prescribed aerosols for each RCP
CPLHIST forcing for each RCP

In addition

cime/src/drivers/mct/cime_config/config_component_cesm.xm

[2019-03-05 23:15] jedwards4b commented on #3026
Are they in the way?  I think that there still may be some desire to run cmip5 scenarios in the future.

[2019-03-05 23:30] ekluzek commented on #3026
I started removing them in CTSM, so that ssp_rcp and rcp wouldn't get confused. Here I think it might be OK to have both, but it's not immediately obvious to the uninitiated that one is CMIP5 and one is CMIP6. But, if components like CTSM start removing the capability to utilize them, it won't work for the full system anyway. I'm pretty sure not all the CMIP5 RCP's even still exist, nor do compone

[2019-03-06 15:43] jedwards4b commented on #3026
Thanks for checking before removing them.

[2019-03-06 16:49] serbinsh opened #3027 "gptl build error: error: macro names must be identifiers"
[code]

General bug information
CTSM version you are using: clm5.0.dev008-88-ge862304
FATES: sci.1.23.0_api.7.1.0

commit e8623043e3365e86c2cecea1d475324e9a8e2da3
Merge: 5af5787 22623ea
Author: Ryan Knox <rgknox@lbl.gov>
Date:   Mon Feb 11 10:49:19 2019 -0700

    Merge pull request #632 from rgknox/rgknox-leafage-params

    update default fates parameter file
Does this bug cause significantly in

[2019-03-06 16:52] serbinsh commented on #3027
[code]

I am trying to build CTSM branch fates_next_apo

[2019-03-06 17:08] jedwards4b commented on #3027
The problem is here
[code]
There is a -D with nothing following it.

[2019-03-06 17:18] serbinsh commented on #3027
Ahh...that would be a problem.  so maybe there is an extra -D and needs a space here:

-D FORTRANUNDERSCORE

Trying to figure out where ``` recipe for target 'gptl.o'``` is to check the make commands

[2019-03-06 17:21] serbinsh commented on #3027
Makefile line 22:

[code]

And the offending line (55):
[code]

[2019-03-06 17:27] jedwards4b commented on #3027
What (cime) machine are you using?  it looks like OS is not defined.

[2019-03-06 17:36] serbinsh commented on #3027
hmmm modex....it should find that machine?

[2019-03-06 17:45] serbinsh commented on #3027
[code]

**Build options: res=1x1_brazil; compset=I2000Clm50FatesGs; mach modex**

So it seems it is recording the correct machine but, yeah, I see it isnt pasting that into the compile command.

[2019-03-06 17:48] jedwards4b commented on #3027
try adding to the top of your script
[code]

[2019-03-06 17:53] serbinsh commented on #3027
Gave it a go.

[code]

[code]

Still same issue.....

[2019-03-06 18:46] billsacks commented on #3027
@serbinsh can you confirm that this issue is fixed on cime master? e.g., build an A/X compset using the above cime branch and also using cime master on this machine. If this is fixed on cime master, then we can close the issue, and just prioritize updating cime in ctsm.

[2019-03-06 19:48] serbinsh commented on #3027
OK @billsacks . Looking into how to do that and will report back here.

[2019-03-06 19:49] jedwards4b commented on #3027
[code]
then try your script.

[2019-03-06 19:55] serbinsh commented on #3027
Oh, I was going to try one of these with the current cime

[code]

then do

cd cime
git checkout master

as @billsacks suggested

[2019-03-06 19:59] billsacks commented on #3027
Something like `--res f45_g37_rx1 --compset A` should work.

[2019-03-06 20:07] serbinsh commented on #3027
I just did:
2000_DATM%NYF_SLND_DICE%SSMI_DOCN%DOM_DROF%NYF_SGLC_SWAV
g16_g16

which ended similarly

[code]

same result with A, f45_g37_rx1.  Switching to master cime now

[2019-03-06 20:09] jedwards4b commented on #3027
okay please try adding the following line to
cime/src/build_scripts/buildlib.gptl just above the call to run_bld_cmd_ensure_logging
[code]

[2019-03-06 20:11] jedwards4b commented on #3027
You should also do the same line again substituting OS for CPPDEFS

[2019-03-06 20:15] serbinsh commented on #3027
@jedwards4b OK here is the output after doing that:

[code]

specifically:
CPPDEFS is None
CPPDEFS is LINUX

[2019-03-06 20:21] jedwards4b commented on #3027
It should go further down in the script at around line 62

[2019-03-06 20:24] jedwards4b commented on #3027
In you case do ```./xmlchange GMAKE="gmake -d" ``` and try again.

[2019-03-06 20:25] serbinsh commented on #3027
[code]

above is inserting around line 62.  Let me try going into the case as suggested next

[2019-03-06 20:30] serbinsh commented on #3027
[code]

[2019-03-06 20:33] jedwards4b commented on #3027
That didn't help.  I've searched all over the scripts and don't see where that extra -D is coming from.
Is it in your Macros.make file?

[2019-03-06 20:37] serbinsh commented on #3027
[Macros.make.txt](https://github.com/ESMCI/cime/files/2938190/Macros.make.txt)
@jedwards4b here is one of the Macros.make files from a recent case build attempt

[2019-03-06 20:39] serbinsh commented on #3027
I took the -D off here "CPPDEFS := $(CPPDEFS)  -D" and it has gotten farther in the build

[2019-03-06 20:41] serbinsh commented on #3027
[code]

So that seems to be the offending -D???

[2019-03-06 20:41] jedwards4b commented on #3027
Yup - that must be coming from config_compilers.xml but I don't see it in my copy.

[2019-03-06 20:43] serbinsh commented on #3027
Here is what I have in my config_compilers.xml for modex:

[code]

[2019-03-06 20:44] serbinsh commented on #3027
[code]
Perhaps here?

[2019-03-06 20:46] jedwards4b commented on #3027
Yes that's it.  But that's something that was removed from master a while ago. In your cime source directory run ```git remote -v```

[2019-03-06 20:49] serbinsh commented on #3027
[code]

[2019-03-06 20:50] jedwards4b commented on #3027
So you didn't go to master - from the cime directory run
```git checkout master```

[2019-03-06 20:52] serbinsh commented on #3027
I had, same issue in both cases.  I know what the problem is......I am re-using machines files for a specific machine and that means I have "borrowed" a previous machines file that must have some out of date settings.  That is my fault.  Very very sorry.  to fix this I need to make sure the machine-specific settings get put into the newer config_compilers.xml.  This is a case of not realizing the

[2019-03-06 20:53] jedwards4b commented on #3027
the machine specific settings for modex are already there

[2019-03-06 20:55] serbinsh commented on #3027
I was working on updating libraries and accidentally overwrote the machine/compiler xmls instead of inserting the changes into the versions checkout out from the repo.  Again, that was a stupid mistake.  Very sorry.

[2019-03-06 20:56] jedwards4b commented on #3027
okay - that makes sense.

[2019-03-06 22:15] serbinsh commented on #3027
Confirmed.  Updating the config_compilers.xml avoided this build issue.  Closing this issue thread now.

[2019-03-06 22:15] #3027 closed

[2019-03-07 18:54] mnlevy1981 opened #3028 "Problem running ESMF tools in parallel on cheyenne"
Following the machine updates from March 5, 2019, the ESMF binaries compiled with the mpt library on Cheyenne no longer work (they were compiled against mpt/2.15 and that module was removed). Attempting to run in parallel results in the error

[code]

(similar errors occur with `mpt/2.16` and `mpt/2.18`). I've asked CISL to rebuild ESMF modules, and will update `create_ESMF_map.sh` when this has b

[2019-03-07 20:49] #2731 closed

[2019-03-07 20:49] #2910 closed

[2019-03-07 23:35] ekluzek opened #3031 "With post Mar/5/2019 cheyenne, gnu, pgi, and unit test version of mpt needs to be updated..."
With cime5.6.6 there are versions of mpt2.15 and mpt2.16 that are used for some compilers. Since, they will remove mpt2.16, we need to update these.

[code]

[2019-03-08 17:17] johnmauff opened #3032 "Missing 4-byte real gamma function"
The file src/share/util/shr_spfn_mod.F90 is missing a 4-byte real version of the gamma function shr_spfn_gamma.

[2019-03-08 17:38] dqwu opened #3033 "cime_developer tests failed on anlworkstation"
The errors can be reproduced on anlworkstation by running a single cime_developer test:
`./create_test DAE.ww3a.ADWAV --machine=anlworkstation --test-root=****`

Errors were:
[code]
This test passed before. Is this caused by missing input files requierd by latest CIME?
Looks like CIME is not handling the case where there is no file to download (None)?

[2019-03-08 18:28] jgfouca commented on #3033
I'll take a look at it.

[2019-03-08 20:16] jedwards4b commented on #3033
How would it get there without a filename?

[2019-03-08 21:15] billsacks opened #3034 "Possible issues with inputdata checksum downloads"
I have noticed two possible issues with the inputdata checksum implementation. I'm not sure if these are actually issues, but wanted to get @jedwards4b 's thoughts on these:

(1) I noticed that my tests were downloading the `inputdata_checksum.dat` file every time I ran `./case.submit`. I would have thought this download from the inputdata server would only happen if (a) you are actually downloadi

[2019-03-08 21:24] jedwards4b commented on #3034
Yes these are both issues that should be addressed.

[2019-03-08 21:28] johnmauff opened #3035 "Slow execution when COMP_RUN_BARRIERS = TRUE"
The timing of the Coupler has always been very confusing due to its asynchronous nature.  While component barriers do exist in the CPL their activation by setting the flag COMP_RUN_BARRIERS=TRUE typically significantly slows down execution of the entire coupled system.  The slow down is due to activation of the following code segment in component_run subroutine located in the src/drivers/mct/main/

[2019-03-11 00:52] ekluzek opened #3036 "Having long wait time on case.submit"
This is with cime5.6.12

I'm having long wait times on running case.submit on cheyenne today, with it eventually failing as we see below. It seems to be because of some type of network issue getting to svn inputdata from cheyenne. I'm wondering if we need another --skip option to skip checking the connection to inputdata?

[code]

[2019-03-11 13:27] jedwards4b commented on #3036
Duplicate of #3034

[2019-03-11 13:27] #3036 closed

[2019-03-11 22:20] #3033 closed

[2019-03-11 22:20] #3034 closed

[2019-03-13 15:54] dqwu opened #3041 "compile_threaded issue on anlworkstation"
In config/e3sm/machines/config_compilers.xml, -fopenmp is appended only when  compile_threaded
is set to true:
[code]
When cime_developer test suite is run on anlworkstation,
compile_threaded seems to be false by default. This has
caused two tests to fail during MODEL_BUILD:
ERP.f45_g37_rx1.A
PET_P4.f19_f19.A

Errors were:
[code]
Should CIME set compile_threaded to true by default?
CIME should als

[2019-03-13 16:17] jedwards4b commented on #3041
This seems to indicate that the flags to the gptl build are incorrect - can you post the gptl build log?

[2019-03-13 16:26] dqwu commented on #3041
Here is the gptl build log:
[code]

[2019-03-13 17:00] jedwards4b commented on #3041
One more question - what cime revision is this? (head of master?)

[2019-03-13 17:01] jedwards4b commented on #3041
Assuming it is head of master, I've reproduced the problem and will fix.

[2019-03-13 17:04] dqwu commented on #3041
Yes, it is head of master. Please go ahead to provide a fix, many thanks.

[2019-03-13 18:49] #3041 closed

[2019-03-14 15:44] jedwards4b opened #3044 "continue_run check in case_submit does not account for multidriver cases"
case_submit.py looks for a rpointer.drv file but not rpointer.drv_xxxx

[2019-03-14 18:40] #3044 closed

[2019-03-15 19:50] jgfouca commented on #2927
I've decided that the least-disruptive way to implement this feature is to simply embed the ability to fallback to another queue in the name of the shorter queue:

[code]

[2019-03-15 19:50] #2927 closed

[2019-03-21 18:35] jedwards4b opened #3050 "make build of mct, gptl, pio optional"
I am planning to introduce an enhancement such that if a valid library version of these libraries is available on a system then it will be used and the cesm provided source would not be built.

[2019-03-21 18:47] ekluzek commented on #3050
@jedwards4b just some questions. Is it going to check what version of each of these is installed? And if not could there be version incompatibility issues where you couldn't use the installed version? That could be either because a feature isn't available in one version, or because of a difference in answers. Also sometimes small differences in the build can be problematic, so it'll need to select