[2017-05-03 21:11] rljacob commented on #1473
We're going to add an option for this in ACME but maybe it should be the default behavior.

[2017-05-04 02:54] fischer-ncar commented on #1468
I've update the directory structure on /glade/scratch.  I still need to update the subversion data repository to reflect the changes.

[2017-05-04 16:24] billsacks opened #1479 "Change lnd -> glc remapping to bilinear with a conservation correction"
Currently, the remapping from the low-resolution land grid (with elevation classes) to the high-resolution glc grid is done using conservative remapping. However, this leads to extreme grid imprinting / blockiness. @whlipscomb , in consultation with @JeremyFyke, has implemented a new scheme that uses bilinear remapping with a conservation correction. I'll bring this to master.

cc @matthewhoffman

[2017-05-04 17:31] rljacob opened #1481 "Move DOUT_S_SAVE_INTERIM_RESTART_FILES from joint config_components."
DOUT_S_SAVE_INTERIM_RESTART_FILES is currently in:
drivers/mct/cime_config/config_components.xml

This is one that different model groups may want to set differently (ACME is going to make it TRUE) so it should be moved to:
drivers/mct/cime_config/config_components_$model.xml

[2017-05-04 17:32] rljacob commented on #1364
This has been fixed on the ACME side.  Will be brought in the next time we subtree split from ACME.

[2017-05-04 17:32] #1364 closed

[2017-05-04 17:34] #1322 closed

[2017-05-04 17:35] rljacob commented on #819
Moving this back to the backlog because no one has asked for it.

[2017-05-04 19:07] #1220 closed

[2017-05-04 19:27] jgfouca commented on #908
Closing. Will do this on this ACME side. Each model is free to get libs however they want.

[2017-05-04 19:27] #908 closed

[2017-05-04 19:33] jgfouca commented on #934
@mnlevy1981 could you give me a different example? Something that I'd find in standalone CIME. I grepped for ZOOPLANKTON_CNT and OCN_TRACER_MODULES_OPT and found nothing.

[2017-05-04 19:42] jgfouca commented on #1114
@jedwards4b , I tried ncdump -k:

[code]

Is "64-bit offset" vs. "classic" something we can rely on to differentiate between netcdf and pnetcdf?

[2017-05-04 19:50] jedwards4b commented on #1114
-k

Show what kind of netCDF file the pathname references, one of ‘classic’, ‘64-bit offset’,‘netCDF-4’, or ‘netCDF-4 classic model’. Before version 3.6, there was only one kind of netCDF file, designated as ‘classic’ (also know as format variant 1). Large file support introduced another variant of the format, designated as ‘64-bit offset’ (known as format variant 2). NetCDF-4, uses a third varian

[2017-05-04 19:53] mnlevy1981 commented on #934
@jgfouca I'm not sure this use-case of XML variables exists in CIME - `OCN_TRACER_MODULES_OPT` is a POP-specific XML variable that has always been used to house additional variables. Does the current XML schema support nested variables? `config_pes.xml` is set up so that

[code]

If there's a way to set up something similar in `config_components.xml`, it would be great to see

[code]

I guess this

[2017-05-04 19:56] jedwards4b commented on #934
I think that we could do something analogous to what is done for eg NTASKS and PIO_STRIDE

[2017-05-04 19:58] mnlevy1981 commented on #934
So I think the best solution is to close this ticket as "not actually a CIME issue" and then sometime this summer I'll talk to @jedwards4b about getting the functionality we want from the existing schema.

[2017-05-04 20:22] jgfouca commented on #934
OK, thx

[2017-05-04 20:22] #934 closed

[2017-05-04 20:23] jgfouca commented on #1114
OK, so I think we've done the best we can with the ERIO test.

[2017-05-04 20:23] #1114 closed

[2017-05-04 20:27] jgfouca commented on #1297
@billsacks did you finish the documentation for pfunit?

[2017-05-04 20:38] billsacks commented on #1297
@jgfouca - yes, this documentation should be correct now:

http://esmci.github.io/cime/doc/build/html/users_guide/unit_testing.html#how-to-add-unit-testing-support-on-your-machine

[2017-05-04 23:28] jgfouca commented on #1288
Added docs.

[2017-05-04 23:28] #1288 closed

[2017-05-04 23:29] jgfouca commented on #1295
Adding docs.

[2017-05-04 23:29] #1295 closed

[2017-05-04 23:29] jgfouca commented on #1060
Added docs.

[2017-05-04 23:29] #1060 closed

[2017-05-05 04:09] mvertens commented on #1473
@rljacob - I'm concerned that users might want to see log files also for
runs that crashed - as a history of the run. By only archiving successful
runs - you really are losing some of the runs provenance in the archiving.
However, the problem of archiving files from a live run is concerning. I
thought that our job dependency chain prevent this from happening -
@jedwards - is this not the case?

On

[2017-05-05 05:04] rljacob commented on #1473
Oh the unzipped files would be left in the run directory, not deleted.  The archiver would ignore them.

Yes the job dependency chain prevents that but some ACME users want to live dangerously.

[2017-05-05 05:23] rljacob commented on #1473
Oh wait I understand what you're saying.  Even the logs from crashes are worth keeping in the archive with the successful runs so you have some evidence that there were crashes during the run.  Does that assume you were able to continue the run in some way?   If you never get around the crash, the unzipped log file will also be the last log file.

[2017-05-05 14:35] #1244 closed

[2017-05-05 14:38] mvertens commented on #1473
Yes - often we find out that an instability sets in that  is resolved by
shortening the ocean time step for a brief part of the simulation. Or
simply restarting the model with a roundoff level perturbation in the
atmosphere.

On Thu, May 4, 2017 at 11:23 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-05-05 15:52] jedwards4b commented on #1426
Fixed by #1466 - why didn't this autoclose?

[2017-05-05 15:52] #1426 closed

[2017-05-05 15:53] jedwards4b commented on #1334
I would vote for only doing this on master after the release branch has been created - not putting it in cesm2 - is that okay?

[2017-05-05 16:00] jedwards4b commented on #1169
I'm not sure what fixed this, but this is working on master now.

[2017-05-05 16:00] #1169 closed

[2017-05-05 16:18] gold2718 commented on #1334
Sounds like a plan since it is not obvious how deep this rabbit hole is.

[2017-05-05 17:07] mvertens commented on #1334
I definitely agree.

On Fri, May 5, 2017 at 10:18 AM, goldy <notifications@github.com> wrote:

[2017-05-05 18:30] jayeshkrishna opened #1483 "Specifying queue explicitly in create_newcase fails"
Specifying a queue to create_newcase using the "--queue=<QUEUE_NAME>"
option fails with the following error message,
[code]

[2017-05-05 18:30] jayeshkrishna commented on #1483
This is a missing assignment.
I am working on this and a PR is coming up.

[2017-05-05 20:37] mfdeakin-sandia commented on #1473
@mvertens Should I add a check for CESM as to whether to archive the non-gzipped log files by default?

[2017-05-05 20:41] rljacob commented on #1473
No we'll keep the default to archive all log files.  Add an option like --gzonly to only archive gzipped files.

[2017-05-05 20:42] rljacob commented on #1473
This was a discussion and the conclusion (to the question in the title) was "no".

[2017-05-05 20:42] #1473 closed

[2017-05-05 20:43] rljacob opened #1485 "Add option to only archive gzipped log files"
We want to keep the default (see issue #1473) to archive all log files.  So add an option to st_archive like --gzonly to only archive the gzipped log files.

[2017-05-05 20:44] rljacob commented on #1485
Actual option name is open for discussion.

[2017-05-05 20:49] mfdeakin-sandia commented on #1485
I was thinking --complete-logs-only or --finished-logs-only (--no-incomplete-logs and --no-unfinished-logs might be more clear) to make it clear what the option relates to, though they seem a bit verbose

[2017-05-05 21:42] rljacob commented on #1485
Verbose is ok.

[2017-05-05 21:58] #1155 closed

[2017-05-05 21:58] #1190 closed

[2017-05-06 02:52] rljacob commented on #667
Was this fixed?

[2017-05-06 03:13] rljacob opened #1486 "build fails when EXEROOT ends in `/`"
When EXEROOT ends in '/' (e.g. if EXEROOT="/global/cscratch1/sd/petercal/ACME_simulations/master.mtest5.ne30_oECv3_ICG/build/"),
mct build fails with the following error:

`gmake: *** No rule to make target `/global/cscratch1/sd/petercal/ACME_simulations//master.mtest5.ne30_oECv3_ICG/build/intel/mpt/nodebug/nothreads/mct/Makefile.conf'. Stop.`

When EXEROOT does not end in '/' (e.g. /global/cscrat

[2017-05-07 00:16] #1459 closed

[2017-05-07 20:14] #1429 closed

[2017-05-08 12:25] jedwards4b opened #1488 "python 3 format causing pylint fails"
In PR #1471 I objected to the usage of python3 syntax format statements instead of %s as used throughout the code.   Now I've noticed that this usage was introduced to the trunk in PR #1388

Master is failing pylint tests due to #1388 - while fixing the pylint test can you please revert to %s usage throughout?

[2017-05-08 16:30] erichlf commented on #1488
I can do that.

[2017-05-08 16:34] jayeshkrishna commented on #667
No, this was kept on hold due to the recent CIME merge (reorganization of the source tree etc). I will fix this on the ACME side today.

[2017-05-08 17:04] erichlf commented on #1488
So the question is why wasn't pylint failing with the other python3 string formats that already existed in the code?

[2017-05-08 17:47] jedwards4b commented on #1488
I don't know, it's also not failing on cheyenne - different pylint version maybe?

[2017-05-08 18:19] fischer-ncar opened #1489 "drv_flds_in being open multiple times without being close."
drv_flds_in is being opened in seq_drydep_mod.F90, but not closed.  Then it's opened again in shr_ndep_mod.F90.  This bug was only being caught by gnu and pgi, intel and nag where fine with this bug.

[2017-05-08 18:37] erichlf commented on #1488
@jgfouca has a fix for this.

[2017-05-08 18:53] jgfouca commented on #1488
@jedwards4b I added an additional warning ignore to code_checker, so we can use python3 string formatting. Based on my discussions with Erich, I believe the python3 format is superior, so it should be a win for us to use it in the longrun.

[2017-05-08 19:00] jedwards4b commented on #1488
I am not disagreeing that format is a superior usage.  I am arguing for consistent usage throughout the code.  I would like to use %s for now and if another PR comes up changing all %s to format then we can consider switching.

[2017-05-08 19:23] erichlf opened #1492 "Change Python2 Strings to Python3 Strings"
For future compatibility we should switch strings from python2, e.g. `'%s' % var`, to python3 strings, e.g. `'{}'.format(var)`. The strength of this approach becomes obvious when we look at something like the following:
[code]
vs
[code]

[2017-05-08 19:25] rljacob commented on #1488
Its reasonable to change them file-by-file as you go along rather then every file all at once.

[2017-05-08 19:33] rljacob commented on #1488
....but don't want to start that at this time while trying to harden for CESM2 release.

[2017-05-08 19:38] erichlf commented on #1492
One can even do the following:
[code]

[2017-05-08 20:12] jedwards4b opened #1493 "PR #1450 breaks use of any machine queue"
Prior to #1450 a user could specifiy a machine queue that was not explicitly listed in config_batch.xml on the create_newcase command line.   After #1450 this results in
ERROR: Queue 'verylong' is unknown to this system

[2017-05-08 20:17] #1489 closed

[2017-05-08 20:24] rljacob commented on #1492
Are we sure these 3.0 features are backwards-compatible with any unix-distro's or HPC vendors version of python 2.7 - 2.9?

[2017-05-08 20:40] jedwards4b commented on #1493
As a workaround you can still
./xmlchange JOB_QUEUE=verylong
after you have created the case.

[2017-05-08 21:05] rljacob commented on #1492
Related to #1488

[2017-05-08 21:29] mfdeakin-sandia commented on #1492
str.format was introduced in Python 2.6, so this should be backwards compatible with any version of Python 2.7

[2017-05-08 21:31] mfdeakin-sandia commented on #1492
Also, what is Python 2.9? Unless someone's distributing their own Python, 2.8+ doesn't exist?

[2017-05-08 21:34] #1493 closed

[2017-05-08 21:46] rljacob commented on #1492
Sorry.  That was me assuming there's something between 2.7 and 3.0.

[2017-05-08 22:12] #863 closed

[2017-05-09 02:07] mvertens opened #1497 "Slab Ocean Mode is broken on CIME master"
This was introduced in PR #1451.

I am working on a fix and hope to issue a PR quickly for this.

[2017-05-09 14:14] jedwards4b commented on #311
Since there have been no further comments I'm closing this.

[2017-05-09 14:14] #311 closed

[2017-05-09 16:31] erichlf commented on #1492
Here is a nice cheat sheet:
http://python-future.org/compatible_idioms.html

[2017-05-09 17:03] fischer-ncar opened #1498 "Need to update old style grid alias with new, for masks that were missed."
When the grid masks, mg16 and mg17, were added to the new alias style.  usgs and gx3v7 were missed.  Need to add new aliases for usgs and gx3v7 masks in config/cesm/config_grids.xml.

[2017-05-09 17:06] #1276 closed

[2017-05-09 17:20] #416 closed

[2017-05-09 18:22] jayeshkrishna commented on #667
This ACME-specific issue is being handled in ACME-Climate/ACME#1504 . Should be brought in to ESMCI/cime in the next ACME->CIME sync.

[2017-05-09 18:22] #667 closed

[2017-05-09 19:06] #1498 closed

[2017-05-09 19:28] rljacob commented on #1479
CC @stephenprice

[2017-05-09 19:31] billsacks commented on #1479
Thanks, @rljacob . @stephenprice - sorry for the omission, just a result of my being overly hasty in filing the initial issue.

@stephenprice @matthewhoffman and @JeremyFyke - My understanding from talking with Jeremy is that ACME wants these changes as well – so I plan to _not_ have backwards compatibility with the old method (since trying to support both leads to some code complexity). Please le

[2017-05-09 19:58] stephenprice commented on #1479
While I suspect that we do want these changes implemented, I am going to defer to @JeremyFyke on this decision. Thanks.

[2017-05-09 20:09] jayeshkrishna commented on #1483
This was fixed in another recent commit -  7a67baee4ed71621520f6e8c039bbf2b8b3c872b

[2017-05-09 20:09] #1483 closed

[2017-05-09 21:08] JeremyFyke commented on #1479
Hey @stephenprice @rljacob @billsacks  - I concur with @billsacks, we want the new CPL-GLC remapping scheme in ACME too.  Also, I concur that retaining the old method won't be necessary in ACME - we would not use it due to excess spurious artifacts that it tends to introduce.

[2017-05-09 21:09] stephenprice commented on #1479
Thanks @JeremyFyke. Please go ahead then @billsacks, and thanks for checking with us.

[2017-05-09 21:21] #1497 closed

[2017-05-09 22:04] rljacob opened #1503 "Add option to st_archive to move files up to a certain date."
When running a long job, 36 hrs for example, it is useful to analyze model output while the simulation is running.  The diagnostic scripts should be run only on output in the short term archive.  Thus an option  to run short-term archiving while the model is running is necessary.

To make this safe, issue #1485 should be addressed.  Also, add an option to specify the maximum year number that is sa

[2017-05-09 22:08] jedwards4b commented on #1503
I don't believe that some fixed maximum year number will be adequate - what is safe to move depends on how the history files are configured.

[2017-05-09 22:17] rljacob commented on #1503
If a run directory has:
[code]
I should be able to run:
`case.st_archive --finished-logs-only --upto-year 0001`
and it will 1) leave the log files alone because this run just started and none of them are zipped 2) move all the *0001* history files to the short-term archive.   That won't work?

[2017-05-09 22:19] jedwards4b commented on #1503
What if the directory also has Wlowrmaster.cam.h1.0001-01.nc?  Is that a complete year of data or is it an incomplete multiyear file?

[2017-05-09 22:21] jedwards4b commented on #1503
I'm not saying that this task is impossible, just that it's more complicated than it appears.

[2017-05-09 22:21] mvertens commented on #1503
The problem is that you its not clear what auxiliary files are partly
filled up to year 0001. What if you had a auxiliary file that asked for 10
years of data. You don't want to move that file out of the $RUNDIR during
the run until the 10 years of data are filled. The short term archiver
knows to copy that file back from short term archiving and let the run
proceed on startup. If you move it out

[2017-05-09 22:24] mvertens commented on #1503
I think that being able to run diagnostics during a model run would involve
only copies to the short term archiving directory and not any moves. You
really don't need a short term archiver for that - just a smarter copy
script. Then the short term archiver could move stuff at the run end and
overwrite existing files if need be - but move them out of $RUNDIR.

On Tue, May 9, 2017 at 4:21 PM, jedwar

[2017-05-09 22:33] rljacob commented on #1503
I like that idea:  just copy as its running.

[2017-05-09 22:35] jedwards4b commented on #1503
So the option to case.st_archive should just be --copyonly

[2017-05-09 22:38] mfdeakin-sandia commented on #1503
@golaz Do you have any comments on this? This seems like a more reasonable and safer solution than the version I have on my branch now

[2017-05-09 22:44] mfdeakin-sandia commented on #1503
Should I implement this in the CESM st_archive as well?

[2017-05-09 22:45] jedwards4b commented on #1503
It would be nice to keep them in sync

[2017-05-09 22:48] mfdeakin-sandia commented on #1503
Okay. This and #1485 will come in with the next ACME to CIME merge

[2017-05-09 23:19] #848 closed

[2017-05-09 23:24] #1486 closed

[2017-05-10 02:25] rljacob commented on #1503
There shall be only one case_st_archive.py

[2017-05-10 02:33] mvertens commented on #1503
There is only one case_st_archive.py - so I'm confused as to what it would
mean to "keep them in sync".

On Tue, May 9, 2017 at 8:25 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-05-10 02:39] rljacob commented on #1503
Yes I'm confused what Michael meant by "Should I implement this in the CESM st_archive as well"?

[2017-05-10 12:40] jedwards4b commented on #1503
The user interface is in template.st_archive which is in the machines directory and distinct for each model, it is unlikely but possible that changes could be made for one model but not the other.

[2017-05-10 12:57] billsacks opened #1505 "env_mach_specific.xsd not general enough to handle my Mac's config_machines"
@jedwards4b (or someone else) - can you please help with this?

With recent versions of cime, I am no longer able to build the unit tests or set up a case on my Mac. I get this error:

[code]

I am using the following config_machines.xml, which worked until recently:

[code]

If I'm reading the error properly, it seems there are two problems:

1. It doesn't like that I haven't listed anything unde

[2017-05-10 13:59] jedwards4b commented on #1505
I just tried your file and it works fine - maybe its an xmllint version issue?
[code]

[2017-05-10 14:00] erichlf opened #1506 "Logger Strings aren't Suppose to be Formatted in Place"
When using logging in python, string formatting is suppose to be done by the logger, e.g.
[code]
should be
[code]
https://docs.python.org/2/library/logging.html#logging.debug
http://stackoverflow.com/questions/34619790/pylint-message-logging-format-interpolation
http://stackoverflow.com/questions/20780608/how-to-log-two-variables-values-in-a-single-logging-in-python

[2017-05-10 14:39] jedwards4b opened #1507 "config_pes_converter is broken"
I'm not sure how it ever could have worked - I am getting an error:
 No such file or directory: '../config/cesm/machines/userdefined_laptop_template/config_pes_new.xml'

But it should be opening this file to write, not to read.

[2017-05-10 14:42] sarich commented on #1507
The error probably means the directory doesn't exist, perhaps because these files and scripts have moved around a bit. I'll take a look.

[2017-05-10 14:49] jedwards4b commented on #1507
There is another error in the file you'll need to fix

-    CIME.utils.parse_args_and_handle_standard_logging_options(args, parser)
+    args = CIME.utils.parse_args_and_handle_standard_logging_options(args, parser)

[2017-05-10 15:06] billsacks commented on #1505
@jedwards4b - config_machines.xml itself validates for me. The problem comes with validating the env_mach_specific.xml file that it produces. Sorry, I should have sent that before:

[code]

[code]

[2017-05-10 15:19] billsacks commented on #1505
Temporary workaround for others experiencing this problem:

[code]

[2017-05-10 15:21] jedwards4b commented on #1505
I have a fix PR soon.

[2017-05-10 16:51] jgfouca commented on #1506
Go ahead and do it the way it is in your first code block. I turned off the pylint warning for this because it wasn't useful.

[2017-05-10 16:52] jgfouca opened #1508 "Build failures should not produce a stack trace"
Stack traces should be reserved for CIME infrastructural failures.

[2017-05-10 16:58] erichlf commented on #1506
Sounds good.

[2017-05-10 16:58] #1506 closed

[2017-05-10 17:00] jgfouca commented on #1439
@rljacob I think I addressed the concern that led you to make this ticket.

[2017-05-10 17:00] #1439 closed

[2017-05-10 17:06] jgfouca commented on #1331
@mnlevy1981 this is a good point, the most expensive tests should be started first.

[2017-05-10 17:07] rljacob commented on #1505
*should* env_mach_specific.xml validate?

[2017-05-10 17:10] jgfouca commented on #900
@amametjanov is this still an issue?

[2017-05-10 17:14] jgfouca commented on #656
@ekluzek this should be fixed by recent work to support re-runnability for our tests. Please re-open and assign to me if that's not the case.

[2017-05-10 17:14] #656 closed

[2017-05-10 17:17] jgfouca commented on #444
Assigning @mfdeakin-sandia since he's done some of these in the past.

[2017-05-10 17:17] jedwards4b commented on #1331
@jgfouca I was about to say that this is a testlist issue and not really acme, but I just checked the list returned from test_utils and it is ordered correctly:
[code]

[2017-05-10 17:21] jgfouca opened #1510 "Log files should be more clear about cprnc comparisons"
From ACME slack:

 I'm trying to confirm that our fix to the PET_Ln9.ne30_oEC.A_WCYCL2000.skybridge_intel test worked. In the log, I see only one cprnc result -- that the results are different from the baseline, which we expect. Does it pass the self-comparison? I don't see that anywhere

017-05-10 00:24:31: Comparing hists for case 'PET_Ln9.ne30_oEC.A_WCYCL2000.skybridge_intel.C.jenkins_next_2017

[2017-05-10 17:40] rljacob commented on #1510
+1 for adding a very clear "PASS" in the test log for each phase that passes.

[2017-05-10 17:54] amametjanov commented on #900
No. Checked in ACME-master and these modifiers are now working:
- PET_PMx1.ne4_ne4.FC5AV1C-L --> 6x1 PE layout (default is 6x16 for all components)
- PET_PT.ne4_ne4.FC5AV1C-L --> 6x16 for all except ICE and OCN which are at 6x1.

Thank you.

[2017-05-10 17:54] #900 closed

[2017-05-10 18:36] #1262 closed

[2017-05-10 18:38] rljacob commented on #444
Should probably give this to someone else since Michael is committed to critical path team tasks.

[2017-05-10 18:42] mfdeakin-sandia commented on #444
I think I have some time coming up; they didn't mention any SE things in the meeting yesterday

[2017-05-10 19:00] jedwards4b commented on #1430
It's difficult to know at the point of the error which user_nl_ file is the problem.  What is wrong with user_nl_xxx ?   It's really not that cryptic.    I can change the message to :
ERROR: Cannot change atm_cpl_dt in user_nl file use xml variable ATM_NCPL.

[2017-05-10 19:18] #1422 closed

[2017-05-10 19:22] #646 closed

[2017-05-10 19:23] sarich commented on #1507
For the first problem (no such file or directory), do you expect this script to recursively create directories if they don't exist, or just to quit gracefully with a message that the given directory is unavailable?

[2017-05-10 19:24] mvertens commented on #1380
The final verdict is CIME-driven. Driven both by the fortran and by the scripts.

[2017-05-10 19:24] #1380 closed

[2017-05-10 19:26] #1449 closed

[2017-05-10 19:28] #1101 closed

[2017-05-10 19:33] jgfouca commented on #67
@worleyph @rljacob , we're trying to figure out what to do with this ticket, thoughts?

[2017-05-10 19:39] amametjanov commented on #67
ACME sets `drv_threading=.true.` in `drv_in` namelist and components are picking up the correct number of threads. I think this can be closed.

[2017-05-10 19:44] #256 closed

[2017-05-10 19:48] rljacob commented on #67
Or change the title to make it a CESM issue.

[2017-05-10 19:48] rljacob commented on #67
Actually close it since Doug brought up wrt ACME.

[2017-05-10 19:48] #67 closed

[2017-05-10 19:49] mvertens opened #1512 "Remove manage_testslists"
This is a CESM only issue.
We need have all of the testslists migrated to the new schema - and then simply remove the manage_testlist script. This should wait until after the CESM2 release. The main culprit is probably CLM - but this needs to be confirmed. CESM liaisons can help with this if need be.

[2017-05-10 19:49] #371 closed

[2017-05-10 19:50] billsacks commented on #371
Closing this because we'll remove manage_testlists - see #1512

[2017-05-10 19:50] billsacks commented on #1430
If it's hard to determine which user_nl file is the problem, I'm fine with (1) not being addressed - though @jedwards4b , I do like your suggestion better - `in user_nl file`.

As for (2), I looked briefly into this: What I had forgotten in the telecon discussion a few minutes ago was that @mvertens had addressed this by adding the capability for a separate attribute named `cannot_modify_by_user_n

[2017-05-10 19:50] #1505 closed

[2017-05-10 20:30] ekluzek commented on #1512
We do want to move to the new schema for CLM as there is additional functionality we'd like to tap into. And we do need to redo our testlists as we need to redo all the compsets as well.

So is the idea that you edit the XML in the test lists directly rather than using the tool? I thought the tool was developed so that we didn't have to touch the XML directly because there were problems when peopl

[2017-05-10 20:36] #1430 closed

[2017-05-10 21:23] #901 closed

[2017-05-10 21:25] #1400 closed

[2017-05-10 21:28] billsacks commented on #1512
Yes. Or create a macro / snippet in your editor of choice to facilitate this.

The new schema makes it easier to edit the xml directly.

For more on this, see the long email thread with subject "you can help speed up testing", Oct 4-6, 2016. This is too long of a thread to easily copy to this github issue, but @ekluzek you were on it, and if others want to see it, I can try to copy relevant bits h

[2017-05-11 02:30] billsacks opened #1516 "The glc2lnd mapping of Sg_icemask should be done without normalization"
One of the fields mapped from glc to lnd is Sg_icemask, which gives a dynamic view of the (land + ice)-covered portion of the GLC domain (i.e., excluding open ocean, which cannot accept SMB). Currently, this field is mapped with norm=.true. I haven't thought about this in a while, but I'm now thinking this should actually be mapped with norm=.false.

I went back through a bunch of old notes on thi

[2017-05-11 02:36] billsacks commented on #1516
I did some investigation recently with the new, CISM 4-km grid and the f09_g16 (or maybe f09_g17?) CLM grid. I found that, at initialization, the only CLM cells that partially overlap the (full, static) CISM grid have icemask = 0. So, absent any changes in icemask over time, this wouldn't be an issue for our current standard configuration. However, we should still address this because:

- The icem

[2017-05-11 02:50] rljacob commented on #1101
Was this test added?

[2017-05-11 03:23] mvertens commented on #1101
Ah - good point. I'm not sure it was added to the scripts regression tests.
This needs to be reopened. I got confused with new DWAV compsets rather
than new DWAV tests in CIME.

On Wed, May 10, 2017 at 8:50 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-05-11 18:18] #389 closed

[2017-05-11 18:41] rljacob commented on #444
ok.

[2017-05-11 18:43] jedwards4b commented on #945
My suggestion is just to change the header to be
#! /bin/tcsh -fx
to correctly reflect the language requirement of this script.

[2017-05-11 18:46] jedwards4b commented on #946
I believe that this issue has been addressed in #1504

[2017-05-11 18:49] jedwards4b commented on #1118
Is this still an issue - if it is can you provide a testcase @mnlevy1981 ?

[2017-05-11 19:42] billsacks commented on #946
Most of the comments from my original report have _not_ been addressed on master.

[2017-05-11 19:57] #945 closed

[2017-05-11 20:13] mfdeakin-sandia commented on #1503
@jedwards4b Would you have suggestions on how to modify the batch script to include the --copy-only option in a create_test? I have most of the test implemented (tenatively called ERRI), but need to add this in

[2017-05-11 20:16] jedwards4b commented on #946
I disagree with your request to remove specific command line arguments --valid-values, --type and --description.    I just tested --group and it seems to work fine.   Documentation has been updated.

[2017-05-11 20:20] bertinia opened #1519 "CIME Users Guide Documentation"
I'm opening a new issue for the CIME Users Guide Documentation to coordinate
our efforts so that a technical writer at NCAR can review and update what is currently
posted at [esmci.github.io/cime](http://esmci.github.io/cime/doc/build/html/index.html)

Mariana sent out this email on 2-19-2017 with section assignments for the CIME Users Guide documentation on the gh-pages branch:

- @ekluzek  and @

[2017-05-11 20:25] billsacks commented on #946
`--group` doesn't work for me on master:

[code]

[2017-05-11 20:33] bertinia commented on #1470
The new query_config --grids --long no longer outputs the grid long name and it should.

For example, the output now looks like the following:

     alias: g16_g16 (only for compsets that are DATM.+DROF )
       non-default grids are: atm:gx1v6  lnd:gx1v6  ocnice:gx1v6

       gx1v6 is displaced Greenland pole v6 1-deg grid: with domain file(s):
       $DIN_LOC_ROOT/share/domains/domain.ocn.gx1v6.

[2017-05-11 21:02] mvertens opened #1520 "New Component Specific User Mods"
We need the ability for a component to set user mods for other components in regular expression matching capability. As an example CAM needs to make sure that all orbital settings are set to specific values for ALL aquaplanet compsets. The current usermods attachment to a compset would mean that effectively 60 new compsets need to be added to ensure this dependence with the current scheme. This PR

[2017-05-11 21:26] mfdeakin-sandia commented on #1503
Part of the reason to use short term archiving was to reduce the directory structure gets too large, and causes issues for the centers filesystems and also information management for the user; so the critical path team is opposed to the copy option, unfortunately. They prefer the --last-date option; with the caveat that if the user screws it up, it's their fault.
If it's okay, I will have this fea

[2017-05-11 21:37] whlipscomb commented on #1516
@billsacks , Thanks for thinking this through.  I agree with your reasoning.  Assuming that your understanding in (1) of norm=.true.is correct, I think we want norm = .false. for this mapping.  And since the issue doesn't affect the current grid CISM/CLM grids, I agree that the resolution can wait a few weeks.

[2017-05-11 22:08] dabail10 commented on #1519
Things are looking good with DICE and DOCN that I can see. I have a few points though. The link to the SOM.pdf file is not working under the DOCN document. Also, it would be great to link to the bulletin board FAQ on this:

https://bb.cgd.ucar.edu/faq-data-ocean-slab-mode-docn-som

Also, I'm not sure about the convention for boldface, typewritten, italic. It looks like it is typewritten (double ba

[2017-05-11 22:10] billsacks commented on #1516
I've done some more thinking and looked through the code a bit more, and I think my understanding was correct. In particular: I'm pretty sure that, in the example I laid out above, Sg_icemask_l will be 1 if we use norm=.true. I'm not completely sure that using norm=.false. will give us what we want, but I think it will (and in any case, I'm pretty sure that it's more likely to give us what we want

[2017-05-11 22:27] rljacob commented on #1503
I didn't realize most of this could be done by altering our ACME-specific template.  In that case, yes just do it there.

[2017-05-11 23:37] mfdeakin-sandia commented on #1503
Most of the code is actually in the case_st_archive (sorry if I implied otherwise); I just didn't add the option to the CESM template

[2017-05-12 02:02] rljacob commented on #1503
I'm not sure what "to reduce the directory structure gets too large" means but a key point of the copy option is that you use it with the regular short term archiver.   So while a model is running, you can copy fresh output in to the archive.  When the model finishes, the linked regular short term-archive job will safely move all the output from the rundir to the archive, keeping the rundir from f

[2017-05-12 15:28] jedwards4b opened #1522 "FIXME at line 676 of case.py: validate compset settings for user-compset"
I would like to remove this comment in case.py - can someone give me an example that
gets this far with invalid compset settings?

        self._components = self.get_compset_components()
        #FIXME - if --user-compset is True then need to determine that
        #all of the compset settings are valid

[2017-05-12 15:43] billsacks commented on #1522
I'm not sure if this is what the FIXME note is referring to, but I see:

(1) Valid compset (as a "control"):

[code]

(2) Invalid compset:

[code]

Specifically, note the use of `DATM%FOO`. This happily moves ahead; I haven't checked what the resulting case looks like.

The only way I can think of to catch errors like this is if every component lists allowed settings in its config_components.xml f

[2017-05-12 15:44] billsacks commented on #608
I'm changing this from an enhancement to an issue, because I think it's really an issue that needs to be resolved for cesm2.

[2017-05-12 15:45] mnlevy1981 commented on #1118
Yup, still a problem as of `cesm2_0_alpha06i`:

[code]

That's a 5 day run by default, but my timing file shows

[code]

Note the discrepency between the last two lines.

[2017-05-12 15:59] jedwards4b commented on #608
Please lead me through an example.  How do we determine that the user_compset input is a valid compset and then how do we determine what the principle component of that compset is?

[2017-05-12 16:04] mnlevy1981 commented on #1519
The river runoff section is done as of b675ad8

[code]

[2017-05-12 16:21] mvertens commented on #608
One idea is to have a first pass match list for the principle component -
- e.g. you have CAM + CLM  + DOCN  then the principle component is CAM
if a match is not found - then the user would be told they have to specify the pes file
thoughts?

[2017-05-12 16:45] jedwards4b commented on #1118
[code]

[2017-05-12 16:45] jedwards4b commented on #1118
Look better?

[2017-05-12 16:56] mnlevy1981 commented on #1118
yup, that's what I was expecting to see! (And I double-checked your timing file - the resulting pe-hrs/sim-year and SYPD numbers are correct as well.)

[2017-05-12 18:39] billsacks commented on #608
@mvertens - yes, I agree with your idea. My conceptual thinking is: What is the process that you or I would currently go through to figure out where to find the pes file for a given user compset? We "just" need to put that process into code. I agree that the first step is to determine the principle component, as you say.

[2017-05-12 18:44] #1345 closed

[2017-05-12 19:11] jedwards4b commented on #1522
So we could have a new variable in config_component.xml
[code]
I can make this optional so that all components do not need to supply it right away - if a component does supply it then any modifier provided for that component in the compset name will be checked against this list.   If it's not supplied than no error check is done for modifiers in that component.

[2017-05-12 19:14] billsacks commented on #1522
@jedwards4b - yes, I really like that solution.

[2017-05-12 19:17] billsacks commented on #1522
Actually, I _think_ (but am not sure) that datm, and maybe other components (probably mostly data models) require at least one modifier. i.e., I _think_ it's invalid to have a compset like `2000_DATM_SLND_DICE%SSMI_DOCN%DOM_DROF%NYF_SGLC_SWAV`. If I'm right about that, then is there a way we can also denote that a modifier is required for a given component?

[2017-05-12 19:37] mfdeakin-sandia commented on #1503
I think they want to keep the run directory structure small, even during runtime. I don't understand why, maybe @PeterCaldwell or @golaz could explain?

[2017-05-12 20:02] jedwards4b commented on #1522
Yes, but can you confirm that?

[2017-05-12 20:12] billsacks commented on #1522
@jedwards4b - I don't know how to confirm this.

@mvertens or @ekluzek - do you know if datm and/or other data models _require_ a modifier? e.g., is it invalid to do a compset with `_DATM_` rather than `_DATM%something_`?

[2017-05-12 20:14] ekluzek commented on #1522
@billsacks I'm pretty sure you have to specify what DATM_MODE as a %. It's possible there is a default of CORE forcing, but I doubt we EVER rely on the default.

[2017-05-12 20:15] billsacks opened #1525 "Determination of primary component needs to be changed to work for user-defined compsets"
#1523 defines the "principle component" for a compset. However, the way it is determined only works for compsets with aliases, not for user-defined compsets. This determination needs to be done differently to work for user-defined compsets, so that the user mods dir defined in config_component.xml will be picked up for user-defined compsets, too.

This is also needed for #608

cc @mvertens @jedwar

[2017-05-12 20:20] ekluzek opened #1526 "Add in CRU V7 forcing"
We need to add in the ability to handle CRUNCEP version 7 atmosphere forcing for CLM into datm. This will match the way CRUV5 forcing is done. We expect to get a new set of CRU forcing each year, and we'll want the ability to run with the new version at least locally at NCAR. Versions that are released will also be imported into subversion inputdata.

[2017-05-12 20:28] rljacob commented on #608
I didn't realize --pesfile had to point to a pre-existing config_pes.xml.   Shouldn't it point to a user-created env_mach_pes.xml?   It doesn't make sense for a user's custom compset to have its pe-layout in the same files as the regular compsets.

[2017-05-12 20:29] mvertens commented on #1526
Can you please take this on?

On Fri, May 12, 2017 at 2:20 PM, Erik Kluzek <notifications@github.com>
wrote:

[2017-05-12 20:29] billsacks commented on #608
@rljacob - In most cases, I think user-defined compsets are just slight one-offs from existing compsets - e.g., using a combination of options for which there is no alias. Since the pe layout is usually more general than that (e.g., all I compsets at a given resolution should use this pe layout), it makes sense to reuse the existing config_pes file.

[2017-05-12 20:30] ekluzek commented on #1526
Yes, I already assigned myself to it.

*Erik Kluzek, (CGD at NCAR)*

*National Center for Atmospheric Research*

*Boulder CO, *

*(off) (303)497-1326 (fax) (303)497-1348*

*(skype) ekluzek    (cell) (303)859-0183*

*Pronouns: he/his/him*

*------------------ Home page ------------------------*

*          http://www.cgd.ucar.edu/~erik <http://www.cgd.ucar.edu/~erik>*

*          https://staff.ucar

[2017-05-12 20:41] jedwards4b commented on #608
config_pes.xml and env_mach_pes.xml have pretty different formats, but as of
PR #1494 either can be used as a pesfile.

[2017-05-12 20:42] rljacob commented on #608
Ok.   What's missing is the compset alias.   CIME finds which component has the compset alias, then it uses the pe-layout pointed to by that component in PES_SPEC_FILE.   The decision of which config_compset to put the alias in is where the "mapping" is done to the "principle component".
So instead of --pesfile and a full path, change it to --user-component which would be one of "atm", "ocn" etc.

[2017-05-12 20:44] golaz commented on #1503
@rljacob : haven't we talked about all this at nausea before? :)
Having tens of thousands of files in the run directory is challenging because it slows everything down (for example ls takes tens of seconds). I'm worried about copying files because we are not talking about a small size. 30 years of low-res model output is of the order of 1.6 TB. Try copying this on Edison, it will take several hour

[2017-05-12 20:50] mfdeakin-sandia commented on #1503
Having tens of thousands of files in the run directory shouldn't slow things down unless you're listing everything in the directory.
I forgot to mention the slow speed of copying; though that's another thing to consider (it's unfortunate HPCs don't use CoW filesystems...)

[2017-05-12 20:53] rljacob commented on #1503
We did but wasn't sure what "directory structure small" meant.  Number of files.  That makes sense.

[2017-05-12 20:58] billsacks commented on #608
@rljacob - your suggestion of having `--user-component` is basically what was done in cime4. That is an improvement, and would be a big step towards an ideal solution. However, I feel that even this tripped people up: Most users are not aware that, for example, if they're doing an F compset, then the pes are set by atm, etc. We as the cime developers know that, so should be able to encode that inf

[2017-05-12 22:32] mvertens opened #1527 "minor datm and docn changes"
**DOCN**
- Introduce ability to use a netCDF file for the aquaplanet SST (instead of the analytic SST). Test this with the following example untested dataset:
`/glade/p/work/brianpm/model_data/sst_c4aquasom_0.9x1.25_clim.c170512.nc`
The idea is to provide this capability in advance of users asking us how to do it. This can be implemented as another aquaplanet model and could be specified in a user

[2017-05-12 23:01] rljacob commented on #1525
First, it should be "principal" not "principle".   Second, a "principal component" already has an established meaning in climate stats analysis and its confusing to see it in CIME.   https://en.wikipedia.org/wiki/Principal_component_analysis

[2017-05-12 23:57] jedwards4b commented on #1525
Good grief - nominations for a different name?

[2017-05-13 01:22] billsacks commented on #1525
Good point.

I felt the same way.

Some options from my thesaurus: "primary"? "focal"? "cardinal"?

[2017-05-13 01:24] rljacob commented on #1525
"primary component" would work.

[2017-05-13 18:54] billsacks commented on #1021
I'm removing this from the cesm2 milestone, because other things seem higher priority. If others disagree, feel free to re-add it to that milestone.

[2017-05-13 18:56] billsacks commented on #1130
I'm removing this from the cesm2 milestone, because other things seem higher priority. If others disagree, feel free to re-add it to that milestone.

[2017-05-13 18:56] billsacks commented on #1130
I'm removing this from the cesm2 milestone, because other things seem higher priority. If others disagree, feel free to re-add it to that milestone.

[2017-05-13 19:00] billsacks commented on #478
Closing as a duplicate of #1293

[2017-05-13 19:00] #478 closed

[2017-05-13 19:02] billsacks commented on #572
Closing this issue. Reopen if you think it's still a problem.

[2017-05-13 19:02] #572 closed

[2017-05-13 19:28] mvertens commented on #1522
First - I really like this idea! I would suggest shorter name like
COMPNAME_MODIFIERS.

Second. I have validated that the following user compset
 2000_DATM_SLND_DICE_DOCN_DROF_SGLC_SWAV works and gives the following data
modes:
        DATM_MODE: CORE2_NYF
        DICE_MODE: ssmi
        DROF_MODE: DIATREN_ANN_RX1
        DOCN_MODE: prescribed

Third - I am wondering if we don't already check that

[2017-05-13 19:53] billsacks commented on #773
@ekluzek - is this needed for cesm2?

[2017-05-13 19:55] billsacks commented on #860
@mvertens and @fischer-ncar - is this still an issue? If so, should it be added to the cesm2 milestone?

[2017-05-13 19:59] billsacks commented on #962
@gold2718 @mvertens - is this still an issue? If so, does it need to be added to the cesm2 milestone?

[2017-05-13 20:01] billsacks commented on #1091
I'm pretty sure this was resolved by #1365

[2017-05-13 20:01] #1091 closed

[2017-05-13 20:03] billsacks commented on #1168
@gold2718 and @mvertens - is this still an issue? If so, does it need to be resolved for cesm2?

[2017-05-13 20:10] billsacks commented on #1520
@jedwards4b and @mvertens - should this have been closed with #1523 ?

[2017-05-13 20:11] billsacks commented on #1527
@mvertens - should we add this to the cesm2 milestone?

[2017-05-13 20:16] ekluzek commented on #773
Yes, it's a simple change that we should just do.

[2017-05-13 20:18] billsacks opened #1529 "Add CPLHIST option to prescribed aerosol mode in datm"
_From @quantheory on August 4, 2015 18:6_

From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2076

_Copied from original issue: CESM-Development/cime#99_

[2017-05-13 20:18] billsacks commented on #1529
@ekluzek - should this be fixed for cesm2?

[2017-05-13 20:18] billsacks commented on #1529
_From @ekluzek on May 4, 2016 16:10_

Yes.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype) ekluzek    (cell) (303)859-0183_

_Pronouns: he/his/him_

_------------------ Home page ------------------------_
- ```
       http://www.cgd.ucar.edu/~erik <http://www.cgd.ucar.edu/~erik>*
[code]

  https://staff.

[2017-05-13 20:20] billsacks opened #1530 "Changes to save aerosols for MOAR forcing cases"
_From @quantheory on August 4, 2015 18:5_

From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2078

_Copied from original issue: CESM-Development/cime#98_

[2017-05-13 20:20] billsacks commented on #1530
@ekluzek - should this be fixed for cesm2?

[2017-05-13 20:20] billsacks commented on #1530
_From @ekluzek on May 4, 2016 16:9_

Yes.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype) ekluzek    (cell) (303)859-0183_

_Pronouns: he/his/him_

_------------------ Home page ------------------------_
- ```
       http://www.cgd.ucar.edu/~erik <http://www.cgd.ucar.edu/~erik>*
[code]

  https://staff.u

[2017-05-13 20:20] billsacks commented on #1529
Related to #1407

[2017-05-13 20:21] billsacks commented on #1530
Related to #1529

[2017-05-13 20:21] billsacks commented on #1529
Related to #1530

[2017-05-13 20:24] ekluzek commented on #1530
I think this could wait for the update to cesm2.0. This needs some development.

[2017-05-13 20:24] ekluzek commented on #1529
This needs some development, so could wait for the update after cesm2.0.

[2017-05-13 20:24] mvertens commented on #1527
Yes. I just added it - thanks for pointing this out.

[2017-05-13 20:25] billsacks commented on #1407
https://github.com/CESM-Development/cime/issues/99 is now #1529

[2017-05-13 20:26] mvertens commented on #1520
Yes - I think this should have been closed. @jedwards4b - could you please
verify this.

On Sat, May 13, 2017 at 2:10 PM, Bill Sacks <notifications@github.com>
wrote:

[2017-05-13 20:35] ekluzek commented on #1064
This was fixed by putting in a softlink to the disk on cheyenne as shown in ESMCI#1064.

[2017-05-13 20:35] #1064 closed

[2017-05-14 01:05] mvertens opened #1532 "B1850 compset can no longer be created off of cime master"
The PR with hash lbbbfc2
   Merge pull request #1517 from jedwards4b/set_value_valid
is causing B1850 compsets to not work out of the box

The output is as follows:
Compset longname is 1850_CAM60_CLM50%BGC_CICE_POP2%ECO_MOSART_CISM2%NOEVOLVE_WW3_BGC%BDRD
Compset specification file is /glade/p/work/mvertens/cesm2_0_alpha06j.datamodels/cime/../cime_config/config_compsets.xml
Pes     specification fi

[2017-05-14 01:24] billsacks commented on #1532
I feel some responsibility for this, because I'm the one who pushed for getting this error-check put in place. Given the time crunch, I'd be reluctantly okay with backing out #1517 for now so that this error-check isn't done - as long as we plan to put it back in again soon when the cesm2 rush is done.

Although if we think that this is likely to be the only - or one of the only - offending xml va

[2017-05-14 01:41] mvertens commented on #1532
Lets back it off for now and add it back into  the CESM milestones - but
not as CRITICAL. that way we can decide if its the only offending variable
and see if we can get it into the release.

On Sat, May 13, 2017 at 7:24 PM, Bill Sacks <notifications@github.com>
wrote:

[2017-05-14 01:49] mvertens commented on #1168
Yes - this is a critical issue and I have moved it to the CESM milestones
as such. I have a fix for this for ww3 and am testing it now and will
hopefully get a new trunk tag made shortly.

On Sat, May 13, 2017 at 2:03 PM, Bill Sacks <notifications@github.com>
wrote:

[2017-05-14 02:47] mvertens commented on #1525
That's fine with me.

On Fri, May 12, 2017 at 7:24 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-05-14 21:26] mvertens commented on #1168
This is critical for the CESM2 release because users will not be able to automatically download this file from the inputdata repository without check_input_data capability - so they will not be able to get the CESM2 scientifically supported configurations working out of the box.

This is a CESM2 bug ONLY.

[2017-05-14 21:26] mvertens commented on #1168
This has been resolved by the ww3 tag:
`https://svn-ccsm-models.cgd.ucar.edu/ww3/trunk_tags/ww3_170514`

[2017-05-14 21:26] #1168 closed

[2017-05-14 22:54] jedwards4b commented on #1532
It's good to find and fix these now.  Should there be an XROF_FLOOD_MODE variable?   Probably not?   I would rather fix this than back out the PR, I don't think it will take much.  First thing Monday.

[2017-05-14 23:21] ekluzek commented on #1532
@jedwards4b I don't think that XROF_FLOOD_MODE should exist. FLOOD_MODE is an experimental configuration for CLM and an active ROF component (currently only RTM, but eventually MOSART). It routes an additional field through the coupler. I suppose having XROF_FLOOD_MODE could help to test this configuration. But, since it's a sideline mode right now I don't think you need it in the dead components.

[2017-05-15 00:53] mvertens commented on #1532
I agree with Erik.

On Sun, May 14, 2017 at 6:53 PM Mariana Vertenstein <mvertens@ucar.edu>
wrote:

[2017-05-15 05:15] rljacob commented on #608
If the only purpose of --user-component is to find the pe layout, then we could make the option more obvious:  --pes-component ?   If the user really did want to make their own env_mach_pes.xml they could point to that with --pesfile instead.

[2017-05-15 11:47] billsacks commented on #608
@rljacob - there used to be a `--user-pes-setby` option that did what you're suggesting. But, particularly given #1525 , I'm thinking we want the scripts to determine this for you. I believe that the same "principal" / "primary" component would be used for both purposes.

[2017-05-15 13:00] jedwards4b commented on #1532
XROF_FLOOD_MODE is set in the config_grids.xml file in a line that looks like:
[code]
I see two issues with this - first is this really where we should set this variable or should it be in the xrof config_component.xml file?   Second - there are three grid attributes defined here, but if you look at the logic in grids.py it's only doing binary compares so if any two grids match we get a match.  So

[2017-05-15 13:03] jedwards4b commented on #1532
I don't understand why, if this variable is used with clm and rtm, it's defined in xrof?

[2017-05-15 13:22] jedwards4b commented on #1532
I see these are also defined in xrof config_component.xml - I think that they should just be removed from the config_grids.xml file.    I've also added a check in grids.py to make sure that the gridmap field in config_grids.xml has exactly two attributes.  PR on the way.

[2017-05-15 14:56] dqwu opened #1534 "PROXY not set on anlworkstation"
On anlworkstation, there is a error during phase CREATE_NEWCASE: No variable PROXY found in case

In config/acme/machines/config_machines.xml, some machines define a PROXY element (melvin, sandia-srn-sems, anlworkstation, skybridge, redsky). For anlworkstation, this element is empty:
`<PROXY></PROXY>`

Should we set PROXY for anlworkstation or it can be deleted?

[2017-05-15 15:08] jedwards4b commented on #1534
I believe that this problem was introduced in PR #1517 - can you confirm that removing the PROXY element from config_machines.xml for your system solves the problem?  Thanks,

[2017-05-15 15:14] dqwu commented on #1534
@jedwards4b
Yes, it works if we remove this element for anlworkstation.

[2017-05-15 16:29] billsacks commented on #1519
I still need to do some of this.... I updated the issue accordingly

[2017-05-15 16:50] rljacob commented on #608
Can every possible user compset be mapped uniquely to one primary component? (note using the new name!).    To user knows so give a method for the user to tell CIME.

[2017-05-15 16:53] billsacks commented on #608
@rljacob can you clarify what you mean by

[2017-05-15 16:53] rljacob commented on #608
I meant "the user knows what the primary component should be so bring back --user-pes-setby"

[2017-05-15 16:56] billsacks commented on #608
The problem is that most non-expert users do _not_ know this - whereas we do. So my point is that it's likely easier for us to code up the rules that determine the primary component given a compset, rather than leaving this up to the user and then needing to help users set this argument every time they want to create a --user-compset case.

[2017-05-15 16:57] jedwards4b commented on #608
I'm working on this issue, I think that the scripts can guess correctly most of the time and users can use the already existing --pesfile when the system cannot guess.   I'll replace principle with primary as part of this change.

[2017-05-15 16:58] rljacob commented on #608
If they're using a user compset, they should have enough knowledge to understand primary component.  We should explain it in the user guide.

[2017-05-15 17:35] ekluzek opened #1536 "Add option for updated GSWP3 data and check into inpudata"
We are supposed to have an update to the GSWP3 forcing dataset "any day now" that will require a change to cime DATM to point to it in scripts. And the data will need to be added to inputdata.

[2017-05-15 20:31] dabail10 opened #1538 "gx1v7 domain file"
The scripts are pointing to domain.ocn.gx1v7.151020.nc and should be pointing to domain.ocn.gx1v7.151008.nc. This causes errors in cases that use the DOCN.

Dave

[2017-05-15 20:35] #862 closed

[2017-05-15 20:35] dabail10 opened #1539 "Add f19_g17 resolution."
We are going to need 2-degree FV mapping files to gx1v7 very soon. I think for the tutorial we will be running f19_g37. However, we need some help on this.

Dave

[2017-05-15 20:35] #1532 closed

[2017-05-15 20:44] mfdeakin-sandia opened #1540 "Not all output files have the right permissions"
This is a recent issue which is causing issues for the coupled group sharing results.
@PeterCaldwell, @vanroekel can you clarify on what files are being created with the wrong permissions and provide reproduction steps (mainly, is there a resubmit)? From the conversation, it looks like all output files from year 31+ are created with incorrect permissions:

[2017-05-15 21:22] PeterCaldwell commented on #1540
I'd like to ask that figuring out the exact conditions under which problems occur be part of your task. To make that tractable, how about: use run_acme to create a new case and run for 2 months. Check whether permissions are ok. If so, use case_scripts/case.submit to continue the run and complete another 2 months. Check again whether permissions are ok. If so, continue the run again using case.run

[2017-05-15 21:26] billsacks commented on #1539
Needed for cesm2?

[2017-05-15 21:28] dabail10 commented on #1539
I believe it is, as this is the paleo configuration.

Dave

[2017-05-15 21:29] billsacks opened #1541 "Change tabs to spaces in strings that are left-aligned"
In talking to @mvertens we realized #1531 was only a partial fix for #862 : there can also be cases where there are tabs at the end or in the middle of strings. We should convert those tabs to spaces.

@mvertens has an implementation that she will test and commit, then I'll help by fixing up the relevant unit tests.

[2017-05-15 21:31] rljacob commented on #1539
@dabail10 can you fix the title to be a short sentence in "verb noun" format?

[2017-05-15 21:33] mvertens commented on #1539
@mlevy - would you be willing to take this on?

On Mon, May 15, 2017 at 3:31 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-05-15 21:37] mnlevy1981 commented on #1539
I can get these maps built tomorrow, but I'm a little confused by the request -- the tutorial is going to be `f19_g37`, so we want `f19_g17` supported in the CESM 2.0 release?

[2017-05-15 21:38] mfdeakin-sandia commented on #1540
Yes, that's reasonable. I had just hoped someone already had the reproduction steps

[2017-05-15 21:40] dabail10 commented on #1539
I did mix the two things up. Let me double check with a few people, but it was my understanding that f19_g17 would be needed in CESM2.

[2017-05-16 16:07] jgfouca opened #1543 "Add per-user option to not delete tests once they are run"
Users are asking for older results to be archived instead of blown away.

[2017-05-16 16:07] jgfouca commented on #1543
@ndkeen

[2017-05-16 17:02] amametjanov opened #1544 "Reverse the order of memory highwater and rss writes in cpl.log"
The order of 2 pairs of write statements at https://github.com/ESMCI/cime/blob/master/src/drivers/mct/main/cesm_comp_mod.F90#L3952
needs to be reversed: `highwater` is given by `msize0/msize1`, and last memory usage is given by resident set size `mrss0/mrss1` -- data actually held in RAM (on systems with `/proc`). Typically, `rss` is less than or equal to total `size`.

Example of cpl.log from Edi

[2017-05-16 17:39] mnlevy1981 opened #1545 "comp_pes incorrect in timing file?"
I've noticed this on both hobart and cheyenne, as recently as `cime5.3.0-alpha.12`: the `comp_pes` column in the table near the top of the `cesm_timing.$CASE` file to be off by a factor of two (or maybe I don't know what `comp_pes` is supposed to be?). This is true for all components, not just the coupler... I cut the output for brevity. And while I'm making a ticket, the stride column doesn't qui

[2017-05-16 18:32] mnlevy1981 commented on #1538
This also affects cases that use the DICE component (C compsets fail because DICE needs the domain file; G compsets run fine because neither POP nor CICE need it).

[2017-05-16 18:50] mvertens commented on #1544
@amametjanov - can you please assign this to someone.

[2017-05-16 18:50] rljacob commented on #1544
We have the fix ready in ACME.  Can redo it here are wait for an ACME->CIME merge.

[2017-05-16 21:24] #608 closed

[2017-05-16 21:24] #714 closed

[2017-05-16 22:04] mnlevy1981 commented on #1545
And maybe this is machine dependent? Numbers look okay on cheyenne, but off on yellowstone

[2017-05-17 00:02] mfdeakin-sandia commented on #1540
CIME doesn't seem to be affecting the permissions at all; so if you don't change your umask all of the output files generated will have the permissions you specify.

@rljacob @jedwards4b @jgfouca Is this how CIME is supposed to work? Would adding setting the default permissions of the output files be a reasonable feature to add?

[2017-05-17 00:10] jedwards4b commented on #1540
Note that cray DOE machines have a tool that constantly changes permissions on files to discourage sharing - are you sure this isn't a feature of your HPC platform?

[2017-05-17 00:15] PeterCaldwell commented on #1540
Good point. The issue we are seeing is that *new* files have wrong permissions. I've seen DOE machines (e.g. at LLNL) crawl through directories and remove read permissions, but I haven't seen machines arbitrarily changing umask settings (which is the symptom here).

[2017-05-17 00:16] mfdeakin-sandia commented on #1540
@PeterCaldwell Could it instead be that someone ran the run_acme script, then resubmitted with case.submit without changing their own umask settings?

[2017-05-17 00:24] PeterCaldwell commented on #1540
Hi Michael - your hypothesis is likely. I was assuming that each job submission would inherit the mask of previous submissions, but I don't really have a good reason for thinking that. Is it possible for case.run and case.submit to be changed to make files world readable by default?

[2017-05-17 05:01] gold2718 opened #1549 "Need MPI_TAG_UB added to mpi-serial"
MPI_TAG_UB has been added to MCT (via mpi-serial). Update MCT subtree in CIME to import. MPI_TAG_UB is needed by the new CAM-SE dycore.

[2017-05-17 05:05] gold2718 opened #1550 "Add new CAM-SE grids and domain files"
The new CAM-SE dycore will support more grids, add these to config_grids.xml

[2017-05-17 14:27] #1520 closed

[2017-05-17 15:35] mfdeakin-sandia commented on #1540
I think you'd want the permissions to be a bit more global; so that the directories created by create_newcase and case.setup are accessible.
This could be added as an option for create_newcase and adding an xml variable; or maybe just inheriting the permissions of the case directory.

[2017-05-17 15:43] PeterCaldwell commented on #1540
Yes, I agree that having all directories be world-readable would be much better. I was just trying to make life easy and the run directory is the one people want to see most often. I particularly like the idea of having submissions inherit the permissions of existing directories.

[2017-05-17 16:52] rljacob commented on #1540
*does* CIME try to set the umask anywhere?  I think it did for the timing archive but that was it.

[2017-05-17 16:53] #1544 closed

[2017-05-17 16:54] #1399 closed

[2017-05-17 16:59] jgfouca commented on #1540
@rljacob see utils.SharedArea.

@PeterCaldwell unfortunately, it's not easy in Linux to have subdirectories inherit permissions of their parent directory. I have looked into this several times. The best approach is to use metagroups and subdirectories can atleast inherit group ownership of the parent with chmod g+s. If all users of the area set their umask to 002, then things will work.

[2017-05-17 17:02] mvertens commented on #1538
Could you please assign this to Jim or me with a critical issue and we'll
try to get it through for the next alpha tag.

On Mon, May 15, 2017 at 2:31 PM, dabail10 <notifications@github.com> wrote:

[2017-05-17 17:02] jedwards4b commented on #1540
I would like to put forward the suggestion that this is an HPC system / science team issue and the solution is probably not a change in cime.

[2017-05-17 19:19] fischer-ncar opened #1555 "testreporter not catching failing NCK tests"
The testreporter isn't parsing TestStatus correctly to report failed NCK tests.

[2017-05-17 19:26] #1293 closed

[2017-05-17 19:30] #1374 closed

[2017-05-17 19:30] #1525 closed

[2017-05-17 19:36] bertinia commented on #1374
why was this closed? I'm still waiting for Kevin Raeder to finish his tests
with DART and a
recent CESM tag. I can reopen when we're ready to check-in his tested
changes.

On Wed, May 17, 2017 at 1:30 PM, mvertens <notifications@github.com> wrote:

--
Alice Bertini
NCAR - CSEG Software Engineer

[2017-05-17 19:39] fischer-ncar commented on #1555
Need to add a check for "COMPARE_base_multiinst"

[2017-05-17 19:39] rljacob commented on #1023
We haven't answered this.

[2017-05-17 19:40] billsacks commented on #1525
This was fixed via #1546

[2017-05-17 19:42] #1325 closed

[2017-05-17 21:43] dabail10 commented on #1538
How does one make it critical?

[2017-05-17 21:50] jedwards4b opened #1558 "config_compsets not parsed correctly"
This bug was introduced in 62fa492 (PR #1523) and is causing the time orientation of compsets to be incorrect.

[2017-05-17 22:17] rljacob commented on #1549
I recommend you do this by updating the mpi-serial subtree only.  If you bring in the latest MCT, you'll get the hard-coded high-res performance improvements which may or may not affect performance for 1-degree CESM cases.

[2017-05-18 02:15] #1538 closed

[2017-05-18 02:15] #1558 closed

[2017-05-18 03:42] gold2718 commented on #1549
@jedwards4b, you seem to have added the hvector stuff to mpi-serial and also directly to CIME but the implementations are not the same. Which is correct?

[2017-05-18 12:32] billsacks commented on #827
For the perl-based namelist generation, at least in some cases, `print` messages do not appear on stdout. This is a problem because the cause for the error is then often unclear.

Example from cesm2_0_alpha06k

[code]

Dies with:

[code]

whereas I expected to see this error message printed (which I confirmed is printed in cesm1_5_beta07, which used cime4):

[code]

[2017-05-18 15:07] billsacks commented on #1541
Fixed via #1547

[2017-05-18 15:07] #1541 closed

[2017-05-18 15:41] #1507 closed

[2017-05-18 18:53] billsacks commented on #1250
Temporary workaround: when running run_tests.py, add this option:

[code]

[2017-05-18 19:00] jedwards4b commented on #1250
The flag in Macros.cmake is   HAS_F2008_CONTIGUOUS note that intel17 on cheyenne needs
set(HAS_F2008_CONTIGUOUS "FALSE")

[2017-05-18 19:59] rljacob opened #1562 "Change README to remove table and history"
I'd like to propose a change to the README file.

Instead of a table with person, years, versions, funding, lets just list names and institutions without versions.   We can have three groups of names:
Lead developers: (Jim and Jim go here in alphabetical order)
Developers: (everyone currently working on it in alphabetical order with institution in parenthesis)
Former Developers:  (everyone who onc

[2017-05-18 20:04] rljacob commented on #1562
cc @agsalin @mvertens

[2017-05-18 20:05] mnlevy1981 commented on #1539
Mapping and domain files are in ` /glade/p/work/mlevy/maps_and_domains/f19_g17` if you want to test things out.

You should use the `domain.ocn.gx1v7.151008.nc` that is already in inputdata (I have verified that the file I generated is slightly different due to being generated on cheyenne instead of yellowstone, but I will not bring it to the inputdata directory)

[2017-05-18 20:06] sarich opened #1563 "invalid CIME_MODEL environment variable causes untraceable crash"
If I use 'ACME' instead of 'acme', then create_newcase fails without explaining why

$ export CIME_MODEL=ACME
$./create_newcase  --case ACMETEST1 --res ne30_g16 --compset X --mach anlworkstation
[code]

[2017-05-18 20:39] sarich commented on #1563
Sorry, I think I was on an old branch. on current master I get the error message:
ERROR: Could not find or open file /sandbox/sarich/cime4/config/ACME/config_files.xml

[2017-05-18 20:39] #1563 closed

[2017-05-18 23:26] rljacob commented on #1061
Following up on our telecon, this is the proposal for labels and how to use them.

Some labels are for issues only, some are for PRs and some both.

"may" means adding that label is optional
"must" means one label from that category must be on every issue.

topic = "tp".  PR or issue.  Area of CIME it concerns.  An issue/PR **must** have one of these.  Add more if the PR touches code in multiple a

[2017-05-18 23:28] rljacob commented on #1061
@billsacks and @bertinia, see above

[2017-05-18 23:46] billsacks opened #1564 "Incorrect domain nx, ny for glc 4km grid"
@apcraig and @mvertens found that nx and ny are set incorrectly for the glc 4km grid in CESM's config_grids.xml. It seems this only matters for an X compset, because it hasn't seemed to cause any other trouble.

I'll fix this.

[2017-05-19 02:01] mvertens commented on #1061
@rljacob - thanks for doing this!

On Thu, May 18, 2017 at 5:26 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-05-19 02:54] mvertens commented on #1539
I am really confused. It looks like the latest CIME master for creating an
ocean domain file (for docn) is pointing to

/glade/p/cesmdata/cseg/inputdata/share/domains/
domain.ocn.fv0.9x1.25_gx1v7.151008.nc

but this file does not exist.  Where is it in inputdata? If it is there - I
believe it has been put in the wrong location.

On Thu, May 18, 2017 at 2:05 PM, Michael Levy <notifications@github.c

[2017-05-19 03:09] mnlevy1981 commented on #1539
I made the T62_g17 maps / domain files on Oct 8, 2015, so that led to

[code]

Which are all in `/glade/p/cesmdata/cseg/inputdata/share/domains/`. Then, on Oct 20, I made the f09_g17 maps / domains. That lead to three files:

[code]

The first two files are in the same directory, but the last file was identical to `domain.ocn.gx1v7.151008.nc` so it was not copied to inputdata. That means there is

[2017-05-19 11:03] billsacks commented on #1061
@rljacob - thanks a lot! This list looks pretty good. I'd say:

1. There are a few words that you shortened a bit, which I would spell out to make it more clear what they mean: "mod" -> "models" (data models, dead models, stub models); "user int" -> "user interface". I think it's worth spending a few extra characters for clarity, especially for people who aren't developing cime on a daily basis.

[2017-05-19 14:41] mnlevy1981 opened #1565 "Incorrect date stamps on two domain files with gx1v7 mask"
When you set up a D compset with `g17_g17` resolution, you run into the following issue (this was reported in #1538)

[code]

(The issue being that file does not exist). Also, when you run `preview_namelist` in an F compset with the `f09_f09_mg17 ` resolution you get an error pointing to a similar issue:

[code]

PR coming shortly.

[2017-05-19 15:08] dabail10 commented on #1539
These changes work with my aux_cice tests. Here are the config_grids.xml changes using Mike's temporary path:

[dbailey@yslogin4 cesm]$ svn diff config_grids.xml
Index: config_grids.xml
===================================================================
--- config_grids.xml	(revision 8270)
+++ config_grids.xml	(working copy)
@@ -971,6 +971,8 @@
       <nx>144</nx>  <ny>96</ny>
       <file grid="a

[2017-05-19 15:18] billsacks commented on #1562
Sounds good to me.

@gold2718 may also have thoughts.

[2017-05-19 15:41] mvertens opened #1569 "problem with case.build --clean ice"
I am getting the following error when I try to clean just the ice

[code]

[2017-05-19 15:46] jedwards4b commented on #1569
This problem may be compset dependent - can you please provide enough info to reproduce.

[2017-05-19 15:47] mvertens commented on #1565
Thanks so much for resolving these issues.

On Fri, May 19, 2017 at 8:41 AM, Michael Levy <notifications@github.com>
wrote:

[2017-05-19 15:56] mvertens opened #1570 "migrate acme/cesm specific grids from docn/config_component.xml to cam"
The following resolution specific attributes for the DOCN SSTICE_DATA_FILENAME and SST_GRID_FILENAME should belong in the cam config_compsets.xml. I think that we should move away from supporting acme/cesm particular resolution combinations in CIME. If this is agreed to - then cesm can add these to cam  and remove them from here. ACME will then need to move the appropriate entries to its cam befor

[2017-05-19 16:21] #1549 closed

[2017-05-19 17:05] billsacks opened #1571 "Should we remove this message from case.setup output?"
Whenever I run ./create_test ... then ./case.setup, I get a message like this:

[code]

The wording of this message suggests that something is wrong, but it appears that this file always exists and so there's really nothing wrong. I'm a fan of only having messages like this if they likely signal a problem, to avoid the "crying wolf" syndrome of error messages (where you start to just ignore messag

[2017-05-19 17:09] mvertens commented on #1571
I agree. I found this confusing as well. If we could remove it before the
release that would be great.

On Fri, May 19, 2017 at 11:05 AM, Bill Sacks <notifications@github.com>
wrote:

[2017-05-19 17:10] jedwards4b commented on #1571
The point of the message is that if you change config_machines.xml you need to manually delete the env_mach_specific.xml in your case for that change to take effect.   Maybe I can only print it if the timestamp on config_machines.xml (or .cime/config_machines.xml)) is newer than env_mach_specific.xml

[2017-05-19 17:20] billsacks opened #1572 "Short-term archiving not working if DOUT_S_SAVE_INTERIM_RESTART_FILES is false"
I just tried creating an A compset case from cime master, using create_newcase (not create_test). The short-term archiver failed with this error:

[code]

I think the problem is this code in case_st_archive.py:

[code]

It seems to not create the necessary directory tree in a regular case with DOUT_S_SAVE_INTERIM_RESTART_FILES=FALSE.

Why does this have `or case.get_value("TEST")`? That is presuma

[2017-05-19 17:23] rljacob commented on #1572
CC @mfdeakin-sandia

[2017-05-19 17:24] #1565 closed

[2017-05-19 17:43] rljacob commented on #1570
I'm ok with this.  Just tell me how to add these to the cam config_compsets when you do.

[2017-05-19 20:20] mfdeakin-sandia opened #1574 "advanced-py-prof unable to load standard_script_setup"
Running on Edison, I get the following output:

[code]

[2017-05-19 20:22] jedwards4b commented on #1574
Try PYTHONPATH=$CIMEROOT/scripts/lib prior to running.

[2017-05-19 20:23] jedwards4b commented on #1574
I mean PYTHONPATH=$CIMEROOT/scripts/lib:$CIMEROOT/scripts/Tools:$PYTHONPATH

[2017-05-19 20:26] mfdeakin-sandia commented on #1574
Your first one worked :+1:
Can we update this to work by default, like everything else?

[2017-05-19 20:40] mfdeakin-sandia opened #1575 "case.run should not run preview_namelist (at least by default)"
case.run is taking 17 minutes of batch time to run CIME and preview namelist on Edison, so the critical path team would like it to not run preview_namelist by default.
I believe this can be done just for ACME in case CESM doesn't want this change.

[2017-05-19 21:04] mfdeakin-sandia commented on #1574
I retract my statement; neither of those lines worked, and I need to pay more attention to what I'm actually running

[2017-05-19 21:09] jgfouca commented on #1574
What about setting it to $CIMEROOT/scripts?

[2017-05-19 21:09] jgfouca commented on #1574
Yes, it would be nice to work by default. Problem is the tool would have to know what you're testing.

[2017-05-19 21:15] mfdeakin-sandia commented on #1574
No; todays an off day for me; it's working, sorry about that

[2017-05-19 22:02] mvertens opened #1576 "In datm, move replace datm mode %S1850 with %CPLHIST"
CPLHISTForcing mode can span more than just an 1850 spinup, and this modification to the DATM% attribute to reflect this.

This change will also need the following changes in acme -
The DATM%S1850 is still present in
`config/acme/allactive/config_compsets.xml.cime2`
so if that file is still being used, then S1850 -> CPLHIST must be made.

[2017-05-19 22:24] mfdeakin-sandia commented on #1540
@PeterCaldwell I'm playing around with ACLs, they seem to work on Edison, and allow enabling access for multiple groups without enabling access for all: https://unix.stackexchange.com/questions/115631/getting-new-files-to-inherit-group-permissions-on-linux
If you want to test it, try reading /global/homes/m/mdeakin/test/file on Edison

@jedwards4b I guess I feel like this is something that we coul

[2017-05-19 22:27] jedwards4b commented on #1540
If there is a solution that can be implemented in cime without too much pain I don't have any fundamental problem with it.

[2017-05-19 22:36] PeterCaldwell commented on #1540
@mfdeakin-sandia - I tried to read /global/homes/m/mdeakin/test/file but got permission denied errors at ~mdeakin and every subdirectory under it.

[2017-05-19 23:28] mfdeakin-sandia commented on #1540
Ah, sorry, I thought I checked that but only checked the symlink. Try again?

[2017-05-19 23:48] PeterCaldwell commented on #1540
I can see your home directory now, but still can't see the contents of the test directory.

I'm confused why we need to use ACLs instead of just changing the default group for all our files to acme. What are the advantages you're going for?

[2017-05-19 23:53] mfdeakin-sandia commented on #1540
ACLs allows multiple groups to be specified, solving the issue of sharing with people from other projects. I was also having issues getting the sticky bit to stick with the stackexchange instructions; though I've since resolved that, so maybe they are the way to go if ACLs aren't easy to get working. Admittedly, I've never used them before, so this is likely a user error, and I think I need to add

[2017-05-20 00:02] PeterCaldwell commented on #1540
Ok. My past experience with people not in the acme group is that these people are usually just joining the project and don't have access to any particular group yet. I don't think ACLs will help that. I guess another use case would be someone funded by CMDV but not ACME might not belong in the acme group but could need to view ACME files. I'm kind of surprised I haven't run into this before... May

[2017-05-20 16:03] mvertens opened #1577 "invalid quotes in DROF namelist_defaults.xml valid_values"
Invalid double quotes in the valid values settings for
taxmode, `decomp,mapmask,mapalgo`
need to be removed.

[2017-05-20 17:56] mvertens opened #1579 "adding new testmods directory to drv does not work"
I am trying to add some more tests to verify that docn changes are bfb.
As part of this I'd like to ensure that cpl history output is generated so that comparisons can be easily made. The testmods directory is the following (as specified in `config_files.xml`)
`<value component="drv"    >$CIMEROOT/src/drivers/mct/cime_config/testdefs/testmods_dirs</value>
`
In my sandbox, I added a new directory
`

[2017-05-20 18:09] mvertens commented on #1579
The following seems to fix this problem.
If the default/ directory is moved into the testmods_dirs/drv/default and the testname is
SMS.f19_g16_rx1.A.cheyenne_intel.drv-default
Then things seem to work.
However, there is an assumption in test-scheduler that there is another level of directory:
`(component, modspath) = test_mods.split('/',1)
`
A better error statement is needed - or this should be g

[2017-05-20 18:58] jedwards4b commented on #1579
I don't understand why that code is there - it should get that from config_files.xml I think.

[2017-05-20 20:37] billsacks commented on #1575
I think you mean that preview_namelist is being run by case.run, since I assume that having case.submit run preview_namelist wouldn't take any batch time (since that's typically done from the logic node)? Is that what the `--skip-preview-namelist` (added by #1471 ) addressed? If so, are you thinking that we (or ACME) should just change the default behavior so that `--skip-preview-namelist` is true

[2017-05-20 21:08] mvertens commented on #1579
It does get it from config_files.xml - but then this is used to parse
possible subdirectories I believe.

On Sat, May 20, 2017 at 12:58 PM, jedwards4b <notifications@github.com>
wrote:

[2017-05-20 21:55] #1577 closed

[2017-05-20 21:55] #1576 closed

[2017-05-20 22:55] ekluzek opened #1580 "Under certain conditions results from streams can vary by a small amount near roundoff"
I found this with the new stream for CLM for finundation which only has a single point in time, hence you expect results to be independent of time and identical for any time you give it (with tax_mode='extend'). What I found was that answers vary to small amount which effected some exact restart tests. For things where roundoff level changes grow in time and effect other variables this can have an

[2017-05-21 02:50] mvertens opened #1581 "Add file driven aquaplanet to DOCN"
Present DOCN aquaplanet modes are analytic. There is a desire to also have file driven aquaplanet capability as another mode.

[2017-05-21 04:01] rljacob commented on #1581
What is "file driven aquaplanet capability"?

[2017-05-21 04:02] rljacob commented on #1575
I've been trying to think of a way to document this along with everything else done for you betweeen the basic "case" commands a user executes.  What gets locked and when and how to back up.

[2017-05-21 04:39] mvertens commented on #1581
Its aquaplanet forcing from a file rather than from analytic conditions.

On Sat, May 20, 2017 at 10:01 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-05-21 05:16] rljacob commented on #1581
Ok.  I keep forgetting Aquaplanet is fixed SST but the SST is global.

Is there a mode where the slab ocean is global?

[2017-05-21 11:19] billsacks commented on #1580
If I understand this right, this seems like a bad thing that could bite other people in the future. So I'm removing the wontfix label.

In your comment in the CLM code, can you point to this issue, to help remind us that we can remove that workaround if/when this issue is resolved?

[2017-05-21 11:20] billsacks commented on #1575
@rljacob - that would be fantastic - thanks for thinking about this.

[2017-05-21 17:11] mvertens commented on #1581
Yes the mode where slab ocean is global is DOCN%SOMAQP. I recent introduced
this. So we now have both a aquaplanet slab ocean, aquaplanet prescribed
ssts and aquaplanet file input ssts. This will be useful for atmosphere
model development.

On Sat, May 20, 2017 at 11:16 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-05-21 18:37] billsacks opened #1583 "grid attribute not checked when doing compset matches"
config_compsets.xml files occasionally list a grid attribute on the compset line. An example from cime is:

[code]

According to @mvertens (see discussion on #1582 ), this is supposed to stop you from creating a case with the given compset unless the grid matches the given expression. But this doesn't seem to be working. For example, cime master let me run the following without complaint:

[code]

[2017-05-21 18:38] billsacks commented on #1583
(For the record, I don't view this as "critical", but @mvertens asked me to add that label.)

[2017-05-22 02:21] rljacob opened #1584 "Add a "case.qstatus" command"
"case.submit" provides a flexible wrapper around the various qsub, brun, llsubmit, etc. commands that various schedulers use.

To unify the CIME user experience, we should add a "case.qstatus" command that will execute the appropriate "qstat, llq, whatever-slurm-uses" command to show the status of the submitted jobs in the queue.

[2017-05-22 02:22] rljacob commented on #1584
"case.qstatus" instead of "case.qstat" so that is doesn't look PBS-specific.

"case.qstatus" instead of "case.status" to avoid confusion with CaseStatus.

[2017-05-22 02:23] rljacob commented on #1584
Requesting this because I can never remember the slurm one.

[2017-05-22 16:09] #1581 closed

[2017-05-22 16:20] jedwards4b commented on #1583
I think that trying to use the grid attribute in this file creates a recursive situation in which the compset is needed to get the grid but the grid is needed to get the compset.

[2017-05-22 16:33] apcraig opened #1587 "X cannot be configured with dead models active"
All dead model testing seems to be done with several of the dead models set with null grid.  That means they are off.  This should be updated.

[2017-05-22 16:35] apcraig commented on #1587
PR 1586 should fix this

[2017-05-22 17:41] rljacob commented on #1575
I think we'll need to add a control variable for "should preview_namelist be run in case.run" and ACME can set the default to FALSE while CESM sets it to TRUE.

[2017-05-22 17:54] rljacob commented on #1503
"Fixed in ACME"

[2017-05-22 17:54] rljacob commented on #1485
"Fixed in ACME"

[2017-05-22 18:43] rljacob opened #1588 "Change name of CaseStatus to CaseLog"
This occurred to me while writing #1584.  The CaseStatus file is really a log of everything that happened in the case directory instead of snapshot of the status.  We should give it a more accurate name such as CaseLog.

[2017-05-22 18:44] rljacob commented on #1588
Not a high priority.  Just putting it out there.

[2017-05-22 19:23] jgfouca commented on #526
@rljacob I think this is fixed. I did this:

[code]

and the cases failed immediately in create_newcase:

[code]

[2017-05-22 19:23] #526 closed

[2017-05-22 19:49] rljacob opened #1589 "case.st_archive help string needs updating."
The output of case.st_archive --help (on blues, X-case, latest master) seems to be mix of old information and some text from the template.
[code]

[2017-05-22 20:48] bertinia commented on #946
... xmlquery --file env_batch.xml --listall is still broken on master:

[code]
A number of external tools (cylc, DART, user scripts) use xmlquery and xmlchange to
interface with the caseroot env_*.xml files and are reporting errors.

[2017-05-22 20:49] jgfouca commented on #894
@amametjanov this appears to have been fixed:

[code]

[2017-05-22 20:49] #894 closed

[2017-05-22 20:56] jedwards4b commented on #1583
The result of discussion - this is a circular dependency and the grid attribute should be removed from config_compsets.xml

[2017-05-22 21:28] rljacob commented on #1503
Leave it open until its brought over to ESMCI.

[2017-05-23 02:03] mvertens commented on #946
Given our usage in DART and Cylc I would elevate this problem to critical.

On Mon, May 22, 2017 at 2:48 PM, Alice Bertini <notifications@github.com>
wrote:

[2017-05-23 02:15] mvertens commented on #946
@jedwards4b - the label has been migrated to CRITICAL since the error that is showing up is effect how DART and Cylc interact with the system.

[2017-05-23 02:18] mvertens commented on #1583
@billsacks - I am assigning this to you since you had a clear idea of where compsets had a grid attribute.

[2017-05-23 02:22] #1587 closed

[2017-05-23 04:37] rljacob commented on #1061
I updated the comment with all the labels with Bill's changes.

[2017-05-23 05:25] rljacob commented on #740
In a telecon on 4/26/17, we decided not to do this.

[2017-05-23 05:25] #740 closed

[2017-05-23 05:34] rljacob commented on #1162
Boosting the signal on this one.  @jgfouca @jedwards4b

[2017-05-23 05:44] rljacob commented on #1575
This is a duplicate of #1278

[2017-05-23 12:15] #1583 closed

[2017-05-23 14:22] sarich commented on #529
pylint on compute001 is now version 1.1.0 (from 12/2013), scripts_regression_tests.py only runs pylint tests for versions >= 1.5

I've sent a request to systems.

[2017-05-23 15:42] billsacks commented on #946
This was partially but not completely addressed via #1593 .

Remaining issues are:

(1) `--group` doesn't work:

[code]

(2) The combination of `--listall` and `--full` still gives a cryptic error, as mentioned in https://github.com/ESMCI/cime/issues/946#issuecomment-292837600

(3) I think the comment https://github.com/ESMCI/cime/issues/946#issuecomment-292822483 still has not been addressed

(4)

[2017-05-23 15:59] rljacob commented on #1572
Isn't DOUT_S_SAVE_INTERIM_RESTART_FILES  set to FALSE by default?  The title would imply short term archiving stopped working at all and we know that isn't true.

[2017-05-23 16:01] jedwards4b commented on #1572
I think it was not working if REST_N < STOP_N and DOUT_S_SAVE_INTERIM_RESTART_FILES was FALSE

[2017-05-23 16:13] rljacob commented on #1572
I tried that in ACME recently and it worked fine.  With a fully coupled case.

[2017-05-23 16:15] amametjanov commented on #761
cprnc is available in both locations:
[code]

[2017-05-23 16:15] #761 closed

[2017-05-23 16:15] rljacob commented on #1572
That's how I noticed the problem reported in #1449

[2017-05-23 17:12] billsacks commented on #1572
@jedwards4b - In my test case, I am pretty sure I had REST_N = STOP_N = 5 (days). So I'm pretty sure this bug applies to the default setup.

@rljacob - it was the fix for #1449 (i.e., PR #1511 ) that introduced this bug. So I suspect short-term archiving would be broken in ACME if you tried it with the current cime master.

[2017-05-23 17:19] mvertens commented on #1569
We cannot reproduce this so closing this issue.

[2017-05-23 17:19] #1569 closed

[2017-05-23 17:21] mvertens commented on #1564
This is resolved by PR #1586

[2017-05-23 17:21] #1564 closed

[2017-05-23 17:24] mvertens commented on #1252
@rljacob - has this been fixed. I thought it was.

[2017-05-23 17:31] rljacob commented on #1252
Only on the ACME side.  Hasn't been brought over here yet so leave open.

[2017-05-23 17:52] jedwards4b commented on #1306
Fixed in #1375

[2017-05-23 17:52] #1306 closed

[2017-05-23 18:12] rljacob commented on #1061
Labels have been changed/added in github and description added to https://github.com/ESMCI/cime/wiki/Repository-workflow

[2017-05-23 18:12] #1061 closed

[2017-05-23 19:26] #810 closed

[2017-05-23 19:43] jgfouca commented on #1331
@jedwards4b so testlists already returns test in order of test time (longest to shortest)? Does that mean test_scheduler isn't honoring this order?

[2017-05-23 19:45] jedwards4b commented on #1331
Yes - I think that's what is happening.

[2017-05-23 20:01] rljacob commented on #1536
Is this related to #773 ?

[2017-05-23 20:18] #1572 closed

[2017-05-23 20:50] jgfouca commented on #1382
@dqwu Sorry for the slow response. The correct use of wait_for_tests is the following:

[code]

You can also pass the --wait flag to create_test to do this automatically. The fact that the ref cases have TestStatus files shouldn't matter since they shouldn't be looked at in the first place.

[2017-05-23 20:50] #1382 closed

[2017-05-23 21:08] rljacob commented on #1488
Fixed by #1490

[2017-05-23 21:08] #1488 closed

[2017-05-23 21:22] #1211 closed

[2017-05-24 12:46] #1508 closed

[2017-05-24 15:19] #1539 closed

[2017-05-24 16:17] jgfouca commented on #1281
@erichlf The reason this is not easy is because ACME doesn't work with the intel toolchain on melvin. It will take some investigating to figure out why.

[2017-05-24 16:39] #1417 closed

[2017-05-24 17:24] erichlf commented on #1281
@jgfouca thank you for the heads up.

[2017-05-24 18:54] mnlevy1981 opened #1599 "PGI 17.04 available on hobart"
Mark Moore installed PGI 17.04 on hobart -- I verified that the following change in `config_machines.xml`

[code]

Lets me build / run a CECO compset (PGI 16 and earlier wouldn't build; 17.1 builds but won't run), but I'm hoping to avoid being the one that does more rigorous testing.

Priority-wise: it would be nice to have this in CESM 2, but it's not critical from my point of view so I'll let ot

[2017-05-24 18:56] jedwards4b commented on #1599
Given the current state of PGI compiler it can't hurt - please add a PR with this change.

[2017-05-24 19:02] mnlevy1981 commented on #1599
will do -- just setting up a clean sandbox before submitting the PR

[2017-05-24 19:05] jedwards4b opened #1600 "MODEL_BUILD requires more processors than available."
Just got the folllowing message when trying to build on a laptop:
[code]

Do we really need an error here?  Can't we adjust to the number of available processors?

[2017-05-24 19:20] #1574 closed

[2017-05-24 19:27] #867 closed

[2017-05-24 19:29] #1527 closed

[2017-05-24 19:42] gold2718 opened #1601 "GNU update on Hobart"
GNU 4.8.5 will not build code that is slated for the CAM trunk. GNU 5.4.0 is available and works with this code. Are there any objections to updating the Hobart GNU compiler version?
The mod seems to work for F compsets, I am trying some A and B compsets.

One wrinkle is that GNU 5.4.0 uses openmpi and the other compilers use mvapich2 so one has to specify --mpilib openmpi on the create_newcase or

[2017-05-24 19:48] #1387 closed

[2017-05-24 19:56] jedwards4b opened #1603 "idmap file errors should be picked up by scripts"
The test SMS.f45_g37.X fails at runtime because one of the mapping files it needs is pointing to idmap, we should pick this up and error out in scripts instead of at runtime.

[2017-05-24 21:18] mvertens commented on #1600
I think it would be a really good idea to adjust the number of available
processors for the build and just issue an warning. That would be extremely
helpful for the CESM2 release.

On Wed, May 24, 2017 at 1:05 PM, jedwards4b <notifications@github.com>
wrote:

[2017-05-25 00:21] #1600 closed

[2017-05-25 00:21] #1599 closed

[2017-05-25 16:02] billsacks opened #1607 "compare_test_results generates error, "Could not find a matching MPI for attributes""
Out of cime master (on yellowstone), I did:

[code]

then when it completed

[code]

This gave:

[code]

I just ran into similar errors with somewhat older versions of cime - going back to at least cime5.3.0-alpha.13

[2017-05-25 20:36] #566 closed

[2017-05-25 20:36] #1510 closed

[2017-05-25 22:16] #1555 closed

[2017-05-26 12:15] billsacks opened #1612 "Remove references to cism_gnu build definition on cesm side"
The cism_gnu build definition is no longer needed in the version of cism in CESM. I'll remove references to this.

I'm planning to keep this in place on the ACME side, because CISM hasn't been updated there... though I'm not sure if ACME ever actually tests with CISM, so I can remove it there, too, if anyone wants me to.

[2017-05-26 15:34] jedwards4b opened #1613 "eval statement in env_batch can produce unexpected results"
When setting the JOB_QUEUE=long we notice that the eval statement in env_batch.py unexpectedly
evaluates the string long to be ```<type 'long'>```
The solution is to only use the eval statement if the setting includes whitespace.

[2017-05-26 16:58] #1492 closed

[2017-05-26 16:59] #1613 closed

[2017-05-26 18:53] jhkennedy commented on #1338
The setup of CIME's `gh-pages` branch is a little a-typical for github.

Typically, you'd have the `gh-pages` setup as an *orphaned* branch, so the only thing in the branch is the HTML (no "code" at all).

In the rest of the branches (the "code" branches), you'd have the `doc` directory where you could use sphinx to generate the documentation, with all of the *generated* documentation ignored so i

[2017-05-26 19:44] rljacob commented on #1338
Thanks for pointing this out.  @mvertens and @bertinia , we should do this.    I don't think the discussion in #1088 was aware of this issue.

[2017-05-26 19:52] bertinia commented on #1338
I'll set this up this weekend. @bjsmith2014 is actively working on the gh-pages branch
today and tomorrow and I'll wait for his updates before making the switch.

[2017-05-26 19:53] jhkennedy commented on #1338
@bertinia I'm also happy to help if you have questions.

[2017-05-26 21:17] mvertens commented on #1338
I am actively working on a gh-pages branch for the porting documentation -
so please wait for me as well.

On Fri, May 26, 2017 at 1:52 PM, Alice Bertini <notifications@github.com>
wrote:

[2017-05-26 22:48] billsacks opened #1615 "Add stricter debug flags for gnu"
I realized that my fix for #857 in #1339 only added flags for the C compiler, not the Fortran compiler. I want to add the same flags for the Fortran compilation, assuming this doesn't break our tests.

[2017-05-26 23:26] cacraigucar opened #1617 "Matches appear to differ depending on whether in config_compsets or config_component"
I get different matches for the following dependent on whether it is in config_compsets or config_component.  (I've indicated the two lines which MATCH).  When this is in config_compsets, I get the first match.  When it is in config_components, I get the last.

    <entry id="SSTICE_DATA_FILENAME">
      <values>
        <value compset="DOCN%DOM" grid="a%T31.*_oi%T31"         >$DIN_LOC_ROOT/atm/ca

[2017-05-27 00:09] jedwards4b commented on #1617
There are two instances of function _get_value_match: one in class entry_id.py and another in component.py so the instance in config_component.xml is processed using component.py while the
instance in config_compset.py is processed using entry_id.py  - I think that the one in entry_id.py is needed by namelist stuff, and the solution might be to have the config_compset code use the one in component

[2017-05-27 00:24] jedwards4b commented on #1617
The issue is in get_compset_var_settings in compsets.py - it uses a generic entry_id object in order
to access the _get_value_match function, it needs to use the one in component.py - i'll leave it as an exercise to figure out how.

[2017-05-27 12:09] billsacks opened #1619 "In config_compilers.xml, allow specifying a different 'base' without having to duplicate the 'append' lines"
My use case is porting to my mac, with gnu. The standard settings in cesm's config_compilers.xml have:

[code]

For my Mac (and same for @mvertens ) we need to remove `-mcmodel=medium` from the base flags. So I'd like to be able to do something like this in my `.cime/config_compilers.xml`:

[code]

But if I just do that, then my builds don't pick up the various 'append' options from the standard c

[2017-05-27 15:57] mvertens commented on #1617
We cannot do that for backwards compatibility purposes. Unfortunately,
namelist matches that parse the new python based namelist_definition_xxx.py
file pick the first match that is found when multiple matches are found
(this is done to be consistent with all of the perl based functionality) -
whereas the component.py entry-id match picks the latest (again for
backwards compatibility). This is unfo

[2017-05-27 16:50] mvertens commented on #1617
So in thinking about this some more I think we do have a critical issue on our hands that will require us to do the following:

The namelist_definition.xml match inherits from entry_id  and the entry_id match - use the first match in case case of a tie.

However, the component.py also inherits from entry_id - but has its own _get_value_match that picks (unfortunately) the ***last*** best match.

I

[2017-05-27 17:15] mvertens commented on #1617
In looking at CIME - there are only a few places that a careful analysis and restructuring needs to be done:

[code]

[2017-05-27 17:42] #1479 closed

[2017-05-27 21:17] billsacks opened #1621 "Add some more debug flags with gnu"
@rljacob pointed out that ACME has some extra flags beyond what we now have for gnu (even with #1618 ) (see https://github.com/ESMCI/cime/pull/1618#issuecomment-304458178). They add `-Og` and `-fbacktrace` in both FFLAGS and CFLAGS in DEBUG mode. We should consider doing that, too. They also add 'invalid' to the 'ffpe-trap' list, though I'm a little wary of doing that based on my experience showin

[2017-05-28 02:55] mvertens commented on #1617
@gold2718 had a great idea for a better approach:

Add a new, optional, attribute to the config_component.xml <values> tag as follows

<values match="last"> will pick the last best match
<values match="first"> will pick the first best match

In component.py, the parsing can be done to have a  default value as  "last" to be backwards compatible - but the order of matching is now clear - and can be

[2017-05-28 04:32] gold2718 opened #1622 "PRE test not working for ADESP_TEST"
Due to changes in the data models, the PRE test stopped working for ADESP_TEST.

[2017-05-28 16:57] #1615 closed

[2017-05-28 16:58] #1612 closed

[2017-05-28 17:38] bertinia commented on #1338
@jhkennedy - I've moved the gh-pages branch doc dir into my local master and updated the .gitignore to add this:

    # Ignore doc/build/doctrees
    ##doc/build/doctrees
    # ignore for the merge to master and orphaning of the gh-pages branch
    doc/build

and updated my upstream fork of the cime master.

Do I now issue a PR to merge this back into the ESMCI/cime master or continue to create
an

[2017-05-28 18:17] jhkennedy commented on #1338
@bertinia, when working in a fork you'd have to issue a PR for fork/master to cime/master, and then when you have the orphaned branch set up, issue a PR for fork/gh-pages to cime/gh-pages.

Whoever integrates the merge will want to delete the current cime/gh-pages branch before merging the gh-pages PR.

*Note: This likely will cause people's local version of gh-pages to get comply out of sync, so

[2017-05-30 17:59] mvertens commented on #773
I don't like having each new mode of DATM be part of the CCSM_BGC. CO2A is important only when you have CLM in place. I propose the following for config_component_cesm.xml.

 <entry id="CCSM_BGC">
    <type>char</type>
    <valid_values>none,CO2A,CO2B,CO2C,CO2_DMSA</valid_values>
    <default_value>none</default_value>
    <values>
      <value compset="_CAM">CO2A</value>
      <value compset="_DA

[2017-05-31 05:46] ekluzek opened #1624 "Need domain files for new gx1v7 mask for SE grids: ne30, ne60, ne120, ne240"
We need to create domain files for the new gx1v7 mask for SE grids: ne30, ne60, ne120, ne240 and add them to config/cesm/config_grids.xml. I'm not sure who should be assigned to do this.

@mvertens

[2017-05-31 11:09] mrnorman opened #1625 "CIME assumes all output from "module" commands are errors"
I realized this when I was loading a module on Summitdev at OLCF that always gives output, and ./case.setup failed. The details are below, and this is for commit 7822b6b8903feb26c4171160423b472351ddb035. ~~Also, I noticed that the cime/utils/python/CIME directory now only contains compiled python code. Am I missing something, or do we no longer have access to the CIME python source code?~~ Nevermi

[2017-05-31 11:15] mrnorman commented on #1625
I should also mention that the Lmod system we're using likes to give output, so this is causing errors with every configuration I've tried so far.

[2017-05-31 11:25] mrnorman commented on #1625
Also, when I try to do a module purge and then see what's listed out:

[code]

I get:

[code]

So clearly the module purge isn't actually working. Is there a different way I should be doing this?

[2017-05-31 11:48] mrnorman commented on #1625
OK, I see the offending problem. Our module system puts all output to stderr instead of stdout, even though it returns a 0 exit code (see below). In cime/scripts/lib/CIME/XML/env_mach_specific.py, the stderr is tested, and if it contains anything, it fails with:

[code]

Can we change this to just say "expect(stat==0,...)"?

[code]

[2017-05-31 11:51] mrnorman commented on #1625
Also, I looked, and Titan does the same thing by putting the output into stderr by default, so this change would seem necessary in both cases. Titan's modules just don't output text as often.

[2017-05-31 11:58] mrnorman commented on #1625
I'm not sure why CIME isn't succeeding in the module purge. When I run the following, it works:

[code]

Is something different happening in CIME?

[2017-05-31 12:13] mrnorman commented on #1625
So, I think I should separate these issues and handle the failed module purge in a separate issue. To fix the stderr problem, I propose the following change to both allow the scripts to keep going and print out the output from stderr from the module command.

[code]

[2017-05-31 12:17] mrnorman opened #1626 "CIME module commands not working on summitdev"
On our machine summitdev at OLCF, CIME's module commands are not working. I have the following env_mach_specific:

[code]

And I get the following output:

[code]

It almost looks like the commands are happening in some sort of isolated environment, and then they're forgotten about as the script proceeds. It is trying to do module add pgi/17.4, because Lmod is giving output for that. However, with

[2017-05-31 12:26] mrnorman commented on #1625
Well, a better diff is:

[code]

[2017-05-31 16:14] fischer-ncar commented on #1624
What about ne30, I have an ne30_g17 test.  But if ne30 isn't supported I can change the test.

[2017-05-31 16:15] mvertens commented on #1624
I am not sure all of these domain files are needed - and certainly not
before the release. I think just ne30 and possibly ne120 will be sufficient
- but I will check.

On Wed, May 31, 2017 at 10:14 AM, fischer-ncar <notifications@github.com>
wrote:

[2017-05-31 16:23] ekluzek commented on #1624
For CLM we have a bunch of tests at ne30 and ne120, and a few at ne60. I'm going to keep them at g16 until we have domain files at g17 available.

[2017-05-31 16:34] mvertens commented on #1624
I don't think you should be testing CLM at ne120 for I compsets. Definitely
also for ne60. I'll make sure this is clarified with the AMP group as soon
as possible.

On Wed, May 31, 2017 at 10:23 AM, Erik Kluzek <notifications@github.com>
wrote:

[2017-05-31 17:53] jgfouca commented on #1625
@mrnorman due to the shell function implementation of module, we often cannot rely on sane return codes which is why the code looks for stderr instead. I can't think of a good alternative at the moment.

[2017-05-31 19:28] gold2718 commented on #1624
CAM-SE is not supported* for the release. We would love to have the ability to run AMIP at NE30 and NE120 (as well as NE5 and NE16) but none of that is critical for the release. We do not plan on doing anything with NE60.

*By not supported, we mean that simple models and aquaplanet compsets will run with analytic initial conditions but there will be no initial data files (ncdata) for CAM-SE in CA

[2017-05-31 21:28] fischer-ncar commented on #860
Still an issue.  setenv CIME_MODEL CESM, now results in
ERROR: Could not find or open file /home/fischer/code/cesm2_0_alpha06n/cime/config/CESM/config_files.xml

[2017-05-31 21:29] fischer-ncar commented on #1468
Updated data repository

[2017-05-31 21:29] #1468 closed

[2017-05-31 21:30] fischer-ncar commented on #345
This should have been closed with PR #914

[2017-05-31 21:31] #345 closed

[2017-05-31 22:08] fischer-ncar opened #1627 "bless_test_results isn't copying cpl.log to the baseline"
When invoking bless_test_results to store the baselines, cpl.log is being missed.    This is causing
through put tests to be skipped.

@cacraigucar

[2017-05-31 22:29] jgfouca opened #1628 "CIME is highly prone to race conditions"
... in the various env xml files.

A recent minor change on the ACME side exposed the races and took many hours to sort out due to their intermittent nature.

Calls to case.set_value that occur outside of case_setup are very risky.

Other risky calls are things like restore, which swaps out the underlying XML file but doesn't necessarily update the in-memory values in the case object. Maybe some k

[2017-05-31 23:56] mvertens commented on #1628
Can you give some examples of when this occurs.

On Wed, May 31, 2017 at 4:29 PM, James Foucar <notifications@github.com>
wrote:

[2017-06-01 01:56] mvertens commented on #1628
@jgfouca - this is being used extensively in the buildnml and buildcpp of all data models and CESM prognostic components that have had their buildnml pythonized. Can you please give an example in ACME where this occurred. Would a case.flush() have prevented this race condition (my guess is no). I believe that preview_namelists is not called in parallel - so that would not cause a race. Is it being

[2017-06-01 05:13] mvertens commented on #1628
@jgfouca - so I just checked and case.set_value and restore are not called by any of the cime components or driver. However, they do appear in the cam, cice, and pop cime_config/buildcpp scripts. Would the race condition appear there?

[2017-06-01 17:22] mvertens commented on #1627
@jgfouca - thanks for taking this on.

[2017-06-01 18:04] rljacob opened #1630 "memleak detected fails"
We seem to be getting a lot more of these messages:

`2017-05-30 13:46:32: memleak detected, memory went from 65.260000 to 72.800000 in 3 days`

Are these serious?  Could we be getting more of them from PR #1553 which fixed issue #1544 ?

[2017-06-01 19:36] jgfouca commented on #1607
I'm unable to duplicate this error on melvin and do not have access to yellowstone. It probably has something to do with CESM configuration, so reassigning to @jedwards4b

[2017-06-01 21:47] rljacob commented on #1630
Nevermind.  We don't have the equivalent of #1553 in ACME  master yet.

[2017-06-01 21:47] #1630 closed

[2017-06-01 22:15] #1627 closed

[2017-06-01 22:51] ekluzek opened #1633 "Truncate cold temperatures in CLMNCEP forcing to 180K"
Because of some issues with CLM forcing datasets, we want to limit cold temperatures in CLMNCEP to 180K.

Here's the current change we have for this...

Index: /glade/p/work/oleson/clm4_5_16_r243/cime/src/components/data_comps/datm/datm_comp_mod.F90
===================================================================
--- /glade/p/work/oleson/clm4_5_16_r243/cime/src/components/data_comps/datm/datm_c

[2017-06-02 13:05] billsacks commented on #1621
Regarding adding 'invalid' to the 'ffpe-trap' list, and the problem with isnan: The ideal way to allow this may be to take advantage of the fact that - I think - recent versions of gfortran support Fortran 2003 ieee arithmetic, and modify shr_infnan_mod accordingly (rather than having special code for gnu in there). (I made some preliminary, feeble attempts at this which did not meet with success,

[2017-06-02 23:26] jgfouca commented on #1628
@mvertens sorry for slow response. GitHub seems to be sending me like 20% of the emails I should be getting. Pythonization goes a long way towards eliminating races because it allows things to use the case object directly instead of having to flush XML files to disk and then forking a subprocess, so you guys are probably OK for now.

[2017-06-03 03:07] rljacob opened #1637 "are externals genf90 and CMake still external?"
Is the code in src/externals/genf90 and src/externals/CMake still maintained as externals?   That is, do we ever try to update from or make PRs to the upstream masters for those codes?  Or are the versions in this repo now the master?

CMake upstream master:  https://github.com/CESM-Development/CMake_Fortran_utils
genf90 upstream master: https://github.com/PARALLELIO/genf90

[2017-06-03 15:49] fischer-ncar opened #1638 "Python2 Strings to Python3 Strings PR causing CESM tests to fail"
PR #1608 has been causing several CESM tests to fail.
    FAIL ERP_Ln9.f09_f09_mg17.F2000_DEV.yellowstone_intel.cam-outfrq9s_clm5 RUN time=179
    FAIL ERP_Ln9.f09_f09_mg17.FC55CLUBB.yellowstone_intel.cam-outfrq9s RUN time=128
    FAIL ERP_Ln9.f09_f09_mg17.FHIST_DEV.yellowstone_intel.cam-outfrq9s_clm5 RUN time=191
    FAIL SMS_D_Ln9.f19_f19_mg17.FX2000climo.yellowstone_intel.cam-outfrq9s RUN time=

[2017-06-03 15:54] mvertens commented on #1638
We need to investigate this a bit more to clarify what the problem is - but
the short summary is that the CICE decomposition seems to be set
incorrectly with CIME master - but was working fine prior to this PR. More
details will follow.

On Sat, Jun 3, 2017 at 9:49 AM, fischer-ncar <notifications@github.com>
wrote:

[2017-06-03 19:43] fischer-ncar commented on #1638
Closing this issue until we do more investigation.

[2017-06-04 01:45] mvertens commented on #1638
I have found the problem and have a fix.

In the erp.py test the following is incorrect:

           restore("env_mach_pes.ERP{:d}.xml".format(run, newname="env_mach_pes.xml"))
           restore("env_build.ERP{:d}.xml".format(run, newname="env_build.xml"))

and needs to be changed to:

           restore("env_mach_pes.ERP{:d}.xml".format(run), newname="env_mach_pes.xml")
           restore("env_b

[2017-06-04 02:50] billsacks commented on #444
I stumbled across what I think is a bug in the current NCR: I _think_ that

[code]

should be

[code]

[2017-06-04 03:26] billsacks commented on #1638
It looks like there are a few other problems with a similar pattern: From `git grep -n 'format([^)]*='` and just listing the ones that look problematic to me:

[code]

I also thought that pylint should pick these up. But what I have found is that pylint flags this as a problem if you're using named conversion specifiers, as in:

[code]

[code]

but apparently not if you're using positional convers

[2017-06-04 19:37] mvertens commented on #1638
@billsacks - thanks! We really need these fixes in as soon as possible for CESM - so I'm going to try to put i a PR today with the relevant fixes.

[2017-06-04 21:56] #1638 closed

[2017-06-04 22:26] mvertens commented on #444
@billsacks - I added this fix in PR #1638.

[2017-06-05 00:23] rljacob opened #1640 "Need better tests of system tests"
The discussion in issue #1638 shows that its possible to put changes on master that will break a test without detection, in this case the widely used ERS test.

We need better "tests of system tests".   We currently test the ERS.py test by deploying them with a couple of A cases in cime_developer.  But if the test itself fails to exercise what its supposed to, while still running, then it will alw

[2017-06-05 15:23] erichlf commented on #797
Should we default to the user email in the users profile, or should the user be required to specify an email? I am not sure all batch systems allow a user specified email though and some batch systems require a user email be provided (cobalt).

For cobalt, I can't seem to see how to control when an email is sent. For cobalt, all I see is where to send an email and it seems to default to start and

[2017-06-05 15:34] jedwards4b commented on #797
I think maybe what you want is a way to modify directives and/or specify additional directives in
the env_batch.xml file.   If we first develop that capability it will make it easier to add the specific case of adjusting email settings.

[2017-06-05 15:37] erichlf commented on #797
currently we have the batch_args, which allows this control already and I developed that for exactly this reason. Of course, what this is is more specific. Using batch_args is the current workaround though.

I will move forward and see how things progress.

[2017-06-05 22:07] #1617 closed

[2017-06-05 22:44] billsacks opened #1642 "--user-mods-dir does not handle relative paths correctly"
If I try to create a case like this:

[code]

I get:

[code]

This works if I give an absolute path, but if I give a relative path, it tries to make the path relative to `/Users/sacks/cime/src/drivers/mct/cime_config/usermods_dirs/` (for this case... probably some other location in other cases), rather than relative to the current directory.

This was previously issue #497 , which was supposedly f

[2017-06-06 03:46] rljacob opened #1643 "De-CESM-ify some Fortran."
These files need a name change:
cesm_comp_mod.F90 -> cime_comp_mod.F90
cesm_mod.F90 -> cime_mod.F90

[2017-06-06 12:55] billsacks commented on #1637
For CMake_Fortran_utils, we're no longer treating this as an external as far as I know, so in my view this could be moved fully into cime (I just don't know the process for doing that).

I can't speak to genf90.

[2017-06-06 13:16] billsacks commented on #1640
I think the problem was ERP, not ERS.

See also the discussion in #290 - which I guess shouldn't have been closed based on the fact that at least the ERP test is still prone to getting broken in this way. I think I closed it because we couldn't come up with an easy way to test the system tests in this way.

Much of my motivation for creating the SystemTestsCompareTwo infrastructure was to allow us

[2017-06-06 13:19] rljacob commented on #1640
Can testmods include source code mods?

[2017-06-06 13:22] billsacks commented on #1640
Yes. But, as discussed in #290, this carries a maintenance cost, since the SourceMods will need to be updated whenever the production code is updated. (As an aside, we've had some discussions about storing SourceMods as diffs rather than the full file, which could then be applied via a patch command. That would help somewhat - but would require developing some infrastructure to accomplish it.)

[2017-06-06 13:22] jedwards4b opened #1644 "scripts_regression_tests fails on small systems"
In K_TestCimeCase it is assumed that a machine has capability to run a job on P16x8 which causes smaller systems to fail with obscure division by 0 errors.

[2017-06-06 13:27] jedwards4b commented on #1644
We have information about how many tasks per node are available but not how many nodes are available, so it's not clear how to tell if a machine is too small for this test.

[2017-06-06 13:58] jedwards4b commented on #1637
genf90 is used and maintained by PIO and so is a valid external.

[2017-06-06 14:01] rljacob commented on #1637
Ok.

Since its a subtree, all we have to do for CMake is move its directory out of "externals"

[2017-06-06 15:57] billsacks opened #1647 "Would this be a way we could convert ERS and ERP to SystemTestsCompareTwo?"
We previously felt that it would be challenging to rewrite ERS and ERP using the SystemTestsCompareTwo infrastructure because we couldn't see a way to have the clone case do a restart of the original case (see also some discussion in #448 and #824 ). But would this be a way to do it?: Name the clone case the same as the original case, just in a different location, and then link to the necessary rp

[2017-06-07 12:53] billsacks opened #1650 "Need better description of CCSM_BGC and related namelist variables"
The description of CCSM_BGC in src/drivers/mct/cime_config/config_component_cesm.xml and config_component_acme.xml needs to be improved: I can't understand what it does based on this description:

[code]

I think it's wrong to say "the coupler is compiled...", because this is now a runtime option. More importantly, the meaning of each value (CO2A, CO2B, etc.) should be given here.

The description

[2017-06-07 15:06] mrnorman opened #1651 "No handlers could be found for logger "CIME.utils""
ACME master hash a4bc319d281259c3ce50122a2b76e10f465832fc

./create_newcase -compset FC5AV1C-04P2 -res ne16_ne16 -case test -mach titan -project stf006
cd test
./case.setup

[imn@titan-ext7:~/ACME/cime/scripts/get_data_downloaded] 8-) ./case.setup
Machine/Decomp/Pes configuration has already been done ...skipping
If an old case build already exists, might want to run 'case.build --clean' before bu

[2017-06-07 15:13] mrnorman commented on #1651
Happens for FC5AV1C-L too. Also forgot to mention this is on Titan.

[2017-06-07 15:31] jedwards4b commented on #1522
Trying to sort out the requirements for the description matches on compset names:

The compset name consists of a date field followed by a description of each specific component in COMP_CLASSES in the order of the COMP_CLASSES list.  Currently for cesm this is: CPL,ATM,LND,ICE,OCN,ROF,GLC,WAV,ESP where the ESP component may or may not be explicitly listed. The compset name may optionally include a

[2017-06-07 15:32] mrnorman commented on #1626
I should mention that all summit development is halted until this is resolved. ACME is part of the Summit acceptance suite, so it's important that this get resolved relatively soon. I can get someone an account on Summit if they need it.

[2017-06-07 15:34] rljacob commented on #1626
@mrnorman you should probably report your CIME issues in the ACME-climate github.  2 reasons:  ACME is usually behind the latest ESMCI master and not everyone here has access to the ACME code.   The SE group will take care of opening a duplicate issue here if necessary.

[2017-06-07 16:00] ekluzek commented on #1650
@billsacks I agree. We don't need to talk about the past and how these used to be CPP tokens. The important part is to define the current usage and what the different options do: none, CO2A, CO2B, CO2C. Each of those options should be defined.

[2017-06-07 16:04] jedwards4b commented on #1626
@mrnorman In your case directory is a file .env_mach_specific.sh (or .env_mach_specific.csh) if you load that file in your environment using 'source _filename_' does it do what you expect or give you the same error?

[2017-06-07 16:18] mrnorman commented on #1626
It doesn't exist. If it's created by ./case.setup, then that's the command that failed.

[2017-06-07 16:22] jedwards4b commented on #1626
Are you sure? It should have written them before trying to load any modules (note they are hidden files use ls -a to see them).

[2017-06-07 17:08] ekluzek commented on #383
OK, I saw problems with this same thing for yellowstone_gnu for LII cases. It runs two cases, and the first aborts with an error -- but the job remains in the queue. We decided to close this since it seemed to just be yellowstone_gnu. So I'll ignore those for now. But, I'm adding this continues to be a problem. LII_D_Ld3.f09_g17.ICLM45BGC.yellowstone_gnu.clm-defaultf09IC with cime5.3.0-alpha.21.

[2017-06-07 18:11] mrnorman commented on #1626
[imn@titan-ext2:~/ACME/cime/scripts/get_data_downloaded2] 8-) ls -a1
.
..
archive_metadata.sh
Buildconf
case.build
case.cmpgen_namelists
CaseDocs
case.lt_archive
case.run
case.setup
case.st_archive
CaseStatus
case.submit
check_case
check_input_data
Depends.titan.pgi
env_archive.xml
env_batch.xml
env_build.xml
env_case.xml
env_mach_pes.xml
env_mach_specific.xml
env_run.xml
LockedFiles
Macros.make
p

[2017-06-07 18:46] jedwards4b commented on #1626
Could you run case.setup --reset --debug and send me the case.setup.log file.

[2017-06-07 18:56] billsacks commented on #1642
Okay, from some playing around with this, I gather that this was set up so that --user-mods-dir works analogously to the testmods directory in a test, but relative to the primary component's (I think) cime_config/usermods_dirs directory. While I see a little rationale for that, I mainly find it unintuitive, particularly since it isn't documented. I'd find it much more intuitive if relative paths w

[2017-06-07 18:58] billsacks commented on #1642
@ekluzek @bandre-ucar and @olyson - having played around with this for CLM, do you have any feelings on how this should work?

[2017-06-07 19:34] billsacks commented on #651
Thinking about https://github.com/ESMCI/cime/issues/651#issuecomment-252348999 a bit more: I imagine that point (1) is easy, but point (2) is hard. But that led me to wonder: Why do we have config_tests.xml anyway? Personally, I find it confusing that some aspects of test configuration information appear in this xml file, and other aspects appear in the python code: it means you need to look in tw

[2017-06-07 20:24] mrnorman commented on #1626
Output at:

https://gist.github.com/mrnorman/b66bd6cfe7910eb249d9afb0dd2a78f2

[2017-06-07 20:33] ekluzek commented on #651
Hmmm. I'm not completely convinced here. I do see the point about needing to see both config_test.xml and the Python code, and having to only look at one or the other would be prefered. But, part of the move you are suggesting is to change what's currently in XML to be hardcoded in Python. As a general rule I think the XML data side is easier to understand. So if you want to move between XML and P

[2017-06-07 20:50] olyson commented on #1642
I would prefer relative paths that are relative to the current directory.
So, instead of doing this:

--user-mods-dir /glade/p/work/oleson/clm4_5_16_r243/components/clm/cime_config/usermods_dirs/clm/clm5_OutputCrop

I would do this:

--user-mods-dir clm/clm5_OutputCrop

which is how it was intended to work?  And documentation about where usermods are supposed to go (components/clm/cime_config/user

[2017-06-07 20:52] gold2718 commented on #1522
Are you talking about the proposed `COMPONENTNAME_MODIFIERS` entry tag?
Since we are using the `<description>` section to determine valid entries, I wonder if that area is enough to provide matches. For instance, CLM has desc tags like:
`compset="_CLM50%[^_]*BGC_"`
and
`compset="_CLM50%[^_]*BGC-CROP"`
which I think allows an entry like `CLM50%BGC-CROP%BGC` which may or may not be valid.
Assuming f

[2017-06-07 20:57] jedwards4b commented on #1626
This shows that you are exiting in the clm buildnml, I think that the problem is independent of whether you can load modules.
I can't tell from this what the error message is though. Can you run it again and when it stalls in pdb do
print error_msg
up
print cmd

[2017-06-07 20:59] mrnorman commented on #1626
[code]

[2017-06-07 21:02] jedwards4b commented on #1522
So in the latest discussion we came up with the following:
The description field will have an optional boolean attribute called modifier_required if present and true
it would say that the component has to have at least one modifier.
the desc field would also have an optional boolean attribute called additive if present and set to true this would allow this modifier to be combined with any other mo

[2017-06-07 21:04] gold2718 commented on #1522
How does this prevent invalid combinations?

[2017-06-07 21:05] mrnorman commented on #1626
@jedwards4b , Sorry, I'm mixing up github issues! The output I sent you is for an error we're having on Titan in a separate issue. Sorry for the mix-up. I'll do this on Summit and get back to you.

[2017-06-07 21:07] jedwards4b commented on #1626
The titan issue looks as if you copied the configure script from cesm's clm into acme's cesm and it's expecting a fates directory which does not exist in your clm.

[2017-06-07 21:11] jedwards4b commented on #1522
Only fields with the additive attribute could be combined with other fields, although this would absolutely prevent invalid combinations it should greatly reduce the potential for creating one.

[2017-06-07 21:15] rljacob commented on #1626
fates is now in ACME master as of a week ago.

[2017-06-07 21:16] rljacob commented on #1626
But it does require you to do a "git submodule update", @mrnorman

[2017-06-07 21:17] mrnorman commented on #1626
OK, On Summitdev, I still don't have any .env_mach_specific.sh file. When I run --reset --debug, I get the following output. I e-mailed you the case.setup.log from summitdev.

[code]

[2017-06-07 21:28] mrnorman commented on #1626
OK, I also recall running this command back in the day, but I had to add a --init for it to do anything new...

[code]

[2017-06-07 21:29] mrnorman commented on #1626
It completes successfully on Titan now. I'm closing the issue. It's things like this that make submodules tricky to use, I think. Thanks for helping track it down.

[2017-06-07 21:29] mrnorman commented on #1651
Resolved by running "git submodule update --init" from the repo root dir.

[2017-06-07 21:29] #1651 closed

[2017-06-07 21:35] jedwards4b commented on #1626
Did you close the right issue?   The error on summit is
RUN: module load netcdf/4.4.1
RUN: module load netcdf-fortran/4.4.4
  stat: 1

  errput: Lmod has detected the following error: These module(s) exist but cannot be loaded as requested: "netcdf-fortran/4.4.4"
   Try: "module spider netcdf-fortran/4.4.4" to see how to load the module(s).

[2017-06-07 21:36] mrnorman commented on #1626
Nope, closed the wrong one I guess.

[2017-06-07 21:38] mrnorman commented on #1626
Yeah, that error happens because none of the module commands are actually "sticking." I think that each time it applies a module command, it doesn't actually affect the environment seen by the python script, as evidenced from the "ls" commands.

[2017-06-07 21:50] billsacks commented on #651
@ekluzek - I see your point. To record what we talked about in person: If we could completely specify a test via xml, that would be great, but since we can't, we need to at least partially specify it via python anyway. I see:

Best: Specify tests via xml or some other data-driven approach

Next best: Specify tests via code, all in one place

Third best (i.e., worst): Specify tests partially via co

[2017-06-07 22:17] billsacks commented on #1642
Ah, I think I see the problem, and also how to make it support both "true" relative paths and paths relative to the primary component's cime_config... I'll work on a fix.

[2017-06-07 22:29] jedwards4b commented on #651
The idea of config_tests.xml is that it allows the user to change fields in the xml files of a test without unintentionally changing fields that the test itself depends on.  If a user needs to change a field the test depends on they need to explicitly make the change in env_tests.xml instead of the default case xml file.   Your proposal of moving these fields from xml into python would require a u

[2017-06-07 22:40] billsacks commented on #651
Thanks for providing this rationale - this makes sense. So you're saying that something in the scripts prevents a user from overriding things like HIST_OPTION / HIST_N?

That doesn't necessarily argue for having this in xml, though: it seems the same affect could be achieved by having a case.set_value call in the python. Which brings us to:

It seems to me that there are very few useful changes yo

[2017-06-07 22:50] jedwards4b commented on #651
As a fairly frequent example

 HIST_OPTION=nsteps, HIST_N=1, STOP_OPTION=nsteps, STOP_N=3

I do this or something similar frequently in test cases and don't want to have to build another case to do it.   Currently I can change these fields in env_test.xml and continue using the same case.

[2017-06-07 23:34] gold2718 commented on #1522
It doesn't prevent invalid combinations and also is not usable if an option isn't 'additive' for every entry in the `<description>` section. In the CAM case, ramping CO2 can be added to any item:
`compset="_CAM60_"`
becomes
`compset="_CAM60(%RCO2)?_"`
and the behavior is explicit and local. This gives fine-grained control and prevents invalid entries at the earliest stage.
Flagging @cacraigucar an

[2017-06-07 23:49] mvertens commented on #1522
Could you please give a concise summary of what the new cam description
would look like - with examples. My understanding is that you want to
remove the attribute in the <description> and rely on regular expression
matching for everything. That is really what Jim wanted from the beginning
and I talked him out of it. I thought that it make things clearer to have a
few attributes rather than complic

[2017-06-08 01:52] billsacks commented on #651
The STOP_* pieces can be achieved by adding _Ln3 to your test case (e.g., ERS_Ln3...). I hadn't thought of the HIST_OPTION/HIST_N use case - thanks for providing that example.

[2017-06-08 03:24] gold2718 opened #1653 "Wrong rpointer name in config_archive.xml"
In src/drivers/mct/cime_config/config_archive.xml, the rpointer filename is:
`<rpointer_file>rpointer.cpl</rpointer_file>`
It should be
`<rpointer_file>rpointer.drv</rpointer_file>`
This error is also in config/acme/config_archive.xml

Reported by Thomas Toniazzo

[2017-06-08 03:29] gold2718 opened #1654 "Indentation error in case_st_archive.py"
In cime/scripts/lib/CIME/case_st_archive.py, in function `_archive_restarts`, we have:
[code]
Since the function, `_archive_rpointer_files`, assumes that `archive_restdir` exists, the call should be indented one level.
Reported by Thomas Toniazzo

[2017-06-08 03:47] billsacks opened #1655 "Nightly tests on cheyenne are using a very old cime version"
I checked the recent nightly (or really multiple-times-per-day) cime tests on cheyenne, such as http://my.cdash.org/testDetails.php?test=32154280&build=1223429 and these are all using a very old cime version:

[code]

[2017-06-08 03:49] billsacks opened #1656 "Builds are failing on master"
From the latest cime master, I tried the following on yellowstone:

[code]

This died with a bunch of compilation errors; the first few were:

[code]

[2017-06-08 03:54] billsacks commented on #1061
I added "tp: unknown" for issues where you don't know the root cause. I figured this is better than leaving off a "tp" label entirely, because it allows filtering on all issues with "tp: unknown".

[2017-06-08 04:05] billsacks commented on #1655
The nightlies on melvin look okay, so I'm guessing there's a cron job or something on yellowstone that needs to get restarted.

[2017-06-08 04:34] rljacob commented on #1640
I think it might be possible to generate an ERP fail with CIME code:  Random numbers in the o-a flux.   Since those are also part of CIME, it can all get updated at once.

[2017-06-08 12:43] jedwards4b commented on #1654
I think this is incorrect.  The directory may already exist, indentation is valid as is.

[2017-06-08 12:44] billsacks commented on #1640
If I understand your suggestion, that would generate a fail in any test that compares two runs. This would test some aspects of the system test infrastructure, and so could be valuable in some respects. However, this wouldn't test the ERP-specific logic - for example, the bug that was introduced recently in the ERP test would still have gone undetected even with this in place.

[2017-06-08 12:57] billsacks commented on #651
As I think more about what things will look like when tests are distributed to components, I feel it's important that settings that need to be done for nearly all tests – like setting INFO_DBUG=1, DOUT_S=FALSE, HIST_OPTION=$STOP_OPTION, HIST_N=$STOP_N – should appear in one and only one place. For example, there could be a defaults section in config_tests.xml and these could appear there.

The rea

[2017-06-08 12:58] billsacks commented on #1656
This build works in 8517405

[2017-06-08 13:00] jedwards4b commented on #1656
FIxed with commit 9a43e4b, pushed directly to master.

[2017-06-08 13:00] #1656 closed

[2017-06-08 13:06] jedwards4b commented on #1655
Yes I had an error in the path that was causing the cime version not to be updated.   Fixed now.

[2017-06-08 13:18] #1655 closed

[2017-06-08 13:21] jedwards4b commented on #1628
It would really help if an example were include with this issue.

[2017-06-08 13:25] rljacob commented on #1628
On Slack, @jgfouca said "just do a set_value on something that's in env_build.xml".   And I think if you run a test suite you'll see it in some of the tests.  Its a race so may or may not happen.

[2017-06-08 13:26] jedwards4b commented on #1626
I don't believe that's the case - have you tried these commands (in this order) successfully from the command line?   Try a module ls after each module load, I think that this is a problem in the modules and not in cime itself.

[2017-06-08 13:31] jedwards4b commented on #1628
Components should not run set_value or xmlchange on env_build.xml during the build phase if we want to maintain the ability to do parallel builds - however I don't know of a way to strictly enforce this rule.

[2017-06-08 13:31] rljacob commented on #1628
More comments from Slack:
JimF:  "a PR for ACME introduced a set_value to every case object upon case initialization, this caused the impacted XML file to be re-written every time the case was flushed.  and it caused mayhem in our system"
JimF: " I believe it was between case.flush() and the build system."
JimF: "I think it was in the __exit__ method of case"

[2017-06-08 13:40] jedwards4b commented on #1628
The only way I see to prevent this is to clearly document that you cannot do a set_value in the case __init__ method.

[2017-06-08 15:26] billsacks opened #1658 "--user-mods-dir not picked up for a user-compset"
If you specify a --user-mods-dir that is relative to the primary component's cime_config/usermods_dirs area, it is not picked up when using a user-defined compset (i.e., a compset without an alias).

For example, I added the following:

[code]

This is picked up if I do this:

[code]

But not if I do this (note that I am using a bare "DATM" to force use of a user-compset):

[code]

This gives the

[2017-06-08 15:27] billsacks commented on #1658
I think the problem is that some stuff in `Case._set_compset_and_pesfile` is only done for a compset with an alias. This causes the above problem, and could cause other problems as well.

The solution I see is to rework this code slightly: Always set primary component in the above routine (setting it earlier than is currently done for a user-defined compset); then move settings of the user_mods_di

[2017-06-08 16:53] dqwu opened #1659 "Schemas validity error on Mira/Cetus in phase 'XML'"
I tried the following test on Mira/Cetus with the latest cime master:
`./create_test SMS.T42_T42.S`

Errors were:
`Test 'SMS.T42_T42.S.cetus_ibm' failed in phase 'XML' with exception 'ERROR: Command: '/usr/bin/xmllint --noout --schema /gpfs/mira-home/dqwu/Test_CIME/config/xml_schemas/env_mach_specific.xsd /projects/HiRes_EarthSys_2/dqwu/SMS.T42_T42.S.cetus_ibm.20170608_163553_2kzoez/env_mach_speci

[2017-06-08 18:31] jedwards4b commented on #1659
This is a problem with the order of init_path and cmd_path in config_machines,
all of the init_path statements should precede the cmd_path statements.

[2017-06-08 18:32] gold2718 commented on #1654
But if the directory does _not_ exist and you call `_archive_rpointer_files`, then you get an error because `archive_restdir` is assumed to exist. Moving it in one level means that `_archive_rpointer_files` is only called if `datename_is_last or case.get_value('DOUT_S_SAVE_INTERIM_RESTART_FILES')` is `True`.
Do you want to archive the rpointer files if neither of those is true?

[2017-06-08 18:36] apcraig opened #1660 "Flgl_qice name/attname consistency"
In seq_flds_mod, there seems to be an inconsistency in the name and attname for this variable,

     name = 'Flgl_qice'
     longname = 'New glacier ice flux'
     stdname  = 'ice_flux_out_of_glacier'
     units    = 'kg m-2 s-1'
     attname  = 'Fgll_qice'

should it be Flgl or Fgll.  Some new code I'm working on picked up on this and barfed out an error.  I believe name and attname should always

[2017-06-08 18:57] billsacks commented on #1660
Thanks for catching this... it looks like this was probably just a typo. This is a flux from land to glc, so I'm thinking the right thing is Flgl_qice... do you agree?

Hmmm, but then I see this at the top of seq_flds_mod:

[code]

so I'm not sure what the convention is (if any), in terms of which component's letter comes first. Do you know?

And do you happen to know how (if at all) attname is cu

[2017-06-08 19:03] rljacob commented on #1660
The convention for Fxyz is "flux between x and y computed on the z grid".   The ordering of x and y is arbitrary (I think).    So Fxyz = Fyzx

[2017-06-08 19:04] apcraig commented on #1660
With regarding to naming convention.  The convention just indicates what two components are involved, not anything about src and dst.  So Flgl and Fgll are both valid as far as I'm concerned.  I would use Flgl.

This probably didn't affect anything in CESM.  It might have had an impact in the ESMF interfaces and it was caught by the prototype NUOPC implementation, but CESM/mct doesn't care about t

[2017-06-08 19:16] jedwards4b commented on #1654
On further review I think that you are correct.

[2017-06-08 19:24] jgfouca commented on #1651
The 'no handlers' warning can be ignored. It just means somewhere you're using non-posix options (-longopt instead of --longopt).

[2017-06-08 19:42] jgfouca commented on #1626
@mrnorman I agree with @jedwards4b, this is almost certainly a problem in the environment config for summit. If you can't figure it out, make an account for me and I'll look into it.

[2017-06-08 19:43] #1642 closed

[2017-06-08 20:19] jedwards4b commented on #1654
The indentation is fine, the tests for dataname_is_last and DOUT_S_SAVE_INTERIM_RESTART_FILES is repeated inside _archive_rpointer_files.     This indicates that the code structure could be improved, but there is no bug here.

[2017-06-08 20:19] #1654 closed

[2017-06-08 22:34] #1660 closed

[2017-06-09 03:01] billsacks opened #1664 "Pes specification file wrong in README.case for case with a compset alias and --pesfile"
If you create a case with a compset alias using the `--pesfile` argument, README.case says:

[code]

rather than pointing to the `--pesfile` you gave.

I'm fixing this in an upcoming PR.

[2017-06-09 03:03] billsacks opened #1665 "Do we still want the `--pesfile` argument to create_newcase?"
Now that `--pesfile` is no longer a required argument when you're running with a user-compset (thanks, @jedwards4b !): Do we still want this argument for create_newcase?

If we do keep it, the help text needs to be fixed. Currently it says:

[code]

This is incorrect on two points:

(1) It can be used whether or not you're using a `--user-compset`

(2) It is **not** required any more.

[2017-06-09 13:30] jedwards4b commented on #1665
I think that we do want to keep it with documentation:

Full pathname of an optional pes specification
file.  The file can follow either the config_pes.xml or
the env_mach_pes.xml format (default: None)

[2017-06-09 13:40] billsacks commented on #1665
Okay, I'll add that in an upcoming PR.

[2017-06-09 14:23] jedwards4b commented on #1628
@jgfouca Can we create a test to assure that instantiating and a case object does not invoke a flush and add it to scripts_regression_tests.   Does this look like it would work?

With Case(caseroot, read_only=False) as case:
   expect(not case._env_files_that_need_rewrite, "Instantiating a case should not trigger a flush call")

[2017-06-09 15:26] mrnorman commented on #1626
[code]

[2017-06-09 15:29] jedwards4b commented on #1626
The error occurred on loading the netcdf-fortran/4.4.4 module.   You need to repeat the modules command exactly as it is written.

[2017-06-09 15:35] mrnorman commented on #1626
The module 'ls' after changing the modules is exactly the same as the login environment. I added that so it would be clear that the modules aren't "taking" so to speak.

Also, I have done them in the same order from terminal, and they succeed.

[2017-06-09 15:36] mrnorman commented on #1626
I'm giving Jim Foucar instructions on how to get onto summitdev. Hopefully he'll be able to tackle it there.

[2017-06-09 15:44] jedwards4b commented on #1626
In your command line output we did not see the line:
[code]
this message was probably triggered by interaction with one of the other module commands in env_mach_specific.xml that you did not repeat on the command line.

[2017-06-09 15:48] mrnorman commented on #1626
Right. It actually does the module command, but if you "module ls" afterward, it no longer shows the change associated with the previous module command in CIME. It's like it's applying them in some sort of container and then somehow forgets about the command afterward.

[2017-06-09 16:47] #1658 closed

[2017-06-09 16:47] #1664 closed

[2017-06-09 16:47] #1665 closed

[2017-06-09 16:58] billsacks opened #1668 "Review and edit help documentation for user-facing scripts"
The help documentation (what you get with `-h`) of many of our user-facing scripts could use some minor editing for grammar and whitespace, and possibly some heavier editing for general understandability.

One example is a lack of whitespace between words which arises from having python code like this:

[code]

– note the lack of spaces before the closing quotes on each line, leading to help text

[2017-06-09 16:59] billsacks commented on #1668
cc @bertinia @mvertens

[2017-06-09 17:15] mvertens commented on #1668
@billsacks - thanks for pointing this out and listing out the files that
need to be reviewed.
@bertinia - which files are you willing to take on?
@billsacks - which files are you willing to take on?
I'll do the rest.

On Fri, Jun 9, 2017 at 10:59 AM, Bill Sacks <notifications@github.com>
wrote:

[2017-06-09 17:24] billsacks commented on #1668
I took care of query_testlists via #1669 . I'm happy to take a few others - I don't care which ones.

[2017-06-09 17:39] #1628 closed

[2017-06-09 19:19] mvertens commented on #1668
@billsacks - should we be working off of one branch? Its really confusing to address this PR if we are all working on different branches. Can I please create a branch - mvertens/clean_user_facing_scripts on esmci and we could all work off that that branch? Or how do you envision collectively addressing this?

[2017-06-09 19:24] jgfouca commented on #1481
@rljacob I already did this on the merge branch.

[2017-06-09 19:29] rljacob commented on #1668
One branch per script (or maybe set of related scripts) to change.  Each branch from master.  one PR per branch.  You need to communicate here which script you're starting work on so someone else doesn't make a branch for it.

[2017-06-09 19:31] rljacob commented on #1481
You should get those PRs in a little quicker, @sarich

[2017-06-09 19:45] billsacks commented on #1668
@mvertens - I agree with @rljacob : I am a fan of small, short-lived branches. The problem I see with one big branch for this is that I may not get a chance to do my piece of this for a few weeks, at which point it's possible that some of these scripts will have diverged from master. It also makes reviewing the final PR rather overwhelming.

[2017-06-09 20:32] #1650 closed

[2017-06-09 22:18] kdraeder opened #1672 "cime5.3.0-alpha.07 unable to handle RESUBMIT > 1"
I've built a single instance WACCM case (FWscHIST) and started it
from default initial conditions.
I set RESUBMIT = 3 and DOUT_S = TRUE, so that st_archive
submits the next job.
The first month ran fine, but the automatic resubmission failed:

MPT: Launch error on r1i0n5.ib0.cheyenne.ucar.edu
/glade/u/apps/opt/mpt/2.15-sgi715a158/bin/omplace:
line 640: 25449 Segmentation fault      (core dumped) d

[2017-06-09 22:19] billsacks opened #1673 "Top-level cime_config/usermods_dirs incorrectly added to list of all_user_mods"
If a component defines a COMPNAME_USER_MODS (e.g., CAM_USER_MODS) entry in config_component.xml, but the value for the current case ends up being blank, we are getting incorrect behavior: The expected behavior is that no user mods directory would be included; the actual behavior is that it tries to pull in user mods from PRIMARY_COMPONENT/cime_config/usermods_dirs . This often will be harmless, be

[2017-06-09 22:39] billsacks opened #1674 "Should the case directory be removed when create_newcase has an error?"
First let me say: cime is now much better than the scripts used to be about not creating a case directory if there was an error in create_newcase. However, some errors generated late in the create_newcase process can still leave you with a possibly-invalid case directory.

An example is errors in case.py: apply_user_mods, e.g., triggered with this artificial change:

[code]

These generate an ERRO

[2017-06-10 12:01] billsacks commented on #1673
I think I see a solution that fixes the bug and at least should do no harm, so I'm confident enough to take this issue.

[2017-06-10 17:44] mvertens commented on #1673
My understanding of CAM_USER_MODS was that it would only be used when cam is the primary component. That is evident in the documentation. I'm not sure when the following was introduced in CAM_USER_MODS:
[code]
 This usage is inconsistent with the stated description.

[2017-06-10 18:28] mvertens commented on #1674
I think if there is an error - a case should not be created.

On Fri, Jun 9, 2017 at 4:39 PM, Bill Sacks <notifications@github.com> wrote:

[2017-06-10 19:31] mvertens commented on #1672
What cesm tag are you using?

On Fri, Jun 9, 2017 at 4:18 PM, kdraeder <notifications@github.com> wrote:

[2017-06-10 23:54] kdraeder commented on #1672
Hi Mariana,

2_0_alpha06i

Kevin

On 6/10/17 1:31 PM, mvertens wrote:

[2017-06-12 03:35] gold2718 commented on #1522
Here is a pass through the CAM description section using new attributes which are component type names (e.g., atm). Rather than regular expression syntax, each allowed value is spelled out with optional additions in brackets. Thus,
` atm="CAM40[%TMOZ][%RCO2]` means the atmosphere section of the compset must be CAM4 optionally followed by either `%TMOZ` or `%RCO2`. Since this is a 'set' match, this

[2017-06-12 12:27] billsacks commented on #1522
@gold2718 - at a glance, I do agree that this is more understandable than the regex syntax.

Is it intentional that some of these say CAM40%, CAM50% or CAM60%, some say CAM5%, and some just say CAM%?

At least for CLM, it would really help moving forward if we separated lnd_name from lnd_opts. We have a lot of options that apply to both CLM45 and CLM50 - and in the future will also apply to CLM55,

[2017-06-12 12:59] jedwards4b commented on #1522
@gold2718 It seems that you diverged from the conversation that we had leading to this proposal.
I don't have a problem using the component class for the attribute name - that will remove the order dependence on the comp_classes.   The time filed AR97 does not belong in this file at all and should be moved to the driver.     And to be clear the [] is a regular expression - the discussion was that

[2017-06-12 13:10] billsacks commented on #1522
What I meant was something like this:

[code]

rather than what we currently have, which has separate listings for CLM45%BGC, CLM50%BGC, CLM45%BGC-CROP, CLM50%BGC-CROP, etc.

If we had an option that only applied to a certain physics option, it could be done like this:

[code]

(Although in the case of CLM, I think those restrictions might be easier to handle by having appropriate error checking i

[2017-06-12 13:23] billsacks opened #1676 "Need CLM system test to verify that adding virtual glacier columns doesn't change answers"
For the CMIP6 runs, we're turning on virtual glacier columns over Antarctica. I want a system test to verify that this doesn't change answers for gridcell-average fields.

Eventually we should move this test into CLM, but we're waiting to do so
until we resolve some issues raised in the discussion in
https://github.com/ESMCI/cime/issues/651 .

[2017-06-12 13:52] jedwards4b commented on #1522
Ah therein lies the problem.   CLM has determined that only one option at a time is allowed.  Instead of CLM50%BGC%CROP you do CLM50%BGC-CROP  but other components want to allow multiple options CAM50%CLUBB%RMP    We either need to standardize one syntax or the other or propose something that works for both - I think that what Steve has will work for both cases, what you have will not.

[2017-06-12 14:36] jedwards4b commented on #651
I would prefer to resolve these issues before adding any more component specific tests!

[2017-06-12 15:12] billsacks commented on #1522
@jedwards4b - my comment was not meant to address the combination of options. I am perfectly happy with @gold2718 's suggestion for that. I was really just trying to address the separation of the component name from the component's options. Sorry for creating confusion here. So we could have something like:

[code]

[2017-06-12 15:44] gold2718 commented on #1522
@billsacks - The issue with the separation is that in CAM, not all options apply to every CAM physics option. I think the choice comes down to duplication or lots of regular expression syntax.

[2017-06-12 15:48] gold2718 commented on #1522
@jedwards4b  - [%CLB] is only regular expression syntax if you treat the string as a regular expression. In our discussion last week, I thought we decided to try using sets with optional members with no regular expressions. My proposal above is using that idea. Parsing the string would create an exact string match plus a set of options.

[2017-06-12 16:04] gold2718 commented on #1522
@billsacks - The CAM4% and CAM5% were typos (edited above) but everything else is intentional. CAM currently supports nine separate physics packages (roughly equivalent to to CLM's CLM45 and CLM50). The allowed option sets vary widely between these different packages.

[2017-06-12 16:17] jedwards4b commented on #1522
@gold2718 instead of just splitting the string on %  I also have to deal with the [] now,
shouldn't the brackets be inside and not outside the % symbol?  %[CLB] instead of [%CLB]
This will make parsing easier I think.

[2017-06-12 16:59] apcraig opened #1678 "create_test error messages with command line argument errors"
create_test error messages for typos in command line arguments should be improved.  create_newcase seems to do this fine,

usage:
create_newcase --case [CASE] --compset [COMPSET] --res [GRID] [--machine ...] [--compiler ...]
OR
create_newcase --help
create_newcase: error: unrecognized arguments: --pcount 64

create_test does not (there is a typo in --no-build in the following that is not clearly i

[2017-06-12 17:54] gold2718 commented on #1522
@jedwards4b, I was hoping we could keep this syntax because it is clearer for users (mimics shell optional argument syntax). For parsing, something like:
`[ x.rstrip("]") for x in atm.split("[%") ]`
can easily handle getting rid of the brackets with the first element of the list being the required part and the rest of the list as options.

[2017-06-12 18:07] mfdeakin-sandia commented on #1540
@PeterCaldwell I've been talking to NERSC consulting to try and determine the issue with sharing with ACLs, and we think it should work with the permissions I have now. Would you mind trying to access '/global/u2/m/mdeakin/acl-ftest' and '/global/u2/m/mdeakin/acl-test/acltest'? If it doesn't work; I'll give up on this path and add a sticky bit setting to the run-acme script instead of in CIME.

[2017-06-12 18:32] PeterCaldwell commented on #1540
/global/u2/m/mdeakin/acl-ftest seems to be an empty file. /global/u2/m/mdeakin/acl-test/acltest is a file that says "ACL working". Is this what you expect?

[2017-06-12 18:58] mfdeakin-sandia commented on #1540
Yes, that's correct. I'll see about adding an option to CIME for this after fixing to the branch run and hooks for run_acme

[2017-06-12 19:16] #1673 closed

[2017-06-12 19:16] #1659 closed

[2017-06-12 20:46] jedwards4b commented on #1522
Here is a little test program that I think implements @gold2718 proposal.   I'm not sure how to parse the description to separate the required from the optional part of the comment.  It seems like you don't want 'with optional CO2 Ramp [%RCO2]' if your compset didn't specify it.  Can we put optional argument descriptions separately?  That is we might have
[code]
in addition to what you have above?

[2017-06-12 21:45] dqwu opened #1683 "$comp is hard-coded in buildlib.csm_share"
[code]
In above code, a hard-coded string "mct" is assigned to $comp. This value is defined in config_component.xml and submit to change (PR #1663 changed it from "MCT" to "mct")
[code]
Instead of hard-coding, is it better to bind $comp to the value read from config_component.xml?
`my $comp = $COMP_INTERFACE;`

[2017-06-12 21:47] jedwards4b commented on #1683
Yes

[2017-06-12 22:14] billsacks commented on #1522
To record a conversation I just had with @gold2718 - regarding this point:

For CAM, I think this amounts to a pretty simple change for each line of xml: Anywhere where @gold2718 's xml file would have something like

[code]

my proposal simply separates the full 'atm' string into 'atm_name' and 'atm_opts' like this:

[code]

For CAM, it sounds like this just adds some verbosity without much benef

[2017-06-12 22:33] jedwards4b commented on #1522
@billsacks - where is the analogous clm example that shows the benefit of this additional change?  Show me how it makes things simpler and more robust.

[2017-06-12 23:26] billsacks commented on #1522
Let me try to summarize my thinking on this, as well as what @jedwards4b and I just discussed. @jedwards4b helped clarify for me a misunderstanding I had about exactly how this would look.

Under the combined @gold2718 & @jedwards4b proposal, I _think_ CLM's options would look like this (partial example, but adding the rest of the entries doesn't help illuminate things any more):

[code]

I now se

[2017-06-12 23:58] billsacks commented on #1522
@jedwards4b @gold2718 @mvertens - Actually, I'm feeling overwhelmed about everything I'm supposed to get done this week, so I'm hesitant to take more time to think through this. So I'd propose that you move ahead with what you have laid out for the <desc> entry, because I'm fine with all of that. Then we can revisit some of these other issues post-cesm2 release: let's not take more time to discuss

[2017-06-13 01:02] jedwards4b commented on #1522
Cam description updated to the current proposal.
[code]

[2017-06-13 02:16] billsacks commented on #119
For some more examples and thinking around this issue, see https://github.com/ESMCI/cime/issues/1522#issuecomment-307963098

[2017-06-13 02:37] gold2718 commented on #1522
@billsacks, without commentary or alternative proposals, it is hard to understand what issues you have with the current sections in config_componont.xml. All I can do now is move forward with the `<description>` section but I do not think there will be time to revisit this for quite a while given all the competing post-CESM2 priorities.

[2017-06-13 03:48] gold2718 commented on #1522
@jedwards4b, Here is an attempt for a hybrid solution. I also moved the option descriptions to their own section to make them easier to find.
[code]

[2017-06-13 13:10] jedwards4b commented on #1522
@gold2718 I don't understand - I posted the compromise after talking with @billsacks, did you even look at it?   With this compromise we don't need to separate atm_name and atm_opts.

[2017-06-13 17:35] gold2718 commented on #1522
@jedwards4b, Yes, I looked at it and it works fine for CAM. I was exploring @billsacks' suggestion to separate out the options to allow a `<desc>` tag with `clm_options` but without `clm_name`. For the record, my proposal above has bugs and is not particularly satisfying to me but I wanted to have a look at it first.

[2017-06-13 17:45] billsacks commented on #1522
@mvertens and @gold2718 asked me to provide some more details of my thinking, and to work through `OCN_NCPL` as an example.

There are two basic principles that are motivating me here:

1. We should have a design that supports change - and makes it likely that, as aspects of the system change, the xml matches Just Work, rather than silently doing the wrong thing.

    Change can take a number of f

[2017-06-13 18:52] bertinia commented on #2
I just tried to run getTiming in a caseroot generated by cesm2_0_alpha06n and cime master and it failed with an I/O error:

`IOError: [Errno 2] No such file or directory: '/scratch/cluster/aliceb/b.e20.B1850.f09_g17.01/run/timing/model_timing_stats'

Since this tool is tagged as an enhancement and currently doesn't work, do we want to continue to include it in $CASE/Tools?

[2017-06-13 19:01] bertinia commented on #2
@jedwards4b claims this tool is working correctly when the run is complete and correct.
For a failed run, the error message should be more user friendly indicating that the
run did not complete and the dir model_timing_stats does not exist.

[2017-06-13 19:03] gold2718 commented on #1522
@billsacks, my short answer to your post is that I do not think any of this impacts the proposal for the change to the `<description>` section. Below are a few specific comments:

1c) This is a CESM3 issue and compset names will adapt to include new component types along with the elimination of stubs. However, the new syntax **must** include the ability to separate out by component type so this ty

[2017-06-13 19:56] billsacks commented on #1522
@gold2718 - thanks for your reply here. I think we're largely in agreement about (1) the need to move away from using the `compset` attribute, and (2) that all of this can be addressed post-cesm2, on the road to cesm3.

But I will continue to strongly argue for the need for a generic `lnd_type` (etc.), or at least being able to match something like a boolean `lnd_prognostic`. Currently, introducin

[2017-06-13 21:20] rljacob commented on #1522
Is the result of this discussion going to require changes to existing component xml files?

[2017-06-13 21:28] mvertens commented on #1522
Currently the description section is not parsed for error checking in user
compsets. We will introduce a new schema and version for the description
section that will be parsed for error checking when you specify user
compsets. If you want to turn on that error checking then you will need to
change ONLY the description section of your component file. But since the
current behavior is not to parse i

[2017-06-13 21:31] fischer-ncar opened #1685 "Documentation for different Test Codes (SMS, ERS, ERI ...)"
I've been working on getting documentation for the different tests for create_test by going
through the comments in the scripts and an old README.  It would be great if people could
look through the different tests and fill in or fix any missing details for there favorite tests.

DAE
    Implementation of the CIME data assimilation test: Tests simple DA script
    which does not change the CAM inp

[2017-06-13 21:52] #651 closed

[2017-06-13 22:00] billsacks commented on #1685
Thanks, Chris.

I just glanced through this. A few comments:

- The last line of PEM should say "compare base and modpes"

- LII and SSP have just been moved out of cime

- REP is mainly meant to aid debugging when you're seeing errors in other tests. e.g., if there are failures in an ERS, ERP, PEM or PET test, a first question you can ask is, "Are two identical runs giving the same answers?" Some

[2017-06-13 22:02] jgfouca commented on #1162
Unintentional closure due to ACME merge.

[2017-06-13 22:02] jgfouca commented on #1338
Unintentional closure due to ACME merge.

[2017-06-13 22:08] mvertens commented on #1685
Thanks so much Chris. Could you please add this to the create_test section
of the user's guide. That would be really helpful.

On Tue, Jun 13, 2017 at 4:00 PM, Bill Sacks <notifications@github.com>
wrote:

[2017-06-13 22:34] billsacks opened #1687 "OCN_NCPL logic doesn't handle CLM5 correctly"
src/drivers/mct/cime_config/config_component_cesm.xml has this (copied twice):

[code]

This doesn't match CLM5. We should remove the 4 (and remove the duplicate line).

[2017-06-14 00:19] #946 closed

[2017-06-14 14:47] dqwu commented on #1534
@jgfouca
This issue is reproducible again. The empty proxy tag was removed in PR #1590, but it was added back by PR #1634 during the merge.

[2017-06-14 16:39] #1338 closed

[2017-06-14 16:43] jgfouca commented on #1162
Sorry @rljacob , never got this email. I don't have a strong opinion here. "XML-based" vs "python-based" tests. @billsacks suggested moving test files to model/component specific places.

[2017-06-14 16:45] jgfouca commented on #1162
@jedwards4b -> says to put something in configuration XML that says what kind of test method the model uses. config_component_acme TEST_STYLE=python?

[2017-06-14 16:50] jgfouca commented on #1685
@jedwards4b -> says that we already have documentation of these in the config_tests.xml file. We should provide these docs to the user (if user provides --help)?

[2017-06-14 16:57] jgfouca commented on #1674
@jedwards4b says sometimes leaving the case is useful for debugging. Leave it if create_test, delete if create_newcase?

[2017-06-14 16:58] jgfouca commented on #1672
Cheyenne issue?

[2017-06-14 17:02] billsacks commented on #1678
I can't reproduce this from master: See the last line below:

[code]

[2017-06-14 17:08] apcraig commented on #1678
OK, great.  I think we're OK then.  My cime is a couple weeks old or maybe I just messed up.  We should close the issue.  thanks.

[2017-06-14 17:08] #1678 closed

[2017-06-14 17:17] jedwards4b commented on #1672
Yes this is a Cheyenne issue and we are working with cisl to resolve it.

[2017-06-14 17:21] bertinia commented on #1668
I'm currently working on archive_metadata in branch bertinia/archive_metadata (CESM only)

I'll also work on:

create_test with Chris
manage_pes
query_config
manage_testlists

Please assign me any additional scripts in the caseroot that need to be updated.

[2017-06-14 17:33] #1534 closed

[2017-06-14 18:11] dqwu opened #1690 "Python error on skip-preview-namelist in the run script"
On Mira/Cetus, the run script case.run (called by case.submit) is interrupted due to the following error:
[code]
This Python error is introduced by PR #1471.
In config/acme/machines/template.case.run, --skip-preview-namelist is added to the parser AFTER the arguments are already parsed, which is at a wrong place.
[code]
In config/cesm/machines/template.case.run, the calling sequences are correct.

[2017-06-14 18:59] gold2718 commented on #1674
Leave it if `--debug` is set?

[2017-06-14 19:07] billsacks commented on #1672
Is the problem that we can't submit jobs from the compute nodes on cheyenne? If so, should this be documented as a cime requirement in http://esmci.github.io/cime/users_guide/porting-cime.html ? Or is this something that is assumed to work on pretty much every machine... except cheyenne?

[2017-06-14 19:10] jedwards4b commented on #1672
I have been unable to reproduce the reported problem, I've sent email to Kevin to clarify.

[2017-06-14 19:33] kdraeder commented on #1672
Thanks for looking into this!

The case I had trouble running on cheyenne is
/glade/p/work/raeder/Exp/WSD_spinup_1deg_sst.25.
The run and archive directories are in
/glade/scratch/raeder/WSD_spinup_1deg_sst.25/{run,archive}

I haven't tried to run a job with RESUBMIT > 0 since then,
but I'm trying to set one up now for other reasons.

Kevin

On 6/14/17 1:10 PM, jedwards4b wrote:

[2017-06-14 19:53] jedwards4b commented on #1672
In your original error message you posted:
[code]
The very next message in that file was
[code]
Checking the log file I find:
[code]
This is a clm error and not  a cime error as reported - I'm not sure why it's working when you resubmit by hand.

[2017-06-14 20:31] kdraeder commented on #1672
It's true that the first time I tried to run the first month
I had this CLM error.  I fixed it in the clm namelist
and successfully ran the first month with RESUBMIT=0.
(/glade/p/work/raeder/Exp/WSD_spinup_1deg_sst.25/
   WSD_spinup_1deg_sst.25.run.o1229798)

I submitted the 2nd month with RESUBMIT=3.
That month ran (WSD_spinup_1deg_sst.25.run.o1230435),
and the st_archive submitted month 3,
which

[2017-06-14 20:32] jgfouca commented on #1690
Assigning to @erichlf since he did the --skip-preview-namelist work.

[2017-06-14 20:39] billsacks commented on #1672
@JeremyFyke recently reported a MPI_SHEPHERD error on cheyenne, too. My understanding (maybe wrong) was that this was from the initial submission of the run, not a resubmit. His message:

[2017-06-14 20:51] billsacks opened #1693 "User-defined compsets differ in RUN_STARTDATE and other settings from config_compsets.xml"
I think this is related to an issue @mvertens brought up verbally a few days ago: Any settings made in a config_compsets.xml file are not applied to user-compsets (i.e., compsets without an alias). One common variable that is set there is RUN_STARTDATE. This means, for example, that a user-defined HIST compset currently starts in year 0001 rather than year 1850, which I think leads to incorrect be

[2017-06-14 20:54] jedwards4b commented on #1672
The MPT_SHEPHERD error is an indication that the mpiexec_mpt did not recognize your program as being an mpi program.   It doesn't really make any sense but we are seeing it intermittently when submitting jobs from compute nodes on cheyenne.

[2017-06-14 21:05] rljacob commented on #1162
Ok but documentation like http://esmci.github.io/cime/users_guide/testing.html#using-create-test-acme needs to be re-written to talk about "python based" not "ACME".  And a similar document has to be written for CLM-based.

[2017-06-14 21:08] rljacob commented on #1685
Is the "old README" the one in scripts/lib/CIME/SystemTests ?

Something like "./create_test --help TESTTYPE" should return the help for that test instead of the generic help message.

[2017-06-14 21:08] wilke opened #1694 "Pull request missing test - test"
@jgfouca not sure if code is tested - test
testing \@mention

[2017-06-14 21:17] fischer-ncar commented on #1685
Yes, the "old README"  is in scripts/lib/CIME/SystemTests and looks to be out of date.  The config_tests.xml looks like it's up to date.  We should probably remove the README so we
don't have the tests documented in two different places.

I think the different TESTTYPEs should be listed in the generic held message, minus the detail.
Then do was @rjacob suggests for more details about the TESTTYPE.

[2017-06-14 21:36] billsacks commented on #1674
I realized @jedwards4b 's suggestion of leaving the case directory in place for create_test is critical, so that you keep around the TestStatus file that has the FAIL line in it.

[2017-06-15 00:20] mfdeakin-sandia opened #1695 "Cannot set BRNCH_RETAIN_CASENAME"
xmlchange cannot set BRNCH_RETAIN_CASENAME on a case with RUN_TYPE=branch.
This was with a coupled case which called case.build after setting RUN_TYPE.

[2017-06-15 18:49] jedwards4b commented on #1286
This issue was fixed by PR #1418

[2017-06-15 18:49] #1286 closed

[2017-06-15 20:07] jgfouca commented on #1674
@billsacks you're right. So only delete for create_newcase and not --debug.

[2017-06-19 17:40] mnlevy1981 opened #1699 "--generate flag affects success of test build?"
This is a weird issue and I'm not 100% sure it's something in CIME, but the problem seems to be reproducible and the only change is in the `create_test` call... if I run

[code]

Out of a sandbox that is basically what is being tested as `cesm2_0_alpha06o` but swapping the POP trunk out in favor of a branch for MARBL development, then the eight tests in `aux_pop_MARBL` all run successfully.

Howev

[2017-06-19 18:32] jedwards4b commented on #1699
I cannot reproduce your case from the latest code.
 Missing testmod file '/home/jedwards/cesm2_0_alpha/cime/../components/pop/cime_config/testdefs/testmods_dirs/pop/ecosys_read_fallback_gx3v7'

[2017-06-19 18:47] mnlevy1981 commented on #1699
From components/pop run

[code]

And you don't need to run the full test suite, I reproduced the build error with

[code]

[2017-06-19 19:00] mnlevy1981 commented on #1699
The following source mod

[code]

Seems to fix the issue, so I guess I'm back to believing it's a PGI compiler bug? But why is it only triggered with `--generate`?

[2017-06-19 19:40] mnlevy1981 commented on #1699
(Without the POP source mod, the `--compare` flag causes the test to fail as well)

[2017-06-19 20:05] jedwards4b commented on #1699
This test works fine for me:
 ./create_test SMS.T62_g37.C1850ECO.hobart_pgi.pop-ecosys_ladjust_bury_coeff SMS.T62_g37.C1850ECO.hobart_pgi.pop-ecosys_read_fallback_gx3v7 --baseline-root /scratch/cluster/jedwards/marbl --generate marbl
The error indicates that perhaps a Makefile dependency is incorrect and marbl_parms is being compiled prior to marbl_constants_mod

[2017-06-19 20:58] mnlevy1981 commented on #1699
I was able to run the tests out of your sandbox in

[code]

but still get failures in my sandbox. So it's not something in my environment, it really is in my sandbox.

It looks like you are using the latest CIME master instead of the alpha.23 tag, but it also looks like the only CIME differences are in documentation... so I'm really confused about what's going on. My sandbox uses PGI 17.05 instead

[2017-06-21 16:23] billsacks commented on #1699
I think this has to do with the exact length of the case name rather than whether `--generate` is included. I ran these three tests:

(1) With `--generate`

[code]

Build failed.

(2) Without `--generate`

[code]

Build passed

(3) Without `--generate`, but forcing the case name's length to be exactly the same as in (1):

[code]

Build failed.

I'm inclined to chalk this up to pgi weirdness and cl

[2017-06-21 16:24] billsacks commented on #1699
Oh, and my tests were with

[code]

with POP at `https://svn-ccsm-models.cgd.ucar.edu/pop2/branch_tags/marbl_dev_tags/marbl_dev_n49_cesm_pop_2_1_20170601`

[2017-06-21 17:16] billsacks commented on #1407
@JeremyFyke this may affect JG runs.

[2017-06-21 18:15] mnlevy1981 commented on #1699
@billsacks Before closing the ticket, can you see if the problem goes away with the SourceMod I mentioned [on the 19th](https://github.com/ESMCI/cime/issues/1699#issuecomment-309534887)? I'm willing to believe the case name length plays a role in this, but I don't think it's the only factor.

[2017-06-21 18:44] gold2718 opened #1701 "find_circular_dependencies.py broken"
find_circular_dependencies.py was broken by commit 801a8f19b255f65639bda91d2544f63e61cbfddd

[2017-06-22 22:18] billsacks commented on #1699
Yes, implementing that code change got the build to pass with something very similar to case (3):

(I had to use a different case name for this one, but was careful to use the same length case name.)

So I agree that it seems to be a combination of case name length and the factor involved with that SourceMod.

Okay to close this now?

[2017-06-23 15:53] #1699 closed

[2017-06-23 16:17] gold2718 opened #1704 "Add multi-coupler option for multi-instance simulations"
Currently, multi-instance simulations share a single coupler instance which must handle coupling for each instance in a serial fashion. In order to alleviate this bottleneck, @rmontuoro has implemented a modification allowing one coupler instance per model instance. In order to manage this feature from the CIME case control system, we need to specify the user interface (arguments to `create_newcas

[2017-06-23 16:26] gold2718 commented on #1704
I see the following supported use cases for the multi-coupler:

1. For single instance simulations, any multi-coupler optional argument would have no effect and therefore may be ignored, generate a warning, or, generate an error (I have no preference here).
2. For multi-instance simulations with `N` instances and one coupler, every non-stub component must either be run with `N` instances, or with

[2017-06-23 16:29] jedwards4b commented on #1704
With respect to your item 3 ESP will currently have three instances - we would need to add code in the driver or the ESP component to ignore the call if instance > 1.

[2017-06-23 16:30] gold2718 commented on #1704
For a multi-coupler case, if there is a non-stub component which does not support multiple instances (e.g., Wave Watch?), an error MUST be generated (with the usual exception for ESP components which do not interact with the coupler). To me, this means that the case-control system must know whether the selected case components support multi-instance.

[2017-06-23 17:04] jedwards4b commented on #1704
Doesn't this indicate a bug in the component interface?  All components should work with multiple instances.

[2017-06-23 17:16] gold2718 commented on #1704
Yes, it can be considered a bug (for Wave Watch, ESP is specifically for models which work outside the coupled system) but I do not think we have the power to reject components which only support a single instance so I suppose that the options are to add in a check or fix Wave Watch before bringing in the multi-coupler functionality.

[2017-06-23 17:24] jedwards4b commented on #1704
Both ERS_C3.T62_g16.CECO.cheyenne_intel.pop-ecosys and ERS_N3.T62_g16.CECO.cheyenne_intel.pop-ecosys
fail with error message ERROR: WW3 does not have multi instance functionality yet
from the ww3 buildnml script.

[2017-06-23 17:29] billsacks commented on #1704
@gold2718 I don't know of any use cases other than the ones you mention. But, unless things have changed recently, I think this one actually has more stringent requirements

If I remember correctly, all prognostic components must be run with `N` instances; all non-prognostic components must either be run with `N` instances or with `1` instance. (I'm not sure what happens if you try to run a progno

[2017-06-23 17:30] billsacks commented on #1704
I agree - I was actually just about to edit my comment to say that.

[2017-06-23 17:32] gold2718 commented on #1704
WW3 may even end up getting fixed but as we move forward with more collaboration (read accepting more models into CESM), this issue is going to keep popping up.

[2017-06-23 17:35] gold2718 commented on #1704
@billsacks, yes, there is a special check for prognostic components (starting at line 1611 in cesm_comp_mod.F90). I have updated my list above to make that clear.

[2017-06-23 20:17] kdraeder commented on #1672
This is becoming more pressing for me, so I'm interested to hear what
the status is and what CISL is saying.

I need to hand this software off to Julio Bacmeister for an ASD project,
so it would be very helpful if the resubmission-from-st_archive works.
As I noted above, I've now had the same problem while using cesm2_0_beta05.
Does this look like "not my fault", and/or can anyone suggest ways to

[2017-06-25 18:27] gold2718 opened #1706 "--user-compset should imply --run-unsupported"
In my opinion, if a user is entering expert mode by specifying `--user-compset`, then they should not also have to specify `--run-unsupported`. It seems to me that any user using this feature intends to be running unsupported code and even if they happen to specify an existing compset (supported or not). We should trust that they already signed the waiver that `--run-unsupported` represents.
Comme

[2017-06-25 19:20] jedwards4b commented on #1706
1. --run-unsupported is a cesm only feature and does not affect acme.
2. We had considerable discussion about this when the run-unsupported flag was implemented before deciding that using both would be required.

[2017-06-25 19:32] billsacks commented on #1706
@gold2718 - thanks for bringing this up. I agree that you shouldn't have to specify both. I'd actually argue for ditching the `--user-compset` option entirely at this point, and _only_ requiring `--run-unsupported`. (I'm pretty sure that `--user-compset` predates `--run-unsupported`, and I don't ever remembering having a discussion about whether it's necessary to retain `--user-compset` now that w

[2017-06-26 06:08] gold2718 commented on #1706
I am fine with ditching `--user-compset`.

[2017-06-26 18:45] billsacks commented on #1706
Everyone at today's CSEG meeting was also fine with ditching `--user-compset`, just keeping `--run-unsupported` in this case.

[2017-06-26 18:56] #1690 closed

[2017-06-26 23:01] cacraigucar opened #1707 "Coupling/run length check to prevent restarts from failing"
When a run length is specified that is shorter than the longest coupling interval, necessary restart files are not written.  A check should be put into the driver to abort if this is the case.

[2017-06-27 01:13] billsacks commented on #1707
Thanks for raising this issue, @cacraigucar . I think that the actual requirement is that the restart interval needs to be an integer multiple of all components' coupling intervals.

[2017-06-27 01:23] billsacks opened #1709 "New lnd to glc mapping code gives different answers for different processor counts"
The new lnd to glc remapping that @whlipscomb implemented has global sums (in the conservation correction) that seem to be responsible for answer changes when changing processor counts.

**_More details:_**

@bandre-ucar noticed that, from https://svn-ccsm-models.cgd.ucar.edu/clm2/branches/compsetchanges at r85844, the test `ERP_P15x2_Lm13.f10_f10_musgs.IHistClm50Bgc.cheyenne_intel.clm-monthly` fa

[2017-06-27 04:30] rljacob opened #1710 "Support --prereq argument to case.submit"
The --prereq argument is still giving an error.
[code]

We should support or temporarily remove it from --help string.

[2017-06-27 04:35] rljacob commented on #1485
Added in #1634

[2017-06-27 04:35] #1485 closed

[2017-06-27 04:36] rljacob commented on #1503
Added in #1634

[2017-06-27 04:36] #1503 closed

[2017-06-27 04:38] rljacob commented on #1252
Added in PR #1634

[2017-06-27 04:38] #1252 closed

[2017-06-27 16:31] amametjanov opened #1711 "PIO_NUMTASKS is getting reset"
Setting env_run.xml's PIO_STRIDE to default -99 and PIO_NUMTASKS to 64 resets both PIO_STRIDE and PIO_NUMTASKS to different default values at run-time.

XML comments:
[code]

but instead of 64, PIO_NUMTASKS is getting reset to 8 or 16 depending on the number of component's MPI tasks.

Note that setting PIO_STRIDE to a specific value and leaving PIO_NUMTASKS at default -99 works as expected: PIO_NU

[2017-06-27 16:53] jayeshkrishna commented on #1711
Looks like the issue is in shr_pio_mod.F90:shr_pio_read_component_namelist() where the stride is set to default (if stride = -99) without checking if pio_numiotasks are valid,
[code]
If pio_numiotasks is valid the code should try to compute stride from it.
A related issue is that shr_pio_read_component_namelist() is doing the job of function shr_pio_namelist_set() that already has logic to reset s

[2017-06-27 18:08] billsacks commented on #1709
I talked to @whlipscomb ; he's happy deferring to @jedwards4b , @mvertens and myself on how to deal with this.

[2017-06-27 18:38] jedwards4b commented on #1709
I would suggest shr_repo_sum always.

[2017-06-27 19:14] whlipscomb commented on #1709
Hi Jim,

Could you please tell me how expensive the shr_repo_sum routine is,
compared to a standard (non-reproducible) MPI global sum?  CISM does many
global sums per timestep as part of its PCG solve, so I'd like to have a
sense of how much more expensive it might get.

Thanks,

Bill L.

On Tue, Jun 27, 2017 at 2:38 PM, jedwards4b <notifications@github.com>
wrote:

--
*****
William Lipscomb
Clima

[2017-06-27 20:47] jedwards4b commented on #1709
There was a performance review showing that it was not significantly slower than the MPI global sum, but that was on a different system with different compilers and mpi lib.   I suggest we implement it and then do some timing studies to determine if it's okay to leave it on all the time or not.

[2017-06-27 20:49] whlipscomb commented on #1709
OK, sounds good.

On Tue, Jun 27, 2017 at 4:47 PM, jedwards4b <notifications@github.com>
wrote:

--
*****
William Lipscomb
Climate & Global Dynamics
National Center for Atmospheric Research
1850 Table Mesa Drive
Boulder, CO 80305

[2017-06-27 22:28] jedwards4b commented on #1711
I think that this is the change you need:
[code]

[2017-06-27 22:28] jedwards4b commented on #1711
[code]

[2017-06-27 22:28] jedwards4b commented on #1711
[code]

[2017-06-27 22:29] jedwards4b commented on #1711
I think this is the change you need to make:
[code]

[2017-06-28 16:17] #1522 closed

[2017-06-28 16:17] #1683 closed

[2017-06-28 16:47] #1643 closed

[2017-06-28 17:48] agsalin opened #1713 "drivers and share circular dependency with shr_dmodel"
In working on the build system, I've noticed that the drivers/mct/util/seq_*.F90 files depend on several share/utils/shr_*.F90 shared functions, as is the purpose of share/util. However, there is also one dependency that goes the backward direction, where share/util/shr_dmodel_mod.F90 has a dependency back into drivers/mct/shr/seq_flds_mod.F90:
`use seq_flds_mod, only : seq_flds_dom_coord, seq_fld

[2017-06-28 18:40] jedwards4b commented on #1713
Please see #852 regarding the share library.
It seems like the correct location for shr_dmodel_mod.F90 would be a new directory: src/components/data_comps/dshare

[2017-06-28 19:32] jedwards4b opened #1714 "Multi_couplers (PR #1566) and the ESP component"
The implementation of multiple couplers is probably misnamed because what we are really implementing is multiple drivers at the highest level - we are just duplicating the entire cesm code base with different mpi communicators.   This means that each coupler instance is interacting with a unique set of components including the ESP component.   The implementation of multi-coupler was done this way

[2017-06-28 21:12] billsacks commented on #1709
Okay, I'll make this change when I get a chance - though just in the coupler remapping for now (not CISM itself). This remapping only happens once a year in CESM by default (though may happen once a day in ACME right now... but I think they plan to change that at some point to also be once a year), so I'm not too concerned about performance.

[2017-06-28 22:27] #1711 closed

[2017-06-29 02:20] gold2718 commented on #1714
ESP needs to be able to update coupler restart files. How is that done in your scenario?

[2017-06-29 03:35] mvertens commented on #1714
@goldy - So I see two cases. For DART/ESP, I did not think that the coupler
restart files were touched - only component restart files. So in that case
Jim's suggestion might work. For DATA/ESP - this would not work since you
are touching the coupler restart files. However, maybe we would not want to
use DART/ESP with multi-drivers. But until we had pause/resume working this
PR would speed up the c

[2017-06-29 03:54] gold2718 commented on #1714
It surely complicates the pause/resume work. Even resurrecting the PER test is complicated by the new code (e.g., does one instance know the names of all the other instance's restart files which is necessary to implement @jedwards4b suggestion?). If each instance is running its own driver, how is the magic instance supposed to know if and when the other instances have 'paused'?
If you really want

[2017-06-29 04:18] gold2718 commented on #1714
It seems that this version of multi-coupler is incompatible with ESP usage so I think that `create_newcase` and `case.setup` should reject the combo.

[2017-06-29 04:19] rljacob opened #1715 "Remove src/drivers/mct/doc"
It looks like the material in src/drivers/mct/doc is out of data and replaced by doc/source/driver_cpl.  So lets remove it.

[2017-06-29 04:19] rljacob commented on #1715
@apcraig is the above true?

[2017-06-29 04:52] apcraig commented on #1715
I have little role in the driver and coupler these days and have not been involved in the driver documentation or directory structure of cime. You should ask @mvertens.

[2017-06-29 12:53] jedwards4b commented on #1714
I think that you are too quick to declare it's incompatibility.   As step one let's get the PRE test working on this branch just for ninst=1 then we can look at what it will take to get it to work for multiple instances.   The driver_comm barrier I added in line 3751 of cesm_comp_mod.F90 should assure that all instances are in the pause state, and I think we can find a way to tell the esp componen

[2017-06-29 19:14] rljacob commented on #1332
@sarich Where are you with this?

[2017-06-29 19:19] #1481 closed

[2017-06-29 19:59] sarich commented on #1332
I've pushed up a branch sarich/scripts/feature-subproject, testing it now
with various ways of setting subproject (in main config file, user config
file, command line option) and checking that old configurations still work.

I didn't see an easy way to split off 'project' and 'subproject' that would
default the charging to 'project 'if no subproject was given, so the
changes run a little deeper th

[2017-06-29 20:21] rljacob commented on #1332
Yeah maybe just call it "account".   If not specified, then account = project.

[2017-06-29 20:28] sarich commented on #1332
There's already a backward-compatibility usage for 'account', from util.py:

    Hierarchy for choosing PROJECT:
    0. Command line flag to create_newcase or create_test
    1. Environment variable PROJECT
    2  Environment variable ACCOUNT  (this is for backward compatibility)
    3. File $HOME/.cime/config       (this is new)
    4  File $HOME/.cesm_proj         (this is for backward compatibi

[2017-06-29 22:22] jedwards4b opened #1717 "PRE.f45_g37_rx1.ADESP_TEST.cheyenne_intel broken"
This test fails in the run phase on the current cime master, it's not clear why.
Similar test PRE.f45_g37_rx1.ADEST.cheyenne_intel passes

[2017-06-29 23:01] gold2718 commented on #1717
I think this is a duplicate of #1622.

[2017-06-29 23:01] #1717 closed

[2017-06-29 23:15] jedwards4b commented on #1622
So it was - sorry.

[2017-06-30 02:01] jedwards4b opened #1718 "Tests should work with longname not just alias."
Because we have chosen to minimize defined compset aliases we are in a situation in which we might regularly run compsets using the longname only.  We need the tests to work on any compset not just a subset defined by aliases.   I would like to add an option to create test --compset that will allow you to give a compset longname.   This means that the alias that is an integral part of the testname

[2017-06-30 16:04] fischer-ncar opened #1720 "Syntax error in statistical_ensemble_test"
@allibco

We need to change line 244 line of ensemble.sh to
CLONECOUNT=$((${Args[$i]}-1))

And get the change into cime/master.

[2017-06-30 16:23] gold2718 commented on #1718
Is there any reason the longname can't just be included in the test name? E.g.,
[code]
Is the period an allowed character in compset names? I'm not sure we check for it but no one uses it so we could just declare it character _non grata_.

[2017-06-30 21:32] ekluzek commented on #737
I looked at the commits that say they resolved this issue, and I don't see any changes that would have addressed this problem. So I'm going to reopen this issue.

[2017-06-30 22:12] jedwards4b commented on #737
@ekluzek  - if you are going to reopen a resolved issue please provide a test case illustrating the problem, don't just guess.

[2017-06-30 22:50] kdraeder commented on #1672
I've done some more testing of this, and found that I can't
reproduce the problem in cesm2_0_alpha06i.
This is the version which is closest to the sandbox given
to me to work with  and which I could conveniently
get to work with DART.
(misc02_cam5_4_120; has more WACCM-X in it
and other differences I don't have time to identify)

I was trying to build FWscHIST, which is in misc02,
but not in alpha

[2017-07-01 02:01] billsacks commented on #1672
@kdraeder thanks for testing this. I'll close it for now, and if you run into it again, we can reopen it.

[2017-07-01 02:01] #1672 closed

[2017-07-05 19:09] billsacks commented on #1676
This is now in CLM.

[2017-07-05 19:09] #1676 closed

[2017-07-05 19:11] rljacob commented on #1519
General Update from CIME telecon:  BJ Smith completed his technical writing.  Alice has his notes for gaps.  Need to add: how to generate grids, user compsets.  Larger glossary.

[2017-07-05 20:38] billsacks opened #1722 "Rework handling of compsets defined in the "wrong" place"
We (particularly, @mvertens @rljacob and I) had some discussion on today's CIME telecon about how to set the primary component for compsets defined in the "wrong" place. For example, if CAM defines an alias for a B compset, then should the primary component be CAM or allactive? There is some discussion on this issue in #1692 .

Possible behaviors are:

1. Define primary component based on the comp

[2017-07-05 21:02] mnlevy1981 opened #1723 "How does parallelism in create_test work?"
On `yellowstone`, it was very easy to request a dedicated compute node on which to run `create_test` and I never really worried about the internal parallelization of the tool. On `cheyenne`, though, the best I can do is request half a node in the share queue... so if I'm running `create_test` twice (say with two different compilers), then it's very likely that the two jobs will be running in paral

[2017-07-05 21:19] mnlevy1981 commented on #1723
I should also add that part of my confusion stems from the fact that `create_test` is noticeably slower on cheyenne than it is on yellowstone. This may be due to differences in compiler versions, but my first thought is that it's related to the default settings of these parallelization options. Again, the Yellowstone script runs on a dedicated node with 16 cores while the Cheyenne script runs on 1

[2017-07-06 02:18] rljacob opened #1724 "Move Cmake out of src/externals"
After discussion in #1637, the directory cime/src/externals/Cmake should be moved to just cime/src/Cmake to reflect that it no longer dependent on any external upstream master.

[2017-07-06 02:18] rljacob commented on #1637
Question answers and new issue opened.

[2017-07-06 02:18] #1637 closed

[2017-07-06 11:57] #1687 closed

[2017-07-06 16:52] jgfouca commented on #1723
Hi @mnlevy1981,

There are many levels of parallelism, so I can understand the confusion.

--parallel-jobs controls task-level parallelism (IE how many test-cases can be in flight at the same time)
--proc-pool controls the size of the processor pool that create_test will use.

In order for a phase of an individual test to begin, there must be an available thread (1 spare thread in parallel-jobs) a

[2017-07-07 21:08] billsacks commented on #1407
@lvankampenhout has gotten this to work with case-specific mods. Now we need to get this working out-of-the-box. Key aspects to Leo's mods are:

(1) user_datm.streams.txt.topo.cplhist:

[code]

Note that the -10800 matches what's used in datm.streams.txt.CPLHIST3HrWx.Solar, but not in the other streams  ... I'm not sure what's right here. It probably doesn't matter for the typically time-invariant

[2017-07-07 22:29] #1607 closed

[2017-07-08 15:52] kdraeder opened #1726 "cime5.3.0-alpha.29 multi-instance CAM fails due to cpl.r size limit"
cesm2_0_beta06 F2000_DEV dies while trying to write the cpl.r file
at the end of the forecast when ninst = 30, but not when ninst = 3.
The error message is
1: pio_support::pio_die:: myrank=          -1
 : ERROR: nf_mod.F90:        1508
 : NetCDF: One or more variable sizes violate format constraints

When ninst = 3 the cpl.r file ends up being 400 Mb, while the 30
member would be 4 Gb, which is la

[2017-07-08 16:32] mvertens commented on #1726
@kdraeder - since you have been carrying out these experiments with cesm2_0_beta05 as well - could you determine if there are more fields in the cpl.r file in beta06? What is the size of the cpl.r file in beta05 when ninst = 3. That would be very helpful to know. We'll look into this as a high priority - we need to have DART data assimilation working in the cesm2 release code.

[2017-07-09 03:23] kdraeder commented on #1726
Thanks for the quick response!
And thanks to Steve for tipping me off that Github is
the place to file these things, instead of Bugzilla.
I reported this there a month ago, but nobody answered.

I've attached a tar file with summaries of the cpl.r files
for beta05 and beta06.  Note that beta05 was f19_f19,
while beta06 was f09_f09.  I had to tack on a .txt in
order for Github to upload it, so take

[2017-07-09 19:15] jedwards4b commented on #1726
Just a note that I think that this would be solved with the multi coupler branch.

[2017-07-09 21:31] kdraeder commented on #1726
I agree.  What's the status of that branch?
I've been looking forward to running a clean multi-coupler
since Raffaele coded it into a pre-python CESM last Fall.
Kevin

[2017-07-09 22:53] mvertens commented on #1726
@jedwards - irrespective of the multi-coupler (which really should be called multi-driver) this seems like a bug to me and if so needs to be fixed.
@kraeder - there is an outstanding PR to bring this into CIME master. There are issues regarding if this will be problematic with pause/resume that we are trying to sort out. In the meantime we could point you to the CIME branch if you want to try it o

[2017-07-10 16:51] #1706 closed

[2017-07-10 16:51] #1718 closed

[2017-07-10 17:55] mnlevy1981 opened #1727 "Look for buildcpp, buildnml, and buildlib in SourceMods"
We found a bug in one of the POP build scripts, and the user who found (and eventually fixed) the issue was surprised that the updated script needed to be tested in a sandbox rather than by dropping it in SourceMods. If it's not too much hassle, it would be great if CIME could look for these three scripts in SourceMods before falling back to the component's `cime_config` directory.

[2017-07-11 12:17] jedwards4b commented on #1726
Fixed by #1705

[2017-07-11 12:17] #1726 closed

[2017-07-11 17:36] kdraeder commented on #1726
I'd like the pointer to the multi-coupler/driver branch.
Thanks,
Kevin

On 7/9/17 4:53 PM, mvertens wrote:

[2017-07-11 17:42] mvertens commented on #1726
@jedwards - could you please point @kraeder to your multi-driver branch.
@kraeder - it would be great if you could use this to do a quick
performance test of your current configuration to determine the benefit of
using this. It would really help us decide how important it is to bring
this into cime master right now. One option is to have multi-driver and
pause/resume be mutually exclusive for the

[2017-07-11 17:49] jedwards4b commented on #1726
fork:	git@github.com:jedwards4b/cime.git
branch: multiple_couplers

[2017-07-11 19:22] mvertens commented on #1726
@jedwards - thanks. Can you also give Kevin a quick summary about how to
create a case with multiple drivers. We really have not documented that
extensively.

On Tue, Jul 11, 2017 at 11:49 AM, jedwards4b <notifications@github.com>
wrote:

[2017-07-12 16:54] kdraeder opened #1731 "multi-instance rpointer file names in config_archive.xml don't match $rundir"
config_archive.xml:
      <rpointer_file>rpointer$NINST_STRING.atm</rpointer_file>'
rundir:
     rpointer.atm_$NINST_STRING

Similarly for all other (multi-instance) components.
I vote for changing config_archive.xml, so that the instance
number is always attached to the component name,
rather than the file type.   This would also match the
restart, initial, and history files.

Thanks
Kevin

[2017-07-12 16:59] #1727 closed

[2017-07-12 18:13] #773 closed

[2017-07-12 18:13] #1526 closed

[2017-07-12 18:13] #1536 closed

[2017-07-12 18:13] #1633 closed

[2017-07-12 19:22] #1723 closed

[2017-07-12 19:26] rljacob commented on #1543
Discussion during telecon:  wish is for case directories to be kept.   They would be if ACME Jenkins didn't blow them away.  @ndkeen did you want nightly tests to keep accumulating?  Please clarify this request.

[2017-07-12 19:31] rljacob commented on #1571
Discussion on telecon.   Change "delete to replace" to "will not replace".   Indicates that something is not quite as expected but you don't have to do anything.

[2017-07-12 21:42] ekluzek opened #1732 "Can the driver (either in scripts or in code) check for invalid PE layouts?"
I saw this as a problem in https://github.com/NGEET/fates/issues/242. A bad PE layout was put together and it dies in an awkward way hard to understand. It would be much preferred if the driver (in either scripts or in code) could recognize bad PE layouts and rather than die awkwardly -- print out a nice error message that the PE layout is invalid.

The specific bad PE layout was intended to const

[2017-07-13 01:14] jedwards4b opened #1733 "archive_metadata.sh"
The archive_metadata.sh script is in the case directory, it has a couple of problems
1. It's still written in sh - consider rewriting in python.
2. The help message indicates it should work but ...
[code]
I think that it would be worthwhile to get this cleaned up and working for the release, at a minimum I would like to be able to upload performance data from anyone willing to provide it.

[2017-07-13 14:03] jedwards4b opened #1737 "system_tests_compare_two broken for hybrid runs"
If the compset is defined with RUN_TYPE = hybrid the initial startup files are not copied or linked into the second run directory and the second run fails.   Tested with
PET_Ln9.f09_f09_mg17.F2000_DEV.cheyenne_intel.cam-outfrq9s

[2017-07-14 00:37] #1737 closed

[2017-07-14 18:04] billsacks commented on #1732
I don't think everyone has access to the FATES repo. Some relevant things @ekluzek posted there are:

the pe layout:

[code]

The error:

[code]

Line 1211 of cesm_comp_mod is:

[code]

[2017-07-14 18:05] billsacks commented on #1732
@ekluzek it's not at all clear to me why this PE layout would be "bad". i.e., what rules could we have to catch this problem in general? I understand that atm was meant to just be on one node, so there was a mistake here, but at a glance it looks like a valid PE layout to me. The one unusual thing I see is that cpl is a subset of the atm pes but does not start at the root of the atm pes; could tha