[2020-02-27 17:46] #2457 closed

[2020-02-27 17:46] #3389 closed

[2020-02-27 17:49] jedwards4b commented on #3418
@rsdunlapiv No - with #3400 this is automatic.
@billsacks what complicated steps - you just need to change CCSM_CPRNC before you test.
I don't mind if you want to make this the default on a platform or two.

[2020-02-27 17:56] billsacks commented on #3418
@jedwards4b - you're right, I overstated with "complicated" because you just need to change CCSM_CPRNC, not actually manually build it. That said, this would still be an awkward addition to our current streamlined CTSM testing procedure, and as a general rule I don't like ever recommending making changes in the source tree when running testing, because it's error-prone and makes it hard to reprodu

[2020-02-27 18:04] billsacks opened #3419 "Always build cprnc on the fly for tests on cheyenne and izumi"
In PR #3400 , @WesCoomber added the very helpful capability to build cprnc on the fly for machines that don't have an already-built version. My feeling (which I originally expressed in #2457, and then re-expressed in https://github.com/ESMCI/cime/issues/3418#issue-572216363) is that it would be a good idea to always use the cprnc associated with the current cime version, rather than relying on a p

[2020-02-27 19:27] #3385 closed

[2020-02-27 21:42] jedwards4b opened #3423 "cprnc build doesn't work with --machine option"
It seems like it always relies on the regex match, which doesn't work on all systems - I'll take a look and see if there is an easy fix.

[code]

[2020-02-27 22:11] #3423 closed

[2020-02-28 19:47] WesCoomber commented on #3255
@ndkeen Could you give me a short example of what you want to see in the CaseStatus?

This is what you are seeing right now:
`example output in CaseStatus.

2019-09-30 17:34:38: case.run starting
 ---------------------------------------------------
2019-09-30 17:35:24: model execution starting
 ---------------------------------------------------
2019-10-01 00:48:26: case.submit starting
 ---------

[2020-02-28 19:52] ndkeen commented on #3255
Maybe just simply the jobid integer on each line as well.

2019-10-01 00:59:15 89542: case.submit starting

[2020-02-28 21:22] jedwards4b opened #3425 "hera build of cprnc not working"
The compiler should be intel but cmake is finding gnu instead.  Still investigating
@rsdunlapiv may need your help to access hera.

[2020-02-28 23:26] rljacob opened #3426 "Error on compset alias could be more informative."
After doing a merge in E3SM, I seem to have introduced a duplicate alias in one of the config_compsets.xml.

The command an error message is:
[code]
Note that even though I'm building an X case, which is defined in the driver, CIME doesn't know that and will look in the first file in COMPSETS_SPEC_FILE for the compset alias which happens to be the allactive config_compsets.

It would be helpful if

[2020-02-29 00:01] rljacob commented on #3426
Found the problem.  Note how the <compset> tags are used here:
[code]
Using just xmllint didn't detect anything.  But when I used the schema in config/xml_schemas/config_compsets.xsd it pointed to the bad line.

The error message was completely misleading.  How can the file validate with the tags like the above?

[2020-02-29 00:10] jedwards4b commented on #3426
https://github.com/ESMCI/cime/blob/master/config/e3sm/config_files.xml#L120
suggests that when initializing the compset object in create_newcase it should have checked the schema and thrown an error - but in order to invoke that you need to indicate that your compset conforms to version 2.0 as in ```<compsets version="2.0">```  e3sm all active does not.

[2020-02-29 00:28] rljacob commented on #3426
None of our model-specific compets use that schema.  That must be one of the upgraded schema's we haven't migrated to yet.

[2020-02-29 00:42] jedwards4b commented on #3426
I think that's been that way for a few years now.

On Fri, Feb 28, 2020 at 5:28 PM Robert Jacob <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-02-29 00:45] jedwards4b commented on #3425
@rsdunlapiv I have a potential fix in https://github.com/jedwards4b/cime/tree/cprnc_bld_fix
but don't have a hera account to test it.

[2020-02-29 16:09] jedwards4b opened #3427 "cprnc build fails when running suite of tests"
I keep getting failures because more than one test is trying to create the directory at the same time - around line 278 of build.py

[2020-02-29 16:47] jedwards4b commented on #3427
I am not able to get this working with a suite of tests - did you run the cime_developer test suite with this PR?

[2020-03-02 16:47] rsdunlapiv commented on #3427
cprnc build fails when running with the latest CIME on Hera:

[code]

[2020-03-02 16:52] jedwards4b commented on #3427
@rsdunlapiv can we look at this together when you come in?

[2020-03-02 17:10] rsdunlapiv commented on #3427
@jedwards4b let's gchat.

[2020-03-02 17:27] jgfouca commented on #3427
@jedwards4b , in E3SM, sharedlibs are not really shared (each case builds their own), so it's possible we didn't see this bug.

Also, looking a test_scheduler:
[code]

^ For cesm, we for serialization of sharedlib builds. Maybe we need to do this for ufs too?

[2020-03-02 17:37] #3427 closed

[2020-03-02 18:04] jedwards4b commented on #3426
Closing this issue - e3sm should update to the version 2.0 schema for this file to enable xmllint run which would have provided a proper error message.

[2020-03-02 18:04] #3426 closed

[2020-03-02 18:50] rljacob opened #3432 "Revist use of "get_model" in CCS"
Many places in the case-control system, there are slightly different ways of doing things that are chosen by checking the value of get_model.

Since the number of models is growing, we need to revisit that practice.

Instead of the the option being decided by a model name, we should come up with a general name for what is being chosen.  Then each model can set a true,false flag for if they want to

[2020-03-02 18:56] rljacob commented on #3426
"matches" still seems like a misleading term because it implies the alias strings were the same.  The problem in this case was a compset had more then one alias.   The above segment was interpreted as:
[code]

So there were 2 alias when there should be 1.

[2020-03-02 19:27] jedwards4b commented on #3426
xmllint would have correctly picked up the second <compset> prior to closing an open <compset>

[2020-03-02 19:29] rljacob commented on #3426
With the schema.  Without it, xmllint passes.

[2020-03-02 19:30] jedwards4b commented on #3426
without the schema xmllint is a noop

[2020-03-03 20:05] rljacob opened #3433 "Fill pattern diff from cprnc"
I'm trying to understand this warning from cprnc when it compares 2 ELM files (in a baseline comparison)

[code]

Apparently everything is 0 so how can it tell that a fill pattern is different?

This is the only difference between 2 files and it causes cprnc to say they are DIFFERENT.

The cause of the diff is this PR  https://github.com/E3SM-Project/E3SM/pull/3448

[2020-03-03 20:11] billsacks commented on #3433
"Fill pattern" refers to which grid cells have actual data vs. missing data (according to the `_FillValue` or `missing_value` attribute on the netcdf file). The values reported ignore grid cells with missing values. So, for example, with a missing value flag of -999, you could have:

File 1: 0, 0, -999, -999

File 2: 0, 0, 0, -999

and that would result in this FILLDIFF message.

I suggest viewing

[2020-03-09 17:45] ekluzek commented on #1774
I talked to @swensosc about this, and he confirmed that these changes were put in by hand for SnowMIP. And as such they only need to go to master now and not required for maint-5.6 CESM2.1 release branch.

[2020-03-09 18:04] billsacks commented on #1774
@swensosc or @JustinPerket - I just want to confirm: when you implemented this for SnowMIP, did you also turn off rain-snow repartitioning inside CTSM (via the `repartition_rain_snow` namelist flag)?

[2020-03-09 18:26] swensosc commented on #1774
I used 'repartition_rain_snow = .false.' in user_nl_clm

On Mon, Mar 9, 2020 at 12:04 PM Bill Sacks <notifications@github.com> wrote:

[2020-03-10 18:59] billsacks commented on #3226
I don't think that we'll go this direction of a standalone cime build for lilac, at least for now. (Instead, we'll coordinate the cime build from a build system that resides in ctsm.) This may still be something we want to revisit in the future for the sake of maintainability, but I'm going to close this issue for now.

[2020-03-10 18:59] #3226 closed

[2020-03-10 23:54] golaz opened #3442 "Improve documentation and/or logic of env_batch.xml variables."
When submitting jobs on compy, I need CIME to specify both SLURM partition and qos:

[code]

I can do this manually with

`./case.submit -a="--qos=watercycle"`

but I don't know if the qos specification will also apply to subsequent automatic resubmissions.

I tried editing `env_batch.xml` to add

`<arg flag="-q" name="watercycle"/>`

or

` <directive> --qos=watercycle</directive>`

but neither on

[2020-03-11 00:03] jedwards4b commented on #3442
So if you are editing env_batch.xml you should run ./case.setup --reset and then
./preview_run should show the flag ou (if you use the arg method) and the .case.test (or case.run) script should show the directive.  To apply to all cases you need to make this change in config_batch.xml instead.

[2020-03-11 15:45] golaz commented on #3442
@jedwards4b : I tried the following.

Edited `env_batch.xml` to add --qos flag:

[code]

followed by

[code]

The added --qos flag does not show up:

[code]

[2020-03-11 15:57] golaz commented on #3442
In addition to not accomplishing what I intended, running

`./case.setup --reset`

forced me to rebuild the model before submitting next time.

[2020-03-11 16:00] jedwards4b commented on #3442
Rebuilding the model in this case should have been basically a noop.
I was able to reproduce the issue and will look into it.

[2020-03-11 16:04] golaz commented on #3442
Thanks. The rebuilding went pretty fast indeed (193 s).

[2020-03-11 16:39] jedwards4b commented on #3442
As a workaround, and assuming that you want to port the code to this system and not just the case:  Editing the config_batch.xml and adding the argument works correctly.  This requires creating a new case.

[2020-03-11 16:48] jedwards4b commented on #3442
@golaz It turns out that last statement is not true.   I can do:
[code]
in either config_batch.xml or env_batch.xml and that works fine.   I was also able to add the
```<directive> --qos=wathercycle</directive> ``` to env_batch.xml and after running ./case.setup --reset I see the directive in the .case.run script.

[2020-03-11 22:55] golaz commented on #3442
@jedwards4b : indeed, the following worked for me

[code]

and I did not have to do a

`./case.setup --reset`

Thanks for helping me figure out the proper syntax since it's not particulalrly intuitive:

`<arg flag="--account" name="$PROJECT"/>`

and

`<arg flag="--qos=watercycle"/>`

but **not**

`<arg flag="--qos" name="watercyle"/>`

You can close this ticket unless you think something in CIME s

[2020-03-12 01:29] jedwards4b commented on #3442
You are correct, the usage here is not intuitive, I am going to leave this issue open and change the title.

[2020-03-12 18:52] jgfouca opened #3446 "Critical flaw in Macro generation: does not preserve order"
Some background: I was debugging a problem on summit and I discovered that I needed to have the pnetcdf link come earlier in the link line, so I changed the config_compilers.xml like this:

FROM:
[code]

TO:
[code]

In other words, just moved the pnetcdf SLIBS append earlier. To my surprise, this had no impact on the link flag order generated in Macros.cmake. I checked out BuildTools/macroconditio

[2020-03-12 18:57] jgfouca commented on #3446
Just FYI, i was able to hack my way around this particular problem by doing this:

[code]

[2020-03-12 22:15] bartgol opened #3448 "Add empty "environment_variables" section in env_mach_specific.xml"
It would be nice if the generated `env_mach_specific.xml` file contained an empty section for user-defined env variables, perhaps with a commented out example. This would allow the user to know exactly how to specify additional env vars.

[2020-03-12 22:17] jgfouca commented on #3448
This would be for machines that may have little, if anything, in their environment setup in config_machines.xml.

[2020-03-13 05:34] rgknox opened #3450 "mct index error on 1 cpu workstation"
I'm running single grid-cell simulations in E3SM  on a linux workstattion with 1 land gridcell.  Workstation is "eddi" in the machine files, this uses no batch system.

I've recently encountered the following error during my tests:

At line 2528 of file /home/rgknox/E3SM/cime/src/externals/mct/mct/m_GlobalSegMap.F90
Fortran runtime error: Index '1' of dimension 1 of array 'last_index' above upper

[2020-03-13 17:31] ekluzek commented on #3450
It sounds like at the point of the error, it thinks there are zero processors rather than 1. Make sure the PE layout has one task for each component.

I'd also suggest to try building it with MPILIB=mpi-serial so it's a simpler configuration.

[2020-03-13 18:30] rgknox commented on #3450
Thanks @ekluzek.  Running as a serial job seems to work. (why didn't I think of that....)

I've been specifying my PE layout with commands like this, sometimes I had played around with running the datm on a different rootpe.
[code]

[2020-03-13 18:40] jedwards4b commented on #3450
@rgknox You can shortcut those commands with
./xmlchange NTHRDS=1   which will change all component NTHRDS to the same value, true also for NTASKS and ROOTPE

[2020-03-13 21:52] jedwards4b opened #3452 "ERROR: No results found for variable CAM_DYCORE"
This message is printed to all build logs when cam is not a component, the FV3 build needs to be refactored to avoid this.
To reproduce
1075  ./create_newcase --case foo --compset X --res f19_g16
 1076  cd foo
 1077  ./case.setup
 1078  ./case.build
 1079  zgrep CAM  $EXEROOT/*.bldlog.*

[2020-03-14 22:17] billsacks opened #3453 "Clean up warnings in the documentation build"
Building the sphinx documentation generates a lot of warnings. We should clean these up so that real issues are apparent.

[2020-03-18 01:24] adamrher commented on #1367
I'm resurrecting this issue b/c @lvankampenhout raised a point that I *think* I'm currently encountering w/ an up-to-date code base @mvertens. He says:

"On a side note: the coupler data generated by setting
`histaux_a2x3hr = .true.`
generates daily files with 8 timesteps each, can these directly be used by DATM? I now concatenated them into monthly files first."

The histaux_a2x3hr = .true. cpl i

[2020-03-18 16:46] billsacks commented on #1367
@adamrher can you move your latest comment to a new issue with appropriate title? I actually suspect that the issue is having appropriate documentation about how you're supposed to do this, but I'm not sure.

[2020-03-18 16:53] mvertens commented on #1367
@adamrher - @klindsay28 has a utility that concatenates the output histaux_xxx files into files that can be used by datm. So you are right - you need this step before datm can use the files. It would be good to both document this as well as integrate the tool that @klindsay28 has into cime. @klindsay28 - can you please provide details - once this issues has been moved.

[2020-03-18 17:09] adamrher opened #3458 "forcing DATM with cpl history files requires concatenating the files first"
The histaux_a2x3hr = .true. namelist provides cpl i/o with date stamps in the form of year-month-day-[seconds-of-first-timeslice], and each file contains 1 day of i/o. But forcing clm with these files in a datm configuration (i.e., running a DATM%CPLHIST CTSM I-compset) assumes the cpl i/o are each monthly files.

These are the XLM variables I set for a test with 2 years of forcing files, in runni

[2020-03-18 17:21] adamrher commented on #3458
also FYI. Here is the documentation @ekluzek sent me 2 years ago that I've been using. I don't know if there is more up to date documentation available.

[2020-03-18 22:07] jedwards4b opened #3459 "case.setup refuses to fix corrupted env_mach_specfic.xml"
Introduced with #3449 if the env_mach_specific.xml file in the case is corrupted or missing
case.setup --reset will not run
[code]

[2020-03-20 17:24] billsacks opened #3461 "Guidelines for marking review comments as resolved"
I like GitHub's feature to mark review comments as resolved, but I feel like it can be a double-edged sword. I tend to be a pretty anal reviewer (have you noticed?) and I generally don't approve a PR until I am satisfied that all of my review comments have been addressed. The job of keeping track of which comments have been addressed can be made easier by marking comments as resolved, but this onl

[2020-03-20 17:38] ekluzek commented on #3461
Personally, I agree with this approach. If you start a comment, you should check that it's been fixed and then mark it as resolved. The author can (and should) mark that they've addressed it, but the reviewer should check. It's possible in something complex that the author thinks they addressed the issue -- but didn't really.

[2020-03-20 22:56] olyson commented on #3380
Sean asked me to review this bug and the proposed changes.  I do agree that it is a bug and I agree with his fix.  I've run an IHIST case with the bug fix and compared to a control and ran diagnostics on it here:

http://webext.cgd.ucar.edu/I20TR/clm50_ctsm10d084_2deg_GSWP3V1_shrinterp_hist/lnd/clm50_ctsm10d084_2deg_GSWP3V1_shrinterp_hist.1995_2014-clm50_ctsm10d084_2deg_GSWP3V1_hist.1995_2014/sets

[2020-03-24 01:11] adamrher commented on #3458
I made a shell script that converts all the output to the correct naming convention:

`/glade/work/aherring/grids/clm-spinup-check/rename-for-cplhist.sh`

However I ran into a snafu that could potentially be a bug in the i/o files generated through the histaux_xxx namelist vars.

Some context. DATM%CPLHIST mode requires more than just 3-hourly output ....  One needs to invoke these four (4) nameli

[2020-03-26 17:50] jedwards4b commented on #3459
@jgfouca have you looked into this at all?   I realize that I frequently want to change the module commands or env variables for a particular case by editing env_mach_specific.xml and I can't do this anymore because it is being overwritten - can we add a flag to keep the old behavior?

[2020-03-26 19:06] gold2718 opened #3463 "Replace constants in shr_const_mod?"
There is a new initiative from [ESPC](https://earthsystemprediction.gov/) to create a [physical constants dictionary](https://github.com/ESCOMP/PhysicalConstantsDictionary) with published, internally consistent sets of physical constants which can used by modeling systems.
I think we can adopt this dictionary by creating a module of constants which can then be 'published' by shr_const_mod (using t

[2020-03-26 19:14] jedwards4b commented on #3463
I'm pretty sure that the shr_const_mod is *still* not used universally by components.  How do we assure that everyone cooperates?  Would these be compile time constants or runtime modifiable?
Would there be a mechanism to automatically convert the constants to the correct data type for each particular application (by application here I mean each time the constant is used).   Would it be possible t

[2020-03-26 21:11] ekluzek commented on #3463
The second link that @gold2718 sent was a link to a github repo that has a yaml file in it. And the start at a python parser for it.

It is true that not all parts of components consistently use shr_const_mod -- but overall we do. Everything in shr_const_mod.F90 are parameters right now, so you'd have to put in a mechanism to overwrite it with the python dictionary. And you'd likely need to so som

[2020-03-26 21:29] jgfouca commented on #3459
Hey @jedwards4b , this dropped-off my radar, sry! I will look at it this afternoon.

[2020-03-26 21:45] gold2718 commented on #3463
The tools section of the dictionary is in its early stages but yes, it will be easy to develop the python scripts necessary to produce the needed Fortran, C, etc. data modules. If the units in the dictionary do not match the units used in shr_const_mod, they can easily be corrected in that module to match our historical usage.

These are currently all constants of nature -- so compile time. There

[2020-03-27 14:00] #3459 closed

[2020-03-28 00:01] WesCoomber commented on #3448
Hi Luca I am still learning more about the env_mach_specific.xml generation for each generated case on a specific machine. Could you tell me more about the goal for this task?

So you would like to have the system recognize when a machine listed in config_machines.xml has no entries for "environment_variables", an example of this would be the "oic5" machine. And when the system recognizes this sit

[2020-03-28 00:01] WesCoomber commented on #3448
@bartgol @jgfouca  Hi Luca I am still learning more about the env_mach_specific.xml generation for each generated case on a specific machine. Could you tell me more about the goal for this task?

So you would like to have the system recognize when a machine listed in config_machines.xml has no entries for "environment_variables", an example of this would be the "oic5" machine. And when the system

[2020-03-28 01:32] jgfouca commented on #3448
@WesCoomber , yes, that sounds right. The idea is that, if the user wanted to make some temporary env changes in their case, they'd have a template they could follow.

[2020-03-28 03:39] WesCoomber commented on #3448
@jgfouca There is a Comment object from the Element Tree class. `xml.etree.ElementTree.Comment(text=None)` I have tried to use it to implement the idea but a special comment element can only have a text field, not a tag, and not any child elements. So this is what is produced by the .xml generation system.

``

I do have the env_mach_specific.py script correctly detecting if there are no "environm

[2020-03-28 17:42] jgfouca commented on #3448
Hi @WesCoomber ,

did you try something like this:

[code]

[2020-03-28 21:32] bartgol commented on #3448
How about adding an environment variable that is just a placeholder, but unlikely to clash with a real variable. What about `E3SM_VERSION=X.Y.Z` or something like that? Or even better, `E3SM_ENV_VAR_HELP="User can add specific env vars in this xml section".

Unlikely to class with anything important, but still make the section non-empty, which I understand it's easier to implement than a commented

[2020-03-28 22:26] jedwards4b commented on #3448
You could also undefine a variable:
<env name="Fred"/>

On Sat, Mar 28, 2020, 15:32 Luca Bertagna <notifications@github.com> wrote:

[2020-03-30 21:40] ekluzek commented on #3380
Here's a note from @swensosc on what he found...

my code analysis showed a couple of possible bugs in the time interpolation code. First, the ‘upper’ and ‘lower’ conditionals appeared to never be triggered. Second, the calculation of the average coszen value for the forcing period advanced the time value used in the coszen calculation before the calculation occurred, rather than afterwards. Final

[2020-03-31 06:30] WesCoomber commented on #3448
@jgfouca @bartgol @jedwards4b
Thank you for the suggestions. I looked more into doing Jim Foucar's comment and it looks good:

<img width="1003" alt="Screen Shot 2020-03-31 at 12 14 32 AM" src="https://user-images.githubusercontent.com/10535300/77993738-f44d3800-72e5-11ea-994b-c60e6f24fefb.png">

I also implemented Luca's good ideas:
<img width="1001" alt="Screen Shot 2020-03-31 at 12 08 05 AM" sr

[2020-03-31 15:08] jedwards4b commented on #3448
Nice work @WesCoomber .   I prefer the first one.

[2020-03-31 15:16] bartgol commented on #3448
Even though I proposed option 2, I am now leaning toward option 1. Perhaps, at the risk of being extra verbose, in the comment we could add a line saying something like

"This section is for the user to specify any additional machine-specific env var, or to overwite existing ones. For instance, if you want to try a different installation of netcdf-c than the one already set for this machine (if an

[2020-03-31 15:27] jedwards4b commented on #3448
@bartgol  I agree with adding a comment about how to use this section.  But config_compilers.xml is read after config_machines.xml and so this would not overwrite something set there, but (although you can) you shouldn't set paths in config_compilers.xml.    The environment variables are read after the modules are set so you could use an environment variable to override a module setting, but in mo

[2020-03-31 17:13] cacraigucar opened #3466 "Change sst_aquap11 to sst_aquap_constant"
For some reason the following mod is not in cime5.8.18.  Please change sst_aquap11 to sst_aquap_constant in the two locations.

![image](https://user-images.githubusercontent.com/10714463/78054762-c7c60a00-733f-11ea-90bc-083b542d4fdb.png)

[2020-03-31 17:15] bartgol commented on #3448
@jedwards4b the whole point for me to bring this up was to be able to use the linux-generic machine, which has no tpl paths set in config_machines. I was hoping to put a more generic example in the comment, in case this was useful for more than just linux-generic, but, as you pointed out, its use cases are quite limited.

I'm ok leaving just the first sentence in the comment.

[2020-03-31 17:45] jedwards4b commented on #3448
@bartgol Are you aware that you can copy the linux-generic machine definition (config_machines.xml, config_compilers.xml, config_batch.xml) to
$HOME/.cime/   and customize it for your system?

[2020-03-31 17:48] bartgol commented on #3448
No I didn't know that. But why wouldn't one just work on env_mach_specific.xml? It seems a bit more intuitive. Would what you propose have an advantage over the env_mach_specific option?

[2020-03-31 17:51] whannah1 commented on #3466
So this got reverted somehow?

[2020-03-31 17:55] jedwards4b commented on #3448
If you do that you can make the change for all cases and not just the current one.   It also allows you to update cime and keep your machine definition intact.   And yes using this you can define different compilers and/or mpilibs as well.

[2020-03-31 17:56] fischer-ncar commented on #3466
When maint5.6 was merged back to master, there was several conflicts.  Some of the conflicts weren't
fixed properly.

[2020-03-31 18:15] bartgol commented on #3448
@jedwards4b I tried to copy config_machines.xml to ${HOME}/.cime/, and added a new entry for my machine (marzemino). But when running create_newcase specifying marzemino as machine, it says

[code]

[2020-03-31 19:01] jedwards4b commented on #3448
Your copy of config_machines.xml can be just a single entry and not a copy of the entire file.   Did you use the --machine argument to create_newcase?  If you don't use the --machine argument then you need to find a REGEX statement that matches your machine name.

[2020-03-31 20:17] jedwards4b opened #3467 "check_input_data --chksum option to create_test"
check_input_data has an option --chksum that is currently only invoked if a user explicitly runs it,
this request is to add --chksum as an argument to create_test so that it is automatically invoked for each test in the suite.

[2020-03-31 21:09] mnlevy1981 commented on #3467
I'd like to see this implemented as a command-line option to `./case.build` and `./case.submit`, and then `create_test` can pass the option to one (or both) of those calls [my initial thought is to have `create_test --chksum` call `create_build --chksum` but that's not a strong opinion].

My main concern is that typical users don't call `check_input_data` directly, so if we could have something in

[2020-03-31 21:50] bartgol commented on #3448
Ah, I think the error was indeed b/c I copied the whole file, duplicating some entries (e.g., it complained about `default_run_suffix` being duplicated). Thanks!

[2020-04-01 19:08] billsacks commented on #3461
On cime telecon there was general agreement to this.

[2020-04-01 19:08] #3461 closed

[2020-04-03 03:33] dqwu opened #3473 "Some cime_developer tests fail during phase SHAREDLIB_BUILD"
This issue is reproducible on both anlworkstation and summit.
It is caused by PR #3449: Improve case.setup clean (happens for --clean or --reset)

Steps to reproduce:
[code]
Errors are:
[code]

CaseStatus shows:
[code]
Another way to reproduce this issue:
[code]
Output messages:
[code]

[2020-04-03 16:43] dqwu commented on #3473
Not reproducible on Cori.

[2020-04-03 20:15] dqwu opened #3474 "ERIO_Ln11.f09_g16.X fails due to missing summary string in cprnc output"
This issue is reproducible on anlworkstation and Cori.

On Cori, TestStatus shows:
[code]
At the end of TestStatus.log the error message is:
`ERROR: Did not find an expected summary string in cprnc output`

ERI_Ln9.f09_g16.X has the same issue.

[2020-04-05 21:05] ekluzek opened #3476 "Add a Code of Conduct to cime"
It would be good for CIME to have a Code of Conduct (COC) for expected behaviors

Because the maint5.6 branch is solely CESM, we should probably adopt the standard UCAR COC
which has a DOI here: https://doi.org/10.5065/6w2c-a132. I'll probably give a PR for that directly.

The question is what should a COC looks like for CIME as a whole on master? It possibly should be more expansive than the UCAR

[2020-04-06 13:21] billsacks opened #3478 "check_input_data created 0-size file then aborted with a traceback"
With cime5.8.17: I added some files to the svn inputdata repository from cheyenne, then ran a test suite on izumi. The first test to reach the check_input_data phase failed, leaving behind a 0-size file. TestStatus.log shows the following:

[code]

That was on Saturday. When I manually removed the file and then ran `./check_input_data --download` manually this morning, it downloaded the file succe

[2020-04-06 13:25] jedwards4b commented on #3478
@jgfouca I'm always confused by these encoding issues - what's the proper fix for this?

[2020-04-06 18:19] jgfouca commented on #3478
Fix coming, we seem to still have a lot of encodes/decodes floating around CIME that are not at all needed.

[2020-04-06 18:26] jgfouca commented on #3478
OK, I pushed a fix directly to master (it was very minor change). I made changes many months ago that ensured that users would never have to encode stuff coming back from run_cmd(...), regardless of their python version. I thought I had grepped-through the code and cleaned-up all the places that were doing these unnecessary encodings, but I either missing the ones in wget.py or they got reintroduc

[2020-04-06 18:26] #3478 closed

[2020-04-06 22:47] billsacks commented on #3476
@ekluzek thanks for starting this discussion and for taking the lead on adding codes of conduct to various repositories. I agree that we should have a code of conduct in the cime repository, though I don't have opinions on what it should look like.

However, I don't think it makes sense to have a different code of conduct on the maint-5.6 branch. We should adopt a single code of conduct in cime th

[2020-04-06 22:49] ekluzek commented on #3476
Ahh, good point. That makes sense to me to have one on master that applies to all branches.

[2020-04-07 19:20] #3225 closed

[2020-04-07 19:35] jgfouca commented on #3474
I was not able to reproduce this on melvin. I think that anlworkstation and cori must be using ancient versions of cprnc that predate the summary output.

[2020-04-07 20:14] dqwu commented on #3474
@jgfouca
Thanks for the information.

anlworkstation:
    <CCSM_CPRNC>/home/climate1/acme/cprnc/build/cprnc</CCSM_CPRNC>
Cori:
    <CCSM_CPRNC>/global/cfs/cdirs/e3sm/tools/cprnc.cori/cprnc</CCSM_CPRNC>

It seems that the cprnc executable does not support "--version" flag.

To build a custom version of latest cprnc tool, should I refer to the following link?
https://github.com/ESMCI/cime/tree/maste

[2020-04-07 20:24] jgfouca commented on #3474
@dqwu , cime now has the ability to build cprnc on-the-fly if CCSM_CPRNC is not available. I think the easiest thing to do would be to temporarily change the CCSM_CPRNC to a non-existent path on these machines, let cime build cprnc, and then copy the fresh build into the original CCSM_CPRNC path. I can try to help with this since this is a new feature and has not been widely tested.

[2020-04-07 20:26] rljacob commented on #3474
Looking at the timestamp on the executable:
compute001:  Oct 7, 2016
cori:  Jul 6, 2016

@ndk can you rebuild the cprnc executable on cori with latest source?

[2020-04-07 20:35] dqwu commented on #3474
@amametjanov
Could you please update the cprnc executable for anlworkstation? Thanks.
[code]

[2020-04-07 21:23] dqwu commented on #3474
@jgfouca

I followed your steps on anlworkstation to let cime build cprnc but there are some build errors:
[code]
However, manually build cprnc has no build errors.
[code]

[2020-04-07 21:25] jedwards4b commented on #3474
gnu is very picky about gfortran module versions - you need to make sure that the version used to build netcdf is the same as what you are using for cprnc

[2020-04-07 21:54] dqwu opened #3481 "CMake Error on anlworkstation"
Not sure if this is also reproducible on other machines.
Confirmed to be caused by PR #3457

Steps to reproduce:
[code]
ERROR: BUILD FAIL:
[code]

[2020-04-07 22:00] jgfouca commented on #3481
@dqwu , as of #3457, CIME must live under an E3SM repo (if in e3sm mode).

[2020-04-07 22:00] #3481 closed

[2020-04-07 22:27] dqwu commented on #3474
@jgfouca
I used a manually built cprnc to rerun the test on anlworkstation, TestStatus shows:
[code]
There are some DIFFs, but the error "Did not find an expected summary string in cprnc output" is gone now.

[2020-04-07 22:29] jgfouca commented on #3474
@dqwu , great. Please blow-away the CCSM_CPRNC area and replace the files there with your newly built cprnc.

[2020-04-08 01:55] dqwu commented on #3474
@amametjanov
Thanks for updating cprnc. However, the new version still does not work:
Exception from case_test: ERROR: Did not find an expected summary string in cprnc output:

Use the one built by cime on-the-fly (temporarily change the CCSM_CPRNC to a non-existent path)
seems to work.

I also noticed that your new version (or the old one) is static (not a dynamic executable), but the one automat

[2020-04-08 02:05] dqwu commented on #3474
@jgfouca
By default, the cprnc built by cime on-the-fly on anlworkstation is a dynamic executable. Do you know how to make cime build a static one instead?

[2020-04-08 17:46] dqwu commented on #3474
@amametjanov
I have tested your latest cprnc executable (static) on anlworkstation and it works now.

[2020-04-08 18:05] jgfouca commented on #3474
@dqwu , that's a great point. We want the cprnc executable to be as static as possible so that it will work regardless of what modules are currently loaded. Let me do another PR real quick.

[2020-04-08 19:33] billsacks opened #3485 "dlnd strm_domdir and strm_domfil left unset when they should be null"
@fischer-ncar is seeing failures in T compset tests (CISM with dlnd) after the merge of #3457 . It looks like the problem is: When dlnd was changed to support a new mode for MOSART (I believe by @jonbob ), the default settings of `null` for `strm_domdir` and `strm_domfil` were accidentally removed. It turns out that these explicit settings to `null` are important for the logic in nmlgen.py: `creat

[2020-04-08 20:17] #3485 closed

[2020-04-09 00:48] gold2718 commented on #1848
This was fixed long ago, not sure why it did not get closed.

[2020-04-09 00:48] #1848 closed

[2020-04-09 00:49] gold2718 commented on #1624
Pretty sure this has been fixed.

[2020-04-09 00:49] #1624 closed

[2020-04-09 18:28] dqwu commented on #3474
@jgfouca
Most cime_developer tests look good now on anlworkstation.

For ERI_Ln9.f09_g16.X and ERIO_Ln11.f09_g16.X, they still have DIFFs on anlworkstation.
Are these DIFFs reproducible on melvin?

[code]
[code]

[2020-04-09 18:53] #3473 closed

[2020-04-09 19:10] jgfouca commented on #3474
@dqwu , yes; i see them on melvin too.

[2020-04-09 19:19] dqwu commented on #3474
@jgfouca
Thanks for your information. This issue can be closed since cprnc has been updated for anlworkstation (it also needs to be updated for Cori).

[2020-04-09 19:23] #3474 closed

[2020-04-09 19:24] jgfouca opened #3487 "ERIO_Ln11.f09_g16.X and ERI_Ln9.f09_g16.X are broken on mappy"
These CIME developer tests appear to have been broken on melvin for some time. @jedwards4b have these tests been working for you guys?

[2020-04-09 21:36] #3448 closed

[2020-04-09 21:38] jedwards4b commented on #3487
Yes they are.

[2020-04-10 21:07] jgfouca commented on #3487
@WesCoomber , I tried to triage this problem and was unsuccessful. I went back 3 years in the git history and was unable to find a commit where these tests worked. This is strange because I don't remember seeing these failures in scripts_regression_tests until recently. Anyway, this will require a deep dive and will be part of your effort to get us back to 100% pass on melvin and chama.

[2020-04-10 21:13] rljacob commented on #3487
The ERIO test last passed on March 27 using d308e3ea80bdd1
https://my.cdash.org/index.php?project=E3SM&date=2020-03-27
You can't reproduce that?

[2020-04-10 21:15] jgfouca commented on #3487
@rljacob , that's a different test than what's in the cime_developer suite, but I can try it.

[2020-04-10 21:17] rljacob commented on #3487
Oh ok.

[2020-04-10 21:45] jgfouca commented on #3487
ERIO.ne30_g16_rx1.A.melvin_gnu seems to work just fine.

[2020-04-10 21:45] rljacob commented on #3487
How does the pelayout between the 2 differ?

[2020-04-12 19:15] ekluzek opened #3488 "Build requires a clean for build to re-compile updated source files when used with nuopc"
I'm finding this with cime5.8.17 for the case SMS_D_Vnuopc.f19_g17_r05.I2000Clm50SpMizGs.cheyenne_intel

If I make changes to mosart source files, it will redo the ROF library build and relink CESM. But, it won't re-compile the files that were changed. As such I have to clean the rof build every time I make a change to source.

Technically this is for my mizuRoute branch on my fork, but the change

[2020-04-12 20:50] billsacks commented on #3488
I believe this is a known feature of the cime build system. You don't need to do a full clean, but you do need to do something like:

[code]

-- substitute `lnd` with the component for which you want to regenerate the dependencies.

[2020-04-12 20:52] billsacks commented on #3488
By the way, the above may not work for lnd in the maint5.6 branch: I remember there was #3286 , which was fixed on master, but I'm not sure if the issue was fixed on the maint5.6 branch.

[2020-04-12 21:31] billsacks opened #3489 "Idea for building a component library on an unsupported machine by creating a cime port on the fly: is this a boneheaded thing to do?"
### Introduction

I'm opening this discussion issue (1) to get feedback from others - especially @jedwards4b and @jgfouca - on whether this seems like a boneheaded thing to do, and (2) to share the idea with others in case it seems genius rather than boneheaded :-)  (Actually, if it turns out to be genius, @jedwards4b gets much of the credit, because he encouraged us months ago to leverage the cim

[2020-04-12 21:45] ekluzek commented on #3488
This isn't on maint-5.6, but only a few versions behind master. I tried doing the clean of depends and it still doesn't compile the updated files.

[2020-04-12 22:06] billsacks commented on #3488
I believe that would be a bug. Can you give a detailed set of instructions so others can reproduce the issue? Actually, if you haven't already, it would be good if you determine whether you can reproduce the problem with one of the standard CESM components first, to rule out the possibility that there is an issue specific to the buildlib of this new MizuRoute component. You should probably do this

[2020-04-13 14:01] jedwards4b commented on #3489
I think that the next step is to develop a GUI for cime.

[2020-04-13 15:01] jedwards4b commented on #3488
I'll take a look at this if you can reproduce on master.

[2020-04-13 16:42] jedwards4b opened #3491 "test DAE.ww3a.ADWAV fails with nuopc driver"
The assimilation interface has not been included in the dwav model.

[2020-04-13 19:26] jgfouca commented on #3489
I think that would work and improve usability on machines that are not officially supported (not in config_machines).

[2020-04-13 19:57] rljacob commented on #3489
I don't think you want to try and make a cime port on the fly if you mean auto-add correct lines to config_machines, config_compilers.

What we should have is an option to just build with "configure; make".   If you have fortran compilers and mpi/netcdf libs installed, configure can find them and then you can just build.  (or the cmake equivalent of that process).

[2020-04-13 21:05] jedwards4b commented on #3489
We use the xml config files specifically because autoconf and cmake were not adequate to fit our needs - introducing one of these at this time may make things easier for a small subset of systems but increases the burden on developers to support new build methods.  The majority of the problems we see posted on the forums are due to users who do not RTFM.  I know that you are trying to improve thin

[2020-04-13 21:21] rljacob commented on #3489
Ok after reading Eric's post (instead of just the title and comments) I see creating a config_compilers/config_machines is exactly what he wants to do.   Doing it in HOME/.cime is a good idea.   The end user may have trouble getting all those items on the command line for this tool.

Note that HOMME-in-E3SM does have a separate cmake system for building homme standalone.  It uses pio and gptl from

[2020-04-13 21:24] rljacob commented on #3489
For "Invisibly to the user, does the create_newcase, case.setup and case.build steps needed to have cime build the CTSM library and its dependencies."  Do you only need to build one compset for this to be useful?

[2020-04-13 22:44] billsacks commented on #3489
Thanks for your replies. My own replies to a few of them:

@jedwards4b -

Hmmm, I won't argue that that could be useful, but I'm struggling to see how it connects with this idea. The biggest contribution of this idea is to create a cime-port-on-the-fly for the sake of building the model, which I'm thinking (hoping) will be simple enough to do that it won't require a gui.

@rljacob -
First, note th

[2020-04-17 18:26] billsacks commented on #3489
I'm going to give this a shot; closing this discussion issue. Thanks for your feedback.

[2020-04-17 18:26] #3489 closed

[2020-04-17 20:15] billsacks opened #3493 "Add command-line flag to specify alternate location custom machine files, rather than ~/.cime"
Connected with #3489 , I'd like to add a command-line flag to create_newcase and create_test that lets you specify the location of the .cime directory, rather than assuming it's in your home directory.

[2020-04-17 20:17] billsacks commented on #3493
One thing that will be hard to fix is the `set_compiler` function in `utils/perl5lib/Config/SetupTools.pm`. However, I can't find any uses of that old perl function from anywhere in cime, or from anywhere in the CESM or E3SM code bases for that matter. So I plan to just remove that function.

[2020-04-17 20:41] rljacob commented on #3493
Instead of an alternate path for the .cime, should it be an option for a completely different path/name?

[2020-04-17 20:42] billsacks commented on #3493
Yes, good point - I'll do that.

[2020-04-17 20:46] jedwards4b commented on #3493
Sorry Bill but I don't understand - what's wrong with the $HOME/.cime location?

[2020-04-17 21:01] billsacks commented on #3493
I'm building a wrapper tool that creates a cime port on the fly. The easiest way I can see to do this is to create `config_compilers.xml` and `config_machines.xml` files on the fly (see #3489 for more details). I'd like this on-the-fly port to live in a case-specific location, because (1) I don't want to clobber anything in the user's existing `.cime` directory, and (2) I wouldn't want different c

[2020-04-17 21:03] billsacks commented on #3493
I'm realizing, though, that I can't totally replace the use of the `~/.cime` directory: the cime config file that lives there is read even before arguments to `create_newcase` are parsed. So this location will just give the directory containing the machine-port files (config_compilers.xml, config_machines.xml, config_batch.xml).

[2020-04-17 21:22] billsacks commented on #3493
I'm thinking of calling this argument `--user-machines-dir`. If given, this will give the path to the directory in which the user-specified `config_machines.xml`, `config_compilers.xml` and `config_batch.xml` files can be found. Note that I am NOT including the `config_workflow.xml` file in this list: it feels most intuitive and useful to limit this to the location of machine porting files. (It se

[2020-04-22 16:01] ekluzek opened #3495 "Logic for config_grids with both compset= and not_compset= is wrong..."
The logic in scripts/lib/CIME/XML/grids.py for when both compset= and not_compset= is wrong. This is demonstrated for example with (the somewhat screwy example C96_C96_mg17 grid).

When I fix the logic with the following change it works...

[code]

[2020-04-22 16:07] jedwards4b commented on #3488
@ekluzek did you determine if this could be reproduced on master?  Should it be closed?

[2020-04-22 16:15] jedwards4b commented on #3452
@jtruesdal have you addressed this issue yet?

[2020-04-22 16:25] fischer-ncar opened #3496 "GNU and PGI ESMF library builds"
We would like updated esmf-8.1.0b14-ncdfio-mpt library builds for gnu on cheyenne.  Also if possible, for pgi.

Thanks

[2020-04-22 17:40] jtruesdal commented on #3452
Sorry this fell through.  I do remember looking at this early on and not
seeing an immediate solution.  Do you have any ideas of where to start
looking.  I will look into this today.

jt

On Wed, Apr 22, 2020 at 10:15 AM jedwards4b <notifications@github.com>
wrote:

[2020-04-22 17:44] ekluzek opened #3497 "Add grids for fv3 C24, C48, C192, C384"
For the fv3 project, the C96 grid is already added. But, C24, C48, C192, and C384 should be added. Or the capability of running them through a user-mods directory added.

[2020-04-22 17:50] ekluzek opened #3498 "C96_C96_mg17 has problems"
The C96_C96_mg17 grid has a few problems. First is that there aren't domain files provided for mg17, only mg16. So either the domain files need to be for mg17, or the alias should be changed to mg16. Second, it has the compset="_CISM", which means CISM is required -- but there are no mapping files between it and CISM. So it really should be NOT CISM. And since there are no mapping files for ROF ei

[2020-04-22 17:51] ekluzek commented on #3497
Note, unless mapping files to ocn, rof, or glc are provided these grids should be marked: compset="_SICE_SOCN_SROF_SGLC"

[2020-04-22 17:58] jtruesdal commented on #3497
@ekluzek.  I think all of this was addressed with PR 3415 which was  accepted.
https://github.com/ESMCI/cime/pull/3415/files

[2020-04-22 18:07] ekluzek commented on #3497
Yes, you are right. And mapping files for rof, glc, and ocn are provided so no restrictions on compsets need to be done.

[2020-04-22 18:09] ekluzek commented on #3498
This is fixed in #3415

[2020-04-22 18:11] jtruesdal commented on #3497
Can I close this?

[2020-04-22 18:14] ekluzek commented on #3497
Yes, you could. If I understand github I think it will auto-close with #3415 because I added a fixed in line for it, and github connected the two. But, you could close it and the other one one if you prefer.

[2020-04-22 18:15] jedwards4b commented on #3452
@jtruesdal The problem is that you need CAM_DYCORE in the link step right?   I think this will do it:
[code]

[2020-04-22 18:18] #3498 closed

[2020-04-22 18:18] jtruesdal commented on #3497
Thanks for letting me know.  I haven't had much experience with github yet
and am not sure of next steps.  I will close them.

jt

On Wed, Apr 22, 2020 at 12:15 PM Erik Kluzek <notifications@github.com>
wrote:

[2020-04-22 18:19] #3497 closed

[2020-04-22 18:27] jtruesdal commented on #3452
Thanks again for your help.  Now that I see this I think you gave me this fix before and when I tried it there was a subtle issue that prevented it from working with FV3.  I can't remember but will test it again today and follow through this time.

[2020-04-22 18:58] ekluzek commented on #3488
When I try master I get an unrelated problem as follows...

So I haven't been able to show that it's a problem on master yet...

[2020-04-22 19:00] jedwards4b commented on #3488
Is your master up to date?  If it is please provide instructions to reproduce the problem, if it's not please try with the latest master.

[2020-04-22 20:09] ekluzek commented on #3488
OK, I had to update CMEPS as well as cime. I do still see this behavior, but only for nuopc and NOT for a normal MCT case.

So what I did was the following:

[code]

What I see is that the above file I touched wasn't recompiled, the archive just happens over again...

[2020-04-22 20:17] jedwards4b commented on #3488
@ekluzek I know what the problem is, I'll have a fix soon.

[2020-04-22 20:25] jedwards4b commented on #3488
Moved to https://github.com/ESCOMP/CMEPS/issues/61

[2020-04-22 20:25] #3488 closed

[2020-04-22 20:29] jedwards4b commented on #3488
Now fixed on CMEPS master

[2020-04-22 20:42] ekluzek commented on #3488
Yay! Works for me.

[2020-04-24 14:44] jedwards4b opened #3500 "scorpio / titan specific flags should not be in Makefile"
These lines https://github.com/ESMCI/cime/blob/master/scripts/Tools/Makefile#L301 in the general Makefile should be moved to the sorpio buildlib script and only applied for the machine or machines they are needed on.  As currently set they invoke a non-standard and possibly slower communication method on all systems for the sake of a single buggy implementation.

[2020-04-24 15:17] jayeshkrishna commented on #3500
Ok, I will work on moving these flags from the generic Makefile.

[2020-04-24 16:53] fvitt opened #3501 "query_config seem to be broken"
In cime5.8.20 query_config seem to be broken:
Invoked as "query_config --compsets" gives error messages such as:
  element entry: Schemas validity error : Element 'entry': Character content other than whitespace is not allowed because the content type is 'element-only'.

This is on cheyenne.

[2020-04-24 17:34] jedwards4b commented on #3501
@fvitt, I just tried on cime5.8.20 and on cime master and it's working fine.

[2020-04-24 17:34] jedwards4b commented on #3501
Perhaps you have an invalid compset definition in your component branch?

[2020-04-24 17:47] fvitt commented on #3501
@jedwards4b is correct.  I had errors in cam's config_compsets.xml.
Thanks.
I will close this issue.

[2020-04-24 17:47] #3501 closed

[2020-04-24 20:29] jayeshkrishna commented on #3500
Adding the lines in the generic Makefile (\<CIME\>/scripts/Tools/Makefile) here for reference
[code]

[2020-04-24 20:34] jayeshkrishna commented on #3500
@jedwards4b : Do CESM (PIO) users care about this flag (using MPI_Isends instead of MPI_Irsends by default)? If not, we probably don't need any further changes to CIME.

[2020-04-24 21:02] jedwards4b commented on #3500
I think you are confused wrt 3499, the lines were not removed, they just needed to be in a different place in the file. https://github.com/ESMCI/cime/blob/master/scripts/Tools/Makefile#L130

[2020-04-24 21:07] jayeshkrishna commented on #3500
ok, thanks. We could remove the lines from the Makefile if CESM (PIO) users don't need it.

[2020-04-24 23:01] billsacks opened #3503 "case.setup --clean puts case in an unusable state"
On cime master, running `./case.setup --clean` puts the case in an unusable state:

I ran the following on cheyenne:

[code]

At this point, I can't seem to do anything. For example:

[code]

and

[code]

[2020-04-24 23:17] billsacks commented on #3493
I decided that it makes sense to have this new directory be additional to any `~/.cime` directory: I felt that was more intuitive and more useful than ignoring the `~/.cime` directory. I am calling the new command-line flag `--extra-machines-dir`. See 370ce1d1b for details. I will open a PR once I add a test for this behavior in scripts_regression_tests (as long as doing so doesn't prove to be too

[2020-04-27 15:38] #3500 closed

[2020-04-27 21:32] billsacks opened #3504 "Request for guidelines on what should go in different classes in scripts_regression_tests"
I wanted to run just a subset of scripts_regression_tests on my mac – specifically, `K_TestCimeCase`. At a glance, I thought this would just run some fairly limited tests that should be pretty quick. However, one test in there – `test_self_build_cprnc` – does a full system test run, taking a relatively long time and downloading a bunch of data.

This made me think that it would be good to have som

[2020-04-27 23:05] jtruesdal commented on #3452
Hi Jim:

I had to modify one line but you're proposed change worked for FV3 and got rid of CAM_DYCORE warnings in the log file.  Below are the Makefile lines that worked (note additional strip command when comparing COMP_ATM).  Do you want me to create a PR with this change?

COMP_ATM ?= $(shell $(CASEROOT)/xmlquery --caseroot $(CASEROOT) COMP_ATM --value)
ifeq ($(strip $(COMP_ATM)),cam)

  CAM_DY

[2020-04-27 23:10] billsacks opened #3506 "scripts_regression_tests: J_CreateNewCase doesn't respect --no-teardown"
I noticed that, in scripts_regression_tests, class J_CreateNewCase doesn't respect the `--no-teardown` argument. The fix is simple. I'll add it to my branch where I'm addressing #3493 .

[2020-04-28 00:35] bertinia opened #3507 "case.py get_value() method returns error for item=JOB_QUEUE, subgroup=case.run"
Using cime5.6.19, (release-cesm2.1.1), I'm getting the following error when calling:

`case.get_value('JOB_QUEUE', resolved=True, subgroup='case.run')`

`The program exited via sys.exit(). Exit status:  ERROR: Multiple matches for nodename 'entry' and attrs '{'id': 'JOB_QUEUE'}' in file '/glade/work/tomas/cases/2deg/b.e21.B1850.f19_g17.8kaControl-2deg_proto.007/env_batch.xml', found 2 matches
`

I

[2020-04-28 13:32] billsacks opened #3509 "Many entries in drv's config_component should be moved to a shared location"
Motivated by #3508 and the need to open a similar PR for a subset of that in the cmeps repository (https://github.com/ESCOMP/CMEPS/pull/62): I noticed that there are a lot of xml variables defined in the driver's config_component.xml file that are really not specific to a particular driver, and end up needing to be duplicated for all drivers. For example, various directories (`CIME_OUTPUT_ROOT`, `

[2020-04-28 13:59] jedwards4b commented on #3452
Yes, that would be great.  Maybe the email format is a bit weird - but can
you add some indentation in the Makefile.

On Mon, Apr 27, 2020 at 5:05 PM jtruesdal <notifications@github.com> wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-04-28 15:58] jgfouca commented on #3504
I agree. I'll be the first to admit that I have not always been diligent about this. K_TestCimeCase has been a bit of a catch-all for me when I can't decide where to put something. I've always interpreted this class as testing core case-control mechanics, but that's pretty broad.

[2020-04-28 19:23] jgfouca opened #3510 "scripts_regression_tests needs to not be so sensitive to current dir"
The main function should chdir to `os.path.dirname(__file__)` so that it works the same regardless of where it is run from.

[2020-04-29 15:13] #3493 closed

[2020-04-29 15:13] #3506 closed

[2020-04-29 17:53] #3503 closed

[2020-04-30 16:51] fischer-ncar opened #3512 "Global name 'extra_machines_dir' is not defined"
Unable to setup any cases.

./create_newcase --case test --compset X --res f19_g16
cd test
./case.setup

Error message is
  File "/glade/u/home/fischer/code/cesm2_nightly_tests/cime/scripts/Tools/../../scripts/lib/CIME/case/case_setup.py", line 122, in _case_setup_impl
    configure(Machines(machine=mach, extra_machines_dir=extra_machines_dir),
NameError: global name 'extra_machines_dir' is not de

[2020-04-30 17:06] jgfouca commented on #3512
Ah, there was a conflict resolution problem when I merged my last PR. Fix coming.

[2020-04-30 17:53] #3512 closed

[2020-04-30 18:04] fischer-ncar commented on #3512
Thanks

[2020-05-01 22:21] jedwards4b commented on #3452
Are you planning to submit a PR with this change?  @jtruesdal

[2020-05-01 22:29] jtruesdal commented on #3452
I'm running the cime test right this minute.  I also included a one line
change to config_grids to fix an issue with C96_C96_mg17.
Tested and works fine. Will that be OK? Without it the FV3 C96_C96_mg17
(default 1 degree run) is broken for anything but fully coupled.

jt

On Fri, May 1, 2020 at 6:22 PM jedwards4b <notifications@github.com> wrote:

[2020-05-01 22:32] jedwards4b commented on #3452
yes, no problem - thanks.

[2020-05-02 14:39] #3452 closed

[2020-05-05 05:09] bishtgautam opened #3518 "Support for `--res 1x1_brazil` broken"
@jedwards4b #3492 broke the support for `--res 1x1_brazil`. With the new code, the `gridvalue['atm'] = 1x1_bra` while the `gridvalue['lnd'] = 1x1_brazil`. In E3SM, I created the case via:

[code]

[2020-05-05 14:08] jedwards4b commented on #3518
I will refine the match argument to look for z\d.

[2020-05-06 18:17] ekluzek opened #3521 "Update presaero files for SSP1-2.6 and SSP5-8.5 on master and maint-5.6"
The. CAM SSP1-2.6 and SSP5-8.5 simulations had to be rerun. As such we need to update the presaero files both on master and maint-5.6 for these.

There will need to be a separate PR to master and maint-5.6 for this.

[2020-05-06 18:51] #3510 closed

[2020-05-06 18:51] #3518 closed

[2020-05-07 23:45] ndkeen opened #3523 "Excessive memory allocation when using SST data where ordering not expected"
During the initialization phase of model simulations with resolution ne256 or finer, we encountered OOM and/or array index out of bounds errors when using new (0.5degx0.5deg) SST files with F compset. The error appears to occur when the ocean data file is regridded to the ocean grid (in OCN init).

We found that the issue stemmed from the ordering of the latitude dimension (yc in the domain file),

[2020-05-08 13:46] jedwards4b commented on #3523
Yes, please consider a PR with your proposed change.  I think that you are also suggesting updating some input files with the order changed?

[2020-05-09 00:29] ndkeen commented on #3523
OK. And maybe I wasn't clear, but this was discovered using SST data file that Chris Terai (can't find his github handle at the moment) was experimenting with (ie not yet an official input file). We have not yet verified if there are indeed any files that have this reverse order issue. I suppose I could write a script to check them. Or implement change and see what gets caught.

[2020-05-11 18:53] rgknox opened #3525 "avoiding div0 in cprnc"
I had been running into an issue with cprnc while running regression tests with CTSM-FATES on cheyenne.

https://github.com/ESCOMP/CTSM/pull/1007#issuecomment-626871444

When comparing two arrays (base and test), if the base had only zeros in an array, but the test had non-zero values, it was enabling a comparison between the two. However, the normalization factor was using the zero value, and hen

[2020-05-11 19:11] jedwards4b commented on #3525
I think that this change is fine and should be submitted as a PR.

[2020-05-11 19:51] ekluzek opened #3526 "Add a new r05_amazon grid for ROF components"
We'd like to add a new grid for ROF components to run over the same region as the 5x5_amazon regional grid that is used for CTSM. We want this primarily for testing simple regional grids for mizuRoute. It'll also allow us to do CTSM/ROF configurations with very small PE counts and even a single processor with mpi-serial.

I propose this will be called

r05_amazon

It's on the half-degree grid, but

[2020-05-11 19:53] klindsay28 commented on #3525
Consider changing `>1.e-20_r8` to `>0`. I glanced quickly through some test run output and found some CAM variables (`bc_c4`, `bc_c4SFWET`, `pom_c4`, `pom_c4SFWET`) whose `avg abs field values` can be < 1.e-30. (This is `avgval` in the code.)

[2020-05-11 21:08] billsacks commented on #3525
Yes, please open a PR. I have trouble imagining this occurring in practice for real-valued arrays, but a fix seems in order for integer-valued arrays. However:

1. I agree with @klindsay28 that the check should be for `> 0`

2. I feel like you should report a normalized rms of [huge](https://gcc.gnu.org/onlinedocs/gfortran/HUGE.html) in this case: the numerator is `> 0` but the denominator is 0; t

[2020-05-11 21:37] jedwards4b opened #3527 "generate_cylc_workflow issue in ufs_release_v1.0 branch"
The generate_cylc_workflow script is not working with the ufs_mrweather_app version 1.0.   First it didn't know what to do with a workflow step other than case.run that didn't have a dependency, second it's only generating run and st_archive and ignoring the other two steps in this workflow.

[2020-05-11 21:51] rgknox commented on #3525
agreed @billsacks , thanks all, will open a PR

[2020-05-11 22:05] ekluzek opened #3528 "Start adding support for mizuRoute in CIME"
We'd like to start adding support for mizuRoute in cime. Minimally this means CIME needs to know where the mizuRoute cime_config files are and what the default resolution is for cime. In time there might also be mizuRoute specific grids that need support.

[2020-05-11 23:44] rljacob commented on #3528
What is MizuRoute?

[2020-05-11 23:54] ekluzek commented on #3528
mizuRoute is a river routing model. Misu is water in Japanese, so literally it means water routing. The author's name also starts with Mizu (Mizukami) so it's a nod to the author as well as the Japanese word for water.

[2020-05-12 00:28] billsacks commented on #3525
See https://github.com/ESMCI/cime/pull/3530#issuecomment-627036709 for notes on what I believe is the underlying issue.

[2020-05-12 21:44] #3525 closed

[2020-05-12 22:48] nusbaume opened #3532 "python logger debug statements aren't printed when used in "buildlib"."
While updating CAM's buildlib script, it was found that `logger.debug` statements are not printed to any file in the case, even if the log level is set to debug in buildlib itself.  However, `logger.info` statements do make it to the `*.bldlog.*` file.

This seems to hold even if the `DEBUG` variable is set to True in `env_build.xml`, and if the `--debug` flag is provided to `case.build`.  It also

[2020-05-13 19:13] billsacks commented on #3509
Thought from meeting: put this stuff in a new file, `cime/config/config_ccs.xml` - because it's about configuring the case control system.

[2020-05-13 19:26] jedwards4b commented on #3532
The buildlib python script in your cime_config directory should have a subroutine called from main.

def buildlib(case, libroot, bldroot, compname=None):

Doing this should cause this to be called as a subroutine instead of a subprocess and solve the issue.

[2020-05-13 19:43] billsacks commented on #3532
@jedwards4b I know that you and I came up with the above on our call, but I dug a little more afterwards and I actually don't think that's right. It looks to me like there are separate functions in cime for calling the buildlib for cime's lower-level libraries vs. calling the buildlib for components.

For lower-level libraries (csm_share, etc.), it uses a function call if possible, with arguments

[2020-05-13 19:45] billsacks commented on #3532
@nusbaume the broader issue seems to be the following (deduced during today's cime call): if a component's buildlib is called as a subprocess, then the logging options don't get passed down. The ideal solution is for a component's buildlib to be called as a python function rather than a subprocess. Our first look at this suggested that this should be possible if you have a correctly-named function

[2020-05-13 19:50] jedwards4b commented on #3532
@billsacks thanks - I'll take a closer look.

[2020-05-13 20:32] nusbaume commented on #3532
@billsacks @jedwards4b Thanks for the info!  I tried the first suggestion by adding this code to CAM's buildlib main call:

[code]
where the function `buildlib` replaced the original `_build_cam`.  Sadly it didn't seem to fix the issue, which could mean either there needs to be additional logic, or I didn't apply your fix correctly (which seems just as likely).

[2020-05-13 21:05] jedwards4b commented on #3532
@nusbaume there is something inside cime that needs to be fixed before this will work correctly, but the code change above is heading in the correct direction, it should look like the following,
you want the 'with Case' statement inside the buildlib subroutine.

def buildlib(caseroot, libroot, bldroot):
    with Case(caseroot) as case:
       ...

if __name__ == "__main__":
    caseroot, libroot,

[2020-05-13 21:41] ndkeen opened #3533 "Issue with variable causes garbage to be written to cpl.log* file during initial header info after string "MODEL""
With master as of yesterday, I am not able to grep in the cpl.log.* files and it appears to be due to some garbage which must be from the cime_model variable.

[code]

I see this is printed here:
`cime/src/drivers/mct/main/cime_comp_mod.F90`

I noticed there were recent changes to this file.

Following what I found in the cime_final routine, I tried adding the following to the print header routine

[2020-05-13 21:58] jedwards4b commented on #3533
@ndkeen can you open a PR with this change?

[2020-05-13 21:59] ekluzek opened #3534 "cprnc fails comparing CLM params files"
On cheyenne with the latest cprnc I see the following problem...

$CPRDIR/cprnc.cheyenne -m $CSMDATA/lnd/clm2/paramdata/clm5_params.c200425.nc $CSMDATA/lnd/clm2/paramdata/clm5_params.c200424.nc
.
.
.

However, it works correctly with the cprnc.cheyenne.190221 build as well as cprnc.cheyenne.a4faaf4

[2020-05-13 22:04] jedwards4b commented on #3534
Can you provide $CSMDATA and $CPRDIR please.

[2020-05-13 22:06] ekluzek commented on #3534
Oh, just the paths to inputdata and the built cprnc...

cheyenne5 home/erik> echo $CSMDATA
/glade/p/cesmdata/cseg/inputdata
cheyenne5 home/erik> echo $CPRDIR
/glade/p/cesmdata/cseg/tools/cime/tools/cprnc/

[2020-05-13 23:10] nusbaume commented on #3532
@jedwards4b thanks for the pointer!  I'll wait until I hear about the cime fix, and then try again with the updated `main` statement.

[2020-05-13 23:48] jedwards4b commented on #3532
@jgfouca I remember the issue here - the buildlib scripts for external components are called from subthreads and there are some variables communicated to the underlying Makefile through the environment,  environment variables are not thread safe and so we broke the feature of calling as a subroutine in order to solve the issue of setting environment variables independently in each thread.   The va

[2020-05-14 00:15] jedwards4b commented on #3532
I tried passing in the --debug flag, verified that it did in fact change the logger level setting and I still don't get output from logger.debug("HERE I AM")

[2020-05-14 15:15] WesCoomber commented on #3532
@jedwards4b Hi Jim, I got your email and I will take a closer look.

[2020-05-14 17:09] jedwards4b commented on #3534
/glade/u/home/jedwards/sandboxes/cesm2_x_alpha/cime/tools/cprnc/cprnc
@ekluzek if this works for you, accept the pr and I will install it.

[2020-05-14 19:02] ekluzek commented on #3534
Yes, that works for me. I'll accept in the PR.

[2020-05-14 19:17] #3534 closed

[2020-05-14 19:29] ndkeen commented on #3533
It looks like the string cime_model is set in cime_init().  But cime_printlogheader() is using this first and is called inside cime_pre_init2(). And the order looks like:

cime_pre_init1()
cime_pre_init2()  -- calls cime_printlogheader() which tries to use cime_model
cime_init() -- sets cime_model

I don't want to make a local tacky change just to get cime_model if there's a more elegant way.

[2020-05-14 20:12] ndkeen commented on #3533
Yep that would work. Thanks Jim.

[2020-05-14 21:22] #3533 closed

[2020-05-14 21:47] billsacks opened #3537 "Porting: MPILIBS: documentation and handling"
In writing a wrapper script to facilitate making a cime machine port, I ran into a question about the allowed values for MPILIBS. This is partly a documentation issue, but partly reporting what looks like a minor issue with the way cime currently handles MPILIB.

My sense, from grepping through cime, is that – for the most part – a given machine port can use whatever name it wants for its MPILIBS.

[2020-05-14 21:58] jedwards4b commented on #3537
I think that this is a good idea Bill, but I think that there are other places MPILIB is used, for example in setting environment variables in config_machines.xml there are sometimes variables particular to a given mpi library.

[2020-05-14 22:00] jedwards4b commented on #3537
I think that we should define allowed values in the MPILIB definition so that new values are only introduced with some thought applied.

[2020-05-14 22:03] billsacks commented on #3537
Right, but from what I can tell, these are all in a machine-specific block - so as long as you're self-consistent within a given machine's block, it doesn't matter what you call it. Or am I missing something?

That seems like a reasonable alternative, but I wonder if that puts an unnecessary additional burden on people doing a port if it turns out not to matter. For example, I remember being unsur

[2020-05-14 23:59] WesCoomber commented on #3532
I have started working on this issue here:
https://github.com/ESMCI/cime/tree/wpcoomb/improve_cime_buildlib_function

[2020-05-18 17:28] jedwards4b commented on #3532
@nusbaume can you see if this fixes your issue?

[2020-05-18 17:32] rljacob opened #3540 "not requiring data model directories per driver"
We're re-basing the MOAB branch onto a more recent version of cime/E3SM and noticed that when building, cime is looking for a data_comps_moab dir for data models.   We want to keep using the mct versions of those models for a while so is there a way to point cime to the mct versions when the driver is moab?

[2020-05-18 17:43] jedwards4b commented on #3540
Yes you can go in config/e3sm/comp_interface and change data_comps_$COMP_INTERFACE to data_comps_mct

[2020-05-18 17:54] rljacob commented on #3540
You mean in config/e3sm/config_files.xml?

[2020-05-18 18:21] jedwards4b commented on #3540
Yes, that's what I meant.

[2020-05-18 18:45] jedwards4b commented on #3507
@bertinia Have you tried with cime5.6.33?  It looks like the env_batch.xml file in that directory is incorrect and I cannot reproduce that with the release candidate cime.  If you can please elaborate.

[2020-05-18 19:03] rljacob commented on #3540
That works.

[2020-05-18 19:03] #3540 closed

[2020-05-18 20:00] rljacob opened #3541 "Having intelXX compiler block inherit from intel"
When transitioning between compiler versions, we sometimes will define an "intelXX" compiler block along with "intel" in a machine's compiler block.    For example, "intel19" is to build with Intel version 19 on a machine where the default Intel is v18.  Normally a machine-specific "intel" will inherit everything from the main "intel" block at the top of config_compilers.xml.  But "intel19" does n

[2020-05-18 21:22] nusbaume commented on #3532
@jedwards4b sadly I still seem unable to get debug printing from CAM's buildlib.  I updated my CIME external to the merge of @WesCoomber's additions, made the modifications described above (about replacing `_build_cam` with `buildlib`), created a new case, and then built with the `--debug` flag passed to `case.build`.  I also tried setting the log level directly in `buildlib`, but that didn't work

[2020-05-18 21:56] jedwards4b commented on #3532
@WesCoomber I also tried this - it's still not working.

[2020-05-19 19:43] rljacob opened #3542 "Keeping an old case running when a username changes"
One of our clusters recently updated its accounting and a bunch of usernames changed.

As you might expect, this plays havoc with cases already created in a user's $HOME directory with the old name.

There should be a way to fix this without re-creating the case form scratch.

Here's what we tried so far:
use xmlchange to update: CASEROOT, CIMEROOT, SRCROOT, MACHDIR
do ./case.setup --reset

When t

[2020-05-19 19:47] rljacob commented on #3542
To clarify, the CASEROOT was
/home/oldname/E3SM/cime/scripts/mycase
and now it is
/home/newname/E3SM/cime/scripts/mycase

But the case needs to be more fully reset to reflect that change.

[2020-05-20 22:27] jedwards4b commented on #3532
@WesCoomber @jgfouca I have a branch
    github.com:jedwards4b/cime.git
   c8181d6a8..e8ab3173f  buildsub -> buildsub
Where I am approaching a solution to this problem.  It now allows run_sub_or_cmd to be called from threads and sends each threads output to a file.   And it's correctly passing the --debug to the buildlib routine.

So I am redirecting stdout to the log file but it also seems to con

[2020-05-21 16:21] whannah1 opened #3544 "MAX_TASKS_PER_NODE is static for each machine entry"
For the E3SM-MMF configuration on Summit we have configurations to run the CRM on either CPUs or GPUs depending on whether the compiler is pgi or pgigpu, which requires changing MAX_TASKS_PER_NODE and MAX_MPITASKS_PER_NODE. However, in config_machines.xml these entries cannot be set based on the compiler, so we have created a separate machine entry "summit-cpu" which is identical to "summit" excep

[2020-05-21 20:27] #3544 closed

[2020-05-21 22:49] WesCoomber commented on #3532
@nusbaume and @jedwards4b
_I double checked my tests for this subprocess feature and they are still working on Melvin._

There are some minor differences in our development environments, such as we use cmake so I pass a --use-old flag to case.build to recreate the correct behavior.

_Could you follow these steps on your machines and let me know if it works for you?_

[2020-05-21 22:53] WesCoomber commented on #3532
Insert a `logger.debug("wpc.HERE I AM")` statement into _main_func() in E3SM/components/clm/cime_config/buildlib

Then I create a case that uses a compset that includes the external clm component.
`./create_newcase --case ~/cime/wpcClm3 --compset I1850CLM45 --res f19_g16`

I navigate to the case directory and run case.setup, case.build -- clean, and case.build --debug.
`cd /ascldap/users/wpcoomb/c

[2020-05-22 19:53] nusbaume commented on #3532
Thanks for the instructions @WesCoomber!  I didn't realize there was a `buildlib.log` file in the `<component>/obj` directory, but after looking I was able to find my own debug logging statements there.

So, I think I am good to go on my end.  Thanks for the help (to both you and @jedwards4b)!

[2020-05-22 20:38] jedwards4b commented on #3532
@WesCoomber thanks - sorry I didn't find that myself.

[2020-05-22 22:08] WesCoomber commented on #3532
@nusbaume and @jedwards4b _That is good news and I am glad to hear the solution is successfully working for you. I am closing this issue and marking it as done. I hope you have a good Memorial Day weekend._

[2020-05-22 22:08] #3532 closed

[2020-05-27 05:47] ekluzek opened #3549 "Have datm send ndep to surface components"
Both CLM and the ocean model need Nitrogen deposition to be sent in. We've handled this by having it sent in by CAM when WACCM is run -- but having each surface component handle prescribed datasets themselves. This means that OCN and LND could have inconsistent datasets. And it also leads to certain problems when surface components don't know if ndep is provided by the ATM model or not (see for ex

[2020-05-27 22:23] billsacks opened #3550 "GPTL build doesn't honor ESMF_LIBDIR"
On a machine where ESMF_LIBDIR is defined in config_compilers.xml but the ESMFMKFILE environment variable isn't set, the gptl build fails. This is because the Makefile for gptl doesn't consider ESMF_LIBDIR.

I think the fix is to copy the relevant logic from the main cime Makefile into the gptl Makefile. Fix incoming.

[2020-05-27 22:38] billsacks opened #3552 "NUOPC datm build fails due to use of `/=` to compare logicals"
With gfortran 8.2.0 on my mac, the build of the nuopc datm component is failing with:

[code]

The fix looks easy: change `/=` to `.neqv`. But @mvertens I'm assigning this to you because I know you are working on an overhaul of the nuopc data components... and maybe this is no longer even in the new code. If this is fixed on your branch, no need to fix it any time sooner on master: this is not hol

[2020-05-28 16:52] billsacks opened #3553 "env_mach_specific files should just contain settings for main job"
The hidden `.env_mach_specific.sh` and `.env_mach_specific.csh` files contain settings that apply for all jobs, one after the other. This is a problem on cheyenne, at least, where we set `MPI_USE_ARRAY=false` on the share queue (which is used by the short-term archiver), but we don't want this setting for the main job. Currently, if you source the env_mach_specific file, you'll end up with this un

[2020-05-28 16:54] billsacks opened #3554 "configure tool doesn't honor --output-dir for the .env_mach_specific files"
In testing my fix for #3553, I noticed that the standalone configure tool doesn't honor `--output-dir` for the `.env_mach_specific` files: It puts most of the content of these files in the current working directory rather than in the directory specified by --output-dir. The fix is relatively simple. I'll include this in the PR where I fix #3553 .

[2020-05-28 16:58] jedwards4b commented on #3553
These files are not actually used by the model and so the contents shouldn't matter.

[2020-05-28 17:02] billsacks commented on #3553
I use them in a workflow where we use cime to build CTSM and some of its dependencies, then have an external model (WRF in this case) load the same environment to build itself. I pinged you in case you were aware of any other workflows that rely on these files looking the way they currently do.

[2020-05-28 20:22] #3495 closed

[2020-05-28 20:22] #3526 closed

[2020-05-28 20:22] #3528 closed

[2020-05-28 22:02] #3553 closed

[2020-05-28 22:02] #3554 closed

[2020-05-28 22:02] #3550 closed

[2020-06-04 20:07] amametjanov opened #3562 "Resetting changes to case env_mach_specific"
[code]
Editing config_machines.xml in CIMEROOT works.

[2020-06-04 20:14] jedwards4b commented on #3562
there is an option to case.setup --keep env_mach_specific.xml
that will do what you want.

[2020-06-04 20:20] amametjanov commented on #3562
ok thanks

[2020-06-04 20:20] #3562 closed

[2020-06-05 00:30] amametjanov commented on #3562
Something else to keep in mind: after `rm -rf bld && mkdir bld && ./case.build && ./case.submit & `, local mods to env_mach_specific are also getting reset.
[code]
One more step is needed to keep local mods on re-builds:
[code]

[2020-06-05 13:40] jedwards4b commented on #3562
Instead of rm -rf bld && mkdir bld
you can do ./case.build --clean-all

in any case you don't need mkdir bld, that happens in the ./case.build step

[2020-06-06 00:28] adamrher opened #3564 "Change grid alias for arctic var-res grids"
The grid aliases for the arctic grids in config_grids.xml:

    ne0np4.ARCTIC.ne30x4_mt12
    ne0np4.ARCTICGRIS.ne30x8_mt12

Have dots in them and are incompatible with testing software. The dots need to be removed. I would suggest renaming these grid aliases to:

   ne0ARCTICne30x4_ne0ARCTICne30x4_mt12
   ne0ARCTICGRISne30x8_ne0ARCTICGRISne30x8_mt12

@fischer-ncar can you please assess the priori

[2020-06-09 21:03] #860 closed

[2020-06-09 21:38] #3330 closed

[2020-06-10 00:25] jedwards4b opened #3569 "scripts_regression_tests.py test Q_TestBlessTestResults failing on master"
https://my.cdash.org/testDetails.php?test=58361763&build=1838157
When CIME_MODEL=cesm this test is failing.

[2020-06-10 20:59] fvitt opened #3571 "Issue with namelist compare test"
compare_namelist.py does not like the following legal cam namelist setting:

 csw_specifier          = 'DMS      -> 1.0 * /glade/p/cesmdata/cseg/inputdata/atm/cam/chem/ocnexch/Csw_DMS_HiResML_f09f09_1990_2019_20190616a.nc',
         'CH3COCH3 -> 0.75* /glade/p/cesmdata/cseg/inputdata/atm/cam/chem/ocnexch/Csw_Acetone_HiResML_f09f09_1990_2019_20190814a.nc'

Seems to be an issue with the scaling fact

[2020-06-11 17:42] #3542 closed

[2020-06-11 19:39] dqwu opened #3574 "E3SM build errors with latest CIME"
With latest CIME, E3SM has build errors from scorpio when building a simple test.

Steps to reproduce:
[code]
The build error is from scorpio code:
[code]
This issue is caused by PR #3568 which modified src/build_scripts/buildlib.pio:
[code]
If I revert the above changes there will be no build errors for scorpio. It looks that scorpio does not have those code changes in that PR for cime/src/extern

[2020-06-11 20:14] dqwu commented on #3574
@jedwards4b @jayeshkrishna
A simple fix might use a flag (like existing scorpio_src_root_dir) in buildlib.pio to let scorpio still use original GENF90_PATH.

[2020-06-11 22:21] #3574 closed

[2020-06-15 21:24] ekluzek opened #3576 "Deprecate assigning specific filenames when CLM_USRDAT_NAME is set"
Setting CLM_USRDAT_NAME adds a useful ability to setup a case for an arbitrary resolution, without having to add it into config_grids in cime. When it was initially added it also provided a mechanism to use special names for files so that they could be used in that same case. With user_nl_clm, shell_commands and user-mod directories now -- this ability to name files this way isn't as useful anymor

[2020-06-15 22:16] rljacob opened #3577 "Moving other config files out of cime"
CESM still has a few config files in cime/config/cesm

config_archive.xml
config_grids.xml
config_inputdata.xml

But the path to these seems to be set in config_files.xml so could they be moved as well?

It looks like several config files in the machines directory could also be moved.  But where are the paths to `Depends.* ` and `template.*` in that dir set?

[2020-06-15 22:38] jedwards4b commented on #3577
Why would we want to move them?  Reading this issue seems like entering into the middle of a conversation - can you start from the top? template file location is provided in config_workflow.xml  Depends files are just expected to be in the machines directory.

[2020-06-15 22:45] rljacob commented on #3577
We're going to convert cime in the E3SM source to a submodule.  The more e3sm-specific config files we can move out, the less we have to do a 2 PR workflow to update them (update here, then PR to update submodule in E3SM).

I just moved the allactive configs to match what cesm already did.  Wondering how much else I can move.  config_machines.xml is a file we edit a lot.

[2020-06-16 14:03] jedwards4b commented on #3577
You can move the e3sm config_machines.xml by adjusting the setting in cime/config/e3sm/config_files.xml field MACHINES_SPEC_FILE.   As long as what you move is defined in config_files.xml it should not affect cesm at all.   If you find that you need to move files whose path is not defined in any xml file then we may need to consider adding them there.

[2020-06-16 23:15] jgfouca commented on #3577
Everything in cime/config/e3sm should be moved into our repo. We can make CIME see these files via symlink.

[2020-06-16 23:35] rljacob commented on #3577
I don't trust sym links. Does git preserve those?

Can we have MACHINES_SPEC_DIR that points to the location of the machines file?  That would let us move everything.

[2020-06-17 17:45] jgfouca commented on #3577
Yes, Git tracks symlinks just fine. I'd prefer the symlink approach since it makes the system look the same as it did before. A new MACHINE_SPEC_DIR could have wide-ranging impacts across CIME.

[2020-06-17 18:05] jedwards4b commented on #3577
@jgfouca I disagree - the config_files.xml was intended to allow flexibility in the location of inputfiles - you should not need to symlink anything.   If config_files.xml doesn't allow the flexibility you need then let's improve it so that it does.

[2020-06-17 18:24] #3569 closed

[2020-06-17 18:27] rljacob commented on #3577
A MACHINE_SPEC_DIR indicating the location of "machines" would go a long way to close the gap in being able to specify the location of all input files.  Otherwise we need entries for all the `Depends.* ` and `template.*` files.  We also have a bunch of `syslog.*` files in machines.

[2020-06-17 18:39] jedwards4b commented on #3577
I don't think that there is a problem with Depends and template files.  They are by default expected to be in the machines directory but there is no assumption about where that directory is - if you look in machines.py the machines directory is the directory which contains the machines_spec_file.   I think that you should try moving the files and updateing the config_files.xml and figure out wheth

[2020-06-17 19:32] jgfouca commented on #3577
OK, I am fine with trying an XML approach.

[2020-06-17 21:47] ekluzek opened #3580 "Disallow a year zero for start and reference year"
Some NetCDF processing tools have trouble with having a year zero. This is because in the BCE, AD calendar there is NOT a year zero. So we should change both the defaults to not have a year zero as well as prevent it being set to zero.

[2020-06-17 21:52] ekluzek commented on #3580
@mnlevy1981 and Gary Strand feel this is important. We are pretty sure WACCM already disallows this as well.

[2020-06-17 21:53] rljacob commented on #3577
I will experiment with machines.py and moving machines around.

[2020-06-17 22:14] mnlevy1981 commented on #3580
The issue I see is in the `units` attribute of the `time` variable written to netcdf by POP:

[code]

I'm unclear on who sets this metadata -- CIME? PIO? The components themselves? Because it looks like CICE output from the same run has different units...

[code]

[2020-06-17 22:18] ekluzek commented on #3580
The behavior I see in cime right now (for branch_tags/cime5.8.24_a01) is that negative start years are get converted to positive numbers, and the reference date is always the start year. This is because it just simply removes the "-" in the strings (so the leading dash gets removed as well). This is done in the scripting level, so any checks on this would need to be done there.

It looks like CAM

[2020-06-17 22:19] mnlevy1981 commented on #3580
Although it looks like maybe this is not a big deal as of `cf_units` 2.0.1 and `xarray` 0.15.0, as I can now open POP history files without the `decode_times=False` option.

[2020-06-17 22:33] ekluzek commented on #3580
Note, also that for Paleo-work allowing negative years would be something useful to represent BCE periods. But, that's a somewhat different issue than this is.

[2020-06-17 23:33] klindsay28 commented on #3580
@mnlevy1981, `time:units` in POP output is set by POP [here](https://github.com/ESCOMP/POP2-CESM/blob/f943f01f8009cdd52a9750dbb581feb0c55269ff/source/tavg.F90#L6291-L6295). The reference date is hard-coded to be `0000-01-01`. `time_bound` has the same hard-coded units, set [here](https://github.com/ESCOMP/POP2-CESM/blob/f943f01f8009cdd52a9750dbb581feb0c55269ff/source/tavg.F90#L6353-L6359).

[2020-06-18 20:50] billsacks opened #3584 "Double-check changes made in #3582"
@jedwards4b can you please double-check / confirm some changes made in #3582 ? Based on https://github.com/ESMCI/cime/pull/3582/files , I see the following potential issues:

(1) I believe your logic change will change behavior for e3sm with nag: it looks like USE_CXX will be set to true, whereas they seem to want it to be set to false with nag.

(2) Was the commenting out of the error check ("Fat

[2020-06-18 20:53] jedwards4b commented on #3584
We are the only ones using a nag compiler. I put the origin change in so that pio2 would work for nag, but pio2 doesn't need cxx.  No I didn't mean to comment out the error check - I'll fix that.

[2020-06-18 20:56] jedwards4b commented on #3584
Pushed 4427dd051  to master.

[2020-06-18 20:56] #3584 closed

[2020-06-18 21:06] billsacks commented on #3584
Thanks!

[2020-06-18 22:09] rljacob commented on #3584
Yes we haven't tried to use nag in a  couple of years.

[2020-06-19 22:05] rljacob commented on #3577
Looks like this will work.  The machines dir is derived from MACHINES_SPEC_FILE.  So just moving that is enough to tell the CCS where everything else is (but you DO have to move everything else).

@jgfouca where is the location of tests.py set?

[2020-06-23 04:22] fischer-ncar commented on #3564
Closed via #3566

[2020-06-23 04:22] #3564 closed

[2020-06-24 17:21] billsacks opened #3588 "Change check_input_data output to avoid using logging.warning for normal output?"
I ran into this issue when calling `case.check_all_input_data` from my own script (using CIME as a python library). So I didn't call `CIME.utils.parse_args_and_handle_standard_logging_options` (because I use a somewhat different logging configuration than CIME does). When I did this, I got a ton of WARNING messages; here is a small set of them:

[code]

It seems like all of the output from this fu

[2020-06-24 17:34] jedwards4b commented on #3588
Please feel free to make this change and submit a PR.

[2020-06-24 22:19] billsacks opened #3590 "FORCE_BUILD_SMP doesn't seem to work right if set after case.setup"
At least with CESM, I get build errors in mct if I try to set `./xmlchange FORCE_BUILD_SMP=TRUE` after running case.setup but before building:

[code]

This works if I set `FORCE_BUILD_SMP` before case.setup. It looks like case.setup sets `SMP_PRESENT` based on `FORCE_BUILD_SMP`, but after that point, `FORCE_BUILD_SMP` doesn't seem to be considered. Glancing through cime history, it looks like the

[2020-06-24 22:20] billsacks commented on #3590
I should add: The workaround is easy enough (make sure to set `FORCE_BUILD_SMP` before running `./case.setup`), but this still seems like a bug that should be fixed at some point.

[2020-06-25 15:06] jedwards4b commented on #3590
This only happens the first time you run case.build, if you run it a second time it works fine - even after a
case.build --clean-all

[2020-06-25 15:10] jedwards4b commented on #3590
We no longer set SMP in the environment, instead it is passed on the gmake command line.   I don't think that the change you referenced above is relevant.

[2020-06-25 15:43] billsacks commented on #3590
What I meant by bringing this up was that – based on my very quick look – I think the logic may have been correct when this was set in the environment, but some necessary logic may have gotten lost in the big refactor to avoid setting this and other things in the environment.

case.build --clean-all

So would you agree that this is a bug? It seems like needing to run the build twice is not expecte

[2020-06-25 15:53] jedwards4b commented on #3590
I agree that it's a bug, but I'm stumped as to why it is happening.  Your solution seems to me more like a workaround, but I can't think of a case where it would be a problem so I'm okay with that.

[2020-06-25 17:08] billsacks commented on #3590
A bit naively, it seems like this logic in `build.py`:

https://github.com/ESMCI/cime/blob/ce4447262300500941a30a64ed73346f37e852f5/scripts/lib/CIME/build.py#L22

is setting the wrong thing. According to the Makefile logic:

https://github.com/ESMCI/cime/blob/ce4447262300500941a30a64ed73346f37e852f5/scripts/Tools/Makefile#L33-L47

the passed-in `compile_threaded` seems to be ignored. Instead, mayb

[2020-06-25 17:10] billsacks commented on #3590
But I should add that I really don't understand the difference between all of these `SMP` variables, and how and when they're set, so I should stop making suggestions :-)

[2020-06-25 17:13] rljacob commented on #3590
@amametjanov might be able to comment here.

[2020-06-25 17:30] #3588 closed

[2020-06-25 19:56] amametjanov commented on #3590
Yes, that looks right: `compile_threaded = SMP` and `SMP = FORCE_BUILD_SMP or (thread_count > 1)`.

[2020-06-26 00:02] rljacob opened #3592 "Should we still seperate PRECC and PRECL?"
cpl7 expects precip (and snow) to be sent from the atmosphere in 2 categories:  large scale and convective.  Is there any reason to keep doing this?  Why not just send a combined precip (and snow)?

Storm- and cloud-resolving atmosphere models don't have a convective scheme and so don't have "PRECC".   Instead of sending 0 for that field, why not have all atmosphere models coupled to cpl7 send a t

[2020-06-26 00:09] adamrher opened #3593 "Incorrect mapping files for GLC<->LND in ne30np3.pg2, ne120np4.pg2, ARCTIC and ARCTICGRIS grids"
The LND2GLC and GLC2LND mapping files in config_grids_common.xml and not correct for 4 spectral-element grids:

ne30np4.pg2
ne120np4.pg2
ne0np4.ARCTIC.ne30x4
ne0np4.ARCTICGRIS.ne30x8

The mapping files on the trunk were generated without flagging ESMF that the GLC grid (greenland) is a regional grid. This error made for unrealistic values of the surface mass balance in CISM.

The new mapping files

[2020-06-26 15:34] billsacks commented on #3593
@fischer-ncar - I'm curious: did you (or whoever made these maps) use `cime/tools/mapping/gen_mapping_files/gen_cesm_maps.sh` for this? I thought that was set up to assume that glc is on a regional grid, but if that isn't working right, we should fix it.

[2020-06-26 15:39] adamrher commented on #3593
Hi Bill, I made these maps using the vr-toolkit, which does not invoke gen_cesm_maps. It does so by calling an ncl script to do the ESMF regridding. So it's a bug in the toolkit.

[2020-06-26 15:54] jedwards4b commented on #3593
Adam - is the vr-toolkit in a git repository?  Should we consider
distributing it with the model?

On Fri, Jun 26, 2020 at 9:40 AM Adam Herrington <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-06-26 16:31] adamrher commented on #3593
Jim, it's not in a repo yet. Looking over the externals in the latest cesm tag, it does appear that cime/ctsm/cam are all up to date to work with the toolkit now. So I'll test it out and work with @patcal to get it into a repo. I'm not sure how much more work needs to be done or whether this can be completed by the cesm2.2 release, but I can get back to you on that after I've done some tests.

@pa

[2020-06-26 17:00] jgfouca opened #3595 "create_newcase --test mode does not create a viable case without create_test"
The XML_PHASE of tests has bugged me for a while. Every other phase of a the case-control system can be run standalone in a case via a command-line tool, but the XML_PHASE can only be run through create_test. If a user copy/pastes the create_newcase command, and then tries to run `./case.setup` and `./case.build`, the build will fail with `No variable CCSM_CPRNC found in case`. Even if we were to

[2020-06-26 17:17] jedwards4b commented on #3595
I guess I am surprised that a user would cut and paste the create_newcase command from a test like that. So I think the first proposal to throw an error (not a warning) if a user attempts to invoke this option from the command line is appropriate.

The functionality of the xml_phase is already incorporated in create_newcase but that functionality is partially suppressed by the --test argument.

[2020-06-26 18:52] jayeshkrishna opened #3596 "CIME does not set max pending requests automatically"
The maximum I/O pending requests setting in env_run.xml, PIO_REARR_COMM_MAX_PEND_REQ_COMP2IO, is by default set to 0. CIME needs to set the variable to an appropriate value in this case (when its set to 0). However after PR #3499 this behavior is disabled.

PR #3499 intends to use MPI collectives for data rearrangement when using the mpi-serial library. The PR achieves it by setting maximum I/O pe

[2020-06-26 18:52] jayeshkrishna commented on #3596
@jedwards4b , @rljacob , @fischer-ncar Please let me know your thoughts

[2020-06-26 19:09] jedwards4b commented on #3596
I am looking at PIO now to see if 2 can be done without changes in pio.

[2020-06-26 19:10] billsacks commented on #3596
My understanding from this is that recent uses of cime are incorrectly specifying `PIO_REARR_COMM_MAX_PEND_REQ_COMP2IO`. Does anyone know what impact this has – performance or otherwise? Is it a potentially significant enough impact that we should put out a notification, or is the impact expected to be minor?

[2020-06-26 19:29] jedwards4b commented on #3596
This is in the development branch only.  It may have some impact on performance but it's hard to determine how much or even if the impact is negative.

[2020-06-26 19:37] jedwards4b commented on #3596
@jayeshkrishna I have tested setting PIO_REARR_COMM_TYPE=coll in pio2 with mpi-serial and it works.  I will create a new PR that will keep the defaults as they are and only change PIO_REARR_COMM_TYPE for mpi-serial.

[2020-06-26 19:52] jayeshkrishna commented on #3596
ok, thanks!

[2020-06-26 20:14] adamrher commented on #3593
@billsacks I'm converting the vr-toolkit to use gen_cesm_maps.sh, but I don't see an option to generate the ww3 ATM2WAV_SMAPNAME. How does one typically create that mapping file?

[2020-06-26 20:33] billsacks commented on #3593
Good question; I have never done that. @alperaltuntas @mnlevy1981 do either of you know the answer to this? And should this be added to `gen_cesm_maps.sh`?

[2020-06-26 20:55] mnlevy1981 commented on #3593
The mapping file used for `f09` runs is

[code]

And it looks like @jtruesdal created it:

[code]

From the `run_command` attribute, I think he used`create_ESMF_map.sh` but it's possible he called `ESMF_RegridWeightGen` directly (the order of arguments in `run_command` match the shell script)... and it shouldn't be too much trouble to add it to `gen_cesm_maps.sh` as well. I don't think I'll have t

[2020-06-26 21:11] adamrher commented on #3593
Thanks @mnlevy1981, that'll work. It is less clunky than the way we were doing it in the toolkit. BTW, vr-toolkit is the variable-resolution toolkit that is being developed so users can generate their own var-res grids.

[2020-06-26 21:33] jtruesdal commented on #3593
Hi Adam and Mike:

Here is some info that I received about a year late when I was first
working with wave watch. I thought Mike and I had spoken about this when I
was working in oceanography. Anyway its the background to how the first
wave watch files were created for CESM. Without much to go on, I
independently went through the same type of checks that Todd outlined
before getting this informatio

[2020-06-27 00:15] adamrher commented on #3593
Thanks for this @jtruesdal. Since the software is available to do the atm->wav mapping the "right" way, i.e., splicing the two maps using the python script, I think we should open a low priority issue to incorporate this tool into the gen_mapping folder. But for now, I'm just using bilinear mapping as suggested by @mnlevy1981.

[2020-06-27 00:25] adamrher commented on #3593
@fischer-ncar as I mentioned in our google hangout, I wanted to re-generate the GLC<->LND mapping files using the gen_cesm_maps.sh software instead of the ncl script I was using. The ncl ESMF routine uses a different normalization for the conservative remapping then gen_cesm_maps, and so I figured i'd rather not go rogue and just stick to the conventional cesm tools. And then I decided to just reg

[2020-06-27 00:41] rljacob commented on #2459
Looked up this issue and can't remember what I meant by "string used in filenames" in the description.

[2020-06-27 02:27] #3410 closed

[2020-06-27 02:29] rljacob commented on #3577
It is set in some code at the top of get_tests.py.  Will have to change that.

[2020-06-27 02:29] #3577 closed

[2020-06-27 03:14] adamrher commented on #3592
As someone who advocates strongly for a distinction between PRECC and PRECL in order to understand what CAM is doing, Im hard pressed to think of any reason that another model components needs to know this distinction. My understanding is that the cpl wants a state, a flux or a vector, not the components that make a state, flux or vector.

[2020-06-29 22:20] fischer-ncar commented on #3593
@adamrher I was just testing the new mapping files, and ran into an issue with ne120pg2_ne120pg2_mg17.  It's not configured
to work with clm, should it?  Here's the xml line.

    <model_grid alias="ne120pg2_ne120pg2_mg17" not_compset="_POP|_CLM">

[2020-06-29 22:27] ekluzek commented on #3593
Yes, it seems to me the "|_CLM" part should be removed. @fischer-ncar do you agree?

[2020-06-29 22:36] adamrher commented on #3593
Yes, please allow ne120pg2_ne120pg2_mg17 to run with CLM. Good catch!

[2020-06-29 23:16] billsacks commented on #3590
Since we're temporarily reverting #3591 I'm reopening this issue.

[2020-06-29 23:43] #3595 closed

[2020-06-30 15:55] fischer-ncar commented on #3593
Just a heads up, this isn't an issue with the mapping files.  My tests for ne120pg2_ne120pg2_mg17 and ne120pg2_ne120pg2_mt12 using F2000climo are giving me  "ERROR: negative moist layer thickness.  timestep or remap time too large."  But this shouldn't affect me going ahead with my PR.

[2020-06-30 15:57] adamrher commented on #3593
Thanks. That's expected since the correct time-stepping is still in the pipeline with Peter's CAM-SE PR

[2020-06-30 21:20] #3593 closed

[2020-07-03 20:55] billsacks opened #3604 "NLCOMP fails with python3 because dictionaries no longer support `has_key`"
When using python3, I get:

[code]

I have a fix incoming.

[2020-07-03 23:18] billsacks opened #3606 "Remove any existing cprnc output files before running cprnc"
I should preface this by saying that this showed up for me in a rather screwey test case. I'm not 100% sure this will show up in all testing, but looking at what I think is the offending code, I think it would.

I ran a system test that did baseline comparisons; this passed (including the baseline comparisons - it was bfb with baselines). Then I made a change that caused the results to differ from

[2020-07-06 14:29] #3596 closed

[2020-07-06 14:30] #3604 closed

[2020-07-06 17:28] jgfouca commented on #3606
Nice find! I think I can fix it fairly easily.

[2020-07-06 20:20] rljacob opened #3607 "Files with .in in share code"
There are three files in cime/src/share/util that seem to require pre-processing.

shr_assert_mod.F90.in	shr_frz_mod.F90.in	shr_infnan_mod.F90.in

But when I look at the codes, its all standard cpp directives that the Fortran compiler should be able to handle itself.  Why are these not just .F90 files?

[2020-07-06 20:23] rljacob commented on #3607
@jgfouca re: above.  shr_frz_mod.F90.in is missing from CMakeLists.txt in that directory.

[2020-07-06 20:25] jedwards4b commented on #3607
These use the genf90.pl script to generate type specific flavors of generic subroutines.

[2020-07-06 20:28] jedwards4b commented on #3607
For example in shr_frz_mod.F90.in:
[code]
expands to:
[code]

[2020-07-06 20:37] rljacob commented on #3607
Oh so that is not just a comment.  That makes sense then.

[2020-07-06 20:37] #3607 closed

[2020-07-07 04:41] ekluzek opened #3608 "Add r05mz grid for half degree grid with land only for mizuRoute"
For mizuRoute I need a way to distinguish between the full half degree MOSART grid that includes ocean and the mizuRoute grid that is land only. mizuRoute currently can't handle one with ocean, but that's the default for MOSART. Right now we have to get around this by hand, but doing that became a problem. So it'll obviously be a problem for users who don't understand this subtlety. By adding anot

[2020-07-07 21:04] ekluzek commented on #3608
@mvertens suggests we include a designator "mz" to the end of grid names that are for mizuRoute. So r05mz will be the half degree grid that's just over ocean that mizuRoute uses.

[2020-07-08 22:18] ekluzek opened #3612 "When using nuopc coupler set MAPNAME's to "unset""
When using the nuopc coupler (comp_interface="nuopc"), the MAPNAMES should be set to "unset" so they will be calculated on the fly rather than using existing map files calculated for the MCT coupler.

Looks like there is code in grids.py that attempts to do this, but isn't functioning, it'll only be triggered if the mapping file is set to "idmap".

[code]

The above would only set it to "unset" if

[2020-07-09 21:50] naromero77 commented on #3607
There was an interesting talk at FortranCon 2020 about generic programming technique for Fortran.
https://tcevents.chem.uzh.ch/event/12/contributions/57/

Apparently, there is Python-based preprocessor for Fortran to handle this kind of stuff:
https://github.com/aradi/fypp

But it does not seem like its possible to do this natively with Fortran.

[2020-07-09 22:02] jedwards4b commented on #3607
Ours is here: https://github.com/PARALLELIO/genf90
same idea I think.

[2020-07-10 13:43] rgknox opened #3615 "CIME_MODEL can differ between build and execution"
With E3SM, I recently ran into a run-time error that had to do with the coupler trying to pass fields that were not in its registry of known fields.  This was because I had compiled the model with CIME_MODEL=e3sm (set locally in my build script), but my environment has CIME_MODEL=cesm (which was active during execution).

I may be an unusual user, in that I am constantly running both models and sw

[2020-07-10 13:55] jedwards4b commented on #3615
There is already a variable in the case - that variable is MODEL.   The issue here is that once a case is defined it should always prefer that to the environment variable for that case.   I think that I can address this.

[2020-07-10 14:32] jedwards4b commented on #3615
@jgfouca This is due to the _check_for_invalid_args in utils.py.   get_model is called there before the case is initialized and so we cannot yet check the value of MODEL.  It is also used in parse_command_line in several scripts eg case.build and in the __init__ of files.py.   Ideas on how to solve this?  The case MODEL variable should always be prefered.

[2020-07-10 19:12] jgfouca commented on #3615
@jedwards4b this could be tricky since knowing the model is so fundamental to how CIME operates.

[2020-07-10 19:16] jgfouca commented on #3615
I guess the solution for _check_invalid would be to officially remove support for those single-dash long-form options in all models.

[2020-07-10 19:21] jedwards4b commented on #3615
I don't think that would be a problem.  But there are still several other cases where get_model is used before a case object can be established.   Maybe the solution is to write a small config file in the case directory and then look for a config file in the current directory and read it if it exists.  This file would only have CIME_MODEL in it.

[2020-07-10 23:14] WesCoomber commented on #3104
@amametjanov
 I double checked on Anvil and when I run a PET test such as `./create_test PET.f05_g16.A`, the test PASSes and I get the correct behavior where the first job is launched on 2N nodes because of 2 threads and the second job launched on N nodes with 1 thread/task.

job1:

0: --------------------------------------------------------------
0: GLOBAL communicator : 2 nodes, 36 MPI tasks
0:

[2020-07-11 00:24] amametjanov commented on #3104
For machines with SLURM like Anvil, there is a workaround (in place on Anvil since the initial comment issue here) asking it to run on 2N and N nodes in the first and second job:
[code]
But CIME still launches both jobs on 2N nodes: can be observed with `squeue -u $USER` or `sacct` for example
[code]
So the second job is allocated 2N nodes even though it only uses the first N nodes: waste.

On non

[2020-07-11 02:07] golaz commented on #3338
I'm going to have bring this up again unfortunately. This is currently not working (again, still?) or I just don't understand why it was designed the way it was. Here is the scenario.

I have a long control simulation that is currently running. Turns out the simulation looks better than anticipated and I decide it is worth extending beyond my original plan. While the last segment is running:

[cod

[2020-07-11 21:52] jgfouca commented on #3338
@golaz, the fix I put in a while back removed the modtimes error check that you demonstrated when you originally filed this ticket. This will at least keep the current CIME instance from crashing when you ./xmlchange something while it's running.

Unfortunately, this didn't really address the core issue which is that CIME has multiple levels of caching going on when it comes to the XML env values.

[2020-07-12 09:00] lvxin233 opened #3617 "a problem when I create a newcase"
![image](https://user-images.githubusercontent.com/63852927/87242571-870e7e80-c460-11ea-9f5f-fb24a757712f.png)
it says "no queues found",but I dont know where the problem is.
below is my config_machine.xml file
![config_machine](https://user-images.githubusercontent.com/63852927/87242627-13b93c80-c461-11ea-8687-f2e50e5dd02b.png)

[2020-07-12 18:17] jedwards4b commented on #3617
The problem is probably in config_batch.xml -  how have you defined the available queues?

[2020-07-13 00:24] lvxin233 commented on #3617
Thanks for your apply，I'll try to modify it

[2020-07-13 13:51] jedwards4b commented on #3104
I believe that this is a feature and not a bug.   It was determined in developing the test that these jobs run quickly and the waste is minimal.  @jgfouca you may remember this as well.

[2020-07-13 16:57] jgfouca commented on #3104
@WesCoomber , you can look for the batch submission commands for your case? I think it's possible that the case.submit command is being created using the xml env from the first case for both cases.

[2020-07-13 18:12] WesCoomber commented on #3104
@jgfouca
Yes, here are the batch submission commands for my case from .case.test:
[code]

[code]

[2020-07-14 18:58] golaz commented on #3338
@jgfouca : thanks for the explanation. The analogy with caching levels makes a lot of sense.

Having a limited number of "volatile" variables would be useful and would probably be the least disruptive solution to implement. Replacing XML with a database would be a lot of work and require a lot of education on the user side; probably not worth it.

Some variables that come to mind would be:

[code]

[2020-07-16 01:38] lvxin233 commented on #3617
I have a problem again, when I type the command "./case.build", an error "can't locate xml/libxml.pm in @INC" occurred. However, I already have the libxml.pm file, I don't know if I need to add the libxml.pm PATH to any config files.
Below is my settings in config_machines.xml file.

<module_system type="module">
<init_path lang="perl">/usr/share/Modules/init/perl.pm</init_path>
<init_path lang="p

[2020-07-16 02:18] lvxin233 commented on #3617
@jedwards4b

[2020-07-16 14:46] jedwards4b commented on #3617
First this is the wrong forum for this discussion, please use http://forum.cgd.ucar.edu/
Second the modules section of your config_machines.xml file has nothing to do with the error you are getting.
libxml.pm should be distributed with your perl.   But I don't think that any cesm component requires that file any longer,
what are the steps to reproduce this problem?

[2020-07-16 18:49] rljacob commented on #3592
Pinging @billsacks @mvertens to see if they remember.

[2020-07-16 19:44] ekluzek commented on #3592
Just chiming in. We've carried this distinction since the very first coupled model. And likely CCM sent it separated this way into LSM. So it's been this way for a few decades. That said as @adamrher points out this is important for CAM -- but is it important for surface components?

A reason I could think of is if you were going to downscale precipitation over your gridcell I could see that you m

[2020-07-16 19:53] billsacks commented on #3592
I've been following this discussion, but I don't have anything to add, and am happy to defer to others who have an opinion or knowledge of this.

[2020-07-16 19:57] mvertens commented on #3592
I think we need input from Dave Lawrence, Gokhan and Marika -  regarding
what the land, ocean and sea-ice want before making a decision. Since we
are summing this either in the mediator of in the cap for all those
components, I don't see why we are sending separate fields from the
atmosphere.

On Thu, Jul 16, 2020 at 1:54 PM Bill Sacks <notifications@github.com> wrote:

--
Mariana Vertenstein
CESM

[2020-07-16 20:08] adamrher commented on #3592
thank you @ekluzek for your out-of-the-box thinking on this. I would argue that the distinction between PRECL/PRECC is murky and has even become more murky with the introduction of clubb. Shallow convection used to be included in PRECC, but since CLUBB now handles shallow convection + macrophysics, it is now lumped into PRECL.

The ZM scheme parameterizes only the precip associated with the convec

[2020-07-16 21:23] nusbaume commented on #3592
Hi All,

Do any of the non-CAM component models take into account the drop-size distribution of the precipitation (say, for canopy interception)?  If so then having a separation between PRECC and PRECL could matter, as the precipitation from deep convective cores should have a different assumed drop-size distribution than stratiform (PRECL) precipitation, even if that precip is from the anvil of t

[2020-07-16 23:16] billsacks opened #3621 "Mechanism to reset select xml variables to their defaults when creating a clone"
I'm raising this issue in the hopes of generating some discussion (e.g., from @jedwards4b and @jgfouca ) as to (1) how hard it would be, and (2) whether there would be any value in this outside of the use case that I'll describe.

The issue @ekluzek and I are trying to solve is the following (more details at https://github.com/ESCOMP/CTSM/issues/1082): We'd like to put a check in CTSM's build-name

[2020-07-17 01:06] lvxin233 commented on #3617
I see. Thank you for your reply

[2020-07-17 22:02] mnlevy1981 opened #3623 "ATM2OCN maps should be updated in TL319_t13 grids"
The last high-res JRA run used `map_TL319_TO_tx0.1v3_patc_blin_merged.180705.nc` for `ATM2OCN_FMAPNAME`, `ATM2OCN_SMAPNAME`, and `ATM2OCN_VMAPNAME`; this is a better choice than `map_TL319_TO_tx0.1v3_patc.170730.nc`, the current default for all three.

[2020-07-20 18:33] jgfouca commented on #3606
@billsacks , the changes you want are easy, but I thought it would be a good idea to make a new test to catch this error. I was surprised to see that everything worked fine for me without any changes:

[code]

Two potential factors:
1) I have a brand-new build of cprnc
2) I'm on a desktop, not batch machine

I'd be curious if you can get a simple sequence of commands to demonstrate the bug.

[2020-07-20 20:51] billsacks commented on #3606
@jgfouca okay, I see what's going on here, and I really apologize for making this seem like a bigger issue than it turns out to be! It looks like the cprnc.out files are generally removed in SystemTestCommon's `run_indv`, but my somewhat screwey test case doesn't use `run_indv`, because it doesn't use `case.run`. So my new test case is quite likely the only test case for which this is a problem.

[2020-07-20 20:53] billsacks commented on #3606
@jgfouca I'll also add another option: Since I'm under less time pressure now: if there is some additional work to do on this, and/or some manual testing to verify correctness, I'd be happy to help finish up the work on fixing this issue by changing the python cprnc code.

[2020-07-20 21:00] jgfouca commented on #3606
@billsacks , that's OK. I already did that part.

[2020-07-20 22:02] #3606 closed

[2020-07-21 13:29] #3623 closed

[2020-07-22 18:11] billsacks commented on #3621
Since we have closed ESCOMP/CTSM#1082 as a wontfix, we also don't need to address this issue.

[2020-07-22 18:11] #3621 closed

[2020-07-22 21:01] rljacob opened #3630 "Future of cime/src"
Good discussion today on how to manage all the pieces inside cime/src.

It occurred to me after our call:  We should always include a driver and some data/stub/dead/models inside cime/src because we need it for CCS testing.  You can't fully test all the case.* scripts without a model to actually build and run.  That might as well be the current MCT driver and models.

[2020-07-22 21:34] billsacks commented on #3630
@rljacob I thought you or @mvertens (I forget which of you) raised a good point – that we can use the xcpl components rather than data models for CCS testing. I'm not sure what to do about a driver for testing.

[2020-07-22 21:49] mvertens commented on #3630
I raised that point - and I think it might be a reasonable way forwards.

On Wed, Jul 22, 2020 at 3:34 PM Bill Sacks <notifications@github.com> wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-07-22 23:04] amametjanov opened #3631 "Enable source scripts in module_system"
In a module system, it's useful to add `source setup_script` (e.g. `source compilervars.sh intel64`) to set up env-vars for new packages (that don't have a module to `module load package/x.y.z`). This doesn't appear to be working in current env_mach_specific.xml workflow.

[2020-07-24 22:37] mnlevy1981 opened #3637 "Unexpected error when creating a new case"
When trying to create a new case with `cime5.8.28`, using a compset that I know is tested in `aux_pop`, I got the following error:

[code]

I poked around a bit, and think I tracked the issue down:

[code]

With the fix above, I get

[code]

This seems in line with what existed [before the `test_categories`was used for the check](https://github.com/ESMCI/cime/commit/36901fe#diff-94e5f4e6427bf3d7a6

[2020-07-28 17:23] #2916 closed

[2020-07-28 19:25] jgfouca commented on #3151
This was fixed by a CIME split a while ago.

[2020-07-28 19:25] #3151 closed

[2020-07-31 15:21] jedwards4b opened #3640 "new scripts regression test G_TestBuildSystem hangs indefinately on cheyenne"
test_clean_rebuild (__main__.G_TestBuildSystem)  simply hangs.

[2020-07-31 16:05] jedwards4b commented on #3640
Also tried on izumi - this test seems to hang - I wonder if this is a general issue on batch systems?  It seems that the TestStatus is
cat TestStatus
PASS SMS.f19_g16_rx1.A.cheyenne_intel CREATE_NEWCASE
PASS SMS.f19_g16_rx1.A.cheyenne_intel XML
PASS SMS.f19_g16_rx1.A.cheyenne_intel SETUP
PASS SMS.f19_g16_rx1.A.cheyenne_intel SHAREDLIB_BUILD time=135
PASS SMS.f19_g16_rx1.A.cheyenne_intel MODEL_BUIL

[2020-07-31 20:59] jgfouca commented on #3640
OK, I will look at it.

[2020-07-31 21:22] #3640 closed

[2020-08-04 15:05] jedwards4b opened #3647 "documentation does not reflect recent changes in directory structure"
the cime internal components have been moved to driver specific directories, the documentation does not reflect this change.   For example xcpl_comps are now in xcpl_comps_$COMP_INTERFACE, but the documentation still refers to the old directory.

[2020-08-04 20:04] billsacks commented on #3590
Re-fixed in #3618

[2020-08-04 20:04] #3590 closed

[2020-08-06 04:44] mt5555 opened #3649 "eps_agrid tolerences"
Minor, low priority issue:

at high resolution, in E3SM, the tool we use to mapping files leading to the domain files (TempestRemap) and the internal cell center data in the HOMME dycore only match to about 1e-10.  This requires a reduced EPS_AGRID when land or docn are on the atmosphere grid.  The algorithms in TempestRemap and HOMME are identical, so this seems to be a precision/rounding issue.

[2020-08-06 21:49] #2880 closed

[2020-08-07 16:23] ekluzek opened #3653 "QBOT for 2014 data in atm_forcing.datm7.GSWP3.0.5d.v1.c170516 is zero"
The 2014 data for QBOT in the GSWP3.v1 forcing is zero. Which of course means you can't get reasonable results when running over 2014. So any simulations that used 2014 forcing in them would be bad. This would be for historical or future scenario simulations as they both go to 2014. Future scenario simulations cycle over forcing so each time it cycles over 2014 it would be bad.

Since, we can't ju

[2020-08-07 16:34] ekluzek commented on #3653
Future simulations cycle over 2001-2014 data. So every fourteenth year of the future simulation would be bad. And having zero humidity for an entire year would also be bad for anything after that year. I suppose it might recover in the next year, but it would start the simulation down a very wrong path. Precipitation would still be happening, but all evaporative fluxes would just be wrong.

[2020-08-07 16:49] ekluzek commented on #3653
Sean Swenson has the corrected data here: /glade/scratch/swensosc/GSWP3/three_stream/TPHWL/ on cheyenne. It looks like this issue was discovered in 2018 and Hyungjun Kim <hjkim@iis.u-tokyo.ac.jp> uploaded new data for us to http://hydro.iis.u-tokyo.ac.jp/~hjkim/qair-updated/GSWP3.Qair.2014-2014.nc. That data is still available and what Sean used to create the files on cheyenne (only QBOT is overwr

[2020-08-07 16:56] ekluzek commented on #3653
I should be able to add softlinks to the svn repository. But, need to look into how this will be handled by the other protocols: wget, ftp, and gftp. The other complication of softlinks is that in order to get all of the data you'll need to download the complete current GSWP3v1 dataset and then download the 2014 update afterwards. So it's a little more awkward to handle.

[2020-08-07 17:07] ekluzek commented on #3653
I'm checking with Mark Moore if the other protocols can handle softlinks. Also note that these softlinks will need to be for a relative and NOT an absolute path, so that they will still make sense on any system. As such we probably want to create a script that will create the softlinks, and we might as well upload the script to inputdata as well. Another way to handle it would be to download the s

[2020-08-07 19:05] bishtgautam commented on #3653
@ekluzek Thanks for bringing this to my attention.

[2020-08-10 16:25] benjamin-cash opened #3654 "check_input_data check passed for directory, does not confirm if listing is a file"
check_input_data appears only to check for the existence of elements listed in the input_data_list, and not whether or not they are files. For example, check_input_data will pass the following:

Buildconf/cice.input_data_list
grid_file = /work/02441/bcash/stampede2/UFS/ufs_inputdata/
kmt_file = /work/02441/bcash/stampede2/UFS/ufs_inputdata/

The subsequent run will fail, however, because grid_file

[2020-08-10 17:31] ekluzek opened #3655 "Mesh file in NetCDF4 format..."
I found I couldn't enter this file into svn inputdata, because it was in NetCDF4 format. So should be converted into NetCDF5, and then entered in. There are likely other files like this as well...

 atm/datm7/atm_forcing.datm7.GSWP3.0.5d.v1.1.c181207/clmforc.GSWP3.c2011.0.5x0.5.TPQWL.SCRIP.210520_ESMFmesh.nc

[2020-08-10 18:19] jgfouca commented on #3654
Assigning to @WesCoomber since this should be a pretty easy fix.

[2020-08-10 18:31] tktesfa2014 opened #3656 "cime changes for the E3SM topounit subgrid structure"
Implementation of the new topography-based subgrid structure in E3SM includes new downscaling methods of atmospheric forcing from the atmosphere grid to the subgrids of the land model. One of the dowsncaling methods of precipitation requires Froude Number calculated by the atmosphere model, which needs to go through the coupler to the land model, where the land model then uses that information to

[2020-08-10 19:45] mvertens commented on #3655
This needs to be converted. I converted most files using nccopy -k to
convert to another format (cdf5 recommended). Could you please do that - it
is fine if it overrides the current file.

On Mon, Aug 10, 2020 at 11:32 AM Erik Kluzek <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-4

[2020-08-10 19:52] ekluzek commented on #3653
In looking through the data @olyson found that QBOT=0 is for the last time slice of 2013-12. So we'll need to fix that as well.

[2020-08-10 20:10] uturuncoglu commented on #3655
@mvertens i am working on it.

[2020-08-10 20:12] ekluzek commented on #3655
OK, thanks @uturuncoglu

[2020-08-10 20:16] uturuncoglu commented on #3655
I converted the file using following command,

[code]

I have no write access to the $CESMDATAROOT/inputdata/atm/datm7/atm_forcing.datm7.GSWP3.0.5d.v1.1.c181207/ directory. @ekluzek could you move the file to there from my scratch?

[2020-08-10 20:26] ekluzek commented on #3655
OK, I had to fiddle around a little bit, but got it in place.

Note, that the filename I pointed you to is actually a softlink (it's the start of my prototype for #3653).

[2020-08-10 20:27] ekluzek commented on #3655
OK, I ran rimport on it.

Closing since this was just a file issue.

[2020-08-10 20:27] #3655 closed

[2020-08-10 22:41] WesCoomber commented on #3654
@benjamin-cash Hi I am having some trouble recreating this error. I created a new test `./create_test SMS.f19_f19.A`  . Then I wiped away some of the dice.input_data_list and did a `case.submit` expecting a run error. There is no run error because it looks like the case.submit regenerates all of the *.input_data_list files in the case/Buildconf/ directory. Could you provide some more information o

[2020-08-10 23:25] benjamin-cash commented on #3654
@WesCoomber - That doesn't quite sound like the problem I am experiencing. The issue I have is that, for whatever reason,  after ./case.build was run BuildConf/cice.input_data_list had incorrect values for two key files. Specifically, they pointed to directories and not files.

check_input_data did not produce an error because,  as far as I can tell, it is using os.path.exists and the directory do

[2020-08-10 23:40] WesCoomber commented on #3654
Could you let me know which case is creating incorrect values in BuildConf/cice.input_data_list? I am trying to test a fix but the cases I am using automatically generate working *.input_data_list files when I do a ./case.build and when I do a ./case.submit. So that means I am having trouble testing the fix.

[2020-08-10 23:41] WesCoomber commented on #3654
@benjamin-cash Could you let me know which case is creating incorrect values in BuildConf/cice.input_data_list? I am trying to test a fix but the cases I am using automatically generate working *.input_data_list files when I do a ./case.build and when I do a ./case.submit. So that means I am having trouble testing the fix.

[2020-08-11 00:14] benjamin-cash commented on #3654
@WesCoomber - If you edit the *.input_data_list file to point to a directory and then just run ./check_input_data independently of ./case.submit does it pass the files?

[2020-08-11 00:22] WesCoomber commented on #3654
Ok that makes sense. I made the fix, and modified dice.input_data_list in case/BuildConf/ to point to a directory. `./check_input_data` correctly detects the missing file now.

[code]

[2020-08-11 00:23] WesCoomber commented on #3654
@benjamin-cash
Ok that makes sense. I made the fix, and modified dice.input_data_list in case/BuildConf/ to point to a directory. `./check_input_data` correctly detects the missing file now.

[code]

[2020-08-11 15:42] billsacks commented on #3653
I don't totally understand the workflow you're suggesting for obtaining the new data, but I'm wondering if it would be possible to instead provide some mechanism in CIME's stream input file generation to allow for overrides – so that it would take this:

[code]

with some following entries for a handful of overrides, and use those overrides for the select years/months where they are specified. I'm

[2020-08-11 16:08] ekluzek commented on #3653
Well I do like the idea that you proposing. That would be useful in some circumstances. It would have to be configured so that the override came into play for particular years though. So I think it would have to have something like...

[code]

That kind of thing could be useful because looking at the files there are often overrides for a few particular years, but the rest follow a pattern that cou

[2020-08-11 17:35] ekluzek commented on #3653
In talking with Dave Lawrence we think the stopgap measure we should put in place for the CESM2.2.0 release is to make the end year by default 2013 rather than 2014. And also possibly add a note to the xml file about 2014 being a problem. I could also add a README note in the data directory about it.

[2020-08-11 21:41] billsacks opened #3661 "cprnc error when doing single-variable analysis on an integer variable"
The changes in #3531 introduced an error when doing single-variable analysis on an integer variable. This showed up for @glemieux when doing a comparison between two files where one file was missing a particular integer variable (but I think it would show up if running cprnc on a single file as well):

[code]

The fix looks pretty easy; I'll take a stab at this and will also try to add a test that

[2020-08-11 22:48] ekluzek opened #3662 "Allow for overrides of the general filename path for streams files in the namelist_definition file"
Streams files create a list of files that match either a pattern or an explicit list of files. For example in src/components/data_comps_mct/datm/cime_config/namelist_definition_datm.xml the "CLMGSWP3v1.Solar" stream matches the pattern clmforc.GSWP3.c2011.0.5x0.5.Solr.%ym.nc and replaces %ym with the four digit year dash two digit month. for the entire range of years it's going to run over. Wherea

[2020-08-11 22:53] ekluzek commented on #3662
A reasonable syntax that would make sense to me would be something like...

[code]

So the general pattern is given and then the overrides for it. I'm not tied to the suggestion, just throwing out an example.

[2020-08-11 22:59] ekluzek commented on #3662
The part in the code where this is processed is in scripts/lib/CIME/nmlgen.py, in the _sub_paths function. It's given a file pattern (which could be multiple lines) and start and end year. Right now when it's multiple lines it basically treats them as literals. So to get this to work it would need to know to do pattern processing for them. I think we want it to work with the current files that inc

[2020-08-11 23:03] ekluzek commented on #3653
Let's move the discussion of the general long term issue to #3662. This will be here for the specific issue with GSWP3.

Now the plan is to resolve this in at least two steps. One will be to change the default end year to 2013, and another will be to have a GSWP3v1.1 stream update that will either be implemented with the solution in #3662 or with softlinks. Or possibly we'll do softlinks first and

[2020-08-12 13:25] #3661 closed

[2020-08-17 22:25] billsacks opened #3667 "E3SM PR #3619 resulted in undesirable change in dlnd landfrac when used in sno mode"
@fischer-ncar noticed answer changes in T compsets (active glc driven by dlnd) in CESM due to #3619 . We still need to do one more test to 100% confirm the cause of this, but I'm pretty sure it's due to the changes in `src/components/data_comps_mct/dlnd/src/dlnd_comp_mod.F90` in that PR. Looking at the history, it looks like @apcraig made those changes. I see that the old lines were commented out,

[2020-08-17 22:42] fischer-ncar commented on #3667
Backing out the changes does git bit-for-bit answers.

[2020-08-17 23:37] rljacob commented on #3667
Go ahead and make the change if its critical.  We can figure out if we need to put it back the next time we update CIME.

[2020-08-18 00:47] apcraig commented on #3667
I think the issue was that the dlnd model has the dmodel_domain_fracname_from_stream=domain_fracname argument hardcoded into the implementation which didn't work for the MOSART USRDAT modes I wanted to implement.  At the same time, the documentation for the dmodel_domain_fracname feature, https://github.com/ESMCI/cime/commit/a20cf6de2185380522188ec241e60fe02472412b suggests the dmodel_domain_fracn

[2020-08-18 06:26] ekluzek opened #3668 "Wrong names for some FV3 grid filenames"
There are some wrong grid filenames for some FV3 grids. For C192 and C24. Also looks like these files aren't in svn inputdata.

@fischer-ncar @jtruesdal

[code]

[2020-08-18 12:58] jedwards4b opened #3669 "xmlchange should warn if a var is in env_test.xml"
When using xmlchange on a test with a variable defined in env_test.xml the change is overwritten by the value in env_test.xml.  We should add a warning to the user with the following text:
Warning:  This variable is defined in env_test.xml and will be overwritten if you wish to change the value for the test add the flags --file env_test.xml to your xmlchange command line.

[2020-08-18 17:45] #3669 closed

[2020-08-18 17:51] jgfouca commented on #3667
I'd rather not leave a bomb in CIME that will cause E3SM problems the next time we update our submodule. Is there no way, using conditionals or preprocessor, to have both models get what they need?

[2020-08-18 18:26] mvertens commented on #3667
We have a real issue here in that this is holding up the CESM2.2 release.
As I mentioned in the call 2 weeks ago - I think if we separate out the
data models so that we do not step on each other - this becomes a
non-issue. Maybe this is the time to do it.

On Tue, Aug 18, 2020 at 11:52 AM James Foucar <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
Na

[2020-08-18 18:32] jgfouca commented on #3667
@mvertens , I agree. I think further separation is probably needed.

[2020-08-18 18:34] mvertens commented on #3667
@jgfouca - I think we are on the same page. And I know that @billsacks and @rljacob agree with this as well.

[2020-08-18 18:38] rljacob commented on #3667
Go ahead and fix master for your release and we will find a better solution for this particular piece of code.

[2020-08-18 18:44] mvertens commented on #3667
@rljacob - thanks!

[2020-08-18 19:55] ekluzek opened #3672 "Finish moving fox library over in the Makefile"
The fox library has been moved over from being part of the Externals_cime.cfg file as src/externals/fox to being part of CDEPS. The Makefile needs to be updated to show this change.

[code]

[2020-08-18 19:58] jedwards4b commented on #3672
@ekluzek I think that the entire section can be removed.  Testing now.

[2020-08-18 20:11] WesCoomber opened #3673 "New K_TestCimeCase scripts_regression_tests failure on Mappy"
From Jim Foucar:
there is a new CIME regression test failure on mappy

https://my.cdash.org/viewTest.php?onlyfailed&buildid=1868364

[2020-08-18 22:29] jedwards4b commented on #2161
@jgfouca I was thinking about this - what if we add a timestamp to each xml variable and use it to determine whether the value on file is newer than the value in memory?  Would this allow us to do things like change the RESUBMIT value while the model is running without otherwise slowing things down too much?

[2020-08-18 23:51] #3667 closed

[2020-08-19 15:40] mnlevy1981 commented on #3338
I wanted to chime in to say that I was able to change `RESUBMIT` in a CESM case (using `cime5.8.28`) while the model was running -- I did this just last week. I have the short-term archiver on, and I believe it is the archiver that actually re-submits the job when `DOUT_S = TRUE`, so my theory based on this thread is that I would not have been able to change `RESUBMIT` on the fly if the archiver w

[2020-08-19 15:46] jedwards4b commented on #3338
@mnlevy1981 it is plausable - if the python object code which is going to use that variable is not in memory when you make the change then there won't be any error.  This could be because the model is in the queue or because you have DOUT_S=TRUE and you change the value while the model and not the archiver is running.

[2020-08-19 16:35] billsacks commented on #3667
@rljacob @jgfouca @apcraig - let me know if you want my input regarding getting the necessary changes in so this continues to work for E3SM.

[2020-08-19 16:38] jgfouca commented on #3654
@WesCoomber , your fix for this broke E3SM. The errors look like this on mappy:

[code]

Please rethink your fix for this issue. Also, let's see if we can add a test to scripts_regression_tests so that we don't have this issue again. E3SM must be doing something with check_input_data that is not currently being tested.

[2020-08-19 16:45] jedwards4b commented on #3654
Note that /sems-data-store/ACME/inputdata/atm/cam/chem/trop_mozart/ub is a directory and not a file and so this is probably an error in the namelist_defaults.xml file in cam.

[2020-08-19 16:46] jedwards4b commented on #3654
Even if that is the case, the error message printed here should be more clear.

[2020-08-19 16:52] jgfouca commented on #3667
@billsacks , yes, can we meet on slack?

[2020-08-19 17:12] #3672 closed

[2020-08-19 18:01] billsacks commented on #2515
See also #3678 , but that still doesn't go as far as this issue suggests in terms of flexibility.

[2020-08-19 18:13] jgfouca commented on #2161
@jedwards4b , I hadn't thought of that. I'm going to begin this effort soon and so will be thinking about it more

[2020-08-19 18:21] #3673 closed

[2020-08-19 19:09] rljacob commented on #2161
Discussion from telecon:  would add an attribute to each variable that has a timestamp.   But checking that could be slow.

[2020-08-19 21:28] fischer-ncar commented on #3668
@ekluzek are you doing the PR for this, or do you want me to do it?

[2020-08-19 21:33] ekluzek commented on #3668
I'm doing it. I have a branch for it and the other issue now. I'm doing testing and I'll submit the PR for it.

[2020-08-19 21:38] fischer-ncar commented on #3668
Do you want me to make sure the files are on svn inputdata?

[2020-08-19 22:27] ekluzek commented on #3668
Yes, if you could do that part, that would be great. It would be good to know all these new grids are in svn inpudata.

[2020-08-20 17:09] #3668 closed

[2020-08-20 22:13] ekluzek commented on #3653
Reopening this, because the current fix is to just not use 2014 data. Longer term we want to use the corrected data.

[2020-08-23 18:47] mvertens commented on #3662
This can now be handled with the new CDEPS infrastructure. However, this requires the nuopc caps and CMEPS.  Have we decided what to do with the MCT version at this point?

[2020-08-23 18:59] mvertens opened #3681 "PR#3666 breaks building I compsets with NUOPC"
It looks like only the scripts_regression_tests.py were run. I think this is a mistake and we need to run at least the nuopc testlist_drv.xml test suite before doing a CIME PR in the future.

[2020-08-23 19:13] ekluzek commented on #3681
Note, also that "A" compsets fail as well.

For example...

I have fails in both: SMS_Vnuopc_Ld1_N3.f19_g17_rx1.A.cheyenne_intel.drv-default and the I compset SMS_D_Ld5_Vnuopc.f10_f10_musgs.I2000Clm50BgcCropGs.cheyenne_intel.clm-default.

The A compset fail looks like this:

docn built in 0.405266 seconds
drof built in 0.405693 seconds
Building test for SMS in directory /glade/scratch/erik/CESM/ci

[2020-08-23 19:14] ekluzek commented on #3681
The I compset fails in finding the dshr_* modules...

Building test for SMS in directory /glade/scratch/erik/CESM/cime/scripts/SMS_D_Ld5_Vnuopc.f10_f10_musgs.I2000Clm50BgcCropGs.cheyenne_intel.clm-default.20200821_193618_f1mdc7
/glade/scratch/erik/CESM/components/clm/src/cpl/nuopc/SoilMoistureStreamMod.F90(11): error #7002: Error in opening the compiled module file.  Check INCLUDE paths.   [DSHR_S

[2020-08-24 05:06] rljacob opened #3682 "Allow blocks of strided tasks in mct driver"
On a machine like Summit, where some components make better use of GPUs then others,  we may want a case where the ocean is strided across pe 1, 8, 15 (ie stride of 7) but for sea-ice, we want  it on pes 2-7, 9-14, 16-22 (blocks of 6 strided by 7).

the mct driver can't do this.  There also is no logic within CCS to specify a block stride greater than 1.

[2020-08-24 13:48] jedwards4b commented on #3681
A logic error in the bld cdeps line.  I've pushed the fix directly to master.

[2020-08-24 13:48] #3681 closed

[2020-08-24 16:57] WesCoomber commented on #3654
@benjamin-cash I double checked and "cam.input_data_list" is originally intended to have data paths to directories And file paths to files.

For example, in a successful case test `acme/scratch/SMS_D_Ln5.ne4_ne4.FC5AV1C-L.mappy_gnu.20200821_204136_ox369z/Buildconf/cam.input_data_list`

I see at least 3 entries that specify a directory path
[code]

_That means that the original issue raised here is

[2020-08-24 17:17] benjamin-cash commented on #3654
It makes sense, although in my case it remains an issue because it allowed an incorrectly specified input_data_list to go through and the model crashed. It would be much more useful as a checker if there was some way to specify if something is supposed to be a file or a directory and then check_input_data verified that, rather than just if the path exists.

[2020-08-24 17:42] billsacks opened #3683 "Limit on string length in shr_string_listMerge can sometimes be exceeded"
A user who was trying to run CESM with 36 glacier elevation classes ran into a string length limit in `shr_string_listMerge` that caused the model to abort. The fix is relatively straightforward. I'll run some tests and submit a patch soon.

[2020-08-24 17:52] billsacks opened #3684 "MCT cases fail with "argument of type 'NoneType' is not iterable""
With latest cime master, a basic create_test with an mct case (`./create_test ERP_Ln9.f45_g37_rx1.A.cheyenne_intel`) is failing with this traceback:

[code]

@jedwards4b did you mean to add parentheses in the line in question: i.e., instead of this:

[code]

did you possibly mean

[code]

I haven't looked closely at the logic, but I think adding parentheses would fix the problem I ran into... but

[2020-08-24 17:54] billsacks commented on #3684
My suggested change - i.e.,

[code]

does let my build proceed for an mct case, but again, I'm not sure if this is the correct logic.

[2020-08-24 18:02] mvertens commented on #3684
Can we please ensure that tests are run with both mct and nuopc before the
next commit is done. I would propose an I compset in both cases at a
minimum.

On Mon, Aug 24, 2020 at 11:54 AM Bill Sacks <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-08-24 18:25] rljacob commented on #3654
@WesCoomber if cam.input_data_list has directory paths, those could all be mistakes.  For that to be allowed, there should be some logic in check_input_data to check every file in that path against the files in the same path on the input data servers and download missing files.

[2020-08-24 22:02] #3684 closed

[2020-08-25 00:46] jgfouca commented on #3338
@golaz, I'm looking at this issue now. The situation is extremely subtle, so I think the more precise we can be about the requirements, the better chance we have at getting an acceptable solution. @billsacks and @jedwards4b , feel free to chime in here as well.

Let's get a current lay of the land. As far as I can tell, the only potentially long-running case phase in CIME would be case.run. There

[2020-08-25 13:18] billsacks commented on #3338
@jgfouca thanks for your extensive thoughts on this. I'm not very familiar with the details of these CONTINUE_RUN-related variables, so I can't comment on that. Your overall plan sounds fine if you think it will work. Would this still allow the user to change other variables (like `STOP_N`) in the middle of the run and have them take effect in the next run?

Your point about this mainly being a pr

[2020-08-25 14:47] mnlevy1981 commented on #3338
This seems like a pretty big pro to me. I could see arguments for being able to change the value of some of the variables in `env_batch.xml` mid-run (this job sat in the queue for ever, so when CIME resubmits it I'd like `JOB_QUEUE` to point to a better queue; I increased `STOP_N` for the next run, so I need to increase `JOB_WALLCLOCK_TIME` as well) and I bet the more people you talk to, the large

[2020-08-25 15:34] mvertens commented on #2574
@billsacks - I think introducing a new GLC data model is a really good idea and should be done in CDEPS not in the CPL7/MCT data models.

[2020-08-25 16:24] golaz commented on #3338
@jgfouca and @billsacks : thanks for carefully considering options here. The details on how CIME works are nebulous to me, so I cannot really comment on the pros and cons of the proposed options. It seems to me like both options would solve the problem at hand. I do agree with @mnlevy1981's comment above that over time there is a risk of requests for more and more variables to be included in the `

[2020-08-25 16:51] jgfouca commented on #3338
@billsacks,

Yes. I think setting up things for the next run is generally a lot easier than trying to allow the user to impact the current running process. The only issue here is that you don't want to overwrite their changes when the current CIME process is closing itself, so I will likely restore the timestamp check once volatiles are implemented.

[2020-08-25 16:53] jgfouca commented on #3338
@billsacks , I will look into your idea of just reloading all of CIME after the executable is done, that seems like a pretty good idea.

[2020-08-25 16:59] billsacks commented on #3338
Okay, either way: I was imagining that handling user's changes in variables not in env_volatile.xml would still be tricky, due to this point:

but if that's not too hard to work around, then it seems like my Pro may not apply:

[2020-08-25 17:02] jedwards4b commented on #3338
But if the case is flushed prior to starting the model and reloaded upon completion then it seems that there would be no need to check consistency at the point of reloading - the file contains the correct values.  There is no way that I can think of that what is in memory could be updated after the flush.   Am I missing something?

[2020-08-25 17:06] jgfouca commented on #3338
@jedwards4b, everything would be OK except for local variables.

[2020-08-25 17:08] billsacks commented on #3338
Are you referring to this point?:

If so, what I was referring to was local variables like this (this may be the only current example):

https://github.com/ESMCI/cime/blob/503d6c56889fe84c04369f6810993280f77d5ab6/scripts/lib/CIME/case/case_run.py#L289

The local variable `postrun_script` is set before running the model but referenced afterwards. In this case, I think we could just move the setting

[2020-08-25 17:25] jgfouca commented on #3338
@billsacks , yep, that's exactly what I did.

[2020-08-25 19:02] ekluzek opened #3687 "PFS tests are failing on create_newcase..."
It looks like commit 87f875f4167d3e0193c06b121d5a0aa293b1227d is causing PFS to fail on creation of the case. This is in current latest cime master.

Here's an example of the error, for creation of the test: PFS_Ld20.f09_g17.I2000Clm50BgcCrop.cheyenne_intel

[2020-08-25 19:28] #3687 closed

[2020-08-25 19:28] #3683 closed

[2020-08-25 19:52] ekluzek commented on #2574
@mvertens the one catch is that the work that I need to do for Delft HAS to be in the CESM2.1. framework. In there I won't be able to use CDEPS. Unless we do work to back port it into CESM2.1, which isn't likely worth it. I suppose I could create it in CDEPS and then back port it into MCT into CESM2.1, but I don't know if that makes sense with the Delft time.

Now, if someone else works on this, o

[2020-08-25 19:57] mvertens commented on #2574
If you are already creating a dataglc in cpl7/mct as part of another funded
project  and its required as part of cesm2.1 please go ahead and do so. It
will be straightforward to bring this code into CDEPS.

On Tue, Aug 25, 2020 at 1:52 PM Erik Kluzek <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colo

[2020-08-25 22:39] #3631 closed

[2020-08-26 02:22] kdraeder opened #3690 "Faster way to generate multi-instance modelio namelists"
The ${component}\_modelio.nml\_${INST} namelists are written serially on 1 task,
while all the rest wait. For 80 instances (720 files) that takes 40 seconds,
while in the data assimilation context the 6 hour hindcast takes ~3 minutes
and the data assimilation another ~3 minutes.
The only thing that's changing in those files is the name of the log file,
so now we just look for an existing modelio n

[2020-08-27 16:36] billsacks commented on #3662
We'd ideally like this to work for the MCT version, too. @mvertens do you have a rough sense of how hard it would be to do something similar in the MCT data models to what you just did for CDEPS?

[2020-08-27 18:05] billsacks commented on #3662
I just talked with @mvertens and she feels it would be hard to port her CDEPS changes for this into the MCT data models, because they were so intertwined with other changes she has made for CDEPS.

So, @ekluzek , I feel we should close this issue and go with a more hacky fix for #3656... I'll add some more thoughts there.

[2020-08-27 18:06] mvertens commented on #3662
I think it will take a lot of work to do this in MCT. I think the right
approach is to move to CMEPS/CDEPS and put our effort there. Since I would
like to see the NUOPC version come in as the default in cesm2.3 - I think
that is the effort we should target.

On Thu, Aug 27, 2020 at 10:36 AM Bill Sacks <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
Na

[2020-08-27 18:12] billsacks commented on #3653
Thinking about possible ways to address this (other than #3662 , which @mvertens thinks won't be worth the time):

- I raised the possibility of listing out all files explicitly, but @ekluzek pointed out that, in addition to maintainability issues, there are performance issues related to reading in all files in initialization rather than just the subset of years you need for your case

- @ekluzek

[2020-08-27 18:13] billsacks commented on #3662
One question is whether this is needed for CESM2.1; @ekluzek ?

[2020-08-27 18:15] ekluzek commented on #3662
I don't think so. But, that is a question we need to check with CTSM scientists about: Dave, Will, and Danica.

[2020-08-27 18:16] ekluzek commented on #3662
The only reason we would need it in CESM2.1 is if there were new simulations being done that would need to run over 2014. I don't think that's planned at all at this point.

[2020-08-27 20:40] ekluzek opened #3692 "github is renaming master branch to main, should update documentation"
github is going to be renaming the master branch for all projects to main. This is a good change that we should go along with. The language we use in our code and code management needs to be inclusive and respectful to all.

This happens on Oct/1/2020 according to

https://github.com/github/renaming

We should update any README files and etcetera that refer to "master" to "main" when this happens

[2020-08-27 23:23] jgfouca commented on #3692
@ekluzek , E3SM is no longer using e3sm_cime_mgmt since we went to integrating CIME within E3SM via submodule.

[2020-08-27 23:48] rljacob commented on #3692
They aren't making existing projects change on Oct 1st.  That is when the default for new repos changes.   Later that year, they'll roll out tools to make it easier for existing projects to change.

[2020-08-28 19:25] #3338 closed

[2020-08-31 20:48] billsacks commented on #3453
These warnings seem to be getting worse. I have a feeling that some of them indicate some real issues. I haven't looked closely, but at a glance, it looks like there are some problems in the auto-generated api documentation related to directory restructuring.

[2020-09-02 15:50] jedwards4b opened #3698 "test_cime_case_test_custom_project (__main__.K_TestCimeCase) no longer relevent"
I think that this test has outlived its usefulness as written - any suggestions or should we just remove it?

[2020-09-02 18:54] #3656 closed

[2020-09-03 21:14] ekluzek opened #3699 "Add two new state fields to pass from ROF to LND"
For the CTSM hillslope model we need to pass two new state fields from ROF to LND (River tributaries water depth, and River tributaries bankfull (maximum) water depth) [Sr_tdepth and Sr_tdepth_max]. These are the first state fields for ROF to LND, so that also means there needs to be mapping files for states from ROF to LND.

This also means the ROF model needs to pass these new fields. We have th

[2020-09-03 21:24] ekluzek opened #3700 "Add new functions to shr_orb to calculate azimuth and incidence angle"
Add new functions to shr_orb to calculate azimuth and incidence angles. This is needed for the CTSM hillslope model.

[2020-09-03 23:32] mvertens commented on #3699
@ekluzek  - can we please add this same issue to CMEPS so that once its added to CPL7 it also gets added to CMEPS.

[2020-09-11 18:51] jedwards4b opened #3702 "source option should work with csh source files"
The PR
https://github.com/ESMCI/cime/pull/3689
only allows for sh style source files, but a minor change would allow it to work for csh as well.

[2020-09-12 23:32] rljacob opened #3704 "Archive tests failing after component name change"
I'm in the process of changing "clm" to "elm" in E3SM and have everything working except the SHORT_TERM_ARCHIVER part of even an SMS test.  The other parts of the test run fine (all files are created).

The error message is below.  I've renamed "compname" in config_archive.xml to "elm" but all the history files still have "clm2" in them.   Is there an assumption somewhere that the "compname" strin

[2020-09-12 23:46] ekluzek commented on #3704
I can't say where this assumption is. But, I can confirm I had the same thing happen with updating to "ctsm". The archiver needed to see that the name was component name with possibly a one digit version at the end (more than one digit doesn't work either). But, it does seem to need to match the component name. This also caused problems in some of the standard testing, I think likely because of th

[2020-09-12 23:50] ekluzek commented on #3704
By the way, you might want to look at PR #3664 just to see what I needed for ctsm, as that might help you for elm.

[2020-09-13 06:15] uturuncoglu opened #3705 "Need to implement parser for NUOPC formatted namelist files"
The CIME interface is providing a parse function for Fortran formatted namelist files but there is no such implementation for ESMF/NUOPC formatted namelist (or configuration) files. This is required to use user provided ESMF/NUOPC formatted namelist file to generate another Fortran formatted namelist file. In this case, the Fortran formatted namelist file basically requires some information from t

[2020-09-13 06:35] uturuncoglu opened #3706 "Namelist object returned form parse() function has no attribute '_definition'"
The namelist object returned by parse function has no attribute '_definition'.

user_namelist_file = os.path.join(caseroot,"SourceMods","src.ufsatm","atm_in")
nmlgen_input = parse(user_namelist_file)
var_type,_,_ = nmlgen_input._definition.split_type_string(var)

returns following error

[code]

an example input namelist file can be found in `/glade/work/turuncu/UFS/S2S/rt_194339/cpld_fv3_ccpp_mom

[2020-09-13 06:40] uturuncoglu commented on #3706
It seems that current _NamelistParser function does not include self._definition information.

[2020-09-13 17:56] rljacob commented on #3704
Thanks @ekluzek.  I had forgotten about the Makefile.

I found some lines like this in case_st_archive.py
[code]

I tried doing the same thing for elm:clm but that didn't help.

[2020-09-13 18:15] mvertens commented on #3706
@uturuncoglu - I am confused as to why you need this. Normally input namelists are generated by the component caps (e.g. cdeps) using the call
`nmlgen.init_defaults(infile, config)`

[2020-09-13 18:18] mvertens commented on #3705
@uturuncoglu - I don't undertand why you  would need this. The current functionality lets you take the namelist_definition_drv.xml file and create the nuopc.runconfig and the drv_in file and the modeio files. What is your use case that this is not working for?

[2020-09-13 21:19] rljacob commented on #3704
Another aspect of this fail is there is no "lnd" subdirectory under env_archive_test/archive

But when I finally change the output files to have "elm" instead of "clm" and remove my hack to case_st_archive.py, then it works!

[2020-09-14 17:12] ekluzek opened #3707 "Permissions should be changed after rpointer files are copied so that write for author is allowed."
We'd like to have files in inputdata to be read-only, so that someone can't accidentally end up changing or removing them. However, as it is now, cime relies on having the rpointer files to have write for author allowed. When cime copies the files for a REFCASE it doesn't change the permission, but cime requires that the author be able to overwrite them when running a case.

Thus the best way arou

[2020-09-14 17:17] ekluzek commented on #3707
It looks like it's this bit of code in lib/CIME/case/check_input_data.py subroutine stage_refcase.

[code]

It just needs to also change the write permission in the loop over rpointerfile.

[2020-09-14 17:27] mvertens commented on #3707
I do not want to hold up the release at this point to fix this without a
lot of extra testing. I think at this point we need to make sure that the
refcases have write permissions until this is fixed after the release.

On Mon, Sep 14, 2020 at 11:17 AM Erik Kluzek <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research

[2020-09-14 17:27] ekluzek commented on #3707
It looks like the change should be to add this line to the loop

`os.chmod(rpointerfile, 0o644)`

[2020-09-14 17:53] ekluzek commented on #3707
OK, so someone will do a PR for this for cime master (and also maint-5.6) sometime after the release.

[2020-09-14 18:58] ekluzek opened #3708 "Update ESMF version in mapping file wrapper script"
I'm not sure how important this is. But, we are currently using ESMF-7.0.0 for the mapping file wrapper script on cheyenne. We could update to 8.0.0 (and we use a specially concocted version for CESM called 8.1.0b23, so we could use that as well.

Also note that it's not setup for Casper, but could be. Using mpt2.22, intel-19.1.1, and esmf 8.0.0. It also needs to use casper* as the hostname rather

[2020-09-14 19:18] ekluzek commented on #3707
In email discussion @briandobbins notes another way to handle this "..., would be for CESM at run-time to change the write permission of the file before it's going to write to them. That would need to be done in the fortran code rather than in cime python scripting." I think I prefer to solve this in scripts, but see the advantage of in the fortran code as well.

[2020-09-14 19:46] briandobbins commented on #3707
And, per the email discussion:

Just to clarify, I think I'm in agreement on having files in inputdata being read-only to prevent corruption, but on copying to a user's directory (run or case), they should inherit the permissions of that directory.  Since the run directory will inevitably have user+write permissions, the rpointer files will get user+write then.  (But they won't get group+read, for

[2020-09-14 19:51] billsacks commented on #3707
Working on this....

[2020-09-14 19:52] ekluzek commented on #3707
Thanks for that clarification @briandobbins. It looks like the reason for the behavior is that safe_copy is being used, which defaults to preserving all metadata including permissions (from the directory it was copied from). So changing arguments on the safe_copy call would be another way to handle it. @billsacks let us know what you think...

[2020-09-14 20:54] billsacks commented on #3707
I spent some time digging into this. I really thought this must have worked at some point in the past (in part because I periodically run the command to make my own files in inputdata read-only, and I'm pretty sure that I own some refcases). But it seems like the cime behavior in this respect has been the same for at least the last couple of years – i.e., leading to failure if the rpointer file is

[2020-09-14 21:04] billsacks commented on #3707
An advantage of using os.chmod is that it would work on maint-5.6 as well as recent code. I should also say that, given that this problem seems to have existed for at least a couple of years, we might also choose to wait to fix it until after cesm2.2.0. I will talk with @mvertens in a bit.

[2020-09-14 21:23] ekluzek commented on #3707
I don't think there is much of a difference between the two approaches. And as opposed to @billsacks it looks to me like either one could work in maint-5.6 as well (both branches have a safe_copy call that could have preserve_meta changed).

Another impact of using preserve_meta=False is that the file times will be changed to be the copy time rather than the time from the REFCASE. There's maybe a

[2020-09-14 21:36] mvertens commented on #3708
I think it would be good to use the same version for the NUOPC work.

On Mon, Sep 14, 2020 at 12:58 PM Erik Kluzek <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-09-14 21:42] billsacks commented on #3707
@ekluzek - safe_copy in maint-5.6 has a different implementation that doesn't allow for a preserve_meta argument. (This is part of what led me to think that maybe this was a more recently-introduced bug, but it seems like the behavior is the same on maint-5.6 and master, despite differences in the implementation.)

[2020-09-14 22:17] billsacks commented on #3707
@mvertens and I talked. Given that this issue seems to exist in maint-5.6 (so CESM2.1) as well as master, it seems important that – for now at least – we change the rpointer permissions back to being owner-writeable. Given how close we are to the CESM2.2 release, and the fact that this hasn't seem to caused any problems with CESM2.1, we'd like to wait to fix this until after CESM2.2.0, so we have

[2020-09-15 00:57] rljacob opened #3709 "numbers vs. letters in component names"
We can have a component called "CAM8" but not one called "CAMX".  Where is this rule set?

I was able to create a fake "CAM8" compset with **only 2** edits.
One in our CAM config_compsets.xml
[code]
And one in config_component.xml
` <value compset="_CAM8"          >-phys cam5 -clubb_sgs -microphys mg2 -chem linoz_mam4_resus_mom_soag -rain_evap_to_coarse_aero -nlev 72</value> `
And "create_newcase

[2020-09-15 14:16] jedwards4b commented on #3706
As a general rule in python any variable or function who's name begins with an underscore should be considered off-limits for use outside of the module.

[2020-09-15 14:26] jedwards4b commented on #3709
This is set in the cam config_component.xml file...
For example in the cesm cam https://github.com/ESCOMP/CAM/blob/cam_development/cime_config/config_component.xml#L11 allows names cam30, cam40, cam50, cam60
I assume that cam8 is allowed in e3sm because it has something like cam%d

[2020-09-15 15:28] uturuncoglu commented on #3706
@jedwards4b Thanks. I'll modify that part.

[2020-09-15 15:28] #3706 closed

[2020-09-15 16:46] rljacob commented on #3709
We aren't using  <entry_id version="3.0"> in our config_component.xml.

https://github.com/E3SM-Project/E3SM/blob/master/components/cam/cime_config/config_component.xml

 I just had to add the line indicated above in our config_component.xml to make it legal.  But can't do the equivalent for CAMX.

[2020-09-15 16:56] rljacob opened #3710 "Should cime assume compname is in filenames?"
While changing "clm" to "elm" in E3SM, I found that the short term archiver was expecting "clm" to be in the filenames.  (see issue #3704).   I don't think CIME should force/assume that.

There is a block of code in config_archive.xml that looks like:
[code]

It seems we could use that to specify more about the filenames including if the root is "clm2" or "elm" or something unrelated to compname l

[2020-09-15 16:57] rljacob commented on #3704
Closing and moving discussion to #3710

[2020-09-15 17:00] #3704 closed

[2020-09-17 21:34] jedwards4b opened #3712 "Need to seperate driver and coupler logic"
In the past we didn't make a distinction between drivers and couplers in the cime
ccs, however the new cmeps coupler may be used by more than one driver and we need
to make a distinction.   Proposal to add a COMP_ROOT_DIR_DRIVER to config_files.xml and
make other changes required to allow this.

[2020-09-17 22:01] mvertens commented on #3712
I think this is a fantastic idea. Thanks.

On Thu, Sep 17, 2020 at 3:34 PM jedwards4b <notifications@github.com> wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-09-22 17:31] rljacob opened #3717 "Change name of CCSM_cppdefs"
At some point, we should change "CCSM_cppdefs" to something like "CIME_cppdefs".

Maybe we could keep both for a little while (one would be a copy of the other) to give models time to adjust.

[2020-09-23 03:43] WesCoomber commented on #2981
@jedwards4b Hi JimE I am looking into this issue.

The documentation says that the skip-preview-namelist option is supposed to skip calling preview-namelist during case.run.

_Could you give me an example of the steps to recreate proper usage and outcome of the --skip-preview-namelist option?_

When I create a new case (not a test) and run case.submit --skip-preview-namelist, I see the case still

[2020-09-23 19:35] jedwards4b opened #3720 "scripts_regression_tests.py test TESTRUNUSERXMLCHANGE problematic"
The test writes a script which overwrites itself
[here](https://github.com/ESMCI/cime/blob/master/scripts/lib/CIME/SystemTests/system_tests_common.py#L757)
On cheyenne the line mv {modelexe} {modelexe}.old overwrites the script currently being executed so that the next line
mv {modelexe}.real {modelexe}
is never executed and the test fails.

[2020-09-23 19:37] jedwards4b commented on #3720
Also f09 is too big a grid can we change to f19?  And we could change from a 5 day to a 5 step run by changing
STOP_OPTION=nsteps in config_test.xml

[2020-09-23 19:43] jedwards4b commented on #3720
I realise that this interpretation of the problem is incorrect - the cesm.exe is moved to cesm.exe.real but the new cesm.exe from the script does not appear to be written.

[2020-09-24 13:23] justdoGIT opened #3722 "uboot unable to compile in ubuntu 16.04"
uboot is throwing error while running make command in ubuntu 16.04

`$ make`

the error is

I think the reason is that make  version in ubuntu 16.04 is v3.81 and undefine keyword is supported after v3.82.
Is there any way to install latest version of make in ubuntu 16.04

[2020-09-24 13:34] jedwards4b commented on #3722
uboot is not a part of cime - did you intend to open an issue here?

[2020-09-24 13:34] #3722 closed

[2020-09-24 13:38] justdoGIT commented on #3722
I am really sorry for this inconvenience

On Thu, 24 Sep, 2020, 19:04 jedwards4b, <notifications@github.com> wrote:

[2020-09-25 17:49] #2981 closed

[2020-09-25 17:49] #3720 closed

[2020-09-25 22:38] jgfouca commented on #3717
This should be pretty easy. @WesCoomber , you should note that this will impact the E3SM build system too.

[2020-09-29 23:44] wlin7 opened #3724 "Missing chem_mech files in E3SM CaseDocs after renaming CAM to EAM"
After [renaming CAM to EAM in E3SM](https://github.com/E3SM-Project/E3SM/pull/3845), the following two files are not copied to CaseDocs
[code]
Need to change the 'cam' substring in 'camconf' near the end of cime/scripts/lib/CIME/case/preview_namelists.py. The piece of codes are copied below
[code]
To make it work for both cam and eam, need help to replace the substring 'cam' with the atm COMP_NAME

[2020-10-01 20:37] #3724 closed

[2020-10-01 20:42] jedwards4b commented on #3710
Although I do agree that changing the name from clm to elm should not present an error (Where by the way is the error?)
I do think that we should have some conventions for file names including requirements for comp name in history and restart files.

[2020-10-01 20:45] jedwards4b commented on #3709
I think that you would need CAM.X or CAM%X, CAMX is assumed to be a component different than CAM.

[2020-10-01 21:06] rljacob commented on #3710
The error is in the archiver.  See original discussion in #3704

I agree that a climate modeling group should require an identifying name in history and restart files and CIME should allow you to enforce that but I'm not sure CIME should require it.   Or it should not require that the string in the filename exactly match a COMP name.

[2020-10-01 21:08] rljacob commented on #3709
But where in CIME is "CAM5" and "CAM6" allowed but "CAMX" made illegal?

[2020-10-01 21:18] jedwards4b commented on #3709
I think it's in cam/cime_config/config_component.xml or config_compsets.xml

On Thu, Oct 1, 2020 at 3:08 PM Robert Jacob <notifications@github.com>
wrote:

--
Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2020-10-01 21:59] ekluzek commented on #3710
From what I could tell from my work on this, somewhere in cime there is a requirement that the compnames used in filenames in the archiver, need to be the same as the compname with an optional single digit version identifier on the end. I didn't figure out where this was coming from, but it appeared to be the case. I couldn't for example have a two digit version identifier it needed to be one. And

[2020-10-01 22:25] jedwards4b opened #3728 "scripts_regression_tests.py Y_TestUserConcurrentMods is failing for cesm"
It seems to archive the cesm.log before the file is grepped to look for the run successful message.

[2020-10-01 22:51] billsacks commented on #3710
I believe the assumption is here

https://github.com/ESMCI/cime/blob/7188df18bfffe1dc4ad4e952ba7b41bea352d5aa/scripts/lib/CIME/XML/archive_base.py#L98

and here

https://github.com/ESMCI/cime/blob/7188df18bfffe1dc4ad4e952ba7b41bea352d5aa/scripts/lib/CIME/XML/archive_base.py#L168

though I can't guarantee that those are the *only* places where that assumption is made.

[2020-10-05 13:54] #3707 closed

[2020-10-05 17:38] jedwards4b commented on #3728
The test is also writing to the default archive directory instead of creating one in the TEST_ROOT and is not cleaning up after itself.

[2020-10-05 19:05] jedwards4b commented on #3728
It seems like a race condition, sometimes the test will pass and other times I get:
ERROR: Model did not complete, no /glade/scratch/jedwards/scripts_regression_test.20201005_115759/TESTRUNUSERXMLCHANGE.f19_g16.X.cheyenne_intel.fake_testing_only_20201005_115804/run/cesm.log.4498193.chadmin1.ib0.cheyenne.ucar.edu.201005-120142 log file
However this file is in the archive/TESTRUNUSERXMLCHANGE.f19_g1

[2020-10-05 21:04] jedwards4b commented on #3728
The test cannot be rerun from the test directory because the number of occurrences of string
"model execution success" will increase with each run.

[2020-10-06 19:11] billsacks opened #3731 "Switch to using pio2 by default in CESM"
We're ready to switch to pio2 by default in CESM!

@jedwards4b can you please go ahead with whatever changes are needed for this at your convenience?

[2020-10-06 19:43] gold2718 commented on #3731
Which models has this been tested with (i.e., who is "we")?

[2020-10-06 19:45] mvertens commented on #3731
We can discuss this in more detail at the CSEG meeting today.

On Tue, Oct 6, 2020 at 1:43 PM goldy <notifications@github.com> wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-10-06 22:49] jgfouca commented on #3728
@jedwards4b , thx, I will take a look.

[2020-10-07 17:21] jedwards4b opened #3733 "Remove pio1 from cime"
Now that pio2 is the default I would like to remove the pio1 and pio2 directories from cime and
make src/externals/ParallelIO a git submodule from https://github.com/NCAR/ParallelIO
remove variable PIO_VERSION
and clean up buildlib.pio and the Makefile.

[2020-10-08 04:02] rljacob commented on #3733
This would be the first submodule in CIME?   Fine with me.

[2020-10-12 18:26] fischer-ncar opened #3735 "PR #3716 is breaking Memory Leak Test"
PR #3716 adds a memory usage query before the run loop.  This is causing a false MEMLEAK failure for mpi-serial tests
like

SMS_Ly3_Mmpi-serial.1x1_numaIA.I2000Clm50BgcCropQianGs.cheyenne_intel.clm-clm50dynroots

A possible fix would be to skip the first memory usage message in the logs during the memory leak test.

[2020-10-12 18:34] rljacob commented on #3735
Can this be reproduced with an A or X case?

[2020-10-12 20:24] fischer-ncar commented on #3735
I haven't been able to reproduce with A or X case.

[2020-10-12 23:45] amametjanov commented on #3735
@fischer-ncar can you please post an example from that case run? Here is what I see with current master in `SMS.f19_g16_rx1.A.anvil_intel`'s cpl.log:
[code]
Mem-leak check looks at `highwater` numbers and if highwater[penultimate day] - highwater[first written day] is greater than machine-specific tolerance (or 10%, if no `TEST_MEMLEAK_TOLERANCE ` is specified), then MEMLEAK error is raised.

@jgf

[2020-10-13 00:13] fischer-ncar commented on #3735
Here's an example of that case run.
[code]

[2020-10-13 13:27] #3735 closed

[2020-10-14 17:11] #3728 closed

[2020-10-14 17:37] #3717 closed

[2020-10-15 16:27] jtruesdal opened #3742 "FMS library needs to be set as required in Externals.cfg"
The fms external library is currently listed as not required and prevents building CAM with the FV3 dycore out of the box.  The fix is to list the fms external library as required. A workaround is to manually checkout fms after running manage_externals

manage_externals checkout externals

 or to call manage_externals with the -o option when first checking out the externals.  This will check out d

[2020-10-15 16:30] gold2718 commented on #3742
First, why is this a CIME issue, CIME does not manage the CESM (or CAM) Externals.cfg files.

Second, since this is only needed in a small minority of use cases, why not push the responsibility for making sure it is checked out into CAM's buildlib?

[2020-10-15 16:32] jtruesdal commented on #3742
I'm happy to list this as an issue where ever the group feels its appropriate.

[2020-10-15 16:35] jedwards4b commented on #3742
Move to https://github.com/ESCOMP/CESM/issues

[2020-10-15 16:35] #3742 closed

[2020-10-15 16:36] gold2718 commented on #3742
Or CAM issues?

[2020-10-15 17:17] jedwards4b opened #3743 "Q_TestBlessTestResults hanging on master"
This test is hanging with a PEND for GENERATE phase.  CIME_MODEL=cesm, CIME_DRIVER=mct, nuopc

[2020-10-15 20:10] jedwards4b commented on #3743
The problem appears to have been introduced in commit d3d6ac28f16

[2020-10-15 20:42] ekluzek commented on #2817
The process I follow now on cheyenne is:

[code]

[code]
[code]

You then have your FORGE client set up how CISL recommends it, so that it can listen to cheyenne and bring up DDT when it starts running in the queue.

NOTE: The "-keep (-k) option is a critical step that is now required. Otherwise it'll overwrite the env_mach_specific.xml file with the default version (same as the env_mach_speicifc.

[2020-10-15 21:15] #3743 closed

[2020-10-15 21:20] jedwards4b opened #3745 "Y_TestUserConcurrentMods fails with CIME_DRIVER=nuopc"
Fix incoming

[2020-10-16 15:22] #3745 closed

[2020-10-17 13:59] billsacks commented on #3733
I fully support removing pio1. However, I'd like to suggest that we wait a little while – maybe a month or two – after switching to pio2 as the default. That way, if issues are found after this switch, it will be easy for us to do A/B testing with pio1 vs. pio2.

[2020-10-19 17:52] ekluzek opened #3749 "Update CO2 SSP files to have datasets that include the historical period"
For datm update the SSP CO2 files so they include the historical period. Note this is already done for SSP1-1.9 and SSP4-3.4. Doing this allows us to use SSP files for historical simulations that go up to present day.

[2020-10-19 17:53] ekluzek opened #3750 "Include historical period for presearo SSP datasets"
#3749 for presearo files.

[2020-10-28 18:34] ekluzek opened #3758 "New grids needed for mizuRoute"
We need to add some new grids for use by mizuRoute: HDMAmz over CONUS, USGSmz over CONUS for nldas2 grid for land.

[2020-11-02 14:26] jedwards4b opened #3762 "Z_FullSystemTest failing on master"
It appears that the second build in the system_tests_compare_two tests are failing.  The problem seems to be on all systems and all compilers.

[2020-11-02 14:32] jedwards4b commented on #3762
Running a single test ERP_Ln9.f45_g37_rx1.A from the command line is also failing in the same way:
case2 sharedlib_build is not completed before the job is submitted.

[2020-11-02 14:42] jedwards4b commented on #3762
This test passes with hash 2b860e536

[2020-11-02 14:52] jedwards4b commented on #3762
Also passes with hash c75b863a7 but fails in hash 03ba87d9.

[2020-11-02 15:22] jedwards4b opened #3763 "On Izumi ctest is not reading CTestConfig.cmake"
Thus the CTEST_DROP variables are not set and the tests are failing to upload.

[2020-11-02 16:02] jedwards4b commented on #3763
The cmake version on izumi is 3.17.0, I installed 3.19.0 to my directory and ran with that one, it seems to have solved the problem.

[2020-11-02 17:44] jgfouca commented on #3762
@jedwards4b , I'm looking at it, but I don't see how 03ba could have caused these problems.

[2020-11-02 17:47] jgfouca commented on #3762
My testing confirms the problem. My fault for thinking code-checker and some by-hand testing was adequate for such a simple PR.

[2020-11-02 17:47] jedwards4b commented on #3762
I don't either, that's why I waited for you.  Have you tried to reproduce?

[2020-11-02 20:12] #3762 closed

[2020-11-03 16:20] johnsonb-ucar opened #3766 "create_newcase fails for multi-instance case using python3"
${CIMEROOT}/scripts/lib/CIME/case/case.py fails with the following error when attempting to create a multi-instance case when using python3.

[code]

This can be fixed by using explicit type conversion to convert ninst to an integer. This solution has been implemented in pull request #3765.

[2020-11-04 03:42] ekluzek commented on #3749
The file I've created for this is: $CSMDATA/atm/datm7/CO2/fco2_datm_globalSSP3-7.0_simyr_1750-2501_CMIP6_c201101.nc

[2020-11-04 03:48] ekluzek commented on #3750
The new file I created for this is: $CSMDATA/atm/cam/chem/trop_mozart_aero/aero/aerodep_clm_SSP370_b.e21.BWSSP370cmip6.f09_g17.CMIP6-SSP3-7.0-WACCM.001_1849-2101_monthly_0.9x1.25_c201103.nc

[2020-11-04 19:31] billsacks opened #3768 "Errors from scripts_regression_tests when running a subset of tests"
When running a subset of tests, I'm getting an error in the cleanup function:

Here is the end of the output from running `./scripts_regression_tests.py A_RunUnitTests` on cheyenne:

[code]

My guess is that the given directory is only created when running certain tests, and the cleanup function needs to be more robust to the possibility that this directory may not have been created.

[2020-11-04 19:34] billsacks opened #3769 "Avoid building CDEPS with CTSM's LILAC"
For now, we want to avoid building CDEPS with CTSM's LILAC because it's not needed in this configuration and CDEPS relies on unreleased ESMF code. I will submit a PR that avoids building CDEPS when using LILAC, similarly to what's done for ufs.

[2020-11-04 20:00] #3769 closed

[2020-11-05 22:21] jgfouca commented on #3768
Assigning @WesCoomber since this is a good beginner issue.

[2020-11-11 23:31] ekluzek commented on #3758
So the list of resolutions we want are: f19_g17_rHDMA, 5x5_amazon_r05,  5x5_amazon_rHDMA,  nldas2_rUSGS_mnldas2,  nldas2_rHDMA_mnldas2. For all but the amazon ones, we have mapping files and simplified mesh files to put into place. The default resolution for mizuRoute is r05mz, so other resolutions will default to it. The 5x5_amazon_rHDMA resolution will run with the full mesh file. I've got this

[2020-11-13 07:31] ekluzek opened #3776 "Python3 compatibility issue for statistical ensemble test"
We noticed some python2 type print statements in:

cime/tools/statistical_ensemble_test/pyCECT/pyEnsLib.py

https://github.com/ESMCI/cime/blob/master/tools/statistical_ensemble_test/pyCECT/pyEnsLib.py#L26

These should be changed to the python3 syntax. Are there other python2 issues in there as well?

[2020-11-13 08:14] ekluzek commented on #3776
Doing some grepping I see that it's an extensive problem for the stat ensemble test code. But, also a problem for tools/load_balancing_tool/tests/load_balancing_test.py.

And I was surprised to see a few instances in

scripts/lib/CIME/utils.py

[2020-11-13 20:44] ekluzek opened #3778 "mesh file needed for nuopc driver for nldas2 grid"
nuopc mesh files are only provided for a subset of the grids. Specifically the CTSM regional grids 5x5pt_amazon are missing as well as its hcru_hcru grid and the nldas2 grid.

We really want to at least add the nldas2 grid for work with mizuRoute.

The single point mesh files are missing also. Apparently the single point grids, 5x5_amazon, and hcru are no longer needed through some magic in CMEPS

[2020-11-13 22:25] ekluzek commented on #3778
It looks like I convert them from the SCRIP files using ESMF_Scrip2Unstruct.

[2020-11-15 00:13] mvertens commented on #3778
There are no nuopc mesh files that should be needed for single point grids.
These are created at run time. I am happy to talk to you more about this
next week.

On Fri, Nov 13, 2020 at 3:25 PM Erik Kluzek <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.

[2020-11-17 19:47] bishtgautam opened #3780 "Removing CLM from namelist variables"
Many namelist variables that are shared by CTSM and E3SM include `CLM`

https://gist.github.com/bishtgautam/f912aaa94f4c95c28ecc071864902281

cc: @billsacks

[2020-11-17 19:56] billsacks commented on #3780
@bishtgautam I agree with the principle of removing "CLM" from these names, but I'm concerned about the possible problems caused by doing so. At the very least, this would require extensive testing in CESM as well as E3SM to ensure that nothing is broken. It looks like the vast majority of the issues are in the data models, and this would become easier for you when we split the e3sm and cesm data

[2020-11-17 20:04] bishtgautam commented on #3780
In E3SM, we were hoping to replace most of namelist options with `CLM` to `ELM` by v2.0 release. @rljacob can provide an estimate of E3SM v2.0 release deadline.

This sounds reasonable and let me come up with a list.

[2020-11-17 20:09] rljacob commented on #3780
Actually I can't because it depends on the progress of v2 tuning, v2 sims and new non-BFB development.  We should have our own versions of the data models and coupler by then so may not need a uniform solution but it would be good to find one anyway because the data models should be agnostic about the names of other models.

[2020-11-17 20:30] ekluzek commented on #3780
It does make sense that data models should be agnostic toward names of other models. And I do see the point of changing these. I agree with @billsacks that I'm concerned about the practicality of doing this. I think the options that are under the component cime_config are able to be truly independent, but these data model XML/namelist things are shared by both. So we should make sure the new names

[2020-11-17 20:40] ekluzek commented on #3749
We've decided we should change this so that the historical file is used until 2015-01-01 and then flips to the SSP for 2016.

[2020-11-17 20:43] ekluzek commented on #3778
Awesome about the single point grids. Three of these grids I'm asking for are regional grids. One is small a 5x5 grid (5x5pt_amazon), but the other is continental US at 0.125 resolution so it's a large grid, and needs a mesh file for it (nldas2). hcru is also a half degree global grid, so obviously needs a mesh file as well.

[2020-11-17 20:44] ekluzek commented on #3750
We've decided we should change this so that the historical file is used until 2015-01-01 and then flips to the SSP for 2016.

[2020-11-17 20:59] mvertens commented on #3778
That sounds reasonable.

On Tue, Nov 17, 2020 at 1:43 PM Erik Kluzek <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-11-17 21:08] billsacks commented on #3766
It looks like this issue should be closed, given #3765 . @johnsonb-ucar do you agree?

[2020-11-17 21:11] billsacks commented on #3776
The prints I see in utils.py are just in a doc string, so don't impact the running of the code.

[2020-11-17 21:44] mvertens commented on #3780
I think this really points to yet another reason why we should split out
the data models out of cime and have each group use their own version. We
had talked about doing this over the summer - but there were other
priorities that needed to be addressed so this has been put as a lower
priority. But this is exactly the type of example that I would think would
raise the priority of doing this.

On Tu

[2020-11-17 22:55] johnsonb-ucar commented on #3766
Hi Bill: Yes I think it should be closed since the issue is fixed.

[2020-11-17 23:00] rljacob commented on #3780
That's a way around this but it doesn't tackle the root problem that, for example, datm config files should not be filled with variables that have "CLM" in them even if its a CESM version of datm.

[2020-11-17 23:25] #3766 closed

[2020-11-18 00:36] bishtgautam commented on #3780
I agree with everyone that it would be a long term goal to separate out data models and renaming all variables to remove CLM will require a lot of testing. Can we consider the following four namelist variables for renaming?

[code]

[2020-11-18 16:17] billsacks commented on #3780
Hmmmm, I can see how those would be good things to change, and yet my gut reaction is that those are also ones that might cause some of the most disruption – requiring testing, maybe changes to CESM/CTSM, documentation, and potentially many users' personal scripts as well as machine ports that specify DIN_LOC_ROOT_CLMFORC. I'm not sure what the best way is to proceed here, because I agree that the

[2020-11-18 16:18] billsacks commented on #3780
@mvertens @ekluzek I'm interested in whether you share my gut reaction or if you think it wouldn't be too bad to rename these. (This really was just a gut reaction rather than being based on any analysis of code or documentation to see what would need to change.)

[2020-11-18 17:55] bishtgautam commented on #3780
Let me give that this a try and I will report back.

IMO, CIME should give an error message and tell users to instead use `DATM_YR_ALIGN`. Otherwise, users will continue to use `DATM_CLMNCEP_YR_ALIGN`.

[2020-11-18 18:25] billsacks commented on #3780
The problem is that an error message doesn't allow for any time of backwards compatibility. Without backwards compatibility we are in the situation of not allowing any changes until everyone is ready to change all at once, which can be a challenge.

[2020-11-18 19:09] rljacob commented on #3780
People will change their scripts slowly as they update to whatever version of CESM will have this.  No need for everyone to change at once.

[2020-11-18 19:19] ekluzek commented on #3780
It looks like changing those wouldn't be. maybe as hard as we originally thought. Most of the instances of this are just in cime, with some others in CTSM (and obviously in. ELM as well). But, there's also a bunch of instances in CDEPS. Those would need to change as well.

I see one testmod with it for CTSM. PTCLM has a bunch of uses that would need to change. The documentation would need to chang

[2020-11-21 19:05] bishtgautam commented on #3780
I tried defining a new variable just for E3SM, but it didn't work.

[2020-12-01 20:50] billsacks opened #3783 "Removing CISM_USE_TRILINOS; how far should this cleanup extend?"
I'm removing the no-longer-used `CISM_USE_TRILINOS` variable from CISM in CESM, since this is always FALSE now. We could clean up some of cime by removing references to this variable throughout CIME (in `scripts/lib/CIME/build.py` and `scripts/Tools/Makefile`).

What I'm not sure of is how far we should go with this removal:

- Should we completely remove `USE_TRILINOS`, or is that still used in s

[2020-12-01 20:53] jedwards4b commented on #3783
I thought that TRILINOS was an e3sm thing, we don't use it anywhere as far as I am aware.   We also do not use ALBANY and do not use any c++ code.

[2020-12-01 21:50] rljacob commented on #3783
Yes E3SM is using TRILNOS and ALBANY and C++ code.  I'm not sure about the CISM_USE_TRILINOS variable.

[2020-12-01 22:15] billsacks commented on #3783
Thanks @jedwards4b and @rljacob - and @jgfouca should probably be in the loop here too. So I'm still unclear how far my cleanup can / should extend.

My original plan was to remove references to `CISM_USE_TRILINOS`.

But then it seems like this logic
https://github.com/ESMCI/cime/blob/1bcacca70fea0bf66b13909b787822ddc54f9c93/scripts/lib/CIME/build.py#L695-L702
would lead to `USE_TRILINOS` always b

[2020-12-01 22:58] jedwards4b commented on #3783
As I understand it E3SM no longer uses the Makefile so we can do whatever we need with it.  @jgfouca is this true?

[2020-12-01 23:55] billsacks commented on #3783
@jedwards4b to clarify what I meant: Although I could easily remove `USE_CXX` and other C++-related code from our Makefile, it would then leave a number of non-functional variables in config_compilers: I think everything related to CXX there. So I could remove all of those CXX variables from our config_compilers... but this started to feel like a more involved and risky task than what I originally

[2020-12-02 01:01] mperego commented on #3783
@ikalash I think these flags have to do with CISM Albany, can you comment on this?

[2020-12-02 04:37] ikalash commented on #3783
This actually predates my work on CISM.  @agsalin can probably comment on its original creation.  Basically initially CISM ran w/o Trilinos.  Then Andy hooked it up to Trilinos solvers, which led to the configure option.  My CISM-Albany interface requires Trilinos and it's in a feature branch, not in master E3SM.  I am not sure if you need the option in CISM master.  You could ask Steve Price or M

[2020-12-02 04:49] mperego commented on #3783
Thanks @ikalash. I'm checking with Steve and Matt. The USE_TRILINOS flag might be useful to build MALI in E3SM wiht the old build system (as a backup option).

[2020-12-02 07:20] ekluzek commented on #3778
OK, so hcru seems to work with create_mesh. And as far as I can see nldas2 should work as well, but it doesn't it fails as follows in output in cesm.log file.

[code]

[2020-12-02 07:21] ekluzek commented on #3778
It seems to work when I use a mesh file for nldas2. So I guess we'll go with that...

[code]

[2020-12-02 15:05] billsacks commented on #3783
@ikalash @mperego - I'm pretty sure I put these flags in originally, working with @agsalin and others. What I'm not sure of is whether / how this logic gets invoked in E3SM now. But actually, you helped clarify one thing for me: I wasn't sure if CISM is still used in E3SM, but based on your comment, it sounds like it is, at least in some feature branches. So based on that, I guess I shouldn't remo

[2020-12-02 17:17] ikalash commented on #3783
@billsacks : sorry, I'm not the right one to ask about this.  I don't work on CISM in CESM - I just own the ali_interface branch of CISM, which contains the interface b/w CISM and ALI.  We never released that as a part of CISM - it's in the E3SM repo.

[2020-12-02 18:17] jgfouca commented on #3783
@jedwards4b , we still use it to build sharedlibs.

[2020-12-02 18:29] jonbob commented on #3783
@jgfouca - you understand the build system way better than I do (which is close to not at all), but my quick look showed this gets set only when the glc model is cism? And that model is not one of the E3SM components. But we can look offline, or I'm happy to simply not risk breaking anything

[2020-12-02 18:46] jgfouca commented on #3783
@jonbob , apologies, my comment was too brief and unclear. I meant that we do still use the classic CIME Makefile in our builds in order to build some of our sharedlibs (it looks like PIO, MCT, mpi-serial, csm_share all still use it). I'm pretty confident that we do not need any TRILINOS or USE_CXX stuff for these sharedlibs. We do use that stuff to build our components, but as many have already p

[2020-12-02 18:47] jonbob commented on #3783
Thanks @jgfouca - that makes plenty of sense then. And thanks again for explaining

[2020-12-02 20:15] billsacks commented on #3783
Thank you all for your input. I'm still not very clear on the status of CISM within E3SM, but my takeaway from all of this is that any cleanup I try to do might break some branch(es) of E3SM. There isn't a huge need to do this cleanup as far as I'm concerned, so I won't touch this for now.

[2020-12-02 20:15] #3783 closed

[2020-12-07 20:15] #3731 closed

[2020-12-07 23:21] billsacks commented on #3218
I fixed this a while ago: #3356 and #3358

[2020-12-07 23:21] #3218 closed

[2020-12-09 23:30] jedwards4b opened #3790 "Attempt to fetch from allocatable variable DRIVER_TASK_NODE_MAP when it is not allocated"
The code introduced in #3788 appears to be generating an error when compiled in debug mode.
I tried the following test SMS_D.T62_g16.AIAF and got error:

0:forrtl: severe (408): fort: (8): Attempt to fetch from allocatable variable DRIVER_TASK_NODE_MAP when it is not allocated
0:
0:Image              PC                Routine            Line        Source
0:cesm.exe           000000000158DCB6  Unk

[2020-12-10 00:04] billsacks opened #3792 "Enhancement to nmlgen: Allow setting defaults for specific namelist groups conditionally"
(Preface: I know that we are not very invested in continued maintenance of nmlgen.py for CESM because of @alperaltuntas 's new infrastructure, but I think that what I'm proposing here will be pretty easy to implement, and will help with CISM's buildnml python rewrite.)

For CISM's build-namelist, there are a few namelist groups that we only add to the namelist if a certain other namelist variable

[2020-12-10 00:10] ekluzek commented on #3792
This could be useful for CTSM where we have the same sort of thing going on. But, right now we do a lot of custom code checking to ensure this is true. This general check would be an improvement to what we currently do.

[2020-12-10 00:12] billsacks commented on #3792
@ekluzek Thanks. Yes, I was thinking that, too, though I'm really hoping that we'll be able to leverage @alperaltuntas 's infrastructure for CTSM. (I have time pressure to get CISM's in, and it's much easier than CTSM's, so I'm going ahead with it before @alperaltuntas 's infrastructure has been incorporated.)

[2020-12-10 07:57] ekluzek opened #3793 "Add MERIT-Hmz grid for mizuRoute"
We'd like to add another grid for mizuRoute for the MERIT-Hydro grid. This global grid is even more complex than HDMA and we aren't successful at using ESMF regridding to to. do the mapping. However, we have our own offline way to create a mapping file in a different format than SCRIP map format. We plan to figure out how to convert the file format and then use it for the mapping for this grid. On

[2020-12-10 20:26] billsacks opened #3795 "Duplicate call to set_nodes in nmlgen:set_defaults looks suspicious"
I'm not 100% sure this is a bug, but it looks like one to me... if so, my guess is that it's just slowing things down a bit, probably not causing incorrect results, but it could still be worth fixing:

It looks to me like set_nodes is unnecessarily called twice here, and that only the second call (which saves the return results) should be done:

https://github.com/ESMCI/cime/blob/c258cdf083e55c950

[2020-12-10 20:36] billsacks commented on #3795
Here's another suspicious duplication: It looks like `self._entry_nodes.append(node)` will be called twice for each node:

https://github.com/ESMCI/cime/blob/c258cdf083e55c950b47562408e96a27a8411b74/scripts/lib/CIME/XML/namelist_definition.py#L103-L116

[2020-12-12 03:04] amametjanov commented on #3790
I've been trying to reproduce the error. SMS_D.T62_g16.AIAF works with `CIME_MODEL=e3sm`. Tried with `CIME_MODEL=cesm` on cori-haswell, but ran into other unrelated errors.

The array is allocated in src/drivers/mct/shr/seq_comm_mct.F90, TIMING macro is [defined here](https://github.com/ESMCI/cime/blob/master/src/build_scripts/buildlib.csm_share#L125) and is not e3sm-specific. If the build above d

[2020-12-12 12:46] klindsay28 commented on #3790
The allocation of `driver_task_node_map` in `src/drivers/mct/shr/seq_comm_mct.F90` is inside a `(info_taskmap_model > 0)` conditional, while the usage of `driver_task_node_map` in `src/drivers/mct/main/cime_comp_mod.F90` is not inside such a conditional.

The default value of `info_taskmap_model` in `src/drivers/mct/cime_config/config_component_e3sm.xml` is `2`, while the default in `src/drivers/m

[2020-12-14 16:58] fischer-ncar opened #3799 "PyCECT needs to updated to version 3.2.0"
The current version of PyCECT that's in tools/statistical_ensemble_test is out of date and is causing failed validation for POP-ECT in the SALT.

[2020-12-14 20:30] #3768 closed

[2020-12-14 23:03] amametjanov commented on #3790
Thanks! Any objections to turning on task-to-node mapping with INFO_TASKMAP_MODEL=1 in cesm? With it, cesm.log should have extra output of how many MPI tasks are bound to node by the resource manager (like Slurm): e.g. single-node 64x1 run of `SMS.T62_g16.AIAF.cori-knl_intel` has in e3sm.log
[code]
This can be a useful check of compacting tasks into as few nodes as possible: e.g. Slurm can spread

[2020-12-14 23:04] jedwards4b commented on #3790
@amametjanov why don't you fix the bug and let us decide whether we want the additional info?

[2020-12-14 23:14] jedwards4b commented on #3790
To be clear: we welcome the new information but info_taskmap_model=0 still needs to work.

[2020-12-15 04:00] alperaltuntas opened #3802 "Bug in coszen time interpolation in shr code"
When running with the JRA data streams, the `coszen` time interpolation algorithm in shr code appears to have a bug resulting in large flux values being passed from the coupler to components. We discovered this issue when running the G compset (both w/ POP and MOM6) and JRA-forced data atm. Note that the JRA SWDN datastream makes use of coszen time interpolation algorithm with an offset of 5400 se

[2020-12-15 17:11] rljacob commented on #3802
Alerting @jonbob

[2020-12-15 17:15] jonbob commented on #3802
Thanks @rljacob - I suspect that hits us as well