[2017-02-16 15:49] rljacob commented on #1150
Lets also stick to directory structure.  I'm going to open a different issue for a file rename.

[2017-02-16 15:58] rljacob opened #1155 "Rename manage_case to query_config"
"manage" is for scripts that can edit xml files.  "query" just reads them.

"manage_case" in its current version only reads xml files so we should change its name to "query_case".

[2017-02-16 16:49] cacraigucar commented on #1154
According to the book "Modern Fortran Explained" comments in namelists use the "!" character.  They may follow any object/name separator other than the slash.  Also a comment line which starts with ! is permitted, but it may not be within a character context.  On the web, I saw a reference that this was a part of Fortran95.

Namelists were extensions for years, and they varied by the machine.

[2017-02-16 17:03] agsalin commented on #1150
My thinking is about a new person seeing cime. One thing I would hope to accomplish is to visibly split the fortran from infrastructure scripts from model configuration. When someone enters cime, they will probably know which of those three they are looking for. Seeing the current list of directories doesn't make this clear (e.g it isn't clear that _share_ is source code at _utils_ is infrastructu

[2017-02-16 17:10] gold2718 commented on #1150
I don't think making the directory structure beginner friendly is a good engineering goal, that is what documentation is for. Rather, I would argue for a sustainable structure which allows for good maintenance, testing and code coverage practices to be implemented.
Also, I do not understand why utils makes a good synonym for 'tool source code'. In any case, most of our 'tools' (pre/post processing

[2017-02-16 17:18] rljacob commented on #1150
Since we ask users of various levels to navigate the CIME directory structure, it should make some intuitive sense so  you don't have to constantly refer to the documentation while moving around.   User friendly AND sustainable are not incompatible.

[2017-02-16 17:18] billsacks commented on #1150
To me, "beginner friendly" roughly equates with intuitive, which helps all of us

[2017-02-16 17:27] agsalin commented on #1150
Regarding csm_share split-up. For my cmake implementation, I teased out the dependencies so that libraries can be built in order. csm_share/shr files are split into 3 libraries. (1) Stuff that is built first with no dependencies, (2) two files that need to be built after mct and esmf but before driver_cpl/shr, and (3) then the rest that needs to come after driver_cpl/shr.

I test by doing fresh bu

[2017-02-16 17:28] gold2718 commented on #1150
I have yet to see a software system which is intuitive to all users and/or developers. However, I have also yet to meet anyone who thinks the current CIME directory structure is intuitive :)
I think @rljacob's point is important that we should be asking users for a minimal amount of CIME directory navigation (e.g., `<root>/scripts` is good, `<root>/share/csm_share/test/old_unit_testers` is not so

[2017-02-16 17:42] mvertens commented on #1150
I think this is an excellent discussion. I would like to clarify my
original concerns from yesterday. I think that changing CIME internally to
implement a better directory structure can happen at any time and its time
line should not be tied to the CESM release. The caveat being that whatever
we do should not effect the CESM component cime_config code if possible. I
think the majority of what Andy

[2017-02-16 18:05] billsacks opened #1156 "Fortran mapping unit tests fail if launched with multiple tasks"
In principle, we should be able to run the Fortran unit tests with multiple tasks, via mpirun. Most of them pass if you do this, but these four fail:

[code]

All of these exercise the coupler's mapping infrastructure.

Among other things, this means that you'll get a failure in `test_b_cime_f90_unit_tests` from set `N_TestUnitTest` if you launch scripts_regression_tests.py from yellowstone/calder

[2017-02-16 18:27] gold2718 commented on #1150
@agsalin, while your testing method is not bullet proof, your distinction between classes of files sound a lot like @jedwards4b distinction in #852. This suggests the beginning of a new structure:
`source/case` -- currently utils/CIME (need separate decision on location of test code)
`source/utility_code` -- stuff with no dependencies outside of this directory (your group 1)
`source/library_suppor

[2017-02-16 19:24] gold2718 commented on #1154
I agree with @cacraigucar that the exclamation mark is the Fortran standard. Close the issue?

[2017-02-16 20:00] #1143 closed

[2017-02-16 20:21] gold2718 opened #1158 "Missing missing mapping file checks?"
With this case:
[code]
[code]
Should this have been resolved before job submission?

[2017-02-16 20:54] mvertens commented on #1154
I agree. In fact comments with ! are already in place in the user_nl_files
and they are working fine.

On Thu, Feb 16, 2017 at 12:24 PM, goldy <notifications@github.com> wrote:

[2017-02-16 21:09] jedwards4b commented on #1154
what can i say - I was tired.  Thanks for pointing out the problem.

[2017-02-16 21:09] #1154 closed

[2017-02-16 21:28] gold2718 commented on #1155
Perhaps this should be merged with xmlquery into `case.query` (to match all the other case tools).
Then, `case.change` would be the tool for making case changes.

[2017-02-16 21:36] jedwards4b commented on #1155
We had a meeting on 1/30 with some of the scientists to explore requirements for the manage_case tool, I agree that it may be misnamed.  It is not a case tool but rather one you would use before creating a case.

[2017-02-16 21:37] jedwards4b commented on #1155
Renaming xmlquery and xmlchange would require extensive changes to external components, I'm not sure that's a good idea right now.

[2017-02-16 21:56] rljacob commented on #1158
+1 for yes it should be resolved before submission.

[2017-02-16 22:00] gold2718 commented on #1155
Can you list which 'external components' are affected?
We could always make case.query and case.change and then deprecate xmlquery and xmlchange. The xml versions would print a warning and then call the new routine.
I think the time to put in place (and document) a consistent UI is before the release.
Leaving the (deprecated) xmlchange and xmlquery routines in place for a while will help users tra

[2017-02-16 22:12] rljacob commented on #1155
@gold2718 please stop hijacking issues. :)

manage_case is available in cime/scripts.   xmlchange/xmlquery are only available to users after making a case.   I think we definitely want a config file query tool available to users before a case is built.

Since the difference is one works with config.xml files while the other works with env.xml files maybe xmlchange/xmlquery should be envchange/envq

[2017-02-16 22:34] rljacob commented on #1061
I see how the prefix helps order the labels since they're listed alphabetically in the dropdown menu.  But I want the labels to be short and concise so can the prefix be a letter or two instead of word like "topic"?

[2017-02-16 22:40] billsacks commented on #1061
@rljacob - yes, that sounds great.

[2017-02-16 22:45] gold2718 commented on #1155
Sorry, I guess this shows that all the tools are just a jumble in my head (more a property of my head than anything related to CIME).
I guess what I wanted is a discussion of the CIME UI in a unified context so we don't have to continually explain the weird command names and syntax (well, yeah that was --machine but this is --mach).
I would love to have a better tale to tell at this year's CESM tu

[2017-02-16 22:46] jedwards4b commented on #1155
There is no longer a --mach option anyplace.

[2017-02-17 00:00] agsalin commented on #1150
@mvertens : Thanks. My timing is based on my attempts to navigate the code, and realizing that I will (hopefully) become familiar with it an no longer be useful as a fresh set of eyes. To be clear, I am not implying that CIME is particularly bad for a code that has had so much development and usage, just that this type of exercise is useful periodically for any code. I realize that this is bad tim

[2017-02-17 00:02] jedwards4b commented on #1150
I'm okay with it as long as it's done in small focused increments with a lot of testing (including full model tests) between each one.

[2017-02-17 00:27] jgfouca commented on #1150
I'm OK with it too.

[2017-02-17 01:34] rljacob opened #1161 "Better detection of true machine at case.setup stage."
create_newcase will let you specify **any** machine with the --machine argument even if its not the one you're on.   If you then forget, because all your terminals look a like, and try to run case.setup on machineX for a case created on machineY, an error should be thrown.

This happened to me.  I created a case for anvil even though I was on my local laptop.  When I ran "case.setup", I got this u

[2017-02-17 01:39] jedwards4b commented on #1161
It's not always easy to determine what the correct machine is or should be.  For example there is no way to detect the difference between cori-haswell and cori-knl.   And sometimes you intentionally want to build on a different machine that is completely compatible with the one you've configured for - for example mira and cetus.   We can add a warning to the effect that you did not specify the mac

[2017-02-17 01:43] rljacob commented on #1161
You're right.  The machine string can be anything and doesn't have to correspond with the host name or anything discoverable.  A warning would help.

[2017-02-17 01:45] rljacob commented on #1161
Maybe not even a warning.  Just an informative message like:  Machine name is X, hostname is Y"

[2017-02-17 02:08] rljacob opened #1162 "Need new names for CIME's 2 types of test suite specifications."
(while we're talking about renaming things)

CIME supports two methods for specifying suites of tests: one xml-based and the other a python dictionary.   We've been calling these "acme" or "cesm" and conditionals are in create_test and other python scripts that reference those model names.   That practice doesn't fit CIME's model-neutral goals.   We need to refer to these two different methods in

[2017-02-17 02:26] mvertens commented on #1162
I think that's a very good idea.

On Thu, Feb 16, 2017 at 7:08 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-02-17 11:48] billsacks opened #1163 "Need to tweak unit test-related scripts to allow running unit tests on my Mac"
With the current master, I can't get the Fortran unit tests to build & run on my Mac. A few small tweaks should do the trick... incoming in a PR shortly.

[2017-02-17 15:01] #1163 closed

[2017-02-17 16:26] jayeshkrishna commented on #1033
The fix in the branch above only uses undefine if PNETCDF_PATH is defined. And at least on the acme machines (that use make 3.81) we don't define it (load modules) when building with mpi-serial.

[2017-02-17 16:31] #1033 closed

[2017-02-17 16:31] jayeshkrishna commented on #1033
To recreate this issue,
* Create an X case (./create_newcase -case test_unexport2 -compset X -res f19_g16 -mpilib mpi-serial)
* Run ./case_setup
* Explicitly define PNETCDF_PATH, PNETCDFROOT in Macros file
* Run ./case_build

[2017-02-17 18:28] gold2718 opened #1168 "WW3 does not create input_data_list"
Components provide their input data requirements in a `Buildconf/<model>.input_data_list` file, however, ww3 does not seem to produce this file so the model's data needs cannot be checked by `check_input_data`.

[2017-02-18 14:13] jedwards4b opened #1169 "create_newcase failing with user_grid option"
[code]

[2017-02-18 14:46] jedwards4b commented on #1169
It appears that the --user-grid option is causing the problem, this case seems to work without it - is it needed?

[2017-02-19 20:47] gold2718 opened #1170 "get_timing.py specifies component classes by hand"
Are lines like this:
`for k in ['CPL', 'GLC', 'WAV', 'LND', 'ROF', 'ICE', 'ATM', 'OCN']:`
appropriate in get_timing.py? They prevent get_timing from automatically picking up new component types (e.g., ESP).

[2017-02-19 20:54] gold2718 opened #1171 "Should system tests have specific component lists?"
Both pem.py and ncr.py have specific component lists, e.g.,
`for comp in ['ATM','CPL','OCN','WAV','GLC','ICE','ROF','LND']:` in pem.py and
`for comp in ['ATM','OCN','WAV','GLC','ICE','ROF','LND']:` in ncr.py
The pem test should include ESP but I want to make sure there is no reason to not use `get_values("COMP_CLASSES")` with an exclusion for 'CPL' and 'ESP' in the ncr.py test.
Anyone?

[2017-02-19 21:40] billsacks commented on #1171
My understanding is that the tests were originally written with hard-coded lists, then migrated to use get_values("COMP_CLASSES") as they were gradually refactored. So my guess is that these remaining problems are just in tests that haven't been reviewed carefully. You mention nck in your comment, but that one is actually good as far as I can tell - though ncr still has the original hard-coded com

[2017-02-19 21:43] gold2718 commented on #1171
Sorry, that was a typo, meant to be ncr.py as my example demonstrated.

[2017-02-20 00:02] jedwards4b commented on #1171
There is no reason that those can't use the get_values("COMP_CLASSES"), they just haven't been updated yet.

[2017-02-20 01:35] gold2718 commented on #1171
I'll toss that change into my current ESP work (to fix ESP being ignored).

[2017-02-20 19:47] gold2718 commented on #1171
Are these test types even tested by scripts_regression_tests? Do we need to add something?
I see a Yellowstone prealpha driver test for PEM.
I see an ACME prealpha and prebeta test that uses NCR (but I'm suspicious as it is for the T31_g37 grid which I doubt ACME is really interested in).

[2017-02-21 20:50] jgfouca commented on #1112
@gold2718 any luck getting this problem to reproduce on compute001?

[2017-02-21 21:57] gold2718 commented on #1112
I haven't had a chance to try it out yet (did get an account though).
I do think I know what the issue is and am working on a fix (hint, it's not slow performance, it's a good old-fashioned MPI_bcast hang).
When I have a fix, then I will make sure I can reproduce the issue and demonstrate that my fix works there.

[2017-02-21 23:42] mfdeakin-sandia commented on #1085
A proposed xml format can be found here: https://github.com/ESMCI/cime/blob/mfdeakin-sandia/cmake_build/cime_config/acme/machines/config_metabuild.xml

Also, why was this assigned to @jedwards4b?

[2017-02-22 00:12] rljacob commented on #1085
I don't know why I made that assignment.  Its been fixed.

[2017-02-22 00:12] agsalin commented on #1085
Copied from Slack:
Nice progress. I was not expecting this to be so verbose, assuming that this would need to be expanded for libraries beyond pio. It may just mean you are just far ahead of where I was thinking. I was thinking your idea was to make a list of translations: e.g.,
<entry  cime_var="MPICC" cmake_var="CMAKE_C_COMPILER" />,
and send it all to CMake and let it fly. Seems like you might

[2017-02-22 00:50] jedwards4b commented on #1085
Copied from Slack:  how would I use get_node to get the component element without any attributes?
I think this would work:
[code]

[2017-02-22 15:10] lvankampenhout opened #1175 "Add check on symbolic links in sourcemods directories when cloning"
When working with SourceMods I tend to create symbolic links to various places, notably the sandbox from where the source originates. This is helpful for diffing code and for archiving purposes. When cloning a case these symbolic links are not re-created, instead, the folder to which it points is deepcopied. This could potentially lead to problems (disc space usage) when symlinking to very large d

[2017-02-22 15:26] jedwards4b commented on #1175
The intention of the SourceMods directory is to isolate changes so that they only affect a single case.  If you are making modifications in the source sandbox then you don't need to put files into the SourceMods directory at all.   If you copy links from one SourceMods to another and then edit the link you may unintentionally edit the initial experiment an unintended and perhaps dangerous result.

[2017-02-22 16:41] mnlevy1981 opened #1176 "numbering in create_test output"
When I run `create_test`, I tend to leave the output in a terminal window and glance at it periodically to see when it finishes. Current output includes lines like

[code]

But seeing something like

[code]

where `X` is a running count and `Y` is the number of tests being created would be useful in knowing how far along the test suite is.

Relatedly, I noticed the `cs.status` script isn't created

[2017-02-22 17:17] jedwards4b commented on #1176
Tests are run in parallel so seeing test 4 of 8 completed a given phase is probably not a good indication that tests 1-3 have also completed that phase or that tests 5-8 have not.

[2017-02-22 17:38] mnlevy1981 commented on #1176
So each parallel task writes to stdout without communicating with the other tasks? I was just hoping for a running count of the number of tests that have been successfully built and submitted to the queue but I guess I could filter the results of `qstat` or `bjobs` and count by hand.

Any thoughts on generating the `cs.status` script at the beginning of `create_test` instead of the end?

[2017-02-22 17:41] mfdeakin-sandia commented on #1085
Doesn't work, unfortunately. ElementTree doesn't support not or most of the logical operators: https://docs.python.org/2/library/xml.etree.elementtree.html#elementtree-xpath

[2017-02-22 17:51] jedwards4b commented on #1085
Oh yea - I remember running into that now.   I've solved this problem before, let me look around.

[2017-02-22 19:07] jedwards4b commented on #1085
I think that the best way is to read them all using get_nodes and find the ones without attributes, this is a limitation of python elementtree and not of genericxml.py

[2017-02-22 19:12] jgfouca commented on #1176
@mnlevy1981 I can look into improving the output from create_test. It shouldn't be a problem to generate cs.status much earlier.

[2017-02-22 19:52] agsalin opened #1178 "Group fortran code directory within src directory"
Breaking out discussion from #1150

I propose a small clean-up of the top-level CIME dir by moving
    **externals, share, driver_cp, components**
within a directory called **src**. Also, the **buildlib.*** files for compiling these libraries will be moved from cime_config to src.

Regarding comments from #1150

- I like the name "src" over "source" because it is commonly used for source code, suc

[2017-02-22 20:01] agsalin opened #1179 "Add test for S-case"
I noticed there was no tests for S (stub-only) compset, even though it is supported. A discussion on slack showed agreement that we should add a test as opposed to removing the compset.

I have 2 questions:
1. Is adding the test to cime_developer test suite within update_acme_tests.py sufficient to have this tested? I see cime_developer within scripts_regression_tests script and believe this is wh

[2017-02-22 20:03] jedwards4b commented on #1179
Yes adding the test to cime_developer is sufficient.

An S test does almost nothing and doesn't care about grids T42_T42 should be fine.

[2017-02-22 21:49] #1142 closed

[2017-02-22 22:08] mvertens commented on #1178
Jim and I would like to propose the following strawman for today's meeting.

~/CIME/src
==========================================
~/CIME/src/externals

~/CIME/src/share
~/CIME/src/share/include
~/CIME/src/share/shr
~/CIME/src/share/test
~/CIME/src/share/unit_test_stubs
~/CIME/src/share/esmf_wrf_timemgr
~/CIME/src/share/shr_RandNum
~/CIME/src/share/timing

~/CIME/src/components
~/CIME/src/componen

[2017-02-22 23:01] rljacob commented on #1178
From discussion on telecon.  Changes to above:
/CIME/src/drivers/mct/driver -> /CIME/src/drivers/mct/main
/CIME/src/share/shr -> ~/CIME/src/share/util
/CIME/src/share/shr_RandNum -> ~/CIME/src/share/RandNum

[2017-02-22 23:44] #1083 closed

[2017-02-23 14:09] #1179 closed

[2017-02-23 17:59] #1125 closed

[2017-02-23 18:08] mfdeakin-sandia commented on #1085
I have significantly simplified the xml structure after talking with @agsalin, and also started an implementation of the configuration generator.
I left the component node in just in case we might need it in the future, to make changes to the format easier, and because I don't think it adds significant verbosity.

[2017-02-23 18:13] jedwards4b commented on #1085
Can you update the link to the proposed xml format?

[2017-02-23 18:16] mfdeakin-sandia commented on #1085
What do you mean? The link points to the current proposed format.

[2017-02-23 18:29] jedwards4b commented on #1085
Sorry - I do see that now.

[2017-02-23 18:31] jedwards4b commented on #1085
I'm confused about where you are getting these variables, for example FPPDEFS is a variable defined in the Makefile, it is not available in Macros.CMake.

[2017-02-23 18:39] mfdeakin-sandia commented on #1085
This is still a work in progress; I intend to find out what FPPDEFS should be and make the appropriate substitution like I've partly done for GPTL_PATH.

[2017-02-23 18:50] jedwards4b commented on #1085
I'm concerned that this is going to bring us to a situation in which we have to make changes in more than one place.

[2017-02-23 19:17] billsacks commented on #1175
Let me try to explain @lvankampenhout 's use case. Unlike what @jedwards4b is suggesting, he doesn't link directly to the source files he's changing. Rather, his SourceMods/src.clm directory looks like this:

[code]

Having worked with one of his cases, I agree that it's very useful to have that src symlink in there.

[2017-02-23 20:04] mfdeakin-sandia commented on #1085
That's a fair point that I haven't come up with a good way to deal with yet. One thought I've had, but rather dislike, is having all each new tag to append to what was there previously; but then we're requiring that we remember the order that the tags occur in and assuming a default value.
A better idea I think would be to use the non-configuration section specify more variables which can be used

[2017-02-23 20:55] rljacob commented on #1088
Closing this because I think we're all on the same page.

[2017-02-23 22:28] jedwards4b opened #1185 "case directory xml files do not validate"
It would be nice if the case xml files were validated with xmllint using the same schema used for
config xml files.  They are close but not quite there.

[2017-02-24 16:02] dqwu opened #1187 "create_newcase failing on blues"
This is reproducible on latest master branch.
[code]
This bug is confirmed to be caused by PR #1182. More specifically, by commit 33dcf97 (break up config_archive into component specific files).

[2017-02-24 16:04] jedwards4b commented on #1187
Fixed in PR #1184

[2017-02-24 16:16] dqwu commented on #1187
@jedwards4b
Thanks, I tested PR #1184 on blues and it worked.

[2017-02-25 15:18] jedwards4b commented on #1185
This is partially fixed by #1184, files env_mach_specific, env_mach_pes, env_batch still need validation schemas.

[2017-02-27 16:49] #1187 closed

[2017-02-27 20:03] cacraigucar opened #1189 "Bug when resetting RUNDIR"
From Jim Benedict:

There appears to be a bug when setting RUNDIR within env_run.xml in CESM2.  I first encountered this error in cesm2_0_beta03 (it may have existed in earlier tags), and I also see it in cesm2_0_beta05.  It occurs when I try to create an aquaplanet case, but I also see it when I try to make a simple F compset run with cesm2_0_beta05.  When RUNDIR is not modified, no errors occur.

[2017-02-28 02:23] rljacob commented on #1155
Also "manage_case" with no arguments just returns and does nothing.  It should at least print the help string.

[2017-02-28 02:29] gold2718 commented on #1189
Can someone provide a command sequence to reproduce this? For instance, is this before `./case.setup` (when I would expect it to work) or after (when I would expect it to fail)?

[2017-02-28 03:00] rljacob opened #1190 "Change arguments and behavior of "manage_case""
I'm trying to write some documentation on using "manage_case" but don't really want to in its current form.  There is already issue #1155 for changing its name.  This issue is for other behavior.

1.  ./manage_case with no arguments quietly returns nothing.  It should print the help string instead.
2.  --query-compsets-setby  should be changed to just --compset.  This assumes the name is changed t

[2017-02-28 03:01] rljacob commented on #1155
I changed my mind.  This program should be called "query_config".  That's what its really querying.

[2017-02-28 03:08] billsacks commented on #1190
A number of us at NCAR had a discussion on this tool a few weeks ago, but we neglected to open an issue documenting this. Specifically, this was a meeting with @mvertens @jedwards4b , Keith Oleson, Dave Bailey, Cecile Hannay and myself. The point was to gather requirements and suggestions from some of the CESM science liaisons. Here are my notes from that meeting (with apologies that they're kind

[2017-02-28 21:14] ekluzek commented on #1079
I'm just going to open this up to point out that that the fix put in still doesn't allow the previous settings of grid in config_compsets.xml for CLM. So the CLM workaround in bugzilla bug 2418 is still required (at least with cime5.2.0-alpha.23). I think that's OK though, because we aren't using this feature for CLM50 yet. I'm sure we will be though and we might need to address something when we

[2017-02-28 21:14] #1079 closed

[2017-03-01 18:48] bertinia opened #1191 "long compset name needs to be included in cesm_timing files"
The compset longname is not currently listed in the cesm_timing output files and probably should be. The grid long name is listed. Please close this issue if this will be resolved once all the
final compsets have been defined.

Here's an example with the missing compset longname:

  Curr Date   : Wed Mar  1 11:04:13 2017
  grid        : a%0.9x1.25_l%0.9x1.25_oi%0.9x1.25_r%r05_g%gland4_w%null_m%gx1

[2017-03-01 20:21] jedwards4b opened #1192 "PIO settings not adjusted with pe changes"
Currently both PIO_STRIDE and PIO_NUMTASKS is set at create_newcase time based on the NTASKS value.   But if NTASKS is changed the PIO settings are not - this can lead to some pathologically poor IO configurations.   I propose adjusting the pio settings upon running case.setup. Since users may not always want the pio settings adjusted for them I propose an additional command line argument to case.

[2017-03-01 23:42] jgfouca opened #1193 "create_newcase needs a non-interactive mode"
Some ACME users of the run_acme script, like @singhbalwinder , have reported indefinite hangs in create_newcase because, unknown to them, it was waiting for an answer to this question:

Directory %s already exists, (r)eplace, (a)bort, or (u)se existing?

We need create_newcase to have a non-interactive flag that will automatically answer "u" to the above question and then make run_acme pass this f

[2017-03-02 02:54] gold2718 commented on #1193
If someone is using a script, shouldn't the script handle this explicitly?
[code]
I'm afraid that if we put an `rm -rf` switch into create_newcase, we will get an angry support issue every time some hurried user types:
`./create_newcase --overwrite --compset F --grid ne16_ne16 --case /`

[2017-03-02 03:09] gold2718 commented on #1192
Is there a call I can add to the pelayout tool to reset the PIO vars when it changes task counts?

[2017-03-02 04:56] singhbalwinder commented on #1193
For some reason, I ran into this issue only on some machines. Following is my workflow when I run into this issue:

1. Run a scripts (lets call it "run_script") which cd into cime/scripts and run create_newcase
2. "run_script" also builds the model and submit a run. So we get a case directory, a bld directory and a run directory after this whole script executes.
3. Modify a F90 file or add/modify

[2017-03-02 05:04] rljacob commented on #1193
Is "run_script" designed to be used that way?  I mean both for initially creating/building/running a case and re-doing those last two steps?  So the idea is you just type "run_script" over and over no matter where you are in the config-build-run workflow?

[2017-03-02 05:26] singhbalwinder commented on #1193
That is how I have been running it for as long as I have run the models (CESM/ACME). I do this so that I can capture all my changes (configuration, namelist changes etc.) in one place. Other option is to make changes through the case root directory (which is also fine) but in that case I may forget what I changed in the case root directory at a later date. Having said that, I understand there may

[2017-03-02 05:31] gold2718 commented on #1193
I use this method as well but usually have explicit logic to decide what to do if the case already exists.
However, I am a bit unclear on one issue in your description.

Are you running this script interactively and still not seeing the 'already exists' prompt?

[2017-03-02 05:38] singhbalwinder commented on #1193
Yes, I think that is the issue. I am running "run_script" interactively and not seeing this prompt. When I run "create_newcase" directly from within the source code (cime/scripts), then I see this prompt.

[2017-03-02 05:40] singhbalwinder commented on #1193
Also, "create_newcase" doesn't complain about the case root directory (I forcefully remove that in my "run_script"), it complains about the existence of "bld" directory.

[2017-03-02 06:01] gold2718 commented on #1193
This is almost sounding like a bug in `create_newcase`.
It sounds like your case has the case directory in one location and the bld directory somewhere else (e.g., in scratch, not under your case directory). <= Do I have that right?
Something seems fishy. If your script is not too long, can you post it (at least the bit up through the `create_newcase` call)?

[2017-03-02 13:10] #1178 closed

[2017-03-02 15:45] singhbalwinder commented on #1193
Yes. My case root directory is in home but my bld and run directories are in something like scratch space (/lustre/$LOGNAME in this case).Here is the script I am using up until create_newcase:
[code]

[2017-03-02 16:07] singhbalwinder commented on #1193
@jedwards4b : Wouldn't that be very different from what is assumed "default" now? I think most users now think that launching create_newcase would not replace or remove the build. If we are going to change this, we should let the community know of this change.

[2017-03-02 16:11] jedwards4b commented on #1193
I think that most users expect create_newcase is creating a newcase and thus would assume that they are starting from scratch.   Using an existing build with a new create_newcase command is, I think unusual - if for example a user creates an F case called foo, then goes back later and creates a B case called foo inheriting the same bld would be a problem.

[2017-03-02 16:20] singhbalwinder commented on #1193
I agree, in that case it would be a problem. I have never done that so I don't know at which step the build system will complain in this scenario.

 I am talking about a scenario where everything stays the same but we issue "create_newcase" twice. In this case, usually a user (at least me) assumes that this case will use the same bld directory.

[2017-03-02 17:16] jedwards4b commented on #1193
So how about instead of just defaulting to 'u' we add a new command line option to create_newcase which allows the user to choose r, a or u.

[2017-03-02 17:49] jgfouca commented on #1193
@jedwards4b seems reasonable

[2017-03-02 17:53] singhbalwinder commented on #1193
I think this functionality already exists (in file `cime/utils/python/CIME/case.py`) but the issue is that this prompt doesn't show up on some machines. On other machines it just defaults to `u` behavior.

[2017-03-02 18:55] gold2718 commented on #1193
@jedwards4b, if we are going to have automatic 'r' behavior, can we at least make sure it is a CIME case/bld/run directory before wiping it? The possibilities for our script to destroy user files is quite large and typical users do not react kindly to "You shouldn't have done that".

[2017-03-02 19:05] gold2718 commented on #1193
@singhbalwinder, Still trying to understand the behavior. Are these true statements?

- The missing prompt only shows up in regards to the bld and/or run directories (because you explicitly remove the CASEROOT).
- Some machines happily try to reuse the bld directory while others hang.
- You never spoke with Russian officials about presidential politics

I'm asking because I don't think `create_new

[2017-03-02 19:08] gold2718 commented on #1193
@singhbalwinder,
A work around would be for you to remove the bld and run directories just before you remove the CASEROOT.
[code]

[2017-03-02 19:09] jedwards4b commented on #1193
@gold2718 I think that you should reread the background, if I understand correctly he would like to leave the bld directory in place and reuse it for his workflow.

[2017-03-02 19:16] gold2718 commented on #1193
@jedwards4b, yes but you said:

which means you proposed adding a feature which would allow create_newcase to delete any directory without prompting the user. If you see my 'accidentally hit the return key too soon' example from above (second comment), I think this is dangerous.

[2017-03-02 19:31] singhbalwinder commented on #1193
@gold2718 : Yes, all your statements are true including the third one :grinning: . On some machines create_newcase hangs. On those machines, if I cd into cime/scripts and launch create_newcase with the same arguments, I see this prompt:
` Directory /dtemp/sing201/csmruns/acme_def_run_02232017/bld already exists, (r)eplace, (a)bort, or (u)se existing? `

Now, on these machines, if I go back and run

[2017-03-02 19:49] jgfouca commented on #1021
@mvertens apologies for assigning myself. I misread this ticket thinking it dealt with my code in compare_namelists.py, but it actually impacts the core namelist readers which I believe are in fortran.

[2017-03-02 20:34] #1192 closed

[2017-03-02 20:37] jedwards4b commented on #1192
@gold2718: It happens in case.setup which is outside the scope of the pelayout tool.

[2017-03-02 22:44] #1035 closed

[2017-03-02 23:19] lvankampenhout commented on #1175
Thanks @billsacks for your explainer. I took a quick look at the commit that @bertinia did 2 days ago that referenced this issue, but it appears to be unrelated?

[2017-03-02 23:23] gold2718 commented on #1102
@jgfouca, you added the ready label a few weeks ago but I don't see a corresponding pull request. Is this fixed since cime5.2.0-alpha.26?

[2017-03-02 23:24] rljacob commented on #1102
"Ready" is something Waffle adds and just means its ready to be worked on.

[2017-03-03 17:34] gold2718 opened #1198 "Driver buildnml out of sync with driver namelist_definition_drv.xml"
Items  such as atm_ideal were removed from namelist_definition_drv.xml but are still being added to the namelist by buildnml.

[2017-03-03 18:38] #1189 closed

[2017-03-03 18:40] jgfouca commented on #1102
@cacraigucar , sorry for the slow response, I've confirmed the error and am working on a fix.

[2017-03-03 18:42] rljacob opened #1201 "Document how setting of threads works"

[2017-03-03 19:48] rljacob commented on #864
This is more of a documentation issue on how to use driver threading.  See #1201

[2017-03-03 19:48] #864 closed

[2017-03-03 22:26] gold2718 commented on #1112
I'm having trouble reproducing this on compute001 with the current ESMCI/master. If I try:
`./create_test PRE.f19_f19.ADESP`
I get an all pass with a run time of 291.
Oddly enough, if I try something that should be faster:
`./create_test PRE.f45_g37.ADESP`
I get a run time of 290. Still, this is not a hang.

[2017-03-03 22:37] jgfouca commented on #1112
@gold2718 , let me try on melvin. It's possible someone inadvertently fixed this problem.

[2017-03-03 22:44] gold2718 commented on #1112
To see if it used to hang, I tried:
[code]
Got a run time of 276.
@jgfouca, can you think of anything else I can do to get a reproducer so I can make sure I 'fixed' it?

[2017-03-03 22:46] #1038 closed

[2017-03-03 22:50] jgfouca commented on #1112
@gold2718 it worked for me on melvin. Go ahead and re-add this test to cime_developer.

[2017-03-03 23:36] cacraigucar commented on #1102
Thanks.  We have been ignoring our namelist failures with every tag we
make.  It will be good to have the functionality working properly.

On Fri, Mar 3, 2017 at 11:40 AM, James Foucar <notifications@github.com>
wrote:

--

       Cheryl Craig              cacraig@ucar.edu
       NCAR                       Voice:  (303) 497-2901
       P.O. Box 3000           Fax:    (303) 497-1324
       Boulder,

[2017-03-04 00:09] jgfouca commented on #1114
Still need to confirm that silent fails don't re-appear without us noticing.

[2017-03-04 00:40] #1102 closed

[2017-03-04 02:23] jedwards4b commented on #1114
The way to do it is to open the file and check the format, ncdump -k maybe...

[2017-03-04 18:49] gold2718 commented on #1112
@jgfouca, thanks I will do that with my next round of pause/resume upgrades (and will run tests on compute001 as part of my suite).
Of course, I do worry about spontaneous fixes like this. Is the Second Law of Thermodynamics still in force?

[2017-03-05 00:30] #1116 closed

[2017-03-05 18:23] mvertens opened #1205 "changing env_mach_pes.xml without rerunning case.setup still permits you to run case.submit"
This will cause a lot of confusion for users - since it will only result in a run-time failure. case.submit should die if this is the case with a user-friendly error as to what needs to be done.

[2017-03-05 18:54] gold2718 opened #1206 "PEND status in scripts_regression_tests.py"
When I run scripts_regression_tests.py on Yellowstone (did not check other machine yet), and everything stops running, I end up with three cs.status.* files in my scratch directory. Each of them has the `SHAREDLIB_BUILD` status as `PEND` as shown below. @jedwards4b & @jgfouca, is this expected behavior? Does it show a problem with my run?
[code]

[2017-03-05 19:02] mvertens commented on #1021
Thank you so much for taking this on!!!

On Thu, Mar 2, 2017 at 12:49 PM, James Foucar <notifications@github.com>
wrote:

[2017-03-05 19:03] mvertens commented on #1021
Never mind - I now misread your email. Thanks for the clarification.

On Sun, Mar 5, 2017 at 12:01 PM, Mariana Vertenstein <mvertens@ucar.edu>
wrote:

[2017-03-06 18:23] jgfouca commented on #1206
It's probably just some file that's not getting cleaned up. I wouldn't worry about it too much if scripts_regression_tests.py is passing.

[2017-03-06 18:40] #1191 closed

[2017-03-06 20:04] #1175 closed

[2017-03-06 21:45] #1205 closed

[2017-03-07 00:20] agsalin opened #1211 "GPTL Licensing"
(Everyone's least favorite topic)

GPTL has a file called COPYING that declares it to have a GPL license. This license is a problem, since it requires all codes that use the library to also use GPL. It is viral. The last paragraph of the license in that file even says: don't use this license for subroutine libraries.

Who owns GPTL? Is there someone who could get us a version without this license,

[2017-03-07 00:34] jedwards4b commented on #1211
GPTL is http://jmrosinski.github.io/GPTL/

[2017-03-07 00:44] gold2718 commented on #1211
That page includes the text:
"... that you don't embed GPTL library source in software that you intend to sell. "
As government-funded workers, are we allowed to say that in our code?
Also, it seems that this statement is in contradiction to the GPL which is not against selling, just against not making the source code available.

[2017-03-07 05:20] rljacob opened #1212 "Fewer newlines in CaseStatus"
This seems to be new in 5.2.  I like the old format of CaseStatus with fewer newlines .

Current format:

[code]

Can we instead have:

[code]

[2017-03-07 19:45] #976 closed

[2017-03-07 20:37] apcraig opened #1214 "README.case does not echo create_test command line"
This was a problem in prior versions and seems to have crept back in with the lastest revision.
Also, lots of extra newlines in README.case.

[2017-03-07 20:42] apcraig opened #1215 "Unable to rerun a test"
With the latest trunk, I'm unable to rerun a test.  When I try to do so, I get the traceback below.  This seems to be because the local TestStatus file does not have write permission.  Only the TestStatus file seems to have this permission issue.  If I chmod u+w to TestStatus, the test reruns fine and the TestStatus permissions are not reset.

Exception during run:
[Errno 13] Permission denied: '/

[2017-03-07 20:53] apcraig opened #1216 "Unable to set info_debug in the coupler namelist for tests"
When I setup a test, I no longer have control of the info_debug namelist in the driver.

It used to be (years ago) that I could setup an SMS test, set INFO_DBUG to 2 in env_run.xml, and the driver would then run with info_debug set to 2 for any test.

Then a couple years ago, I could no longer set INFO_DBUG to 2 in env_run because the SMS test automatically reset it to 1 when it ran.  But I could

[2017-03-07 21:01] jedwards4b commented on #1215
This happens if the first run went wrong.  Manually change permissions on the TestStatus file
before submitting the second job.

[2017-03-07 21:03] jedwards4b commented on #1216
The trick is to change INFO_DBUG in env_test.xml here is an example of that file from an ERS test
[code]

[2017-03-07 21:06] apcraig commented on #1216
That's a pretty tricky way to do this.  It will be hard for users to know whether to use values in env_test or env_run.  But, at least there is now a way to change the settings.  thanks.

[2017-03-07 21:09] jedwards4b commented on #1214
It's still there but because of the workflow is not the first line of the file.
Look for "Case Created using"

[2017-03-07 21:10] apcraig commented on #1215
That seems pretty inconvenient.  I'm not sure what setting the write bit on that file is trying to accomplish, but there must be another way.  How about a couple of env flags or something, one that sets whether the last test went right or wrong, the other whether the user wants the submit to fail if the last test went wrong.  During development, if I have to keep flipping that permission bit, it's

[2017-03-07 21:11] apcraig commented on #1214
OK, thanks.  I see it now.  Sort of odd that it's not the first line, but that's fine.  As long as we know where to look for it.

[2017-03-07 21:12] jedwards4b commented on #1215
There has been an ongoing problem with detecting and handling submit failures in tests.  This is the solution we have been able to come up with and I agree that it's not ideal - you are invited  to submit a working alternative if you can come up with one.

[2017-03-07 21:17] apcraig commented on #1215
Are the requirements or a few use cases defined somewhere?

[2017-03-07 21:20] jedwards4b commented on #1215
See #1006 and #1136

[2017-03-07 21:58] billsacks commented on #1215
I agree with @apcraig that the current behavior is unintuitive and likely to trip people up.

@jedwards4b , I read through the issue and PR that you referenced, but it's still unclear to me why it is necessary to change the permissions of the TestStatus file - that need isn't discussed anywhere, as far as I can tell.

Is the whole issue here the ERR test? If so, the most intuitive solution to me w

[2017-03-07 22:01] jedwards4b commented on #1215
The problem is not specifically the ERR test, it's just the one that most easily demonstrates the problem.   Since @jgfouca implemented this solution, I would like to invite him to the discussion.

[2017-03-07 22:40] ekluzek opened #1217 "Driver allows a contradiction in drv_flds_in between CAM and CLM"
I assume this goes back to the beginning of CIME5, but I know this was nicely working in CIME4.

I expect that if the drv_flds_in namelist created by CAM and CLM contradict each other, that the driver will point out the contradiction when preview_namelist is run. If the namelists are empty for either one, there is no contradiction, and if they both set a namelist item to the same value -- there's

[2017-03-07 23:06] ekluzek commented on #1217
This is with cime5.3.0-alpha.02 in current cesm2_0_alpha06 branch which is being setup for cesm2_0_alpha06f, but 06f hasn't been created yet.

[2017-03-08 03:46] gold2718 commented on #1216
'Pretty tricky' is an understatement IMHO. If the only way to effectively change the variable is by changing the copy in env_test.xml then xmlchange should change it there and xmlquery should show that version.

[2017-03-08 03:50] gold2718 commented on #1217
A test for this should be added to scripts_regression_test.py to avoid this sort of regression in the future.

[2017-03-08 03:51] gold2718 commented on #1215
Can someone post a reproducer? I resubmit failed tests all the time without looking at file permissions.

[2017-03-08 05:33] ekluzek commented on #1074
This seems to be working with

cime5.3.0-alpha.02

PASS ERP_D_Ld5.hcru_hcru.ICRUCLM45BGC.yellowstone_pgi RUN time=1325
PASS ERP_D_Ld5.hcru_hcru.ICRUCLM45BGC.yellowstone_pgi COMPARE_base_rest

This is with what will be tagged as clm4_5_14_r228

[2017-03-08 15:01] jedwards4b commented on #1217
This is cam and clm and therefore outside the scope of scripts_regression_tests.py

[2017-03-08 17:25] mvertens commented on #1217
I think the point is that we should add a CESM test not a CIME test for
this.

On Wed, Mar 8, 2017 at 8:01 AM, jedwards4b <notifications@github.com> wrote:

[2017-03-08 17:29] ekluzek commented on #1217
I'm not sure if it's a CESM test or not. Does ACME not use drv_flds_in at all?

The point of this test is for the driver to make sure that when it assembles the drv_flds_in files from any components -- that they don't contradict each other. That's clearly a driver functionality, and not something we can test in CAM or CLM.

[2017-03-08 18:50] ekluzek opened #1220 "missing mpi-serial mpirun case on hobart"
hobart seems to be missing an option for mpirun for a mpi-serial build. This is with: cime5.3.0-alpha.02

It has

    <mpirun mpilib="default">
      <executable>mpiexec</executable>
      <arguments>
        <arg name="machine_file">--machinefile $ENV{PBS_NODEFILE}</arg>
        <arg name="num_tasks"> -n $TOTALPES </arg>
      </arguments>
    </mpirun>

and needs

    <mpirun mpilib="mpi-serial"

[2017-03-08 19:39] gold2718 opened #1221 "Tagapalooza"
There are currently 455 tags in ESMCI/CIME with 143 of them apparently PIO tags. Are these really CIME tags or were they brought in accidentally with merges from PIO? Can we remove them?
What about tags like **2.0.0**, does that mean anything?
Also, tags like **cesm-master** seem out of place.

[2017-03-08 19:40] jedwards4b commented on #1221
The pio tags come in because of the weird way that subtree merge works - but really is there a problem with having too many tags?

[2017-03-08 19:46] gold2718 commented on #1221
Well, github will only show 100 tags but my main concern is confusion in that checkout of out a random PIO tag will not mean anything. If our tags are not meaningful or if meaning is random, they cease to be useful.

[2017-03-08 20:05] rljacob commented on #1221
I'd like to see most non-CIME tags deleted.

[2017-03-08 20:20] gold2718 commented on #1220
If burnt is a different machine, why doesn't it just have its own entry?

[2017-03-08 20:31] gold2718 commented on #1221
How about we start with the ones I mentioned above (pio*, naked numerical tags, cesm*)?

[2017-03-08 21:19] ekluzek commented on #1220
Well it's not a machine that we want to support per say. So we don't really want to duplicate all the hobart settings for it. But, it's one that a few people might want to use for restricted cases. It's really in the realm of a user-defined machine that we want people to be able to use. And I'm going to show Sean how to set it up as a personal machine they can use.

But, for hobart when mpi-serial

[2017-03-08 21:25] gold2718 commented on #1220
Does your proposed solution prevent running mpi-serial jobs on Hobart's head node?

[2017-03-08 21:28] jedwards4b commented on #1220
We have removed the requirement that mpi-serial be named as a supported MPILIB in config_machines.xml so it seems to me reasonable that we should also remove the requirement
to have ```<mpirun mpilib="mpi-serial">
  <executable></executable>
</mpirun>``` in that file.   I will take this on.

[2017-03-08 21:35] ekluzek commented on #1220
@gold2718 it'll still be submitted to batch, so won't run on the head node. It does make it a little easier for a user to get around submitting to batch -- but they still have to know what they are doing. And they would know they are maneuvering around the batch system, so presumably would know that's frowned upon.

[2017-03-08 21:59] agsalin commented on #1211
An Update: I talked to SNL lawyers who said that the GPL license of GPTL is the bad viral version that asks all software it gets incorporated into to also be GPL.

I wrote Jim Rosinski explaining the issue and asking him to consider changing it to BSD like CIME.

[2017-03-08 22:10] jgfouca commented on #1215
The TestStatus file is set to read-only if an exception occurs during the batch submission. This is so that, if the exception occurred after the job is submitted, the submitted job can't change the TestStatus to PASS.

Admittedly, this solution is very hacky; I was thinking that this type of error would be quite rare but apparently that isn't the case.

[2017-03-08 22:14] jgfouca commented on #1215
Maybe we could treat the batch submission as it's own phase?

PASS Test SUBMIT

[2017-03-08 22:23] #208 closed

[2017-03-08 22:25] apcraig commented on #1215
A quick short term improvement would be for the submission script to check the permission of TestStatus and to NOT submit if it's read only and to produce a reasonable error message.  Then at least the user could fix this quickly (ie chmod the file) and continue working.  That would help a lot.  Longer term, I agree that this deserves further review.

[2017-03-09 02:40] mvertens commented on #1212
I agree. I believe I was the one that introduced these new lines as part of
having the TestStatus.log be easier to read. But now the CaseStatus is more
cumbersome to read. I'd like to keep the horizontal lines - but we can
remove the blank lines.

On Mon, Mar 6, 2017 at 10:20 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-03-09 05:24] gold2718 opened #1222 "Driver buildnml attempts to set atm_adiabatic or atm_ideal"
yet these have been taken out of the namelist.

[2017-03-09 05:25] gold2718 commented on #1222
ERP_D_Ln9.T42z30_T42.FDABIP04.hobart_nag.cam-outfrq9s  is a reproducer.

[2017-03-09 07:10] ekluzek commented on #1074
I think PR #1195 fixed this problem.

[2017-03-09 07:10] #1074 closed

[2017-03-09 14:50] jayeshkrishna opened #1223 "All component builds mislabeled as 'clm builds'"
All component builds are labeled as clm builds.
[code]
I tried it on anlworkstation with master (cime5.3.0-alpha.02-9-g5f4f989) but should be an issue on other systems too.

[2017-03-09 14:52] jayeshkrishna commented on #1223
Looks like the bug is in build.py@line:41 at
[code]

[2017-03-09 14:57] jayeshkrishna commented on #1223
This patch should fix the problem,
[code]

[2017-03-09 14:58] jayeshkrishna commented on #1223
@jgfouca : Is this the right fix?

[2017-03-09 15:14] jayeshkrishna opened #1224 "Allow users to set pio rearranger options in PIO2"
Currently users can only set the pio rearranger options in PIO1.
Since the latest version of PIO2 in CIME has support for setting
rearranger options we need to modify the CIME framework to
allow users to set these options for PIO2.

[2017-03-09 16:03] jedwards4b commented on #1224
I believe that the only thing that needs to be done to accomplish this is to remove the
#ifdef PIO1 blocks and have pio2 call with the same args as PIO1 in shr_pio_mod.F90

[2017-03-09 16:06] jayeshkrishna commented on #1224
Yes, and some minor modifs in the script to expose the options.

[2017-03-09 17:44] jgfouca commented on #1223
@jayeshkrishna , yes, putting it in now.

[2017-03-09 17:45] rljacob commented on #1223
You could also put this in the cime5.2.0 branch in ACME.  Otherwise we'll have to live with it there for a while.

[2017-03-09 18:14] ekluzek commented on #1223
As a CLM developer who is pretty much always only building CLM, I have to say I find this bug  humorous.  It sounds like you've discovered the evil plot of the CLM group to rule the world! Go CLM! And yes I am being sarcastic! ;-)

[2017-03-09 20:24] rljacob commented on #1223
The comment for that message says:
[code]
Should the message be more specific?  All the components are built as libraries after all.  And when the clm build is shared, who is it shared by?

[2017-03-09 20:27] jedwards4b commented on #1223
It's shared by multiple tests.

[2017-03-10 18:10] #1088 closed

[2017-03-10 18:12] rljacob commented on #1032
"Has been done for a while"

[2017-03-10 18:13] #1032 closed

[2017-03-10 18:15] #1045 closed

[2017-03-10 18:16] rljacob commented on #1052
"this was fixed"

[2017-03-10 18:17] #1052 closed

[2017-03-10 18:19] #1124 closed

[2017-03-10 18:21] rljacob commented on #905
"there' more to do".

[2017-03-10 20:20] #1223 closed

[2017-03-10 20:44] #1170 closed

[2017-03-11 17:31] jgfouca commented on #1171
PR #1210 should have closed this ticket.

[2017-03-11 17:31] #1171 closed

[2017-03-11 21:05] rljacob opened #1229 "Short term archiving not working with ACME"
Reposting this from the ACME github.  This is with CIME 5.1.4.

[code]

I can see how the MPAS files may not work but is the behavior with log files possible?  Shouldn't the archive job from the first fun finish before the next job is submitted to the queue?

[2017-03-11 21:23] mvertens commented on #1229
Ignoring the MPAS problem - I don't think this is a problem with short term
archiving - but with the dependence of when short term archiving is run and
the queuing system. I agree that the short term archiver should finish
before the next job is run. @jedwards implemented this capability to have
the short term archiver run in a separate queue rather than on all the
processors of the original run.

[2017-03-11 23:20] rljacob commented on #1229
What do I look for the in machine's config file?

[2017-03-12 01:02] jedwards4b commented on #1229
It's in config_batch.xml, but there is no way that the next job would start
before the short term archiver is finished.   Even if short term archiving
is turned on in the middle of a run as described above, it wouldn't do
anything until the next cycle.

If the user submitted a new job manually (not using RESUBMIT) while the
short term archiver was still in the queue and the new job started before

[2017-03-13 16:47] #1215 closed

[2017-03-13 18:54] mrnorman opened #1233 "CIME support for workaround for Titan node failures"
I'm requesting CIME support for a run-script workaround for frequent node failures on Titan described in the link below in which we allocate more nodes than necessary for the job and put a loop around the aprun command, re-launching when failure occurs as it kicks out the bad node(s).

https://www.olcf.ornl.gov/kb_articles/aprun-tips/#nodefailures

Mark brought up the issue, so I'll tag him if he

[2017-03-13 19:10] rljacob commented on #1233
So if aprun fails and you just re-run, during the same batch submission, the batch system is smart enough to exclude the nodes that failed?

[2017-03-13 19:21] mrnorman commented on #1233
So they say

[2017-03-13 19:36] rljacob commented on #1233
One thing this would need that CIME doesn't have is a "clean up and start over" command.   If the run dies and you're going to restart it from the same point, there are log files and partially complete history files that need to be removed.  I think this is usually left to the user.

[2017-03-13 19:39] ndkeen commented on #1233
I could create another issue, but I think _in general_ the opaqueness of the new cime way of interfacing with batch system is difficult.  It might be nice to have the system write a separate batch file that includes everything one needs to submit so that we can use it for special purposes?

[2017-03-13 20:03] jedwards4b commented on #1233
@mrnorman How do you distinguish between node failures and other types of model failure for which you may not want to loop?

[2017-03-13 20:04] mrnorman commented on #1233
I have the same question, let me get back to you on that.

[2017-03-13 20:07] mrnorman commented on #1233
In the meantime, @mt5555 and @worleyph, who was reporting the node failure issues? I could take a look at their output and see if there's a reliable way to guess that it's a node failure so we don't cycle the whole time away on a bug.

[2017-03-13 20:10] vanroekel commented on #1233
@mrnorman that would be me recently with the node failures.  I have a page with the failure message from all outputs if you'd like to look.
[code]

True node failures always seem to have this string in acme.log
[code]

My run directory on titan is also listed on the confluence page if you'd like to look.  Permissions should be set okay.  let me know if they are not.

[2017-03-13 20:15] rljacob commented on #1233
Not everyone here has read permissions on acme-climate.  The messages look like this:
` [NID 07360] 2017-03-04 19:15:37 Apid 13867310 killed. Received node event ec_node_halt for nid 7361`
Run directory:  /lustre/atlas1/cli115/scratch/vanroek/GMPAS-IAF_oRRS18to6v3/run

[2017-03-13 20:47] vanroekel commented on #1233
sorry for that.  I've moved all log files from the runs to
/lustre/atlas1/cli115/world-shared/vanroekel

The job ids for node failures are 3250856, 3253427, 3265788, and 3268461.  There are also a few non-node failures too for comparison 3255937, and 3249807

If it would be useful to add more to world-shared, let me know.

[2017-03-13 21:04] mvertens commented on #1233
I think that the short term archiver could provide this clean up and then
start over would happen from the last consistent restart set created by the
short term archiver. Recently, I re-implemented short term archiving to
ensure that both ACME and CESM can easily specify what files need to be
archived and the necessary history files that are needed upon restart are
also consistently archived. In a

[2017-03-13 21:21] jedwards4b commented on #1233
Currently we use run_cmd_no_fail to run the model executable - this will always cause an abort on non-zero exit status of the model and so will need to be changed to run_cmd and the status and log files checked explicitly.    @mvertens correctly points out that the st_archive script can be used to straighten out the run directory before a new run is started however, st_archive normally runs as a s

[2017-03-13 22:00] jedwards4b commented on #1221
I have deleted all of the pio tags - here is a list of additional tags I think should be removed.

git tag --delete 2.0.0
git tag --delete 2.0.1
git tag --delete 2.0.2
git tag --delete cam_topographic_height_n01
git tag --delete cam_topographic_height_n02
git tag --delete cesm-master
git tag --delete cime-workflow-exp-rc01
git tag --delete cime-workflow-exp0.0.1
git tag --delete clm4_5_11_r188_cim

[2017-03-13 22:12] jedwards4b opened #1236 "PR #1230 appears to break batch systems"
After merging #1230 I get an error from Z_FullSystemTest:

Traceback (most recent call last):
  File "./scripts_regression_tests.py", line 1175, in test_full_system
    self.assertTrue(test_time > 0, msg="test time was zero for %s" % test_status)
AssertionError: test time was zero for /scratch/cluster/jedwards/scripts_regression_test.20170313_145646/ERR.f45_g37_rx1.A.hobart_intel.fake_testing_only

[2017-03-13 22:59] gold2718 commented on #1221
Great, how about
move_glint_to_cpl2_n01
move_glint_to_cpl2_n02

[2017-03-14 12:35] #1176 closed

[2017-03-14 19:01] mnlevy1981 opened #1241 "Bug in runoff -> ocean map generator"
The ocean -> ocean smooth map ("step 2" of generating the runoff -> ocean map) maps from a source cell to a collection of destination cells around the source, with an exponential decay as you get farther from the source cell. However, the source cell itself was not included in the destination cells, leaving a hole in the map.

We have a fix for this at NCAR and I will be making a pull request in t

[2017-03-14 19:07] rljacob commented on #1241
Pinging @jonbob

[2017-03-14 19:15] jonbob commented on #1241
Thanks @rljacob - I knew about this.  But the error is in the smoothing part of that tool, which we can't use because it doesn't support MPAS grids.  We have our own internal python tool to smooth the runoff maps, which we have tested extensively.

[2017-03-14 20:06] mnlevy1981 opened #1243 "New runoff -> ocean map"
Using the estuary box model means that POP has a new way of handling liquid runoff in the open ocean -- it now wants a nearest neighbor map instead of the smoothed map. POP still requires the smooth map for runoff in the marginal seas, though (and the ice runoff to ocean should be smoothed globally).

@klindsay wrote an NCL script that takes the runoff -> ocean nearest neighbor map, runoff -> ocea

[2017-03-14 20:20] mnlevy1981 opened #1244 "New option for ERS tests?"
Right now, if you run an ERS_Ld5 test then CIME does the following:

1. Run for 5 days, writing restart file after day 3
1. Go back to the day 3 restart file, run for 2 days (days 4 & 5)
1. Compare the output from step 1 and step 2

I'd like an option to run the test in the following manner:

1. Run for 5 days without writing a restart file
1. Run for 3 days (days 1 - 3) and write a restart file a

[2017-03-14 20:36] gold2718 commented on #1244
My vote would be to make @mnlevy1981's 'option' the default usage. I've always been a bit suspicious that the current ERS test properly tests normal CESM restart usage.

[2017-03-14 20:40] gold2718 opened #1245 "Call to ESMF_initialize should allow for no PET logfiles"
While the default ESMF_initialize is a stub, when building with the ESMF library, a logfile is written for every PET. I propose that we add a driver namelist variable (drv_esmf_logkind?) to control logging by ESMF. The input would be ignored for the stub.

[2017-03-14 20:45] rljacob opened #1246 "Using CIME for provenance and reproducibility"
The pieces are in the documentation but we need a section that ties it all together.

[2017-03-15 12:09] #1222 closed

[2017-03-15 12:57] #1217 closed

[2017-03-15 15:29] mvertens commented on #1241
I'm wondering in that tool can get put into CIME. It sounds like a more
general approach than what we have and it would benefit the wider community
to have it in CIME.

On Tue, Mar 14, 2017 at 1:15 PM, Jon Wolfe <notifications@github.com> wrote:

[2017-03-15 15:42] jonbob commented on #1241
@mvertens - I'll look at making it more general.  Right now, it's just built to understand the MPAS connectivity.

[2017-03-15 16:05] mvertens commented on #1241
@jonbob - thanks for the clarification. I did not appreciate that.

On Wed, Mar 15, 2017 at 9:42 AM, Jon Wolfe <notifications@github.com> wrote:

[2017-03-15 16:30] rljacob opened #1247 "Always set core dump size to unlimited in case.run"
The case.run script should always have the following in it:
[code]

This is equivalent to `ulimit -c unlimited` in the old csh scripts.

[2017-03-15 16:31] rljacob commented on #1247
@jgfouca came up with those lines for @mrnorman to use by editing his run script but I think the should always be there.

[2017-03-15 17:46] bertinia commented on #946
It would also be nice to have the arguments to xmlquery and xmlchange be consistent.

For example:
./xmlquery --subgroup case.run JOB_WALLCLOCK_TIME
but:
./xmlchange --id case.run JOB_WALLCLOCK_TIME=02:00

so, they should both be either --id or both --subgroup.

[2017-03-15 17:55] mrnorman commented on #1247
Note that when I added those to the beginning of main in case.run, I got an error

[2017-03-15 18:16] cacraigucar commented on #1190
I would like the ability to organize the order that --query-component-name returns its information.

When I did "./manage_case --query-component-name cam"  I get a list of the CAM naming conventions.  As far as I can tell, there is no order to this list.  I want the ability to group "like" descriptions together.  For instance CAM40, CAM50 and CAM60 which are most important are scattered throughout

[2017-03-15 18:54] jonbob opened #1248 "CIME5 user_nl scripts do not recognize array elements"
In CIME2, we could enter array elements in user_nl and have those changes picked up by the scripts. In CIME5, that no longer works. As an example, we change one array element in user_nl_datm:
   `tintalgo(3) = ‘coszen’`
That has always worked, but in CIME5 we get the following error:
   `ERROR: Error in parsing namelist: 'tintalgo(3)' is not a valid variable name at line 5, column 11`
It does work

[2017-03-15 18:57] jedwards4b commented on #946
Both use subgroup, your xmlchange example is incorrect.

[2017-03-15 20:21] #1236 closed

[2017-03-15 21:05] rljacob commented on #1247
Updated above with correct code.

[2017-03-15 21:39] #1193 closed

[2017-03-15 22:08] billsacks opened #1250 "Fortran unit test infrastructure doesn't define USE_CONTIGUOUS"
(This isn't critical, because currently CAM developers don't rely on these unit tests; it would be good to fix eventually, but doesn't have to happen immediately.)

With the latest cime, the following CAM Fortran unit tests fail to build: `coords_1d`, `vdiff_lu_solver`  - both fail in building `components/cam/src/utils/coords_1d.F90`, with an error like this:

[code]

It looks like the problem is

[2017-03-15 23:14] rljacob opened #1251 "Error with walltimemax >= 24:00"
Originally reported by Pat Worley for CIME 5.2.0 in ACME.   This line in config_batch for Titan:

`<queue walltimemax="24:00" default="true">batch</queue>`

Is now giving an error message:
[code]

[2017-03-15 23:15] rljacob commented on #1251
Workaround found by @mfdeakin is to just reduce it to 23:59.  But all agree max times of 24 or longer should be allowed.

[2017-03-15 23:17] rljacob commented on #1251
What is walltimemax for?   For machines that don't have a walltimemax specified, users can set WALLCLOCK to 24 or more.

[2017-03-16 03:29] mfdeakin-sandia commented on #1251
Because this is a critical fix, the code for this is in the ACME repository, and will be merged with the next subtree split

[2017-03-16 15:13] jedwards4b commented on #1251
I'm concerned that this doesn't give us an opportunity to review the PR...

[2017-03-16 15:25] rljacob commented on #1251
The subtree split will be a PR.  We don't have nearly as much stuff as the last time we brought over ACME changes.

[2017-03-16 15:34] mfdeakin-sandia commented on #1251
It's a concern of mine as well. I'm thinking of making a fake PR here for that purpose

[2017-03-16 17:27] rljacob opened #1252 "Short term archiver not copying MPAS history files."
In a one year simulation of a low-res fully coupled ACME case with monthly output, the short term archiver is not moving the mpas history files.

The entry in config_archive (just for ocean) is:
[code]
mpas outputs a lot of files.  Here is a sample:

[code]

Full list:  https://gist.github.com/rljacob/5ef9f4b0e6d08d9f1ac3e32f0b517622

The batch system output from running the archive script isn't v

[2017-03-16 18:49] bertinia commented on #1252
You can try defining a more specific regex in the XML. For example,
change this line:
  <hist_file_extension>\.hist.*</hist_file_extension>
to be:
  <hist_file_extension>\.hist.*\.*\.*\.nc</hist_file_extension>

[2017-03-16 19:36] jgfouca opened #1255 "Queue selection in env_batch is not adequate for blues"
Some background: blues has two available queues, "shared" and "batch". The shared queue will throw an error if you try to submit a job and request more than an hour of runtime. The "shared" queue will accept num cores 1-64, the "batch" queue will accept 1-thousands. My problem is that we have a lot of tests that take 64 cores (fit in either queue), but some take three hours and some take one. env_

[2017-03-16 19:59] rljacob commented on #1255
More info on blues:  you can't directly submit to the "batch" queue.  Adding "-q batch" will get your job rejected.  For regular jobs, it figures out where to route you based on nodes and time requested.   Only if you want a different queue, like "shared", then you have to use the "-q" option.

[2017-03-16 21:56] rljacob commented on #1233
This is becoming high-priority need for running on Titan.  Jim will be working on it.

[2017-03-16 22:54] jgfouca commented on #1255
@rljacob that's been fixed on the ACME side via python hack.

[2017-03-17 01:47] billsacks opened #1257 "Move documentation on Fortran unit tests into cime documentation"
I'd like to move much of the documentation from here https://github.com/NCAR/cesm_unit_test_tutorial into the cime documentation, somewhere. I would cut out the pieces about CLM and CAM, and would also cut out the pieces about testing on your local machine - since this is now relatively easy to do via the standard cime porting procedure.

[2017-03-17 01:55] billsacks commented on #1241
@mnlevy1981 and @mvertens : We also use the runoff -> ocean mapping tool (with smoothing) to generate mapping files from CISM to the ocean - mainly for the sake of routing iceberg discharge. Does this bug imply that we should regenerate all of the CISM -> ocean mapping files once you put the fix in place?

[2017-03-17 02:00] billsacks opened #1258 "Rename --answer argument to create_newcase"
I'm a bit late to the party on #1249 (sorry, I can't keep up with the rapid pace of cime development lately). This seems like a good feature, but can we rename the `--answer` argument to be less ambiguous? Perhaps something like `--handle-preexisting-dirs`? I don't love that name, but want something unambiguous. I'm imagining the time when there is more than one interactive prompt, so a generic `-

[2017-03-17 15:57] jayeshkrishna commented on #1224
Looks like as @jedwards4b mentioned we only need to modify shr_pio_mod.F90 with the latest CIME (older CIME required modifications to expose the rearranger options for pio2)

[2017-03-17 15:57] jayeshkrishna commented on #1224
PR coming soon

[2017-03-17 17:43] rljacob commented on #1247
@mrnorman does it work with the corrected syntax?

[2017-03-17 17:54] #1214 closed

[2017-03-17 17:55] #1206 closed

[2017-03-17 18:01] #1221 closed

[2017-03-17 19:59] jedwards4b opened #1261 "./xmlquery --listall broken"
ERROR: Multiple matches for nodename 'entry' and attrs '{'id': 'dependency'}' in file

[2017-03-17 20:30] billsacks commented on #1241
Another question: Does this bug affect conservation, or only the spatial distribution of the resulting flux?

[2017-03-17 20:41] mnlevy1981 commented on #1241
@billsacks To answer your two questions:

1. I think you will want to regenerate all your maps, yes. Before you do so, though, talk to @klindsay28 -- he has an NCL script that can plot the following:
    1. a specified runoff grid cell center,
    1. the ocean grid cell closest to the specified runoff cell (nearest neighbor), and
    1. the cells that get mapped from the specified runoff location

[2017-03-17 20:46] jonbob commented on #1241
@billsacks  and @mnlevy1981 - when we played with it here at LANL, thinking about modifying it to use for MPAS grids, I think we decided it was not conserving.

[2017-03-17 20:57] mnlevy1981 commented on #1241
@jonbob and @billsacks below are output from our `check_map` utility; it seems like a terrible output decision, but I think the "area" check is actually checking for conservation by integrating the source and destination fields over a unit sphere. This is output from checking the `rx1` to `gx1v6` runoff map:

[code]

I believe this is relative error, not total, but the fields we use in these tests

[2017-03-17 21:09] jonbob commented on #1241
We could have a bad or old version of the code, but I think when we actually ran with different smoothed grids, the runoff totals were different.  But that was almost two years ago and may not be accurate now.

[2017-03-17 21:15] jonbob commented on #1241
We also had problems with one of the early mosart grids not having a consistent mask -- which may have been the ultimate cause of the conservation issues.

[2017-03-17 21:20] billsacks commented on #1241
Thanks, @mnlevy1981 (and @jonbob ) - I'll make an issue to regenerate these maps, but won't treat it as super-high priority given that they are _probably_ conserving right now.

[2017-03-17 21:27] billsacks opened #1262 "Remake all glc to ocean mapping files"
Due to #1241 , we should remake all glc to ocean mapping files.

[2017-03-17 21:31] mvertens commented on #1262
We need to alert JF and Cecile about this - since this should be in the
cesm control run. Also - we should include this the mapping files in beta06
- and this needs to be added to the plans page.

On Fri, Mar 17, 2017 at 3:27 PM, Bill Sacks <notifications@github.com>
wrote:

[2017-03-17 21:48] billsacks commented on #1262
The glc to ocean mapping files will have no effect on the control run: these are only important if you're running CISM with two-way coupling.

I'm planning to fold this and some other changes that involve cism-cime interdependencies into beta07.

[2017-03-18 03:19] rljacob commented on #1252
Still not working.  From the debug output of st_archive, there's:
"short term archiving suffix is Wlowrnext.mpaso.*\.hist.*\.*\.*\.nc"

Is the archiver expecting the history name to start with the case name  (Wlowrnext in this case)?  Because they don't and that would explain the behavior.

[2017-03-18 17:42] mvertens commented on #1252
Yes - that is the problem. The short term archiver has some hard-wired
assumptions that are valid for CESM but clearly are not extensible. The
following is assumed as a naming convention and is in the
_archive_history_files routine in case_st_archive.py:

    rundir = case.get_value("RUNDIR")
    for suffix in archive.get_hist_file_extensions(archive_entry):
        for i in range(ninst):

[2017-03-18 22:03] rljacob commented on #1252
That worked!  What do I do for the restart files?  They also don't start with the casename but the archiver assumes they do.

Here's what the restarts look like:
[code]

[2017-03-18 22:47] rljacob opened #1263 "Missing some user functionality from CIME5.1 case dir taskmaker script."
CIME5.1 had a "taskmaker" script in every case directory with a bunch of useful options (see below) that don't seem to exist in the latest 5.3

ACME especially needs "taskmaker --aprun" function to be available somehow.    "--mpriun" and "--pbsrs" look useful.

[code]

[2017-03-18 23:48] mvertens commented on #1252
In the _archive_restarts routine you need to add a similar block for mpas -
see below
That said, I don't see how the pattern would ever equal "dart" in what we
is there now - but that is another issue.

    # get file_extension suffixes
    for suffix in archive.get_rest_file_extensions(archive_entry):
        for i in range(ninst):
            restfiles = ""
            if compname ==  "mpas":

[2017-03-20 17:11] jedwards4b opened #1264 "Number of namelist array values initialized by default"
In nmlgen.py function _to_namelist_literals the number of values returned seem arbitrary and is determined by enumerate(value) - it usually appears to come out to 3 but I don't think that this is an
intended result.   The question is - how many values of an array should be initialized here?  For example variable dtlimit in datm is defined as
[code]
Should all 30 elements of the array be initialize

[2017-03-20 17:33] jedwards4b commented on #1264
More digging indicates that I got this wrong.   It's actually determined by the number of input streams and, since there are 3 input streams in this case, values of dtlimit beyond 3 are ignored in the fortran and the initialization makes sense.

[2017-03-20 17:33] #1264 closed

[2017-03-20 21:41] mnlevy1981 opened #1265 "More options to configure instead of env vars"
Several of the mapping tools rely on `tools/configure` prior to building, which provides the following help message

[code]

It would be great if `COMPILER`, `MPILIB`, and `DEBUG` were additional command line options instead of environment-dependent... i.e.

[code]

instead of

[code]

Also, a `--clean` option that removes the `.env.*` files (and everything else generated by `configure`) would be

[2017-03-20 22:05] mnlevy1981 opened #1266 "Bug in configure?"
On yellowstone, if I run

[code]

Then the `.env_mach_specific.sh` script loads all the `gnu` modules, and it generates `Depends.gnu`, but the `SFC` and `SCC` variables are set incorrectly in `Macros.make`:

[code]

This might be a yellowstone-specific issue; `Macros.make` on hobart has sections like

[code]

[2017-03-20 22:12] mnlevy1981 commented on #1265
Also, there is a `Readme.configure` file in `tools/` that is out of date:

[code]

[2017-03-21 16:29] mvertens commented on #1248
So it would be useful to determine if we have implemented all the functionality that is in
perl5lib/Build/Namelist.pm. I thought that Sean had implemented all of this functionality - but it seems that this is not the case. Looking here we might be able to average some of the key features that are missing in here and in #1267 .

#---------------------------------------------------------------------

[2017-03-21 16:32] jedwards4b commented on #1248
What key feature do you think is missing from #1267?

[2017-03-21 20:00] jedwards4b commented on #1266
I haven't been able to reproduce this issue.

[2017-03-21 20:15] mnlevy1981 commented on #1266
I wonder if I need to set up a `$HOME/.cime/config` file... `configure` didn't work for me at all on hobart until I did that, and on hobart if I run `configure --machine yellowstone --macros-format` I get a reasonable `Macros.make`.

I'll try again on yellowstone when it's back up, and then close this if it turns out to be user-error.

[2017-03-22 16:28] #1224 closed

[2017-03-22 22:24] rljacob opened #1270 "Batch error messages not passed to user."
"Submitting a second job to the debug queue on Titan (where only one is allowed) generates a " " error message. Before it passed through the system error message (that there was already a debug job in the queue)."

This is a regression from 5.1. to 5.2.

[2017-03-23 00:05] rljacob opened #1271 "Need support for aprun commands with different task/thread counts"
An example of the syntax that needs to be supported (and was with the old task_maker).

`aprun   -S 4  -n 680 -N 8 -d 2 xxx/acme.exe  : -S 2  -n 128 -N 4 -d 4 xxx/acme.exe'`

Translation: the first 680 MPI processes should be assigned to nodes 8 at a time, 4 per numa domain, with a separation of 2 between each task (allowing two OpenMP threads, though that is not required); the second 128 processe

[2017-03-23 01:30] #1107 closed

[2017-03-23 01:32] #1150 closed

[2017-03-23 03:34] gold2718 opened #1272 "gnu broken on Hobart?"
Trying to create a test on Hobart:
`./create_test ERP_Ln4.f19_f19.A.hobart_gnu`

I find this in env_run.xml:
[code]
This does not work because the code is built without pnetcdf.

[2017-03-23 16:18] mnlevy1981 commented on #1266
Yeah, this turned out to be user error; specifying `cesm` in `.cime/config` produced a different `Macros.make` file with compiler-dependent blocks of settings.

[2017-03-23 16:18] #1266 closed

[2017-03-23 18:50] jgfouca commented on #1271
@rljacob , I have this working (pending Worley approval) on the ACME side, I don't believe we need a ticket on ESMCI side.

[2017-03-23 19:10] rljacob commented on #1271
We do because that needs to be on the ESMCI master and then protected by a test so it doesn't get removed again.  This ticket should stay open until its added here (through an ACME subtree split).

[2017-03-23 19:12] jgfouca commented on #1271
OK, that's fine with me. My work on the ACME side already added a test though.

[2017-03-23 22:02] jedwards4b opened #1274 "namelists in multiinstance cases"
In multiinstance cases the namelist file from the first instance is copied to all other instances and so user_nl_* changes are only applied from the instance 1 file and not all the files as they should be.

[2017-03-24 19:11] rljacob opened #1276 "Add option to skip preview_namelist during case.run"
Add an option to case.submit to skip calling preview_namelist during case.run.   This is for low-powered compute nodes that are spending a lot of time in preview_namelist.  Its up to the user to not modify any xml files while the job is in the queue.

[2017-03-24 19:12] rljacob commented on #1276
Should the option also skip the calling of create_namelist by case.submit?    Tagging @mvertens

[2017-03-24 19:15] rljacob opened #1277 "Document create_namelist usage"
The logic for when create_namelist is called and how it keeps namelists in sync should be documented.   Its a script available to user's so we should tell them when they might need to run it if they don't want CIME to do it all for them.

[2017-03-24 19:19] rljacob commented on #1277
For a regular **create_newcase**, I think this is the sequence and reasons:

Called during case.build before the actual build:
    because some builds need namelist info.  First time all namelists are built.
Called in case.submit
    because users may have changed an xml file after building.
Called in case.run
    because users may have changed an xml file while the job is in the queue before it r

[2017-03-24 19:20] jedwards4b commented on #1277
You mean preview_namelists

[2017-03-24 19:22] rljacob commented on #1277
Thanks.  Fixed it.

[2017-03-24 19:24] rljacob commented on #1277
According to @jgfouca in https://github.com/ESMCI/cime/pull/1203#issuecomment-284095407, this is the sequence for **create_test**:

1. Called post-SETUP by create_test (if compare or generate baselines)
2. Called in build.py for sharedlib build
3. Called in case.submit
4. Called once per invocation of case_run.run_model

[2017-03-24 19:31] rljacob opened #1278 "Detect if preview_namelist needs to be called and avoid calling it."
preview_namelist is called multiple times between "create_newcase" and "case.submit" to make sure user changes make it in to the run, even if users haven't made any changes.   Preview_namelists can be expensive.   After the first call to preview_namelists, add logic to check if any files have been modified that require preview_namelists to be run again and, if not, don't.

[2017-03-24 19:48] jedwards4b commented on #1278
File to be checked include:
user_nl_*
env_run.xml
user_*_streams.txt

[2017-03-24 20:48] billsacks commented on #1278
I like the idea of speeding things up in this way. But I'm also worried that this could result in some subtle bugs if we forget to add some file to the list of possible dependencies. I'm especially worried about what happens in the future when someone adds a new dependency (maybe one that just applies to certain model configurations) but forgets to update the dependency list. This could lead to so

[2017-03-24 22:15] mnlevy1981 commented on #1265
This was fixed with #1268

[2017-03-24 22:15] #1265 closed

[2017-03-24 22:31] jgfouca opened #1281 "Make sure to test using non-default compiler"
... in scripts_regression_tests on melvin.

[2017-03-24 22:54] #1248 closed

[2017-03-24 22:54] #1274 closed

[2017-03-27 17:51] mrnorman opened #1282 "Data not automatically downloaded into new "inputadata""
1. When I try to run ./case.setup, it complains that some of the .nc files are not there.
2. If I run ./check_input_data --download before running ./case.setup, it doesn't do anything.
3. I end up having to run "./case.setup; ./check_input_data --download" multiple times to get ./case.setup to succeed

Some more specific documentation is at the link below:

https://acme-climate.atlassian.net/wiki/

[2017-03-27 18:32] jgfouca commented on #1282
@mrnorman one thing that would help me is if you gave me the exact case you tried.

[2017-03-27 18:49] mrnorman commented on #1282
./create_newcase -compset FC5AV1C-L -res ne4_ne4 -case ne4_v1 -mach scrollbuttons -pecount 4 -q myqueue -compiler gnu

[2017-03-27 19:04] rljacob opened #1283 "perl namelist should allow both "false" and ".false.""
The MPAS-CICE buildnml is complaining about a logical a user is trying to set using user_nl_mpascice.

`config_test_case_diag = false`

'ERROR(Build::Namelist::_parse_next): expect a F90 constant for a namelist instead got:  false

If they set it instead to

`config_test_case_diag = .false.`

There there's no error.    But both "false" and ".false." should be allowed.

[2017-03-27 19:10] rljacob commented on #1282
A possibly important point in this:  Matt is installing ACME on his laptop and has a completely empty input directory.

[2017-03-27 19:13] mvertens commented on #1283
I assume that this is using the perl old schema with
namelist_definition.xml and namelist_defaults.xml. How is
config_test_case_diag defined in the namelist_definition.xml?

On Mon, Mar 27, 2017 at 1:04 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-03-27 19:20] rljacob commented on #1283
Yes that buildnml is still in perl.

In namelist definition:
[code]
In namelist_defaults: ` <config_test_case_diag>false</config_test_case_diag>`

[2017-03-27 19:23] mvertens commented on #1282
When you say "multiple times" - do you need to run check_input_data
separately for *each* missing file?

On Mon, Mar 27, 2017 at 1:10 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-03-27 19:23] jgfouca commented on #1282
OK, I will debug this by changing my input data location to an empty directory.

[2017-03-27 19:25] mvertens commented on #1282
The behavior we want is to have check_input_data load all missing files at
once onto local disk - not just one at a time.

On Mon, Mar 27, 2017 at 1:23 PM, James Foucar <notifications@github.com>
wrote:

[2017-03-27 19:28] jgfouca commented on #1282
@mvertens I strongly agree.

[2017-03-27 19:34] mvertens commented on #1283
I believe that perl is assuming that a logical will be  fortran namelist
logical - i.e. .true. or .false. To get the behavior he wants - I would
make it a character and then give the valid values as "true" or "false".
Hopefully, this will work.

On Mon, Mar 27, 2017 at 1:20 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-03-27 19:53] akturner commented on #1283
The fortran standard allows both false and .false. as valid fortran in namelists. The standard actually allows the "f" character (or "t" character for true obviously) followed by anything as a valid value.

[2017-03-27 20:02] mvertens commented on #1283
I think this is a limitation of our perl modules for namelist parsing.

On Mon, Mar 27, 2017 at 1:33 PM, Mariana Vertenstein <mvertens@ucar.edu>
wrote:

[2017-03-27 20:40] rljacob commented on #1283
Does the python parser allow both "false" and ".false."?

[2017-03-29 03:06] gold2718 commented on #1272
This is still broken. Tests that use `SystemTestsCompareTwo` show this but here is a sequence that does not use the testing infrastructure:
[code]
It also fails if you create the clone after `./case.setup` but before `./case.build`:
[code]
This does not happen if the clone is made after `./case.build`.

[2017-03-29 12:51] mrnorman commented on #1282
It wasn't one at a time, but it wasn't all at one time either. It looked to me like running ./case.setup somehow "registered" some files for download, then failed by complaining they aren't there. Then ./check_input_data --download downloads those file. Then I run ./case.setup again, and it seems to register more files for download and failing again because they aren't there. So I run ./check_inpu

[2017-03-29 16:22] jgfouca opened #1284 "xmlchange usability problems"
From @PeterCaldwell

The old xmlchange command was:

[code]

I tried to change it to:

[code]

and got the following error:

[code]

I eventually fixed the error by putting a space in front of -cosp: ‘<space>-cosp’:

[code]

My thinking is that the python tries to glom appended options directly onto the end of what’s already there (in this case -cam5), so the result is -cam5-cosp which, of course,

[2017-03-29 16:35] rljacob commented on #1284
You keep switching between single and double quotes. Does that matter?

[2017-03-29 17:50] jgfouca commented on #1284
@rljacob no, that all gets resolved by the shell in an identical way (in this case)

[2017-03-29 17:55] PeterCaldwell commented on #1284
Thanks for the formatting help, Jim.

[2017-03-29 18:43] mvertens commented on #1284
I think that xmlchange should add a space when needed (specifically the
append) and not require the user to know that a space is needed.

On Wed, Mar 29, 2017 at 11:55 AM, Peter Caldwell <notifications@github.com>
wrote:

[2017-03-29 18:57] rljacob commented on #1247
Matt has verified this works.  We'd like to add this to all case.run scripts.

[2017-03-29 20:27] bishtgautam opened #1286 "Should DATM be modified to read all time slices of a time-varying data at once?"
For a given time (`mDate,mSec`), the time-varying data is read independently for the lower bound time (`mDateLB,mSecLB `) and upper bound time (`mDateRB,mSecRB `) via `shr_dmodel_readLBUB()` in `cime/share/csm_share/shr/shr_dmodel_mod.F90`.  To reduce time spent in I/O, would it be worth modifying the code to read `nt` time slices at once?

[2017-03-29 20:34] rljacob commented on #1286
Yes it would.

[2017-03-29 20:35] bishtgautam commented on #1286
@mvertens , @billsacks , @ekluzek , @bandre-ucar, @jayeshkrishna : Any thoughts?

[2017-03-29 20:39] mvertens commented on #1286
Absolutely. This would be a good feature to add to the data models. But I
don't believe this is a simple task.

On Wed, Mar 29, 2017 at 2:35 PM, Gautam Bisht <notifications@github.com>
wrote:

[2017-03-29 20:42] mvertens commented on #1247
This sounds fine with me.

On Wed, Mar 29, 2017 at 12:57 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-03-29 20:53] jgfouca commented on #1247
Complete on the ACME side.

[2017-03-29 21:00] bishtgautam commented on #1286
Ok, I will review how a single time slice data is currently read by a data model and try to propose a solution.

[2017-03-29 22:01] mvertens commented on #1286
I've just been poring through that part of the code for a separate reason -
so if you want to talk about this I'm happy to to.

On Wed, Mar 29, 2017 at 3:00 PM, Gautam Bisht <notifications@github.com>
wrote:

[2017-03-30 00:26] PeterCaldwell commented on #1284
Update on my initial post - I talked with @golaz about my experience and he recalled that he too had problems with "-cosp" and found he needed to put a space in between the first quote and the dash to get things to work. This clears up the mystery in my initial post for why Chris got things working without the dash in front. His understanding was that the python interpreter was stripping the quote

[2017-03-30 01:43] bishtgautam commented on #1286
A discussion on this would be helpful. My Thursday afternoon and Friday afternoon schedule are quite open. Let me know if you are available during those time slots. Thanks.

[2017-03-30 15:21] gold2718 opened #1288 "Need documentation on how to analyze test output"
Summary: Something failed for me in scripts_regression_test.py in an area I did not modify so something is wrong:

- Someone is checking in broken code to master    -- or --
- Something is wrong with the tests -- false test failures

However, given how discombobulated the test output has become, I can't figure out what is going on. The only indication of failure is in the captured output, the erro

[2017-03-30 16:23] jayeshkrishna commented on #1288
@gold2718 : Did you figure out the cause of the pio compilation failures (it looks like an issue of incompatibility btw C_BOOL and LOGICAL)?

[2017-03-30 18:03] gold2718 commented on #1288
@jayeshkrishna: No, I don't know anything about these tests and did not change anything that affects the build or PIO (I only added a run-time XML driver variable).
The point of this issue is that I don't even know how to find out that there was an error by looking at the files/directories created by scripts_regression_test.py. I used to be able to run a cs.status.xxx script but I don't even see t

[2017-03-31 16:06] jayeshkrishna opened #1291 "Remove python stack trace when a model run fails"
When an ACME/CESM model run fails, the log files (TestStatus.log) contain
a python stack trace that is not very useful to the user (The failure is in
the model run, not in the CIME python framework).
It would be useful to remove the python stack trace and include a comment
to the location of the log file that the user should look at to diagnose the
failure.

[2017-03-31 16:07] jayeshkrishna commented on #1291
An example (excerpt from TestStatus.log) of the python stack trace when a model run fails (on blues),
[code]

[2017-03-31 16:55] mvertens commented on #1291
I completely agree with this. I think this recommendation would be a good
step forwards.

On Fri, Mar 31, 2017 at 10:06 AM, jayeshkrishna <notifications@github.com>
wrote:

[2017-03-31 21:28] fischer-ncar opened #1292 "testreporter.pl not being copied to testing directory"
Bug in test_scheduler.py was failing to copy testreporter.pl to the testing directory.

[2017-04-02 22:50] #1057 closed

[2017-04-02 22:54] mvertens opened #1293 "Create clear and complete porting documentation"
There is a new section on CIME internals that has been pushed to gh-pages that will help the porting documentation. The porting documentation needs to be significantly enhanced with examples to enable users to easily determine what needs to be done to port to their platformas.

[2017-04-02 22:54] mvertens opened #1294 "document CECT"
Add documentation to the CECT test.   How to run.

[2017-04-02 22:56] mvertens opened #1295 "document testing"
clearer documentation is needed in CIME regarding both the use of create_test AND the use of scripts-regressions-test. For the latter, it is not clear at all how to understand and fix failures.

[2017-04-03 00:44] rljacob commented on #1293
Agree on more porting instructions.  Don't agree on a new top level section.  You wrote about the config files which is great.   But everything you put in your new "Part 2" I think should just go in the "advanced use".  Doing pe layouts, editing config files, running create_test, adding tests,  and porting all go in the Advanced use guide.   Its all about working with the scripts so its still coun

[2017-04-03 00:45] rljacob commented on #1295
This is a partly a duplicate of #1060

[2017-04-03 01:45] mvertens commented on #1293
I think we need to have the porting be tied into the CIME internals and
that really seems to be to be a separate section form advanced usage. For
CESM most users will want to port - and that is not an advanced usage of
CIME - its a necessary usage. And to port you need to understand the CIME
internals. And also you need to understand the testing and validation to
validate your port. So it seems to

[2017-04-03 03:41] rljacob commented on #1293
Yes we'll need to hash this out in a telecon.

The CIME config files definitely need to be documented but there are other reasons to know what's in them: curiosity, updating an existing machine, their place in the CIME object oriented design.  They can be linked to from any documentation using internal links.  So I don't think they must be "tied" to the porting.

We also need to decide what we mea

[2017-04-03 15:22] jedwards4b commented on #1288
@gold2718 I don't understand how you are misinterpreting this failure in the N_TestUnitTest
portion of scripts_regression_tests.py or how I could make the output clearer for you.  Perhaps we could discuss in person?

[2017-04-03 15:37] gold2718 commented on #1288
Just looking at the output directories from the tests, how do I even know there _was_ a failure? What are the procedures for verifying that the tests did pass or fail?
If I did not happen to see the test output I would not have suspected a failure. I do not see a FAIL anywhere. Is this output logged? Is there a command to discover it?

[2017-04-03 16:29] jedwards4b opened #1296 "pio_rearr_opts should not be exposed in shr_pio_mod.F90"
In shr_pio_mod.F90 the internals of pio derived datatype pio_rearr_opt_t are used directly.
This creates an issue in which the internal data structures of pio are limited by usage in the model.
Settings for these data structures should happen internal to pio so that these internal data types are not exposed.

[2017-04-03 16:51] jayeshkrishna commented on #1296
A set function with optional arguments could help in keeping the pio_rearr_opt_t structure internal.

[2017-04-03 17:01] jedwards4b commented on #1288
Hi Steve,

There was another problem masking this error, but once I took care of that I found an error that does appear to be related to your changes:

  0: (seq_comm_init) ERROR: esmf_logging not set
   0: ERROR: (seq_comm_init) ERROR: esmf_logging not set
   0:Image              PC                Routine            Line        Source
   0:vertical_gradient  0000000001808E5D  Unknown

[2017-04-03 17:32] jayeshkrishna commented on #1296
But before we introduce the optional arguments, for this task it would be enough to use the PIO_set_rearr_opts(), after init, to set the rearranger options.

[2017-04-03 17:57] gold2718 commented on #1288
The particular problem is **_not_** this issue.
The fact that you can poke around and find a problem is **_not_** this issue.
This issue is documenting the procedure that anyone using scripts_regression_test.py MUST use to verify that all tests have passed and to locate any and all failing tests.
This is clearly an important issue because, as you yourself point out, it is showing problems unrelate

[2017-04-03 18:11] jayeshkrishna commented on #1296
So this work would also involve implementing pio_set_rearr_opts() in pio1

[2017-04-03 19:07] gold2718 commented on #1245
The CESM driver treats its namelist file as optional, extend this behavior to new ESMF logging option.

[2017-04-03 19:50] jedwards4b opened #1297 "fortran unit tests need to run on systems other than yellowstone"
This involves installing PFUNIT https://sourceforge.net/projects/pfunit/

[2017-04-03 20:33] jgfouca commented on #1282
@mrnorman I took a look at this and addressed it as best I could from the CIME side. The real problem here is that the buildnml scripts for clm make assumptions about the state of the input area without calling check_input_data ( @singhbalwinder ) . The CIME infrastructure itself makes no promises about input data until the RUN phase (not the SETUP phase). The PR I made to address this ticket allo

[2017-04-03 21:50] billsacks commented on #1297
See also https://github.com/ESMCI/cime/issues/1141 - which includes instructions for building pFUnit.

[2017-04-03 22:01] rljacob commented on #1282
Tagging @bishtgautam  for the CLM buildnml scripts.

[2017-04-03 22:09] #1245 closed

[2017-04-04 14:43] #1282 closed

[2017-04-04 19:27] #1271 closed

[2017-04-04 19:46] bishtgautam commented on #1286
@mvertens : My first attempt at reading all time slices in a netcdf is available at https://github.com/bishtgautam/cime/commit/bbe7d84554aeabf030323d65f69b9bd705fa320f. The first implementation is for `(pio_iotype /= iotype_std_netcdf)`.

[2017-04-04 19:48] #1233 closed

[2017-04-04 22:34] jgfouca commented on #1247
This is now merged.

[2017-04-04 22:34] #1247 closed

[2017-04-05 15:04] jedwards4b opened #1303 "create_newcase needs --input-dir cla"
the --input-dir argument recently added to create_test should also be added to create_newcase

[2017-04-05 19:38] jedwards4b opened #1304 "create_clone cannot be called without case_setup"
If create_clone is called before case.setup is called on a case bad things can happen.
For example #1272 where the second case does not have the pio_typename set correctly.
I think that the correct action for this is to require case_setup is called on case1 before create_clone can be.

This would require refactoring the system_tests_compare_two script so that case1 setup is done before the case cl

[2017-04-05 19:39] jedwards4b commented on #1272
This issue is not about gnu on hobart and so I am closing and moving to #1304

[2017-04-05 19:39] #1272 closed

[2017-04-05 19:53] jedwards4b commented on #1304
No this wouldn't solve the problem:  The problem is that the PIO_TYPENAME valid_values is set during the build phase depending on what supporting libraries pio found during it's build.  If create_clone is run prior to the first case being built AND --keepexe is used then the second case is never required to do a build and so the valid_values list for pio_typename is not updated.    When the case1

[2017-04-05 20:38] dqwu opened #1306 "Short term archiver generates invalid characters in the log files"
This issue is reproducible by running "create_test ERR.f45_g37_rx1.A" on anlworkstation.
In TestStatus.log there is output like below
[code]
Between "moving" and "/sandbox" there is a space character, followed by \b (backspace, ASCII code 8)
If we use wait_for_tests script to generate Test.xml (based on TestStatus.log) and submit it to CDash, that xml file cannot be correctly parsed by CDash. If w

[2017-04-05 22:14] rljacob commented on #1306
That looks like a typo.  "b" and "n" are right next to each other.

[2017-04-06 16:45] jgfouca commented on #950
@dqwu This appears to be fixed now. I think fixes on the ACME side were finally merged over to ESMCI.

[2017-04-06 16:45] #950 closed

[2017-04-06 18:30] jgfouca commented on #1161
@rljacob maybe the easiest thing here is to not use the --machine flag unless it's absolutely necessary? I would think in 99% of cases, a user would not need this flag, so there'd be no confusion when multiple terminals are open. I'm going to preliminarily close this ticket, feel free to reopen if you think that something needs to be done.

[2017-04-06 18:30] #1161 closed

[2017-04-06 18:33] rljacob commented on #1161
I'm fine with closing the "detection" issue.  I'll open a new one for the informative message.

[2017-04-06 18:51] rljacob opened #1308 "Output current machine and host with create_newcase and case.setup."
Add a helpful message about what CIME thinks the machine is to the output of both create_newcase and case.setup.  Something like "Machine is X, host is Y".   Output both for cases where someone specified a different machine then the host or the host allows multiple machines (like cori-knl, cori-haswell).

[2017-04-06 18:52] rljacob opened #1309 "case.setup broken on blues."
Using latest master.
[code]

[2017-04-06 18:58] jedwards4b commented on #1161
The exception is those machines such as cori which have several architectures available.
Currently on cori we default to cori-haswell and require a machine flag to use cori-knl

[2017-04-06 20:18] #1212 closed

[2017-04-06 20:19] #1139 closed

[2017-04-06 20:56] billsacks opened #1313 "Want more informative error message when you need to specify --user-compset"
When you neglect to specify `--user-compset`, you get this message:

[code]

It would be better if the message directed you to specify `--user-compset`

[2017-04-06 21:04] jgfouca commented on #1270
@rljacob when I use create_test, I see the error pretty clearly logged in TestStatus.log. Can you give me a bit more context? Is this just with case.submit?

[2017-04-06 21:05] jgfouca commented on #1270
Actually, it looks like case.submit produces an error as well, at least on skybridge when I intentionally sabotage the sbatch flags:

[code]

[2017-04-06 21:07] rljacob commented on #1270
The above is titan-specific so likely PBS.

[2017-04-06 21:10] rljacob commented on #1270
And yes this is from executing case.submit by hand.

[2017-04-06 21:10] jgfouca commented on #1270
@rljacob I bet I know what the problem is. The titan batch command is not well behaved and is sending error output to stdout.

[2017-04-06 21:12] billsacks opened #1315 "Error trying to create a case with --user-compset"
When I try to create a case with `--user-compset` from cime master, I get the following traceback:

[code]

Here is the complete command and output:

[code]

[2017-04-06 21:12] #1313 closed

[2017-04-06 21:25] #1261 closed

[2017-04-06 21:25] #1258 closed

[2017-04-07 12:25] billsacks opened #1318 "Need valid_values for some "OPTION" xml entries"
Some of the *OPTION xml entries have valid_values, such as STOP_OPTION. But others, like HIST_OPTION, AVGHIST_OPTION, and maybe others, do not. We should add valid_values for those.

[2017-04-07 14:24] billsacks opened #1319 "ATM2WAV_SMAPNAME not picked up for T31 atm"
When I try to run a case with T31 atmosphere and ww3, I get idmap for atm2wav_smapname. This causes the model to crash:

[code]

The problem seems to be that config_grids matches 48x96 rather than T31. Fix incoming.

I'm labeling this as cesm-only, because I'm not sure it applies to acme. I see the same 48x96 match in ACME's config_grids, but I see other 48x96 matches there, too, so maybe it someh

[2017-04-07 14:39] #1319 closed

[2017-04-07 16:57] #1270 closed

[2017-04-07 16:57] #1291 closed

[2017-04-07 17:17] rljacob commented on #1278
This is a duplicate of #905

[2017-04-07 17:18] rljacob commented on #1283
Yes python allows both.

[2017-04-07 17:19] rljacob commented on #408
There are now 2 uses of xmlchange in scripts_regression_tests.

[2017-04-07 17:20] rljacob commented on #408
Also above example from gold2718 now gives an error.

[2017-04-07 17:20] #408 closed

[2017-04-07 17:25] rljacob commented on #232
Grids XML files have been redone.

[2017-04-07 17:25] #232 closed

[2017-04-07 17:27] rljacob commented on #293
@fischer-ncar are you still working on this?  Would like to assign to @jgfouca .

[2017-04-07 17:29] rljacob commented on #383
Won't fix since yellowstone is almost retired.

[2017-04-07 17:29] #383 closed

[2017-04-07 17:33] rljacob commented on #386
Closing this because Edison is now behaving better.  Also can't really detect a *hung* job since the detector will also hang.  Can detect jobs slowing down.

[2017-04-07 17:33] #386 closed

[2017-04-07 17:36] rljacob commented on #389
@billsacks, still an issue?

[2017-04-07 17:37] rljacob commented on #399
After telecon discussion, we feel this has been addressed.  Please open a new issue if further work needed.

[2017-04-07 17:39] billsacks commented on #389
From looking at the `set_value` code, it looks like my last comment still should be addressed.

[2017-04-07 17:41] fischer-ncar commented on #293
I want to be working on it, but haven't had the time.  You can go ahead and assign it to @jgfouca.

[2017-04-07 17:44] rljacob commented on #1291
Duplicates #541

[2017-04-07 17:44] #541 closed

[2017-04-07 17:47] rljacob commented on #540
Telecon discussion:  This has been fixed.  Cmake needs a special flag for cray systems.  cmake_system_name=catamount.

[2017-04-07 17:47] #540 closed

[2017-04-07 17:48] rljacob commented on #540
Also introduced option to turn off cmake test.

[2017-04-07 17:48] billsacks commented on #399
@rljacob - I don't think my comments from Oct 11-13, 2016 were ever addressed. These requests came out of discussions between @gold2718 and myself. My head isn't back in this right now, but my recollection is that these changes are still needed if we want the test system to be more robust against the kinds of errors that have happened in the past - where tests aborted at some early phase but no FA

[2017-04-07 17:51] rljacob commented on #816
From telecon:  this has been fixed by JimE.

[2017-04-07 17:51] #816 closed

[2017-04-07 17:55] rljacob commented on #863
This has been fixed.

[2017-04-07 17:57] rljacob commented on #877
Still an issue.

[2017-04-07 18:06] ekluzek commented on #781
The CLM bug report on this is...

http://bugz.cgd.ucar.edu/show_bug.cgi?id=2440

[2017-04-07 18:40] rljacob commented on #892
Is this still needed?

[2017-04-07 20:21] cacraigucar commented on #428
I tested this command again and still get the still "unhelpful" error message

[2017-04-07 20:21] fischer-ncar opened #1322 "env_mach_pes.xml not being locked properly"
I ran into this problem while doing testing on cheyenne.  I was able to make changes in env_mach_pes.xml and submit to the queue without any error messages.

I was also able to change env_mach_pes.xml, then do a rebuild and submit without redoing case.setup.

[2017-04-07 20:38] cacraigucar commented on #433
I tested this again and this error still exists

[2017-04-07 21:29] cacraigucar commented on #842
I stand by my original request that a user should be able to use an F compset without needing to specify a CLM namelist.  For testing purposes, when we use create_test we can specify these in a use_case.  When a user uses create_newcase, there is no way that CAM has control over the CLM namelist settings for our F compset (and Cecile is still manually setting these every time she runs).  How do we

[2017-04-07 21:39] ekluzek commented on #842
@cacraigucar we added a feature in CLM via an xml variable called LND_TUNING_MODE. And then we removed it, but now we are adding it back in. The options it can be set to right now are:

clm4_0_default,clm5_0_cam5.5,clm5_0_GSW3P,clm4_5_CRUNCEP

so the idea is the CLM version and then the atmosphere forcing it's coupled to. We currently aren't doing anything different for a B compset than a F compse

[2017-04-07 22:12] jgfouca commented on #646
I forgot about this issue. This is fairly important if we want to guarantee that things like PET will work for our users. @rljacob this should be assigned to someone so that we don't forget; not sure who the best person is, probably one of the Jims.

[2017-04-07 22:28] cacraigucar commented on #842
After talking with Jim and Erik, CAM is able to set CLM_NAMELIST_OPTS in our cime_config/config_compsets.xml.  This will allow us to set the CLM namelist settings that Cecile is using for her tests to the same settings in our CAM F compsets.  Once we have this setup, users will no longer need to copy Cecile's user_nl_clm files for their runs.

I am closing this issue

[2017-04-07 22:28] #842 closed

[2017-04-08 01:51] mvertens commented on #863
This has actually not been fixed on the component side for CESM. Please
reopen this issue.

On Fri, Apr 7, 2017 at 11:55 AM, Robert Jacob <notifications@github.com>
wrote:

[2017-04-08 01:55] mvertens commented on #863
Also this variable needs to be totally removed in CIME from the CESM
config_component_cesm.xml.

On Fri, Apr 7, 2017 at 11:55 AM, Robert Jacob <notifications@github.com>
wrote:

[2017-04-08 02:05] rljacob commented on #863
There was some change you made to CO2 values in config_components that we were thinking of.  Sorry to get it mixed up.

[2017-04-08 02:15] mvertens commented on #863
No problem. Thanks for reopening this. I need to have this done before the
release.

On Fri, Apr 7, 2017 at 8:05 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-04-09 04:45] gold2718 opened #1323 "xmlchange allows setting invalid values"
For at least some variables, `xmlchange` allows setting invalid values. Here is a simple reproducer:
[code]
This may be related to the use of the `component` property since `valid_values` is enforced for most variables.

[2017-04-09 20:57] bertinia commented on #946
There is an error with the --listall option to xmlquery:

/xmlquery --listall
ERROR: Multiple matches for nodename 'entry' and attrs '{'id': 'dependency'}' in file '/glade/p/work/aliceb/sandboxes/tests/b.e20.B1850.f09_g16.test.03.cylc/env_batch.xml'

[2017-04-09 21:28] gold2718 commented on #946
I think this was supposed to be addressed by #1261, is it still broken in master?

[2017-04-09 22:22] billsacks commented on #123
Much of this was addressed by #814 . There are still some ideas here that were not addressed, but I think this is good enough that I can close it. (IIRC, some of those other ideas were felt to be bad ideas by others.)

[2017-04-09 22:22] #123 closed

[2017-04-09 22:27] billsacks commented on #453
I can live with this if others like @mvertens can, so am closing it as a wontfix

[2017-04-09 22:27] #453 closed

[2017-04-09 23:24] bertinia commented on #946
@gold2718 - yes, I updated my sandbox to the master and it is working correctly. Thanks!

[2017-04-09 23:52] bertinia commented on #946
I'm still not sure what command line options to use in order to see the list of all
possible subgroups. xmlquery --listall --verbose isn't any different than xmlquery --listall
which lists all the GROUPS and their associated id, value settings.
 xmlquery --listall --subgroup expects a subgroup name and if I use a group name, then it works but how do I know what the possible subgroup options are?

[2017-04-10 02:50] bertinia commented on #946
Just found this error - are these args incompatible?

./xmlquery --listall --full
ERROR: Multiple matches for nodename 'entry' and attrs '{'id': 'JOB_QUEUE'}' in file '/glade/p/work/aliceb/sandboxes/tests/b.e20.B1850.f09_g16.test.03.cylc/env_batch.xml'

[2017-04-10 03:02] billsacks commented on #462
@jgfouca - any feelings as to whether we keep this open as Low Priority, or close it as wontfix? I'm fine either way.

[2017-04-10 03:21] billsacks commented on #763
@rljacob - this is a low-priority cleanup, which I think emerged from a discussion with @jedwards4b . Currently we support xmlchange_cmnds or shell_commands, and would like to remove support for xmlchange_cmnds. I'd be okay just closing it as a wontfix, but if we want to clean this up, the main need is for ACME to rename some files:

From ACME master:

[code]

From cesm2_0_alpha06g:

[code]

[2017-04-10 03:25] billsacks commented on #787
Jim Edwards addressed this for the Fortran unit tests within cime by adding them to scripts_regression_tests (we felt this wasn't their ideal home, but would do well enough).

What remains is coming up with a general solution for running components' unit tests as part of their test suites.

[2017-04-10 03:41] billsacks commented on #827
This has improved, but it still feels to me like the error messages are more developer-centric than user-centric:

1. Setting a non-existent variable: Putting `foo = 1` in user_nl_cpl

Gives this long error message:

[code]

As a user, I would ask, "what is `Buildconf/cplconf/namelist_infile`, and what is the namelist definition?" I feel this would be clearer to a user:

[code]

2. Setting a varia

[2017-04-10 03:51] billsacks commented on #848
Regarding my comment https://github.com/ESMCI/cime/issues/848#issuecomment-268612559 : For `--listall`: Things are a bit better now in that groups and variables are alphabetized. But this still doesn't go as far in terms of user-friendliness as what I suggested. The most important piece is (1): organizing by file.

And point (5) from that comment hasn't been addressed.

[2017-04-10 03:54] billsacks commented on #849
Closing this as a wontfix... the question was partly answered, but not completely. Oh well.

[2017-04-10 03:54] #849 closed

[2017-04-10 11:23] billsacks opened #1324 "Check on coupling frequencies"
_From @quantheory on July 30, 2015 0:37_

Tony [proposed some time ago](http://bugs.cgd.ucar.edu/show_bug.cgi?id=1740) that the following checks be added to the coupler, to ensure that the various NCPL variables are set in a consistent way:

ATM_NCPL >= ROF_NCPL
ATM_NCPL >= OCN_NCPL

_Copied from original issue: CESM-Development/cime#81_

[2017-04-10 15:26] billsacks opened #1325 "ERI test creates more sym links than it needs to"
The ERI test creates a bunch of unnecessary sym links in the main case (i.e., the case without a 'ref' extension), pointing to history files in the ref2 archive space. As far as I can tell, this doesn't cause problems with the test, but it makes it hard to understand what's going on when you're trying to debug a failed test: It means that the history files created by the main case are actually put

[2017-04-10 15:52] mnlevy1981 commented on #807
Been a while since I looked aback at this issue. Not sure when these changes went in, but in `cesm2_0_alpha06h` component log files are zipped and the unzipped files are no longer so (1) is no longer an issue. Further, it looks like neither timing file is zipped anymore... which is okay default behavior given how few GPTL timers are on by default. I'm closing this ticket since it seems mostly fixe

[2017-04-10 15:52] #807 closed

[2017-04-10 16:07] jgfouca commented on #462
Low priority is my opinion.

[2017-04-10 16:10] jgfouca commented on #946
@bertinia , I know it's hacky, but this would work I think:
[code]

[2017-04-10 18:45] billsacks commented on #815
Feeling from today's cseg meeting: We'd like to do this, but it isn't the highest priority. Mariana agreed with my sense that this mainly / only applies to changes to env_mach_pes.xml (need to rerun case.setup, and then presumably the build) and env_build.xml (need to rerun case.build).

[2017-04-10 20:17] bertinia opened #1327 "Add a DOI XML variable"
_From @bertinia on March 6, 2017 23:36_

Starting with CESM2.0, there will be a DOI pointing to the associated CESM model page URL.
This DOI variable will be included in every component history output file as a global metadata attribute.  It needs to be set as a CESM XML variable in:

cime/driver_cpl/cime_config/config_component_cesm.xml.

and then picked up by every component model output writer

[2017-04-10 20:18] bertinia opened #1328 "rewrite archive_metadata in python"
_From @bertinia on November 18, 2016 17:48_

Here is the list of base fields that need to be harvested from the caseroot and sent to the expdb:
Base list of fields to be harvested from the caseroot XML:
    CASE
    CASEROOT
    COMPILER
    COMPSET
    CONTINUE_RUN
    DOUT_S_ROOT
    GRID
    MACH
    MODEL
    MPILIB
    PROJECT
    REST_N
    REST_OPTION
    RUNDIR
    RUN_REFCASE
    RUN_REFD

[2017-04-10 20:21] bertinia opened #1329 "Refactor of expected fails"
_From @mvertens on October 23, 2015 18:1_

The testdb needs to be able to handle what the testreporter spits back.
Carry over the notes that you put in for tests.
Management of expected fails. This needs to be moved out of cime.
These tasks are dependent on the fix of testreporter.pl.

_Copied from original issue: CESM-Development/cime#257_

[2017-04-10 20:21] bertinia commented on #1329
The testdb code was updated to handle notes carrying forward from one
test to the next if there is a failure.

[2017-04-10 20:24] bertinia opened #1330 "lt_archive needs the mode and saveFlag option to be user configurable"
_From @bertinia on May 18, 2016 18:5_

The current lt_archive.sh hard codes the hsi put saveFlag="PR". This option doesn't delete the local
files upon successful copy to HPSS. There should be a DOUT_L xml option that allows the user
to specify the mode and whether or not to delete local files.

_Copied from original issue: CESM-Development/cime#448_

[2017-04-10 20:24] bertinia commented on #1330
This is addressed in the case_lt_archive.py port to python.

[2017-04-10 21:35] mnlevy1981 opened #1331 "Set order that test suite builds / submits?"
This is a very low priority issue that I'm bring over from the CESM-Development/cime issue page because it would be nice if this got addressed at some point.

I'm not familiar with the parallelism in `create_test`; my impression is that the individual tests are built in parallel but processed serially (i.e. Test A is built in parallel and submitted, then Test B is built in parallel and submitted,

[2017-04-10 21:38] jgfouca commented on #1331
@mnlevy1981 create_test has parallelism both at the test level and for the individual builds.

[2017-04-10 22:14] rljacob commented on #1263
@jgfouca Got another request for this from ACME users at OLCF.

[2017-04-10 22:19] rljacob opened #1332 "Handle projects and subprojects in machine/batch variables."
On Titan, accounting projects often have subprojects.  The "project" name should be used for directories and fits the standard use of $PROJECT in CIME.  But jobs should be submitted to the subproject.  Example:  "csc190" is the $PROJECT for directory names but the account in qsub should be  "csc190acme".

[2017-04-10 22:21] jgfouca commented on #1263
OK, I should be able to get to it this week.

[2017-04-11 18:42] sarich commented on #1309
Pull Request https://github.com/ESMCI/cime/pull/1333

[2017-04-11 19:04] gold2718 commented on #1288
@sarich, you closed this issue but the document still does not specify that only the test output is useful. If you do not capture the output, is there a method for finding if anything failed and if so, what? If not, I think the wiki should be updated with the importance of capturing and studying the output (since apparently, there is no summary anymore).

[2017-04-11 20:24] gold2718 opened #1334 "Do not allow ./create_clone --keepexe if the case is not built"
Currently, `./create_clone --keepexe` issues a warning if the case is not built but makes the clone anyway. This can leave an open vulnerability because PIO sometimes changes the `valid_values` of `PIO_TYPENAME` during its build. The issue is that the clone retains invalid PIO options which cause runtime errors if used. I see two possible solutions (listed in my order of preference):

1. Fix confi

[2017-04-11 20:42] billsacks commented on #1334
I like the idea of not having pio's build update valid_values, which I think is what you're saying with option (1) - if this change is feasible. You say that the PIO_TYPENAME valid_values would then be correct at case.setup time. Would they actually be correct right after create_newcase? If not, then there would still be a limitation that you couldn't run `create_clone --keep-exe` until after runn

[2017-04-11 20:51] jedwards4b commented on #1334
I don't like option 1, it puts/requires information into config_compilers which could be inconsistent
with reality.   I prefer option 2 but think that option 3 is also a possibility.

[2017-04-11 21:20] gold2718 commented on #1334
I think option 1 (my preference) would involve (some version of) the XML changes I listed plus modification to the newcase code to make sure the case env files are correct.

@jedwards4b , what is the point of having supported machines and compilers if the information is 'inconsistent with reality'? PIO will still perform a check by actually finding the requested libraries but this is a way to docu

[2017-04-11 21:24] #1309 closed

[2017-04-11 21:43] jedwards4b commented on #1334
At this time we do not *need* the pnetcdf path in config_machines or config_compilers and we don't need to say in those files whether or not netcdf is built with parallel support - all of these things are determined by pio during the build step.   Your suggestion would require us to add fields to one of these two files to explicitly provide this information for every machine.   My preference would

[2017-04-11 21:44] #1304 closed

[2017-04-11 22:03] jedwards4b commented on #311
@rljacob After reviewing I think that this issue can be closed.   All of the information above is in README.case except the non-default options which are in CaseStatus.

[2017-04-11 22:28] jedwards4b commented on #611
Here is a list of invalid characters for test-id are you aware of others?  How is this list different for casenames?

r"[\.<>/{}[\]~`@]"

[2017-04-11 22:30] jedwards4b commented on #853
What maximum length do we want?  What is the list of restrictions for case name?

[2017-04-11 22:55] billsacks commented on #1334
Is this issue actually more general than the title suggests? I'm thinking that really this issue should read: "PIO_TYPENAME not checked properly if you xmlchange it before doing a build". `./create_clone --keep-exe` is one specific instance where everything you do is done before that case's build, but it seems that the same issue would apply to a case created with create_newcase. (What happens now

[2017-04-11 23:40] gold2718 commented on #1334
I don't think that the PIO build would ever add a new valid value -- the XML file starts off with all possible values as valid.
The problem with 5. is that `system_test_compare_two` is broken when the default value for `PIO_TYPENAME`  turns out to be unsupported.

It silently changes it to something that is supported.

This brings me to option 7 which is to simply do that at runtime. @jedwards4b,

[2017-04-12 01:44] billsacks commented on #1334
Oh, I didn't realize that the default value can be unsupported. That does make (5) a problem. I don't like having values changed out from under you silently, either at build time or at run time, but I guess I can live with it.

[2017-04-12 02:44] billsacks commented on #862
I haven't tested to verify this is still a problem, but it looks like `shr_string_leftAlign` hasn't changed, so I assume this is still an issue.

See https://software.intel.com/en-us/forums/archived-visual-fortran-read-only/topic/314044 for some possible implementations that address this.

[2017-04-12 02:54] billsacks commented on #872
It looks like mpilib and compiler can pick up defaults now, although some tweaks are needed:

- For mpilib: fix documentation of this argument in run_tests.py to say it's optional, and test to make sure it works

- For compiler: get rid of the default in the parser.add_argument call: `    parser.add_argument("--compiler",  default="gnu",`, so that it defaults to None.

Ideally, the mpirun command

[2017-04-12 03:10] billsacks commented on #1318
I wonder if these weren't given valid_values because they are sometimes set to things like $STOP_OPTION?

[2017-04-12 12:13] jedwards4b commented on #1318
Setting to another variable such as $STOP_OPTION avoids the valid_value check.  I think that they were just overlooked.

[2017-04-12 16:31] mnlevy1981 opened #1338 "More discussion on sphinx/rst workflow"
I missed this when it was discussed in #1088 but @rljacob said

I have two comments:

1. doctree does not need to be in the repo, it should be in `.gitignore`
1. It looks to me that the html changes are just sphinx adding a line "Created using Sphinx X.Y.Z" to the page

For example, I checked out the `gh-pages` branch and ran `make clean; make html`.

[code]
(and on and on for 700 lines)

So for (

[2017-04-12 16:59] #857 closed

[2017-04-12 17:00] #611 closed

[2017-04-12 17:00] #853 closed

[2017-04-12 17:03] mnlevy1981 commented on #1338
FYI,

[code]

inside a new conda environment is all it for me to get the correct version installed.

[code]

Not sure why `searchindex.js` changes, but that's the only difference I see

[2017-04-12 17:19] ekluzek commented on #781
clm4_5_15_r233 fixes the issues for CLM, so cime should now be able to make this update.

[2017-04-12 20:35] #781 closed

[2017-04-12 21:28] agsalin commented on #1211
@bertinia @jedwards4b @rljacob @mvertens

I went ahead and replaced the COPYING license file in 3 occurrences of GPTL to use the new license. I attached the email chain in the commit log to document that we had Jim Kosinski's permission.

I forgot to create a branch, so ended up pushing this directly to master. We had discussed this pretty thoroughly through emails already, so I think I can just l

[2017-04-12 21:41] jedwards4b commented on #1211
We will add this back to PIO before the next merge.  Thanks

[2017-04-13 01:20] billsacks commented on #798
Dot in the test name is prevented by #1337 so I'm closing this issue

[2017-04-13 01:20] #798 closed

[2017-04-13 03:17] #1315 closed

[2017-04-13 07:15] lvankampenhout commented on #943
On Cheyenne, when running create_clone on a Yellowstone case , I get the following error message. Is this something that should have been addressed by this Issue?
``
$ ln -s /glade/p/work/hannay/cesm_tags/cesm2_0_beta05_cam5_4_111_finalclm50paramsfile_n12_clm4_5_14_r225 sandbox
$ ./sandbox/cime/scripts/create_clone -clone caseroot -case b.e20.BHIST.f09_g16.20thC.144_01_3hr
 Creating Case directory

[2017-04-13 11:48] billsacks commented on #943
@lvankampenhout - note that this issue is still open. In a recent discussion, there was agreement that we don't currently expect create_clone to work across machines. I'd recommend that, if you want to continue an existing case, you either (a) continue it on yellowstone, if it's not _too_ costly (we have a few hundred thousand core hours remaining in our yellowstone LIWG accounts), or (b) start a

[2017-04-13 12:20] billsacks commented on #1141
There are already some pFUnit builds on hobart, in Sean Santos's home directory. I could initially test with these, but eventually want to rebuild this using our standard build arguments (as given above), put in some more central location.

[2017-04-13 12:23] billsacks opened #1344 "Error trying to build unit tests on hobart"
Pointing to my branch from #1343 , I tried running this on hobart:

[code]

and got this error message:

[code]

This is pointing to this line in Macros.cmake:

[code]

which I see is missing an ending `}`

[2017-04-13 12:34] lvankampenhout commented on #943
@billsacks thanks. I was under the impression we were strongly discouraged to do anything on Yellowstone anymore so I went ahead by creating a new branch case on Cheyenne. That seems to work fine.

[2017-04-13 12:35] lvankampenhout commented on #943
What does the label 'ready' at this issue mean? It does not mean it is solved then?

[2017-04-13 12:39] billsacks commented on #943
No idea. It's some label that automatically appears on issues for a reason I don't understand. @rljacob - can you clarify what 'ready' means?

[2017-04-13 15:00] billsacks commented on #1141
On cheyenne, I built pFUnit3.2.8 with:

[code]

[2017-04-13 15:04] rljacob commented on #1141
FYI.  There is some work going on in CMDV to containerize pFUnit.

[2017-04-13 15:09] billsacks commented on #1141
@rljacob - that sounds great, thanks for the heads-up. For now we at least need this on cheyenne (the yellowstone replacement), but that could be useful in the future.

[2017-04-13 15:15] rljacob commented on #943
"ready" means it is ready to be worked on and has been assigned to someone.

[2017-04-13 15:21] #1241 closed

[2017-04-13 15:29] jedwards4b opened #1345 "logic of mpirun attributes"
In env_mach_specific.py there is code that requires you to specify all of the possible attributes when calling get_mpirun.   This should not be a requirement.  The code should read the list of possible attributes from the config_machines.xsd file and make sure that the attribs argument is a subset of that list.   From a discussion in PR #1343

[2017-04-13 15:30] #872 closed

[2017-04-13 15:34] billsacks commented on #1141
I'm running into trouble on cheyenne. The fundamental problem is that (1) On the login nodes, I can build the unit tests, but cannot run them, but (2) On the compute nodes, I cannot build the unit tests. The unit test workflow requires building and running in the same place. I'm working with CISL to try to resolve this.

[2017-04-13 20:52] gold2718 commented on #1198
Fixed by #1237

[2017-04-13 20:52] #1198 closed

[2017-04-14 19:03] bishtgautam commented on #1286
@mvertens : Do you know what setting of PIO_TYPENAME in env_run.xml will lead to `pio_iotype = iotype_std_netcdf` ([shr_dmodel_mod.F90#L774](https://github.com/ESMCI/cime/blob/master/src/share/util/shr_dmodel_mod.F90#L774))?

[2017-04-14 19:07] jedwards4b commented on #1286
PIO_TYPENAME='netcdf'

[2017-04-14 19:09] bishtgautam commented on #1286
thanks @jedwards4b

[2017-04-14 19:20] rljacob opened #1353 "Add a --script-root option to create_newcase"
Add a --script-root option to create_newcase which will put all of the xml and case files created by create_newcase under the designated directory.

If a user did:
`./create_newcase --case mycase --output-root $CASE_ROOT --script_root $CASE_ROOT/cime_scripts`

They would get a directory layout like this:
[code]

[2017-04-14 20:01] bishtgautam commented on #1286
@jedwards4b: I ran a simulation on Edison with PIO_TYPENAME='netcdf', but pio_iotype /= iotype_std_netcdf. Could it be a bug and one should be using `pio_iotype_netcdf` instead of `iotype_std_netcdf` to determine if standard netcdf is was specified in the xml file?

Btw, `iotype_std_netcdf = -99` at [shr_dmodel_mod.F90#L63](https://github.com/ESMCI/cime/blob/master/src/share/util/shr_dmodel_mod.F9

[2017-04-14 20:03] jedwards4b commented on #1286
It should be pio_iotype_netcdf and I don't know where iotype_std_netcdf came from - it's not part of pio.

[2017-04-14 20:16] #1296 closed

[2017-04-14 20:35] bishtgautam opened #1355 "Data model using incorrect setting for standard netcdf"
The `if (pio_iotype == iotype_std_netcdf) then ` in [shr_dmodel_mod.F90#L774](https://github.com/ESMCI/cime/blob/master/src/share/util/shr_dmodel_mod.F90#L774)
should be replaced by `if (pio_iotype == pio_iotype_netcdf) then `.
See the following [comment](https://github.com/ESMCI/cime/issues/1286#issuecomment-294225625).

[2017-04-14 20:57] bishtgautam commented on #1355
This wasn't a bug after all. See the following [comment](https://github.com/ESMCI/cime/pull/1356#discussion_r111633821)

[2017-04-14 20:57] #1355 closed

[2017-04-14 21:09] billsacks opened #1358 "Setting PROJECT_REQUIRED to FALSE has the same effect as TRUE"
On my local machine, I tried having this in my config_machines.xml file:

[code]

But get this message from create_newcase:

[code]

It seems that a FALSE value still results in the conditional being True in this line in case.py:

[code]

A simple fix would be to call convert_to_type on the return value in the above conditional, to convert it to logical. But I have a feeling that there is a more e

[2017-04-16 22:13] rljacob commented on #1229
Closing this as the initial problem was user error and the history problem is mentioned in #1252

[2017-04-16 22:13] #1229 closed

[2017-04-16 22:25] rljacob opened #1364 "Short term archiving removing MPAS restart files"
Issue #1252 is nearly solved.  But testing with some different restart frequencies is showing problems.

Test 1:  low-res fully coupled ACME config.
Run for 1 year with restart and end of 1 year.
Everything works fine. See https://gist.github.com/rljacob/ca750c3d4a2ea262db5b728b78e59acc

Test 2:  same case but run for 2 years and keep the restart frequency the same.
The interim restarts have the s

[2017-04-16 22:26] rljacob commented on #1364
Compare to land model which does the right thing:
[code]

[2017-04-17 13:22] #1112 closed

[2017-04-17 13:34] #1358 closed

[2017-04-17 13:34] #1308 closed

[2017-04-17 13:36] #347 closed

[2017-04-17 13:38] #293 closed

[2017-04-17 14:03] lvankampenhout opened #1367 "DATM_CPLHIST_DIR not used?"
Trying to set up a land-only case with 3-hourly coupler data

    <entry id="DATM_MODE" value="CPLHIST3HrWx">

from one of my own runs:

    <entry id="DATM_CPLHIST_CASE" value="b.e20.BHIST.f09_g16.20thC.144_01_3hrYS">

. However it seems that the data directory entry

    <entry id="DATM_CPLHIST_DIR" value="/glade/p/work/lvank/forcing/b.e20.BHIST.f09_g16.20thC.144_01_3hrYS/cpl/hist/">

is not use

[2017-04-17 14:35] mvertens commented on #1367
Could you please point us to your $CASEROOT.

On Mon, Apr 17, 2017 at 8:03 AM, Leo van Kampenhout <
notifications@github.com> wrote:

[2017-04-17 15:29] mvertens commented on #1367
Several things.

1) I am not seeing the problem you are pointing to. The DATM_CPLHIST_DIR

2) I found your $CASEROOT and for cplhist forcing the stream domain must be
the same as its files. This is a tricky problem with this mode. What you
need to do is to set your ATM_DOMAIN_FILE to "UNSET". In that case the
stream use the domain from the first stream file. This needs to be
documented - which I a

[2017-04-17 15:42] jedwards4b opened #1368 "test T_TestRunRestart Fails on cheyenne"
It has something to do with the submit command
[code]
but the other fake tests are passing there - is this one handled differently?

[2017-04-17 17:49] billsacks commented on #1257
I got the pfunit build and self-tests running on cheyenne with the following, so maybe document this procedure:

[code]

`-DROBUST=NO` is needed to turn off the "robust" test runner. On cheyenne, I was getting errors trying to run the pFUnit self-tests with the robust test runner:

[code]

Tom Clune suggested turning off the robust test runner, and this indeed solved the problem. He said that turn

[2017-04-17 17:51] billsacks commented on #1141
I got the pFUnit build and self-tests working on cheyenne with this procedure:

[code]

Then from an interactive session (with qinteractive) I was able to run `make tests`.

I'm still waiting for a resolution to the problem of how to build and run unit tests from the same place.

[2017-04-17 21:39] jayeshkrishna opened #1372 "Invalid PIO numtasks not reset if stride is valid"
The PIO numtasks are not reset if the strides are valid.

This is due to a copy-paste error in #817853704cd40d892fb711380922d991e127f4cb .
When copying code for adjust_pio_layout() in case_setup.py the last 3 lines were
intended incorrectly

[2017-04-17 21:39] jayeshkrishna commented on #1372
https://gist.github.com/jayeshkrishna/0e2231dba0a94df3109e80114c6368ed shows the relevant part of the change

[2017-04-17 21:42] jayeshkrishna commented on #1372
The pio_numiotasks in the component namelists are set to -99 (instead of 1) for PET.f45_g37_rx1.A due to this bug.

[2017-04-18 07:18] lvankampenhout commented on #1367
Thanks for your help. Indeed I forgot to mention the $CASEROOT: it's

     /glade/u/home/lvank/cesm/my_cases/bgruns144/ig.e20.f09_g16.20thC.144_iwc2

After my post here I continued working on a workaround, which involved the user_datm.streams.txt* files. Could this explain why you are not seeing the problem?

Just now I created a clone case under

    /glade/u/home/lvank/cesm/my_cases/bgruns144/ig

[2017-04-18 16:03] bertinia opened #1374 "bug in st_archive for DART"
There is a bug in the case_st_archive.py script for DART and multi-instance archiving where
the indentation is incorrect in the _get_ninst_info subroutine as well as incorrect index range.

[2017-04-18 16:32] bertinia commented on #1327
Here are the specifics for the minted CESM2.0 DOI -

DOI:

doi:10.5065/D67H1H0V

URL:

https://doi.org/10.5065/D67H1H0V

Citation example:

Community Earth System Model - CESM2.0 [Software]. (2017). Boulder, Colorado: UCAR/NCAR - Climate and Global Dynamics Laboratory. https://doi.org/10.5065/D67H1H0V

[2017-04-18 16:34] bertinia commented on #1328
This is in test but will only be used with CESM.  Is there a way to restrict creating the
link in create_newcase and create_clone to be CESM only?

[2017-04-18 16:44] bertinia commented on #1330
We are incrementally testing a new version of long term archiver in python with NCAR HPSS (branch bertinia/lt_archive). We will need @fvitt to test functionality on NASA pleiades with custom calls to transfer and archive files on those systems. ACME will also need to test with their archival systems. There are a number of new XML variables added with the DOUT_L prefix which addresses the saveflag

[2017-04-18 16:55] jedwards4b commented on #1328
model = CIME.utils.get_model()
if model == 'cesm':

[2017-04-18 17:26] #1372 closed

[2017-04-18 17:27] jedwards4b opened #1376 "recent pio changes break unit tests"
The unit tests have a stub pio library that needs to conform to the pio api, PR #1352 or #1354 broke this.   Again - we need to get the fortran unit tests working on machines other than yellowstone.

[2017-04-18 17:46] #1368 closed

[2017-04-18 21:18] #545 closed

[2017-04-19 02:05] jedwards4b opened #1379 "da_script issue in case.run"
Traceback (most recent call last):
  File "/glade/u/spooldir/1492552132.903352.shell", line 84, in <module>
    _main_func(__doc__)
  File "/glade/u/spooldir/1492552132.903352.shell", line 79, in _main_func
    success = case_run(case)
  File "/glade/p/work/marcusl/CESM_model_versions/cesm2_0_beta05_cam5_4_111_finalclm50paramsfile_n12_clm4_5_14_r225/cime/scripts/Tools/../../utils/python/CIME/case_

[2017-04-19 02:10] #1376 closed

[2017-04-19 05:24] rljacob opened #1380 "Need an adjective for model that uses CIME"
Fill in the blank:
"ACME and CESM are both examples of CIME- _______ models"

"enabled"?
"compliant"?
Don't try. Just say "models that use CIME".

[2017-04-19 14:42] Katetc commented on #1380
CIME-supported or CIME-integrated models?

[2017-04-19 14:50] jedwards4b commented on #1380
I like enabled.

[2017-04-19 16:06] dqwu opened #1382 "wait_for_tests does not work on test status of ERI.f45_g37.X"
This issue has been reproduced on anlworkstation, blues and edison.

Create and run a single test ERI.f45_g37.X
`./create_test ERI.f45_g37.X --machine=**** --test-root=****`

View the test-root directory. On edison, the content is like below:
[code]

Run wait_for_tests script on TestStatus, it will fail. On edison, the error message is like below:
[code]

It seems that the ref2 case has a TestStat

[2017-04-19 17:58] erichlf commented on #433
@cacraigucar what was the recent command you tried to use? Trying to use the original command doesn't work due to unknown options it seems.

[2017-04-19 18:48] jedwards4b commented on #1379
This is already fixed on the trunk.

[2017-04-19 18:48] #1379 closed

[2017-04-19 18:56] jgfouca commented on #428
@cacraigucar single-dash long-options (-long) are not POSIX compliant and create_test doesn't support them. Use (-s) for short option and (--long) for long options.

[2017-04-19 18:58] rljacob commented on #428
But shouldn't "-testid" result in a message like "invalid option"?  Some hint that they're not using POSIX compliant arguments.

[2017-04-19 19:00] jgfouca commented on #428
This is handled by the python argparse module.

[2017-04-19 19:05] cacraigucar commented on #428
The problem is that we are moving from using single dashes with CESM1 to double dashes in CESM2.  That combined with the likelihood of a simple typo, it would be good if an error like this could be trapped (in my cases it was a typo that I didn't realize I'd made).   I was requesting a simple error message that doesn't say something about grid information which sends the user in a completely wrong

[2017-04-19 19:13] rljacob commented on #428
What is handled by argparse?  I good error message?  Apparently not.

[2017-04-19 19:18] jedwards4b commented on #428
I have a method to address this but need to think a bit about where to put it - basically it needs to happen in each interface prior to calling parser.parse_args
[code]

[2017-04-19 19:20] jedwards4b commented on #428
Actually
[code]

[2017-04-19 19:24] jedwards4b commented on #428
How's this?
[code]

[2017-04-19 19:25] cacraigucar commented on #428
Perfect - just what I was hoping for!

[2017-04-19 19:26] rljacob commented on #428
How about:
[code]

[2017-04-19 19:26] sarich commented on #1322
I'm unable to reproduce this error locally (I don't have a cheyenne account), maybe it would help if I could get the git version and the exact commands and xml changes that were made.

And of course if this is only happening on cheyenne then someone else may have to look into it.

[2017-04-19 19:30] mrnorman opened #1384 "Unable to use DDT with aprun on Titan"
We determined the cause of the problem of trying to use DDT on Titan. For DDT to work, we need to call "ddt --connect aprun" instead of "aprun". I tried to do this through env_mach_specific.xml, changing the following:

122     <executable args="default">aprun</executable>
122     <executable args="default">ddt --connect aprun</executable>

But when I do this, the flags (e.g., -S8 -N16 -n16 -d1) a

[2017-04-19 19:32] mrnorman commented on #1384
@rljacob @jgfouca

[2017-04-19 19:33] jedwards4b commented on #1384
This is related to issue #643 and we would prefer to have a generic debug option to one specific to a single system.  Currently the best way to launch a debugger is outside of the cime scripts.

[2017-04-19 19:36] rljacob commented on #1384
How does one launch a debugger outside the cime scripts but with a model built by create_newcase?

[2017-04-19 19:39] jedwards4b commented on #1384
1. build the model executable.
2. set the environment by sourcing the .env_mach_specific.[sh,csh]
3. launch ddt from the command line, the rest is done in the ddt gui
4. set the run directory to the model run dir
5. set the executable
6. set the proper number of tasks and threads
7. start the job.

[2017-04-19 19:50] mrnorman commented on #1384
It would be significantly easier for everyone if we could just alter the aprun command without it breaking CIME. We need some way of supporting the reverse connect feature of DDT, especially for large debug jobs.

[2017-04-19 19:53] ekluzek commented on #1384
@jedwards4b the reverse connect method is what the Allinea people recommend. They may start deprecating the above method that you give. In practice I've found doing the above for CESM to be problematic. It makes the debugging very tied to the specific case and getting all the options set exactly right. And it seems to be especially so, if you aren't just using the intel compiler.

Reverse connect

[2017-04-19 19:54] ekluzek commented on #643
@mrnorman see the comment above on Feb 10th on how to set this up for DDT.

[2017-04-19 19:56] mrnorman commented on #643
Thanks! So I just replace my mpirun section in env_mach_specific.xml to the block you gave, and it should work?

[2017-04-19 20:01] mrnorman commented on #1384
I'd like to try the method @ekluzek recommended in the other Issue, but my parameters for aprun on Titan will be different than that example. The aprun parameters for Titan are commented out in cime_config/acme/machines/config_machines.xml. Therefore, it's not clear to me where these flags are actually coming from, and I don't know where to copy and paste from.

[2017-04-19 20:02] jedwards4b commented on #1384
Okay, I'm up to speed now.   @mrnorman the problem is on line 152 and 1122 of case.py
[code]
should be
[code]

[2017-04-19 20:20] mrnorman commented on #1384
Thanks Jim! I have an older version of CIME, but I found the correct line and changed it. This does restore the aprun flags. However, I still have the problem that it starts the aprun command with "aprun" rather than:

<executable args="default">ddt --connect aprun</executable>

Is there an environment variable in the python scripts that can reference the above XML executable name instead of just

[2017-04-19 20:24] fischer-ncar commented on #1322
This is what I did using the current cime/master.

git version 1.8.5.6

./create_test SMS.f45_g37_rx1.A.cheyenne_intel
./xmlchange NTASKS=-2
./case.submit   # run submits to queue, but fails

./case.build --clean
./case.build
./case.submit   # run submits to queue, but fails

I wasn't able to get create_newcase to repeat this behavior.  So, it's something specific with create_test.

[2017-04-19 20:28] jedwards4b commented on #1384
It looks like aprun.py is hardcoding aprun in its argument string.   Instead of returning aprun plus the arguments it should just return aprun_arguments and use executable for the command.

[2017-04-19 20:39] jedwards4b commented on #1384
@mrnorman Here is a branch from the current master with a fix *I don't have access to titan to test this*
To git@github.com:jedwards4b/cime.git
 * [new branch]      aprun_fix -> aprun_fix

[2017-04-19 20:43] mrnorman commented on #1384
I tested the following diff, and it succeeded on Titan. Is it basically the same as what you implemented?

diff --git a/cime/utils/python/CIME/aprun.py b/cime/utils/python/CIME/aprun.py
index a01d6fb..95acda3 100755
--- a/cime/utils/python/CIME/aprun.py
+++ b/cime/utils/python/CIME/aprun.py
@@ -64,7 +64,7 @@ def _get_aprun_cmd_for_case_impl(ntasks, nthreads, rootpes, pstrids,

     # Compute task

[2017-04-19 20:45] jedwards4b commented on #428
I have a branch where I have implemented this change, however there is a problem and I think that we need to discuss whether we want this on before cesm2 - namely there is still code internal to cime as well as in the component models which use the single dash long form and so this change will require changes to all of the component models.     I think if we are going to apply this change we need

[2017-04-19 20:47] jedwards4b commented on #1384
yes, that's basically the same thing

[2017-04-19 20:49] mrnorman commented on #1384
Sweet. So, I'm not sure how this works with the CIME merges into ACME, but I assume we'll need to patch this in ACME's CIME for now until we get your CIME patch downwind at a later point?

[2017-04-19 21:26] sarich commented on #1322
Thanks, that was very helpful. I think I am getting the same behavior now and will investigate.

NOTES:
Running create_newcase and changing the NTASKS gets the expected behavior:

./create_newcase --case test1 --res f45_g37_rx1 --mach anlworkstation --compiler gnu --compset A
cd test1
./case.build
./xmlchange NTASKS=-2
./case.submit
File /nfs2/sarich/cime4/scripts/test1/LockedFiles/env_mach_pes.xm

[2017-04-19 21:44] #1344 closed

[2017-04-19 21:52] ekluzek commented on #643
@mrnorman Yes, replacing the existing mpirun section and using that block should work for you. That is literally what I've been doing. Note, it is setup to assume that the mpilib is default and threaded is false. But, you could configure it for other configurations as well.

[2017-04-19 21:58] mrnorman commented on #643
We ended up solving it through the CIME scripts in https://github.com/ESMCI/cime/issues/1384 . I like that solution because we just change aprun to "ddt --connect aprun" in env_mach_specific. Tested it on Titan, and it worked for me.

[2017-04-20 02:02] billsacks opened #1387 "compilers.py get_value doesn't use attributes argument"
I noticed that class Compilers in compilers.py has a get_value method that doesn't use the attributes argument. Presumably it should?

[2017-04-20 12:38] mvertens commented on #428
If there is code in component models that just use a single dash - I think
its too late to try to change this across the entire system before the
release. There are already enough issues we need to resolve in the next few
weeks before the freeze without trying to make this consistent across the
system as well.

On Wed, Apr 19, 2017 at 4:45 PM, jedwards4b <notifications@github.com>
wrote:

[2017-04-20 13:34] jedwards4b commented on #428
But I think that Cheryl is right - the current error message is confusing.    I would like to continue to track the trunk with this branch and consider merging it as part of our beta07 tag.

[2017-04-20 15:27] mvertens commented on #428
Agreed.

On Thu, Apr 20, 2017 at 9:34 AM, jedwards4b <notifications@github.com>
wrote:

[2017-04-20 15:34] jedwards4b commented on #1155
query_case is a confusing name since you don't already have a case when you call this - I thought @rljacob's suggestion of query_config was a good one.

[2017-04-20 15:36] rljacob commented on #428
Also the python create_test, the subject of this issue, has always been strict about single dash I think.  So it won't break anything to have a better error message/better enforcement in create_test.

[2017-04-20 15:39] erichlf commented on #1155
Damn! Did I mess that up? I will fix it.

[2017-04-20 15:48] mvertens commented on #1155
I agree.

On Thu, Apr 20, 2017 at 11:34 AM, jedwards4b <notifications@github.com>
wrote:

[2017-04-20 16:23] #433 closed

[2017-04-20 16:28] billsacks commented on #1380
CIMEified (part jokingly, but if it sticks I'll take credit for it :-)

[2017-04-20 16:36] jgfouca commented on #428
@jedwards4b @rljacob @mvertens

I feel strongly that we should not be trying to anticipate every way the user may mess-up their command-line arguments. Most of the time, argparse will provide a decent error. In this case, we got unlucky and the error wasn't very good. What happened is this:
[code]
... this gets interpreted as
[code]
so that cam5_4_80 is being interpreted as a test name. One thing

[2017-04-20 16:45] #1384 closed

[2017-04-20 16:49] cacraigucar commented on #428
In this particular case (moving from using single dash to double dash for this release), I suspect that this will be a mistake that will be made more often.  It is hard to retrain fingers (at least I had that problem two days in a row!)  When I encountered this error message the first time, I spent a lot of time digging into the config_compset file where my grid is defined, trying to figure out wh

[2017-04-20 17:29] mvertens commented on #1380
I vote for enabled as well.

On Wed, Apr 19, 2017 at 10:50 AM, jedwards4b <notifications@github.com>
wrote:

[2017-04-20 18:31] sarich commented on #1322
checked_lockfile() was counting the number of dots in full pathname and ignored any locked files that had more than one period in it. So if the case name had any dots, no locked files were checked.

[2017-04-20 18:43] #1100 closed

[2017-04-20 20:20] jedwards4b commented on #848
I honestly do not think that item 5 is worthy of pursuing.  Expecting a standard of human readability from these files puts an unnecessary and difficult to maintain restriction on future improvements to the xml format.

[2017-04-20 20:34] jedwards4b commented on #901
I believe that all of the issues of this PR have been addressed as of the current master.

[2017-04-20 21:18] erichlf commented on #1283
The issue appears to in the regex used. I am testing a solution now.

[2017-04-20 22:27] mnlevy1981 commented on #1380
CIME-dependent?
CIME-reliant?
CIME-based?

You should highlight the fact that neither ACME nor CESM can be run without CIME, which CIME-enabled doesn't get across.

[2017-04-20 22:48] billsacks commented on #1297
@jgfouca - note that with #1396 you'll just need to provide a _serial_ build of pFUnit - not an mpi-enabled build like we needed in the past. I'm working on the documentation of how to build pFUnit and set up a new machine for unit testing, which I'll push to the documentation page soon.

[2017-04-20 23:18] jgfouca commented on #1297
ok, thanks

[2017-04-20 23:50] billsacks opened #1397 "Second assignment of array variable in user_nl doesn't overwrite the first setting"
I set up a case with

[code]

And put the following in `user_nl_cpl`:

[code]

After running `./case.setup` and `./preview_namelists`, I expected that the final value of `cplflds_custom` in `CaseDocs/drv_in` would be `baz`, but in fact I found:

[code]

In practice, this is unlikely to affect people very often, but we do sometimes rely on this double-setting for some recursive testmods.

[2017-04-21 00:40] mnlevy1981 commented on #1380
After more thought, I'm leaning towards "CIME-driven."

[2017-04-21 01:09] billsacks commented on #1380
I like CIME-driven

[2017-04-21 03:24] billsacks commented on #1257
I have written much of this documentation: http://esmci.github.io/cime/doc/build/html/misc_tools/unit_testing.html

However, I still want to address the TODO note - writing some documentation on how to write new unit tests.

[2017-04-21 14:58] #1283 closed

[2017-04-21 15:34] #1141 closed

[2017-04-21 16:17] mrnorman opened #1398 "Running on Titan with "sub-projects""
I'm trying to run a case on Titan with a project called "csc190acme" (a sub-project of csc190), and it's failing.

The problem is that I need the case.run to use the queue option "-A csc190acme" while having the rest of ACME use the folder "/lustre/atlas/scratch/imn/csc190". If I set the PROJECT variable in env_batch.xml to csc190, then when I do ./case.submit, I get:

Submitting job script qsub

[2017-04-21 17:38] billsacks commented on #1295
Currently documentation of unit testing (http://esmci.github.io/cime/doc/build/html/misc_tools/unit_testing.html) is under "Misc tools". To me it feels like it would fit better under "CIME User’s Guide Part 2: CIME internals, Porting, Testing and Use Cases". How do others feel about that?

[2017-04-21 17:47] gold2718 commented on #1295
I am in favor of the move. As long as CIME is monolithic (no 'optional' or 'external' pieces), I think there should be one place for documentation.

[2017-04-21 17:48] jedwards4b commented on #1398
I think that if you use the correct project code and the --output-root option to create_newcase you can get the configuration you are looking for.

[2017-04-21 19:43] billsacks commented on #213
This still seems to be an issue in the latest cime.

[2017-04-21 19:43] mvertens commented on #1380
I am fine with that.

On Thu, Apr 20, 2017 at 9:09 PM, Bill Sacks <notifications@github.com>
wrote:

[2017-04-21 19:45] gold2718 commented on #848
I agree with @jedwards4b on point (5).
XML is human readable and I strongly support ASCII (or at least text based) files for all of our code and configuration source.
However, our 'readability' interface is `xmlquery`, not the XML files. If there are ways to get more user-friendly output from that tool, that is where the effort should go (IMHO).
That said, I don't think we should just shove anythi

[2017-04-21 19:51] jedwards4b commented on #213
Wouldn't a better solution be to have a prerun check of the contents of the run directory - there are certain rpointer files that we are expecting for a CONTINUE_RUN case that won't be in a branch or startup case.

[2017-04-21 19:55] billsacks commented on #213
@jedwards4b - that wouldn't have helped in the two cases that the original issue was referring to: In those cases, users copied the contents of a restart directory (from the archive space) into their run directory, so the rpointer files were there as well.

[2017-04-21 20:01] billsacks commented on #684
I think this issue is essentially resolved. From something close to the latest master I ran

[code]

Tests seemed to pass except for this one:

[code]

but I'm going to assume there is a specific issue with that test, rather than the more general issue alluded to here.

[2017-04-21 20:01] #684 closed

[2017-04-21 20:21] billsacks opened #1399 "Do we really want this warning for --user-compset?"
If you create a user-defined compset with the --user-compset option, the first thing you see is the following warning:

[code]

But typically you are using --user-compset exactly because there is no alias for your compset, so this message is confusing, making it seem like there are problems when really everything is okay.

So I'd vote to remove this warning. What do others think?

[2017-04-21 20:30] billsacks opened #1400 "Error message for grid aliases should be more clear about the problem"
Two different cases result in the same error message:

(1) Providing a grid alias that doesn't exist at all:

[code]

(2) Providing a grid alias that exists, but isn't valid for this compset:

[code]

The error message should distinguish between these cases: In the second case it should say something like, "Grid alias f09_g16_gl4 is not valid for this compset" (this used to be done in the perl).

[2017-04-21 20:33] jedwards4b commented on #213
Then it would need to be a run time error, I think that the solution you propose is ripe for unintended side effects.

[2017-04-21 20:37] billsacks commented on #213
A runtime error would be acceptable.

[2017-04-21 20:40] billsacks commented on #714
This is still an issue in the latest cime. I tested this using a slight variation on the above:

This one doesn't have a defined alias:

[code]

This one does:

[code]

I see:

[code]

[2017-04-21 20:42] billsacks commented on #565
This no longer seems to be an issue, at least for baseline comparisons: It seems that the cprnc.out file is echoed to TestStatus.log if there is a baseline failure, even if there are no RMS diffs but only baseline diffs.

I tested this with:

[code]

[2017-04-21 20:42] #565 closed

[2017-04-21 20:42] jedwards4b commented on #213
But that's what you get now...  as I understand it all of the expected rpointer and restart files that are required for a CONTINUE_RUN are there - so how are we going to detect this problem?

[2017-04-21 20:44] billsacks commented on #789
This is still an issue in the latest cime.

Tested with:

[code]

[2017-04-21 20:47] billsacks commented on #213
You get a very cryptic runtime error right now. The consensus in the CSEG meeting last June was that we should provide a clearer error message in this case.

My suggestion is above. What are some of the unintended side effects you see with this? Recall that we had some discussion on this point at the CSEG meeting that I reference in this issue. We could come up with some (unusual) cases where this

[2017-04-21 21:45] mfdeakin-sandia commented on #1278
If this is a duplicate, can it (or the other one) be closed? This one does seem more informative, though the other one is assigned

[2017-04-22 02:30] rljacob commented on #1398
This is a duplicate of https://github.com/ESMCI/cime/issues/1332 but Jim's suggestion should work.

[2017-04-22 02:30] #1398 closed

[2017-04-22 02:33] rljacob commented on #1190
@mfdeakin how far along are you on this?  I'd like to give it to @erichlf since he's already doing the rename.

[2017-04-22 02:35] mfdeakin-sandia commented on #1190
I've barely started; so feel free to give it to @erichlf

[2017-04-22 02:43] rljacob commented on #1295
The "testing" in part 2 is a placeholder for documentation of create_test.   "Misc tools" is for everything in the cime/tools directory.

[2017-04-22 02:47] rljacob commented on #1295
And everything in cime/tools is "optional" in the sense you don't need it for the core functioning of cime.

[2017-04-22 03:00] mvertens commented on #1295
I think that unit testing belongs with testing in the documentation and
therefore should accompany the part 2 documentation.

On Fri, Apr 21, 2017 at 8:47 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-04-22 03:43] rljacob commented on #1190
Ok.  I'm going to give you one of Jim's.

[2017-04-22 03:46] rljacob commented on #1251
Fixe included in PR #1287

[2017-04-22 03:46] #1251 closed

[2017-04-22 11:29] billsacks commented on #1295
@rljacob - I made a new section in Part 2 - after "Testing with create_test" I added "Fortran unit testing" - see http://esmci.github.io/cime/doc/build/html/users_guide/index.html#users-guide2 . My rationale was that unit testing is (or should be) no more of an "optional" tool than system testing is.

[2017-04-23 17:35] mvertens commented on #1367
This has been resolved on cime master in a recent update to CIME. Unfortunately, there was no bug listed for this domain problem.

However, even without cime master -  I have verified that by creating your case and having preview namelist work correctly out of the box using cesm2_0_alpha06i.

There is a subtlety, however, in that domainfile in your datm_in namelist is set incorrectly out of the bo

[2017-04-23 17:35] #1367 closed

[2017-04-24 14:11] #1303 closed

[2017-04-24 14:12] #893 closed

[2017-04-24 14:16] #1292 closed

[2017-04-24 16:14] jedwards4b opened #1404 "list return where string expected"
Line 588 of test_scheduler.py, I believe this change will solve the problem:

-            errput += traceback.format_tb(exc_tb)
+            errput += " ".join(traceback.format_tb(exc_tb))

[2017-04-24 16:46] erichlf commented on #1190
@rljacob I don't think I understand point 5.

[2017-04-24 17:01] #1284 closed

[2017-04-24 17:07] #1404 closed

[2017-04-24 20:19] erichlf commented on #1190
@rljacob One issue I have come across while attempting to add an "all" option for --compsets is that I can't seem to figure out how to make the script model aware. I certainly can get he model from utils.py, but then I can't figure out how to specify the components to print. There are different component xmls, but how do I specify this in
`files.get_components("COMPSETS_SPEC_FILE")`

[2017-04-24 20:28] jedwards4b commented on #1190
CIME.utils.get_model()

[2017-04-24 20:34] erichlf commented on #1190
@jedwards4b I knew that part, but it then how do I specify which components to list?
`files.get_components("COMPSETS_SPEC_FILE")`
lists all components no matter the model.

[2017-04-24 20:37] jedwards4b commented on #1190
No it doesn't - files is already model dependent so you are reading COMPSETS_SPEC_FILE from
config/acme/config_files.xml and you are going to read the list of components in that file,  you don't have a case so you don't have enough information to refine it any further than that.

[2017-04-24 20:40] jedwards4b commented on #1190
If you have clm and pop in that file it's not because they need to be there, rather it's because you need to clean it up.

[2017-04-24 20:51] erichlf commented on #1190
@jedwards4b I am getting errors while trying to find cism.

[2017-04-24 20:52] billsacks opened #1407 "For datm cplhist cases, get topo from cplhist file"
Currently, datm always gets the topo stream (atmosphere topographic height) from a particular topo dataset. However, for cplhist cases, we really want to get the topo field from the cplhist file.

Changes to write the topo field to the cplhist file are already in place. So this requires extending the logic in datm's namelist / streams file generation to get the topo field from the correct place.

[2017-04-24 20:52] jedwards4b commented on #1190
Two chooses, one - clean up your config_files.xml to reflect the components in acme
two - check to see if each file exists and don't try to read it if it isn't there.

I think I would do both.

[2017-04-24 20:59] erichlf commented on #1190
Okay, but this isn't just for me, so it probably would be a good idea to report an error when a config isn't found.

[2017-04-24 21:02] jedwards4b commented on #1190
A warning sure but not an error - I think that it's possible that there will be optional components listed in config_files but only available to  a subset of cime users.

[2017-04-24 21:16] billsacks opened #1408 "Failures in scripts_regression_tests K_TestCimeCase"
K_TestCimeCase tests are failing on master, on yellowstone:

[code]

[2017-04-24 21:17] billsacks opened #1409 "CDash is reporting a pass for failed tests"
There are failures here http://my.cdash.org/testDetails.php?test=31185318&build=1182033 but it says "Passed" at the top, and the higher-level CDash pages (http://my.cdash.org/viewTest.php?onlypassed&buildid=1182033 and http://my.cdash.org/index.php?project=CIME) show no indication of failures.

[2017-04-24 21:22] jgfouca commented on #1409
Whoa, that's not good.

[2017-04-24 21:30] ekluzek opened #1411 "Issue with rerunning LII tests"
This is a problem with cime5.3.0-alpha.02.

LII tests run two tests using compare_two_tests, when you rerun a case that's already setup, it doesn't rerun the first case. So if you fixed something and reran the test it will fail.

There weren't any issues similar to this that have been resolved on master. And I looked through changes and it's not clear if there's a fix for this. There are changes t

[2017-04-24 21:31] jedwards4b commented on #1411
We want to move the LII test out of cime and into CLM - there is already code in cime to handle this, we are waiting for the update on the clm side.

[2017-04-24 21:35] billsacks commented on #1411
@jedwards4b - unless you have made changes recently, we were waiting on some robustness additions before moving tests to the components - see https://github.com/ESMCI/cime/issues/651

But that's not really relevant to this issue. LII is a simple extension of SystemTestsCompareTwo, so if LII has stopped working in this respect, then presumably other tests like REP (simple reproducibility test) have

[2017-04-24 21:41] #1409 closed

[2017-04-24 21:50] ekluzek commented on #1411
The case I setup was:

LII_D_Ld3.f19_g16_gl4.IG1850CLM45.yellowstone_intel.clm-glcMEC_spunup_1way

I made changes that should have got it to work, but it was still telling me it failed. When I reran the entire test from scratch it worked.

The other thing I saw (or thought I saw) was that the "*.nc.interp" files had an older date than the "*.nc.base" files so it looked like to me they weren't bein

[2017-04-24 21:56] jedwards4b commented on #1411
I think that this is fixed on master with PR #1394 - can you retry with the latest cime?

[2017-04-24 22:05] #1408 closed

[2017-04-24 22:19] ekluzek commented on #1411
OK. Bill and I talked this one over, and figured out what the problem was. As already stated my original analysis of the problem was incorrect. The problem was that I changed user_nl_clm in the parent case -- but didn't change it in the cloned case ".interp". If you change any of the settings in one case you also have to change it in the cloned case. So I'm just going to close this as "invalid" an

[2017-04-24 22:19] #1411 closed

[2017-04-24 23:16] rljacob commented on #1190
If you're running this out of standalone cime, most of the compset files pointed to by config_files won't be available.  query_config should handle that gracefully.

[2017-04-25 03:46] rljacob commented on #1190
Item 4 said "--query-compsets-setby should allow an "all" option that prints all the compsets it can find."   keywords are "it can find" so if you only have cime standalone checked out or you have the ACME code but have defined the model to be CESM, then "all" will print a short list of compsets.  You could also print out the current value of cime_model to help.

[2017-04-25 03:57] rljacob commented on #1295
I agree unit testing should be encouraged. But "tools" is still for optional parts of CIME so if unit testing is now as crucial a part of CIME as the system tests, we should move tools/unit_testing somewhere else.  If its just for testing fortran, we should move it to "src".

[2017-04-25 04:00] mvertens commented on #1295
That's an interesting and valid point. Lets discuss this at the Wednesday
meeting.

On Mon, Apr 24, 2017 at 9:57 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-04-25 04:07] rljacob commented on #1190
Re item 5.  If I do "./manage_case --query-compsets-setby drv" I first get a big block of code that starts:
[code]
and then another 15-20 lines before I get the info I want.  Don't print that block about the compset naming convention.  I can look that up in our excellent online documentation.

[2017-04-25 14:54] erichlf commented on #227
@rljacob This entry is used within the config_files themselves in the form of $MODEL. Certainly, $MODEL can be hard coded, but it seems like a good idea (for convenience) to leave it as it is.

[2017-04-25 15:01] rljacob commented on #227
Ok.

[2017-04-25 15:01] #227 closed

[2017-04-25 18:49] mfdeakin-sandia opened #1415 "Add a --build-root option to create_newcase"
Allow the user to specify where the build directory should be placed

[2017-04-25 18:52] rljacob commented on #1364
Reporting here but we need to fix/test within ACME.

[2017-04-25 19:06] jedwards4b commented on #1415
There is already an option --output-root that controls where the bld and run directories will go.  I think that we should not add another option for this.

[2017-04-25 19:16] rljacob commented on #1364
Removed "bug" because this isn't a problem with code on master, just my (ACME) branch.

[2017-04-25 19:27] #1415 closed

[2017-04-25 19:29] mfdeakin-sandia commented on #1415
I need to talk with the run_acme people some more, but I think you're correct

[2017-04-25 19:39] rljacob commented on #1415
Were they asking about issue #1353?  Feel free to take that one over.

[2017-04-25 19:56] jedwards4b commented on #1216
The point of this file is to save parameters that must be reset to an initial value at the start of the test.   I believe that it should require expert level usage to override this feature. @gold2718's suggestion that xmlquery and xmlchange be allowed to operate on this file undermines its purpose.

[2017-04-25 21:13] gold2718 opened #1416 "xmlchange does not enforce --file option"
When using the `--file` option to `xmlchange`, incorrect or bogus files are not trapped. For instance:
`./xmlchange --file env_test.xml INFO_DBUG=3`
sets `INFO_DBUG` in env_run.xml instead of env_test.xml. Worse:
`./xmlchange --file blarg INFO_DBUG=2`
also sets the value in env_run.xml.

[2017-04-25 21:18] gold2718 commented on #1216
@jedwards4b, could you define 'expert' in this context? Isn't entire affected community folks using `./create_test` so already reasonably expert?
If the file is not supposed to be changed (since changing it 'undermines its purpose'), why is it copied into the test directory?
Currently, `xmlquery` and `xmlchange` only operate on the `INFO_DBUG` in env_run.xml. What is surprising is that the followi

[2017-04-25 21:43] jedwards4b commented on #1216
I would like xmlchange and xmlquery to work on all case xml files.

[2017-04-25 21:47] gold2718 commented on #1216
Mr. thick here. env_test.xml is in the case directory. Is it not a case xml file?

[2017-04-25 22:08] jedwards4b commented on #1216
It is.  I don't want anyone to need to hand edit any of those files, I'm working on it.

[2017-04-25 23:28] rljacob opened #1417 "machine name in test name not taking precedence."
We now allow several "machines" to be defined on the same host.  Example: cori-knl and cori-haswell.  Also blues and anvil.   When using the testname to specify the machine, an error results if the machine is not the same as the host.

Example:
[code]
The error message is confusing.  The user provided 'anvil' but the regex of the host points to 'blues'.

create_test should respect the use of 'anvi

[2017-04-25 23:31] rljacob commented on #1417
There are some easy ways to work around this.

Use command line options for the machine:
`./create_test ERS.T62_oEC60to30v3.GMPAS-IAF --machine=anvil --compiler=intel`

More hacky:  Edit the machine's entry in config_machine so REGEX matches nothing.
On blues (hostname 'blogin'):
[code]

[2017-04-25 23:59] rljacob commented on #646
So PET is now tested but what about the others from that list?

[2017-04-26 14:29] erichlf commented on #1397
I have been looking at the code to see how to address this issue, however it appears that this really is intended and I am not sure there is an easy fix for it due to the following intended logic
`>>> merge_literal_lists(['3*false', '3*true'], ['true', '4*', 'false'])
      ['true', 'false', 'false', 'true', 'true', 'false']`

[2017-04-26 14:33] jedwards4b commented on #1397
@billsacks - I think that this code is working as intended.

[2017-04-26 14:38] dqwu opened #1420 "cime_developer tests failed on anlworkstation and melvin"
On anlworkstation, cime_developer tests failed during phase SETUP.
[code]
On melvin, there are similar build errors:
http://my.cdash.org/testDetails.php?test=31220347&build=1183410

[2017-04-26 14:41] billsacks commented on #1397
I'm not familiar with the internals of the implementation, so would rather talk about the intended behavior from a user perspective.

@jedwards4b , to be clear, you're saying that the intended behavior is that, if you put the following in user_nl_cpl:

[code]

then you'll end up with the following?:

[code]

I find that unintuitive: If I specify `cplflds_custom = 'baz'`, then I expect to see just

[2017-04-26 14:45] erichlf commented on #1397
I would back out a change that didn't work outside the unit test.

[2017-04-26 15:08] jedwards4b commented on #1397
Yes this is the intended behavior - cplflds_custom is an array with some default values,
say
cplflds_custom = 'one', two', 'three'
the first occurrence of cplflds_custom in the user_nl_cpl will update that to be
cplflds_custom = 'foo', 'bar', 'three'
and the second
cplflds_custom = 'baz', 'bar', 'three'

I think that we need to maintain the current behavior for overriding the defaults and what you

[2017-04-26 15:22] billsacks commented on #1397
@jedwards4b - thanks for clarifying this use case. It does leave me wondering, though: is this really something that people want to do in practice? I would imagine that, in practice, it would be much more common to either want to:

(1) Add new fields to cplflds_custom - as will be possible with #1389 , using `+=`

(2) Overwrite a value at a particular index; e.g.:

[code]

The example you gave wou

[2017-04-26 15:59] jgfouca commented on #646
@rljacob , maybe I have my ACME hat on here too much, but at this point, every test that ACME cares about is tested.

[2017-04-26 16:10] rljacob commented on #646
Well I think this issue should be viewed with a CIME hat on.

[2017-04-26 16:14] rljacob commented on #1353
@mfdeakin you should work on this since the coupled group wants it soon.

[2017-04-26 17:21] jgfouca commented on #646
@rljacob probably but this is a case where I understand PET and it is testable in CIME standalone and that's not the case for the others. I'll go ahead an unassign myself because I have no plans to do further work on this in the near term.

[2017-04-26 17:21] jgfouca commented on #646
Hah, you already did that.

[2017-04-26 18:59] erichlf opened #1422 "Change user_nl_* to YAML"
After some discussion in other issues relating to user_nl_* syntax, I think it would be a good idea to switch to a standard such as YAML.

[2017-04-26 19:22] rljacob opened #1423 "move unit_testing directory"
Move unit_testing from tools to scripts and rename fortran_unit_testing

[2017-04-26 19:23] rljacob opened #1424 "Clean up python in unit_testing"
Clean up code in unit_testing/python

[2017-04-26 19:29] billsacks commented on #1424
(Much of this is now dead code and should be removed.)

[2017-04-26 19:57] rljacob commented on #1424
Recommend do this after #1423 is closed.

[2017-04-26 20:02] bertinia commented on #1330
It was agreed in the CIME mtg on 4/26/2017 to remove support for long term archiving
as part of CIME. The work-in-progess on this issue is checked into a branch in bertinia/lt_archive if
we decide to resurrect support for long term archiving in CIME using python at a later time.

[2017-04-26 20:02] #1330 closed

[2017-04-26 21:07] billsacks commented on #1424
I'll take this. For some reason code_checker is reporting problems with the stuff in this directory (now that I have moved it under scripts/fortran_unit_testing) that didn't seem to be causing problems before... so I'll clean this up as part of addressing #1423 .

[2017-04-26 21:29] jedwards4b commented on #1424
scripts_regression_tests has a list of directories for which code_checker will not be run, the old unit_tests directory is in that list.

[2017-04-26 21:42] jgfouca commented on #1133
Assigned to @erichlf since he's been working with namelist stuff lately.

[2017-04-26 22:17] bertinia opened #1426 "Remove the long-term archiver support in CIME"
remove support for the long-term archiver (lt_archive.sh) and the batch submission for
this script from CIME.

[2017-04-26 23:03] jtruesdal opened #1429 "CIME Component Freshwater Budget incomplete"
While tracking down an inconsistency in the freshwater budget between POP and what is reported in the coupler tables, I found that the coupler freshwater budget calculations were incomplete.  I've filed a pull request (#1427) to correct the error but would like to make sure this is not also a problem for ACME.

[2017-04-26 23:06] rljacob commented on #1429
We're using the same coupler and therefore the same diagnostic calculation so it might be unless it was somehow compensated for in MPAS.   I'll open an issue in ACME for comment.

[2017-04-26 23:53] gold2718 commented on #1397
I think that the behavior in a user_nl_* file should match what happens in a Fortran namelist file.
@jedwards4b's explanation is correct. I would rephrase to say:
Each line in a namelist is processed in order.
For setting arrays, each line sets some (or all) elements of the array and leaves others untouched.

[2017-04-26 23:57] gold2718 commented on #1422
The namelist is a uniquely Fortran construct so to me, using Fortran syntax and semantics makes sense (at least as long as all of our top-level models are written in Fortran).
What is your perceived advantage to YAML?
What is your plan for backwards compatibility (user_nl_* files exist in hundreds or thousands of existing scripts)?

[2017-04-27 00:01] mvertens commented on #1422
@goldy We already discussed this at the CIME today.

First, user_nl_xxx does not support purely fortran namelists. It supports
the cime input - which is not namelist based and also the seq_maps.rc in
the driver - also not namelist based. But it must support at the least
fortran namelist capability.

Second, we decided to defer conversion for YAML, etc for the time being -
since the issues of backw

[2017-04-27 00:18] gold2718 commented on #1422
@mvertens, Thanks for the update (I had a code review at the same time as the CIME call). I also realized that CISM inputs are not Fortran (right?).
When we do decide on a generalization for Fortran namelist input, I think we should keep user_nl_* for Fortran and move to an alternate name (e.g., user_input_*) so we can eventually deprecate the user_nl_* files.

[2017-04-27 03:02] rljacob commented on #905
Replaced by the more informative #1278

[2017-04-27 03:02] #905 closed

[2017-04-27 11:54] billsacks opened #1430 "Need to change modify_via_xml for more meaningful error messages"
If you try to modify a namelist variable that has a modify_via_xml attribute, the namelist generation prints out the value of the modify_via_xml attribute. But in many cases, this doesn't give an understandable error message. e.g., when trying to modify atm_cpl_dt, I get:

[code]

(1) user_nl_xxx should be fixed or removed

(2) the modify_via_xml should be changed to the full message. e.g., rather

[2017-04-27 15:12] mfdeakin-sandia commented on #1353
I hope to get to this later today; I've been dealing with more critical issues for them

[2017-04-27 15:40] mrnorman opened #1431 "./case.build --clean-all does not remove Srcfiles and Depends"
When I added a new file to a source directory used by cam's configure script, I expected it to automatically be seen after I ran ./case.build --clean-all. However, the ./case.build --clean-all script does not remove the Srcfiles and Depends files from the bld/atm/obj directory, and so my compilation failed. Once I manually removed these files, the compilation succeeded. I think it's reasonable to

[2017-04-27 16:06] erichlf commented on #1422
My reasoning for YAML is because it is a set standard that people aren't going to argue over once it is decided.

[2017-04-27 16:15] jayeshkrishna commented on #1431
Similar discussion is in Issue #1045 (the consensus I think was to remove the entire bld directory with "--clean-all")

[2017-04-27 16:21] rljacob commented on #1431
And PR #1140 was supposed to have fixed it.  Did it not?

[2017-04-27 17:00] jayeshkrishna opened #1433 "pio strides reset by default in CIME"
On master (cime5.3.0-alpha.07-144-g8924bb3) case.setup always resets
pio strides/numtasks to defaults (PES_PER_NODE) independent of the current
values in env_run.xml, if I don't specify "--no-adjust-pio".
The default value of PIO_STRIDE in env_run.xml (after running ./create_newcase,
and before ./case.setup is run) comes from config_pio.xml .
 There are two cases that fail due to ./case.setup adju

[2017-04-27 17:01] erichlf opened #1434 "Stray Tabs in create_newcase"
The create_newcase script appears to have some tabs instead of spaces. These tabs are inside the argument parser where they don't prevent the script from running but they should be fixed.

[2017-04-27 17:01] jayeshkrishna commented on #1433
For example, in ACME, we have specific pio_stride for Cetus/Mira that don't work unless the user specifies "--no-adjust-pio" when running ./case.setup.

[2017-04-27 17:02] jayeshkrishna commented on #1433
I think the option for ./case.setup should be "--adjust-pio" (By default the pio strides etc is not adjusted, it is whatever is there in env_run.xml. However user can request it to be adjusted like for some tests where the user knows that the values needs to be readjusted)

[2017-04-27 17:04] jayeshkrishna commented on #1433
The relevant part of the code in discussion is the following function in scripts/lib/CIME/case_setup.py that is always called by default:
[code]

[2017-04-27 17:16] jayeshkrishna commented on #1431
I don't think PR #1140 modified the acme Makefile

[2017-04-27 17:18] rljacob commented on #1431
In that case, someone should make those mods to our Makefile directly in ACME-Climate/ACME.

[2017-04-27 17:31] #1434 closed

[2017-04-27 18:06] rljacob commented on #1276
We need to bump this up in priority.  From an ACME user:

[2017-04-27 18:09] gold2718 commented on #1422
@erichlf, I think you underestimate our ability to argue :)
In my suggestion above, a new user_input_* file would be in YAML and would take precedence over a user_nl_* file (so you shouldn't use both). I think that provides a non-disruptive path forward.

[2017-04-27 20:09] billsacks commented on #1397
It seems this is working as intended, so I'm closing it as invalid.

[2017-04-27 20:09] #1397 closed

[2017-04-27 20:17] #1423 closed

[2017-04-27 20:17] #1424 closed

[2017-04-27 20:47] #1263 closed

[2017-04-27 20:52] jedwards4b commented on #1433
I agree that this is a problem - but changing to --adjust-pio  will have issues to.  I know that some of the tests will break unless we change them to add the adjust-pio flag.  But if we add the flag then presumably those tests will have problems on the machines cetus/mira.    How about if we add an optional  DEFAULT_PIO_STRIDE field to config_machines.xml  - if this field is present for a given m

[2017-04-27 20:53] jedwards4b commented on #1433
I will prototype something for your review...

[2017-04-27 21:25] jayeshkrishna commented on #1433
It may be confusing to add another field to config_machines.xml (there are already similar settings in config_pio.xml and that setting could be used instead)
There is still the issue of the user modifying env_run.xml before case.setup is run.
What I think we want to find out is whether the user explicitly set the stride (config_pio.xml or modifying env_run.xml) or not.

[2017-04-27 21:31] jgfouca commented on #1420
I fixed this yesterday.

[2017-04-27 21:31] #1420 closed

[2017-04-28 16:42] jayeshkrishna commented on #1433
I am not sure if adding another machine-specific field is the right approach. We should be able to distinguish between cases where the user explicitly sets the stride (config_pio.xml or modifying env_run.xml) vs cases where CIME is free to choose the value.

[2017-04-28 16:43] jedwards4b commented on #1433
DId you look at or try the PR?   It doesn't add a new machine specific field, only a mechanism to remember and reuse the default value for a given machine.

[2017-04-28 16:48] jayeshkrishna commented on #1433
I haven't tried it yet, just glanced through the changes. I am looking at it now.

[2017-04-28 17:09] jayeshkrishna commented on #1433
So what should I do to get custom pio_strides on Mira (custom pio strides are set in config_pio.xml for Mira)?

[2017-04-28 17:10] jedwards4b commented on #1433
You get them when you create a case.

[2017-04-28 17:16] jayeshkrishna commented on #1433
I tried an X case on Mira and I am still getting "Resetting PIO_STRIDE_* to 4" messages. Where did you test the code (and are there any special args that I need to pass to case_setup)?

[2017-04-28 17:19] jedwards4b commented on #1433
what is happening in an X case is that the default you have in config_pio.xml  (128) is more tasks than you are using for the case.   Resetting to 4 is a last ditch effort to find something that will work at run time.   This  should be okay for an X case.   Now try a case that uses more tasks.

[2017-04-28 17:24] jayeshkrishna commented on #1433
IMO, CIME should not reset strides explicitly set by the user (only reset numiotasks if it is invalid).

[2017-04-28 17:26] jedwards4b commented on #1433
That reset is in the fortran, not in the scripting.
It won't work at all if you are setting PIO_STRIDE to 128 and TOTALTASKS to 64.  Would you prefer it just fail outright?

[2017-04-28 17:28] jayeshkrishna commented on #1433
Hmm, a stride of 128, totaltasks = 64 and a pio_root=0 should result in just 1 io task, right (the stride is not invalid)?

[2017-04-28 17:30] jedwards4b commented on #1433
Can you confirm that the code works as expected when you have enough tasks to start with - I think that this argument about what happens if you request too few tasks is another issue.

[2017-04-28 17:31] rljacob opened #1439 "CIME should not over-ride anything explicitly set by the user"
CIME should not over-ride anything explicitly set by the user.    Let it fail.

[2017-04-28 17:32] jayeshkrishna commented on #1433
And the reset should be happening in the scripts, I just ran create_newcase and case_setup.
Let me try a larger case.

[2017-04-28 17:35] jedwards4b commented on #1433
This was a runtime error wasn't it?   I don't think that this was reset in the scripts.   Can you look in the drv_in namelist and confirm the pio_stride value.

[2017-04-28 17:35] jayeshkrishna commented on #1433
"Resetting PIO_STRIDE_* to 4" messages are coming from lib/CIME/case_setup.py

[2017-04-28 17:36] jedwards4b commented on #1433
What is the pelayout for this job?   xmlquery NTASKS NTHRDS ROOTPE

[2017-04-28 17:39] jedwards4b commented on #1433
new_stride = min(ntasks, new_pio_stride)  so resetting to 4 should only happen if ntasks is 4 and should not be a problem.

[2017-04-28 17:39] jayeshkrishna commented on #1433
[code]

[2017-04-28 17:39] jedwards4b commented on #1433
So there is nothing wrong with that reset.

[2017-04-28 17:41] jedwards4b commented on #1433
Now in that same case try
xmlchange NTASKS=512
case.setup --reset
./xmlquery PIO_STRIDE

[2017-04-28 17:46] jayeshkrishna commented on #1433
A case with 512/1024 tasks reflects the stride (128) from config_pio.xml .
* create_newcase
* change NTASKS=512
* case_setup (case_setup no longer resets the stride to 4, the stride in env_run.xml is 128)

[2017-04-28 17:52] jayeshkrishna commented on #1433
How about the case where user explicitly sets the stride for each component (different stride for each component) in env_run.xml?
It looks like the code resets all strides to default (On Mira+X+512tasks+128 stride in config_pio & different strides for each component in env_run.xml)

[2017-04-28 17:53] jedwards4b commented on #1433
That is the case that would use the --no-adjust-pio option

[2017-04-28 17:55] jayeshkrishna commented on #1433
I would have preferred an "--adjust-pio" option instead, where the user explicitly tells CIME to adjust the pio layouts. I think the default behaviour should not be resetting the values already in env_run.xml .

[2017-04-28 17:59] rljacob commented on #1439
https://en.wikipedia.org/wiki/Principle_of_least_astonishment

[2017-04-28 18:27] jedwards4b commented on #1433
So we need to explain to 90% of our users (who don't customize pio settings) to use this additional option so that the 10% who do make pio adjustments don't need to?

[2017-04-28 18:29] #1216 closed

[2017-04-28 18:29] #1416 closed

[2017-04-28 18:31] #887 closed

[2017-04-28 18:57] rljacob commented on #1433
The example way at the top:  an OOB setting from config_pio.xml was overwritten by case.setup.  That should never happen.  If OOB settings for PIO are bad, why can't that be fixed in the config files?  Why does case.setup have to correct it?

[2017-04-28 19:07] jedwards4b commented on #1433
@rljacob that example is now fixed

[2017-04-28 19:08] jedwards4b commented on #1433
The issue is that changing the pe-layout may cause the pio settings to become bad and so they need to be readjusted

[2017-04-28 19:22] jayeshkrishna commented on #1433
The 90% of users who don't customize pio settings and adjust the pe layout also probably don't have customized settings for pio (in config_pio.xml, manual modification of env_run.xml) etc. So the code should be modified so that "--adjust-pio" option is not needed (CIME is choosing the stride etc in this case because the user chose not to set it explicitly) if the user leaves the settings as defaul

[2017-04-28 19:27] rljacob commented on #1433
I think what we need is more communication with the user.  If case.setup is going to change the pio settings, it should prompt the user:  "Changing pio settings to match pe layout. OK?" y/n.

Then we can have both --adjust-pio (assume "y") and --no-adjust-pio (assume "n") command line options.

[2017-04-28 19:37] gold2718 commented on #1433
I sort of agree with @jayeshkrishna. With no user action, the scripts should set up a default layout that is functional (if not optimal). To this end, I think the default values for `PIO_STRIDE` and `PIO_NUMTASKS` should be `-99`, not `$PES_PER_NODE` and `1` respectively.
If this suggestion is followed, then no switch (`--[no-]adjust-pio`) is needed.
If a user decides to customize their layout, th

[2017-04-28 19:58] jedwards4b commented on #1433
@gold2718 we removed that code from the fortran quite some time ago and determined that it was better handled in the scriipts.

[2017-04-28 20:16] gold2718 commented on #1433
@jedwards4b, I didn't say anything about Fotrran, what am I missing? The XML files still say use `-99` to have the value automatically computed. Is this not correct?

[2017-04-28 20:31] #839 closed

[2017-04-28 20:55] jedwards4b commented on #1433
Alright I'll go back to the drawing board on this one...

[2017-04-30 16:08] mvertens opened #1443 "ERP test is broken"
When I try to create an ERP test for CESM with the latest master I get the following error in the build:

[code]
I have narrowed down the problem to the following hash:

`670cf97 Merge remote-tracking branch 'origin/master' into jgfouca/new_query_tools

I believe the problem is related to the fact that when we are halving the threads - (which in the case of yellowstone goes from 2->1) the build-th

[2017-04-30 16:43] mvertens commented on #1443
@jedwards - please look at the above - I think I have isolated at least the cause of the problem.

[2017-05-01 03:43] mvertens commented on #1443
It appears that now the ERP test is failing in the scripts_regression_tests.

FAIL ERP.f45_g37_rx1.A.yellowstone_intel (phase MODEL_BUILD)
 2017-04-30 19:50:17: Exception during build:
ERROR: ERROR: ocn.buildlib failed, cat /glade/scratch/mvertens/scripts_regression_test.20170430_190847/ERP.f45_g37_rx1.A.yellowstone_intel.fake_testing_only_20170430_194610/bld/ocn.bldlog.170430-195015
ERROR: ice.bu

[2017-05-01 13:59] jedwards4b commented on #1443
I have a fix, testing now.

[2017-05-01 15:26] #1433 closed

[2017-05-01 19:39] #1443 closed

[2017-05-01 20:17] jgfouca commented on #1255
Had  a request come in on the ACME side so I'll take this.

[2017-05-01 22:43] rljacob opened #1449 "short-term archive making empty rest sub-directories"
When using short-term archiving  a subdirectory is created for each set of interim restart files in archive/$CASE/rest but they stay empty since interim restarts aren't saved by default.   Only create a sub-dir in archive/$CASE/rest if files are going to be copied there.

[2017-05-02 00:00] #428 closed

[2017-05-02 15:13] jedwards4b commented on #1323
Fixed by PR#1419

[2017-05-02 15:13] #1323 closed

[2017-05-02 16:17] #1353 closed

[2017-05-02 20:07] dqwu opened #1456 "PR #1451 has caused some cime_developer tests to fail during phase MODEL_BUILD"
The build errors can be reproduced on anlworkstation, blues and edison by running a single cime_developer test (use GNU compiler) :
./create_test NCK_Ld3.f45_g37_rx1.A --machine=**** --compiler=gnu --test-root=****

ERROR: ocn.buildlib failed (NOT reproducible with intel compiler)
[code]

[2017-05-02 20:17] #1255 closed

[2017-05-02 20:20] jedwards4b commented on #1456
This is fixed in PR #1453

[2017-05-02 20:34] dqwu commented on #1456
PR #1453 works (it is not merged to master so far).
It seems that gfortran and nag Fortran compiler need a width, but intel Fortran compiler does not.

[2017-05-02 20:37] gold2718 opened #1459 "z level syntax stripped from atmosphere grid"
Using the old (v1) config_grids.xml, one could use `z` to specify the number of levels, e.g., `ne30z60_ne30`. However, in v2, this information is stripped and not passed to the component buildcpp for processing.

[2017-05-02 21:10] jedwards4b opened #1460 "test for -- options does not handle -- in quotes"
example CLM_OPTIONS="-dothis -dothat"  causes problems (replace this with a better example)

[2017-05-02 21:39] cacraigucar commented on #1460
./xmlchange --id CLM_BLDNML_OPTS      --val "-bgc bgc -crop -irrig=.true."

[2017-05-02 22:06] #1185 closed

[2017-05-02 22:07] #1460 closed

[2017-05-02 22:21] #1456 closed

[2017-05-02 23:37] rljacob opened #1465 "Should we stop using pre-release version numbering?"
Any tag with an "alpha" or "beta" modifier on it is called a "pre-release" version in semver.org.  Nearly all of our tags have "alpha" in them.  Latest is cime5.3.0-alpha.10

Quoting:  " A pre-release version indicates that the version is unstable and might not satisfy the intended compatibility requirements as denoted by its associated normal version".

Should we still be using "alpha"?  Do we kn

[2017-05-03 03:28] mvertens commented on #1459
The problem is that the grid longname is not created correctly
If you issue the following command:

`./create_newcase --case testzlev --compset FKESSLER --res ne16z32_ne16 --run-unsupported`

you get the grid longname

`a%ne16np4_l%null_oi%null_r%null_g%null_w%null_m%gx3v7`

which is incorrect - the atm grid should be ne16np4z32 not ne16np4

[2017-05-03 04:40] mvertens commented on #1465
Good points. Lets discuss this at the CIME call tomorrow.

On Tue, May 2, 2017 at 5:37 PM, Robert Jacob <notifications@github.com>
wrote:

[2017-05-03 16:09] allibco opened #1468 "CESM-ECT ensemble summary files"
Can we organize the ensemble summary files in input data as follows:

(1) Please move data from

$CESMDATAROOT/inputdata/validation/ensembles_with_global_means/

to

$CESMDATAROOT/inputdata/validation/ensembles

(then remove inputdata/validation/ensembles_with_global_means/ )

(2) Please create a directories for he UF-CAM-ECT ensembles and the
POP-ECT ensembles:

$CESMDATAROOT/inputdata/validation

[2017-05-03 16:23] mvertens commented on #1468
This is fine - and we should move forward with this. However, this is
really a CSEG issue - since I believe that ACME has its own inputdata that
is separate from CESM's. Not sure where this kind of request should go. Jim?

On Wed, May 3, 2017 at 10:09 AM, Allison Baker <notifications@github.com>
wrote:

[2017-05-03 17:37] billsacks opened #1470 "Additional functionality desired for query_config"
#1388 is improving query_config, partly to address #1190 . However, many aspects of https://github.com/ESMCI/cime/issues/1190#issuecomment-282928761 are not addressed in that PR.

I see the most important outstanding requests as:

1. For each compset, a listing of which grids are scientifically and test-supported for that compset

1. Allow subsetting compsets by the first letter of the compset, ra

[2017-05-03 17:38] billsacks commented on #1470
So that everything is in one place, here is the comment from #1190 that is referenced above:

----

A number of us at NCAR had a discussion on this tool a few weeks ago, but we neglected to open an issue documenting this. Specifically, this was a meeting with @mvertens @jedwards4b , Keith Oleson, Dave Bailey, Cecile Hannay and myself. The point was to gather requirements and suggestions from some

[2017-05-03 21:10] rljacob opened #1473 "by default, only archive log files that have been gzipped."
Currently the short term archiver will move all files with *log* in them.

Instead, only archive files that have *log* and end in .gz.

Reason:  .gz files are from a successful run.  log files that have not been gzipped are from either a live run or a run that crashed and should be left in the run directory always.